<div class="container">
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower">
            <h1 class="tituloViaje text-center mt-7">Cantabria</h1>
        </div>
    </div>
    <!-- <div class="row">
        <div class="row m-3 mt-3 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Santander</h1>
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="text-center col-md-12 col-sm-12 animatedzoomIn">
            <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1BdYKrpvugkOBQ1n3H7CmQCnRvLJ2Fffu" width="100%"
                height="300"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            La capital de Cantabria es una urbe muy tranquila y señorial a pesar de ser el núcleo neurálgico de la
            región. Es una ciudad no muy extensa que se puede visitar en un día (o menos incluso) en el que podréis ir a
            pie a todos los sitios por esta población que vive a los pies del Cantábrico, siendo uno de los grandes
            puertos del país.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Su enclave más significativo y reconocido se encuentra en la península de la Magdalena, se trata de un bello
            parque que rodea al palacio del mismo nombre, mandado construir como casa real de verano para Alfonso XIII,
            esto conllevó que la nobleza se trasladara a Santander y que alrededor de la playa del Sardinero se poblase
            de construcciones señoriales.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Desde lo alto de la Magdalena podemos observar la majestuosidad de la playa del Sardinero, la más
            emblemática de Santander, una playa excelente para el baño o para pasear ya sea por su limpia arena o por su
            paseo marítimo, escoltado por los edificios más emblemáticos de la ciudad, el Gran Casino, el Palacio de
            Exposiciones y Congresos.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Como hemos dicho es una ciudad volcada al Cantábrico y podrás aprender más de esto en el Museo Marítimo del
            Cantábrico y de su relación con los hombres. Es uno de los museos dedicados al mar más completos de España.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            El Centro Botín es un futurista edificio construido en la misma orilla del mar, es el centro artístico más
            innovador de Santander, exponen obras de artistas internacionales contemporáneos y sirve para actividades
            educativas. Tiene un restaurante con unas vistas privilegiadas donde tomarte algo o aprovechar para comer,
            nosotros elegimos esta opción, no es nada del otro mundo, pero el lugar es inmejorable, el muelle nos costó
            29.7 € a ambos.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            El Faro de Cabo Mayor de 1839 se sitúa en un cortado para perderse mirando el horizonte, es posible que sea
            uno de los faros más bonitos de la península Ibérica.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            La catedral de Santander fue construida entre el siglo XII y el XIV destacando su estilo gótico, no es de
            las más bonitas que podrás ver, no os vamos a engañar. Alberga la tumba de Menéndez Pelayo.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            El casco histórico es señorial, tras el gran incendio de 1941, fue reconstruido en su mayoría. Destacaremos
            las plazas Porticada, Pombo y Cañadío, el mercado de la Esperanza, el edificio del Ayuntamiento, la iglesia
            del Sagrado Corazón, el Mercado del Este.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Otro de los símbolos de la ciudad son la escultura de los raqueros, en el muelle de Calderón. Un conjunto
            escultórico que representa a unos niños lanzándose al agua desde el muelle, estos raqueros eran niños
            rateros que hurtaban en puertos y costas a finales del siglo XIX.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower text-justify conclusiones">
            Como conclusión de nuestra visita a Santander hemos de decir que es una ciudad que no nos ha entusiasmado
            mucho, es una ciudad muy tranquila y de fácil paseo, pero no nos ha parecido bonita y aunque se ven
            edificios señoriales se encuentran entremezclados con otros que no “dicen nada”, esperábamos una ciudad más
            parecida a Donosti en este sentido y no lo es. Nos quedamos con los pueblos que nos ofrece Cantabria mucho
            más que con su capital.
        </div>
    </div>
    <!-- <div class="row justify-content-center">
      <div class="col-sm-4 mt-2 animated fadeIn slower">
        <img src="../../../assets/imagenes/galeriaBerlin/IMG_2347.JPG" class="imgcronica slower">
      </div>
    </div> -->
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>