<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
            <h1 class="tituloViaje text-center">Road Trip por el nordeste de EEUU en 10 días</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-4 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Estatua Libertad, Isla de Ellis, Puente Brooklyn, Chinatown,
                Little Italy, MoMa</h1>
        </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12 col-sm-12 mb-2 animated fadeIn slower">
        <img src="../../../assets/imagenes/galeriaEEUU/dia9-dia-1-5.jpeg" class="panoramica slower"
          alt="Panoramica del Duero, Puente Luis I" title="Panoramica del Duero, Puente Luis I">
      </div>
    </div> -->
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            La noche anterior habíamos ido a comprar el desayuno de los campeones para hoy, al Dough Doughnuts,
            compramos 4 donuts de tamaños desorbitantes por 16 €, una pasada, no quiero pensar las calorías que tendrán.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Tras salir del metro fuimos a ver la Trinity Church y el Charning Bull, el conocidisimo toro de Wall Street
            que pillan de paso al embarcadero de Battery Park donde íbamos a coger el barco que nos llevaría a la
            Estatua de la Libertad y La isla de Ellis. Hay dos opciones para ver el skyline y la estatua de cerca, uno
            es este y otro es un ferry gratuito, pero pierdes la posibilidad de visitar el museo de Ellis sobre la
            inmigración que recibió estados Unidos, cuestión de preferencias.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            El registro en el embarcadero es minucioso, incluso a los carritos de bebés dormidos, en fin la paranoya de
            los estadounidenses la consideramos digna de estudio. Una vez sale el barco las vistas del downtown son
            preciosas, en 20 minutos llegas a la primera parada que es la isla de la estatua. Puedes pedir audioguías
            que te explican la historia y el proceso en el cual llegó desde Francia. La Estatua todo el mundo dice que
            es pequeña, pero cuando estás debajo de ella no nos parece que se ajuste a la realidad, existe la
            posibilidad de subir a la corona, nosotros no lo hicimos.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            La siguiente parada es en la isla de Ellis, hoy museo, fue el punto de entrada de millones de personas que
            provenían de europa y asia en su mayor parte, aquí eran "clasificados" y examinados para su aceptación en el
            país, es sobrecogedor ver en qué situación entraban algunos y las penurias que debieron pasar en el viaje y
            en su periplo por Ellis. Ha sido retratado el momento de la llegada de estos inmigrantes en infinidad de
            películas, es conmovedor estar en este lugar.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Una vez vueltos a Manhattan fuimos en metro hasta Brooklyn donde queríamos visitar la Zona bajo el famoso
            puente, antiguos muelles que hoy están convirtiéndose en una zona hipster, un barrio de arquitectura
            industrial de principios del siglo XIX preciosa, además encontramos la zona de DUMBO, este es el mirador más
            bonito para ver el skyline de Nueva York con el puente de Brooklyn. Para comer optamos por Julianna's, esta
            pizzeria es muy famosa y es que sus pizzas al horno de lecha estan buenisimas, los cuatro salimos por 75€.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Era el momento de quemar las pizzas y cruzar el puente de Brooklyn, este puente de casi dos kilómetros que
            une Brooklyn con Manhattan se terminó de construir en 1883 y es otro de los símbolos de la ciudad, su vista
            de Nueva York en esta marcha deja unas buenas imágenes en la retina y en las fotos. Si tenéis vértigo
            tendréis que armaros de valor, pero es imprescindible.
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia9-10.jpeg" class="eeuu8 slower" alt="Julian´s"
                title="Julian´s">
        </div>
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia9-8.jpeg" class="eeuu8 slower" alt="Julian´s"
                title="Julian´s">
        </div>
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia9-9.jpeg" class="eeuu8 slower" alt="Julian´s"
                title="Julian´s">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Cuando acabas el puente tienes una salida hacia Chinatown, este barrio que se está extendiendo por segundos
            es el corazón de la comunidad china, y asiática, en el downtown de Manhattan, si queréis comer comida china
            o comprar una falsificación de gafas, relojes o bolsos de grandes firmas es vuestro lugar, por sus calles te
            van ofreciendo sus artículos, si les dices que sí te llevarán a una calle menos concurridas donde están sus
            compinches que te enseñan un catálogo y una vez llegues a un acuerdo económico te traerán la falsificación,
            todo en un clima un tanto peculiar, con miradas a todos lados y mucho ocultamiento, obviamente es ilegal.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Casi desaparecido ya por la voracidad de chinatown encontramos Little Italy, el que un día fuera el corazón
            de la comunidad italiana en Nueva York es hoy una pequeña pincelada, a punto de borrarse, de esta comunidad,
            es el lugar perfecto para comer en un restaurante típico italiano americano, de la mafia para los frikis del
            padrino, os recomendamos Benito One. Es una pena que solo queden tres o cuatro calles con ese ambiente
            italiano que mola tanto.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            La siguiente parada era el MoMa, era viernes y ese día es gratuito a partir de las 16:00, eso sí, prepararos
            para la inmensa fila de espera, nosotros nos colaron por ir con el carrito de Olivia, bendita Olivia!!! No
            os voy a decir nada que ya no sepáis del museo.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Fuimos en metro a cenar al Kat'z Delicatessen, 88€/4, este restaurante donde se sirven sandwich de pastrami
            desde 1888 es un sitio que no puede faltar en tu viaje, si no has ido a kat'z no has ido a NY. El local está
            "empapelado" por las fotos de los famosos que han ido a comer allí y se hizo mundialmente famoso por la
            escena del orgasmo fingido de Meg Ryan. Como consejo deciros que un sándwich para una persona es una
            barbaridad, para dos está bien. Está delicioso, se nos hace la boca agua al recordarlo, iríamos mil veces!
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia9-11.jpeg" class="eeuu8 slower" alt="Kat´z Delicatessen"
                title="Kat´z Delicatessen">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia9-12.jpeg" class="eeuu8 slower" alt="Kat´z Delicatessen"
                title="Kat´z Delicatessen">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia9-13.jpeg" class="eeuu8 slower" alt="Kat´z Delicatessen"
                title="Kat´z Delicatessen">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia9-14.jpeg" class="eeuu8 slower" alt="Kat´z Delicatessen"
                title="Kat´z Delicatessen">
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>