<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
            <h1 class="tituloViaje text-center">Road Trip por Portugal en 7 días</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-4 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Belém y Lisboa</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Tras el desayuno del hotel nos echamos a la calle para bajar hasta la Praça do Comércio donde se coge el
            tranvía número 15 que te lleva hasta Belém, es la segunda parada y ya va lleno así que os recomendamos
            cogerlo en la primera. Belém es uno de los barrios más antiguos de la capital, pero está algo retirado del
            centro.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Una vez hecho el trayecto bajo un calor de la suma del sol, la falta de aire en el tranvía y la cantidad de
            gente que en él va bajamos en la parada frente al Monasterio de los Jerónimos, la vista del monasterio es
            preciosa, no sé por dónde empezar a describirlo, esta majestuosa obra de estilo manuelino, gótico tardío, es
            patrimonio de la humanidad por la UNESCO, erigido sobre la antigua Ermida do Rastelo (donde pasó su última
            noche Vasco de Gama antes de su viaje) en 1514, aunque se concluiría la obra bastante después. La entrada
            puedes hacerla por la derecha a la iglesia, es donde lo hace la mayor parte, o por la derecha que da acceso
            al claustro, una vez dentro puedes pasar de un sitio a otro sin esperas, así que ya sabéis el truquillo. La
            entrada cuesta 12 €. La iglesia es muy bonita pero lo que más nos ha gustado ha sido el precioso claustro de
            tres plantas, de verdad que merece la pena.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            A pocos metros encontramos la famosa Torre de Belém, construida por Fancisco de Arruda en estilo manuelino
            también, fue un proyecto para defender el estuario del Tajo durante el siglo XVI, estaba diseñado para que
            la cubriese completamente el agua, pero el avance de la costa hace que quede solo una parte cubierta.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Tras un paseo por la costa podemos llegar al monumento a los descubridores y navegantes portugueses de 50
            metros de altura construido en homenaje a los 500 años de la muerte de Enrique “el navegante”, desde aquí
            podemos observar unas bonitas vistas del puente rojo metálico 25 de abril. Podéis degustar los famosos
            pasteles de Belém aunque están por toda la ciudad.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Al llegar nuevamente al centro de Lisboa era hora de comer y elegimos el Café do Rio, hamburguesería que os
            recomendamos encarecidamente por 31, 50 € los dos. Al salir justo al lado teníamos la casa dos Bicos que es
            la fundación José Saramago con una arquitectura singular que tiene cierta similitud con algunos edificios
            que hemos visto en Castilla.
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaPortugal/belen-7.jpg" class="imgcronica slower"
                alt="Café do Rio, Lisboa" title="Café do Rio, Lisboa">
        </div>
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaPortugal/belen-8.jpg" class="imgcronica slower"
                alt="Café do Rio, Lisboa" title="Café do Rio, Lisboa">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            En la parte trasera se abre el barrio del Alfama, el más antiguo y bonito de la capital lusa, lleno de
            pequeñas calles y de auténticos cuestones de pavimento empedrado conformando un laberinto podemos ir
            ascendiendo hacia la Sé de Lisboa del siglo XII siendo el edificio más antiguo de la ciudad. Culminando lo
            más alto de la colina llegamos al Castelo de São Jorge ocupando un perímetro de 6.000 metros cuadrados entre
            el castillo, las torres, foso y garitas con sus dos grandes patios. Esta fortaleza tiene una larga historia
            como enclave militar durante el periodo islámico y la consiguiente reconquista. Las vistas como podéis
            imaginar son impresionantes y la entrada cuesta 10 euros.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Agotados era momento de recogernos e ir a descansar al hotel, donde compramos algo de cenar en una tienda
            cercana y cenamos en nuestra habitación debido al cansancio acumulado con tanta rampa.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 conclusiones animated fadeIn slower text-justify">
            Como conclusión de la jornada comentaros que Belém es un barrio que nos ha gustado mucho sobre todo el
            Monasterio de los Jerónimos y la Torre de Belém, ambos son muy turísticos y están masificados, pero es
            lógico porque merece la pena. En cuanto a Lisboa es muy bonito, sobre todo Alfama que es una pasada, sin
            duda una visita que mucho vale la pena y que hay que destinarle por lo menos un par de días.
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>