<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloViaje text-center mt-7">5 días en Bulgaria</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-3 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Monasterio Bachkovo, Fuerte de Assen, Plovdiv y Veliko Tarnovo
            </h1>
        </div>
    </div>
    <div class="row mt-1 mb-3">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <img src="../../../assets/imagenes/galeriaRumania/bul-4-9.jpg" class="panoramica slower">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Hoy nos tocaba apretarnos los cordones porque ya teníamos que volver y hemos decidido hacer una visita
            exprés a los puntos clave de Bulgaria, obviamente nos dejamos el valle de los reyes tracios, varias tumbas
            de los reyes antiguos a la época romana, las iglesias rupestres, varios de los impresionantes monasterios y
            la costa del mar muerto, ya volveremos.
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 mt-3 mt-5 animated fadeIn slower">
            <iframe class="video" src="https://www.youtube.com/embed/e-_6folEGFg" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-md-6 col-sm-12 mt-3 mb-3 animated fadeIn slower">
            <p>Nuestra primera parada era en el monasterio de Bachkovo, mandado construir por Gregory Pakourianos en
                1083 fue destruido en el siglo XV por los turcos, destacando las pinturas murales del año 1601, la
                entrada nos costó 3€ a los dos, no es ni por asomo el de el de Rila, la verdad que las comparaciones son
                odiosas, aunque es bastante interesante de ver y bonito todo sea dicho, es un poco más religioso y no
                tan turístico, pero aquí los frescos se ven bien porque las velas las ponen fuera del templo (el único
                así que hemos visto, es una pena porque pierden espectacularidad). </p>
            <p>A pocos kilómetros está el fuerte de Assen que es una fortificación medieval, que lleva ocupada desde
                tiempos tracios, pero el paraje es precioso con unas vistas tremendas, se encuentra en un mal estado de
                conservación, perdiendo un poco de su esplendor pasado, aunque dándole un toque tenebroso. Las escaleras
                de subida son muy inclinadas, eso sí bien merecen el esfuerzo para ver el mar de árboles, la entrada fue
                de también de 3€. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            A 15 kilómetros está la segunda ciudad del país, Plovdiv, se trata de la segunda ciudad de Bulgaria y
            capital de la baja Tracia, se cree que fue el lugar de nacimiento de Espartaco. Tiene un casco histórico
            tremendamente curioso pero que la calzada es un rompe tobillos que le hace quitar un poco la visita tienes
            que mirar para abajo en vez de a los edificios jeje. Son edificios con salientes en la arquitectura en forma
            de balcones de los siglos XVIII y XIX, en diferentes colores, algunos bastante llamativos, muy bonito.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            También tiene restos romanos (teatro, estadio y foro), nosotros lo hemos encontrado con obras y ha sido un
            poco caótico visitarlo. Tiene una zona más moderna que merece la pena patearla, nosotros no hemos podido por
            la falta de tiempo, es una zona con bares y terrazas que tiene buena pinta.
        </div>
    </div>
    <div class="row mt-1 mb-3">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <img src="../../../assets/imagenes/galeriaRumania/bul-4-10.jpg" class="panoramica slower">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Por último hemos ido a Veliko Tarnovo que es la ciudad más grande pegada a la frontera con Rumanía y antigua
            capital del imperio búlgaro, a orillas de río Yantra, está enclavada en siete colinas escarpadísimas,
            menudas piernas deben tener sus habitantes, pero el casco histórico está en tres de las mismas y se
            comunican por puentes entre sí, la ciudad mola muchísimo, tiene un toque muy diferente a todas las que hemos
            visto, así que tras el cansancio estamos muy contentos de haber llegado hasta aquí.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Tiene una ciudadela amurallada que cierra a las 17:00 de la tarde así que si te descuidas te la pierdes,
            donde se encuentran pocos edificios que componen el antiguo palacio imperial en la que destaca la Iglesia
            del Patriarcado, esta zona es conocida como LA FORTALEZA DE TSAREVETS

            O ciudad de los zares, lugar de residencia de los antiguos zares desde donde gobernaron Bulgaria. Antes de
            cruzar el puente que nos lleva hasta estas ruinas esta Samovodska Charshiya, es decir, el viejo baza, que es
            un barrio con calles estrechas muy bonitas, se encontraban iluminadas con bombillas por todas las calles
            desconocemos si había alguna vista o siempre está así.
        </div>
    </div>
    <div class="row mt-1 mb-1">
        <div class="col-md-6 col-sm-12 mb-1 animated fadeIn slower text-center">
            <img src="../../../assets/imagenes/galeriaRumania/bul-4-7.jpg" class="imgcronica slower">
        </div>
        <div class="col-md-6 col-sm-12 text-center">
            <img src="../../../assets/imagenes/galeriaRumania/bul-4-8.jpg" class="imgcronica slower">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Para acabar el día fuimos a cenar a Shtlivecha, está en una de las casas colgantes, que tiene muchísimas la
            ciudad, con unas vistas que te quitan el hipo, cuelgan sobre las colinas que casi parecen acantilados por lo
            que da la sensación de estar suspendido, Shtlivecha es un restaurante tradicional nos gustó mucho y más su
            precio, 12€.
        </div>
    </div>
    <div class="row mt-1 mb-3">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <img src="../../../assets/imagenes/galeriaRumania/bul-4-11.jpg" class="panoramica slower">
        </div>
    </div>

    <app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
        [anteriorDonde]="anteriorDonde">
    </app-pagina-siguiente>