<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h1 class="tituloViaje text-center mt-5">5 días en Bulgaria</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-5 mb-5 animatedzoomIn justify-content-center">
      <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="tituloDiario text-center mb-3">Monasterio Bachkovo, Fuerte de Assen, Plovdiv y Veliko Tarnovo</h1>
      </div>
    </div>
    <div class="row mt-1 mb-3">
      <div class="col-md-12 col-sm-12">
        <img src="../../../assets/imagenes/galeriaRumania/bul-4-9.jpg" class="panoramica skeleton">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Hoy nos tocaba apretarnos los cordones porque ya teníamos que volver y hemos decidido 
        hacer una visita exprés a los puntos clave de Bulgaria, obviamente nos dejamos el valle de 
        los reyes tracios, varias tumbas de los reyes antiguos de época romana, y la costa del mar 
        muerto, ya volveremos.
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 mt-3 mb-3">
        <iframe class="video" src="https://www.youtube.com/embed/e-_6folEGFg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-md-6 col-sm-12 mt-3 mb-3">
        <p>Nuestra primera parada era en el monasterio de Bachkovo, 3 €, que no es ni por asomo el de 
          el de Rila, aunque es bastante interesante de ver y bonito todo sea dicho, es un poco más 
          religioso y no tan turístico, pero aquí los frescos se ven bien porque las velas las ponen 
          fuera del templo (el único así que hemos visto, es una pena porque pierden espectacularidad).</p>
        <p>A pocos kilómetros está el fuerte de Assen que es una fortificación medieval, que lleva 
          ocupada desde tiempos tracios, pero el paraje es precioso con unas vistas tremendas, se 
          encuentra muy derruido. Las escaleras de subida son muy inclinadas aunque bien merecen el 
          esfuerzo para ver el mar de árboles, la entrada fue de 3 €.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        A 15 kilómetros está la segunda ciudad del país, Plovdiv, que tiene un casco histórico 
        tremendamente curioso pero que la Calzada es un rompe tobillos que le hace quitar un poco 
        la visita tienes que mirar para abajo en vez de a los edificios jeje. Son edificios con 
        salientes en la arquitectura en forma de balcones de los siglos XVIII y XIX, en diferentes 
        colores, algunos bastante llamativos, muy bonito.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
      También tiene restos romanos (teatro, estadio y foro). También tiene una zona más moderna 
      que merece la pena patearla, nosotros no hemos podido por la falta de tiempo, es una zona 
      con bares y terrazas que tiene buena pinta.
      </div>
    </div>
    <div class="row mt-1 mb-3">
      <div class="col-md-12 col-sm-12">
        <img src="../../../assets/imagenes/galeriaRumania/bul-4-10.jpg" class="panoramica skeleton">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Por último hemos ido a Veliko Tarnovo que es la ciudad más grande pegada a la frontera 
        con Rumania  y antigua capital del imperio búlgaro, a orillas de río Yantra, está 
        enclavada en siete colinas escarpadísimas, menudas piernas deben tener sus habitantes, pero 
        el casco histórico está en tres de las mismas y se comunican por puentes entre sí, la 
        ciudad mola muchísimo, tiene un toque muy diferente a todas las que hemos visto, así que 
        tras el cansancio estamos muy contentos de haber llegado hasta aquí contentos.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Tiene una ciudadela amurallada que cierra a las 17:00 de la tarde así que si te descuidas 
        te la pierdes, donde se encuentran pocos edificios que componen el antiguo palacio imperial 
        en la que destaca la Iglesia del Patriarcado. Antes de cruzar el puente que nos lleva hasta 
        estas ruinas esta Samovodska Charshiya, es decir, el viejo baza, que es un barrio con calles 
        estrechas muy bonitas.
      </div>
    </div>
    <div class="row mt-1 mb-1">
      <div class="col-md-6 col-sm-12 mb-1">
        <img src="../../../assets/imagenes/galeriaRumania/bul-4-7.jpg" class="bulgariaImagen4 skeleton">
      </div>
      <div class="col-md-6 col-sm-12">
        <img src="../../../assets/imagenes/galeriaRumania/bul-4-8.jpg" class="bulgariaImagen4 skeleton">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Para acabar el día fuimos a cenar a Shtlivecha, está en una de las casas colgantes, 
        que tiene muchísimas la ciudad, con unas vistas que te quitan el hipo, es un restaurante tradicional 
         nos gustó mucho y más su precio, 12 €.
      </div>
    </div>
    <div class="row mt-1 mb-3">
      <div class="col-md-12 col-sm-12">
        <img src="../../../assets/imagenes/galeriaRumania/bul-4-11.jpg" class="panoramica skeleton">
      </div>
    </div>
    
<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
  