<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
            <h1 class="tituloViaje text-center">Road Trip por el nordeste de EEUU en 10 días</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-4 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Salem y Bostón</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Tras tomar nuestro desayuno en el motel pusimos rumbo a Salem, era las 8:30 de la mañana, pero el jet-lag y
            las ganas nos tenían en vilo desde prontito.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            La cercanía de Salem (30 minutos) y siguiendo las pistas de otros blogs en los que todo el mundo decía que
            Boston se visita en un día decidimos ir a visitar esta pequeña localidad conocida como la ciudad de las
            brujas, famosa por los juicios de brujería que se sucedieron entre los años 1692 y 1693, estos se dieron por
            las envidias y el desprecio entre vecinos en una sociedad de fanticos puritanistas, se condenó a muerte a 19
            personas y más de 200 fueron juzgadas, una pasada.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            La ciudad merece y mucho la pena, es la mayor aglutinación de casas coloniales de Estados Unidos que se
            concentran en el distrito de Samuel McIntyre. Vamos que perderse por sus calles es ir viendo bonitas y
            antiguas construcciones, que añaden un valor incalculable a la visita de esta ciudad, además el atractivo
            turístico que ha generado las brujas y todo el merchandaising a su alrededor.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Al igual que en boston hay una línea que puedes seguir que te lleva a las casas que se vieron implicadas en
            los juicios, a la estatua en homenaje a la serie de los 60's "embrujada", en definitiva a todo lo que le
            interesa a los turistas.
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-4 mb-5 justify-content-center">
            <app-modal-foto7 [imagen]="imagen7" [imagenModal]="imagenModal7" [titulo]="titulo7"></app-modal-foto7>
            <app-modal-foto8 [imagen]="imagen8" [imagenModal]="imagenModal8" [titulo]="titulo8"></app-modal-foto8>
            <app-modal-foto9 [imagen]="imagen9" [imagenModal]="imagenModal9" [titulo]="titulo9"></app-modal-foto9>
            <app-modal-foto10 [imagen]="imagen10" [imagenModal]="imagenModal10" [titulo]="titulo10"></app-modal-foto10>
            <app-modal-foto11 [imagen]="imagen11" [imagenModal]="imagenModal11" [titulo]="titulo11"></app-modal-foto11>
            <app-modal-foto12 [imagen]="imagen12" [imagenModal]="imagenModal12" [titulo]="titulo12"></app-modal-foto12>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            A media mañana llegamos a Boston y el frío era horrible, nunca hemos pasado tanto y eso que habíamos estado
            a menos temperatura, había -11ºC, pero entre el aire y el río era casi insoportable. Fue el peor día con
            diferencia pero nos dejó una estampa nevada que agradecemos.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Tras aparcar en el centro empezamos a recorrer la Freedom Trial que nos llevaría a los lugares
            emblemáticos/históricos de la ciudad empezábamos por la vieja casa del estado y el Quincy Market, donde se
            dio la masacre de boston que desencadenó en revueltas de los colonos, un bonito mercado donde comer algo en
            los puestos de su interior o poder ver el bar de Cheer´s (la serie de los 80´s). La ruta nos llevó a la
            estatua del famoso púgil Tony deMarco y a la casa de Paul Revere, fue el famoso mensajero entre las batallas
            de Lexington y Concord, las primeras de la revolución que precedió a la independencia de las colonias
            americanas de Gran Bretaña. Se encuentra en un pequeño barrio antiguo que es muy bonito, llamado North End.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Volvimos nuestros pasos e hicimos un alto para comer en Scolar&apos, por 16,90/persona, no lo recomendamos,
            bastante ruidoso, la comida estaba bien sin ser una delicia.
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 text-center animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia2-8.jpeg" class="imgcronica slower"
                alt="Scolar&apos, Boston" title="Scolar&apos, Boston">
        </div>
        <div class="col-md-6 col-sm-12 text-center animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia2-9.jpeg" class="imgcronica slower"
                alt="Scolar&apos, Boston" title="Scolar&apos, Boston">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Continuamos la línea de ladrillos rojos que nos llevaría a ver el monumento a los irlandeses que emigraron y
            a los que tanto debe Boston, entre los descendientes de estos se encuentra la familia Kennedy.
            Posteriormente visitamos la casa de Benjamín Franklin, uno de los firmantes de la declaración de
            independencia, la Old South meeting house, lugar de reunión de los rebeldes que organizaron el motín del té.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Continuamos por el cementerio de GRANARY BURYING GROUND, datado en el año 1660 es donde se encuentran
            enterrados los 5 muertos en la masacre de boston, Paul Revere y tres firmantes de la declaración de
            independencia, Samuel adams, John Hancock y Robert Treat Paine.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Por último fuimos al Boston Common, parque del centro con una pista de patinaje sobre hielo donde se
            encuentra el edificio más significativo de la ciudad, la casa del estado de Massachusetts y justo enfrente
            el memorial a Robert Gould Shaw, destacado regimiento de la ciudad de Boston en la guerra de Secesión
            americana.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Al final del parque está Beacon Hill, un barrio precioso, destacando Acorn Street, esta calle debería verla
            todo el mundo una vez en la vida, con eso os decimos todo, bueno también os enseñamos una foto ;p.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Como había empezado a nevar y hacía tanto frío decidimos poner fin al día tan completo, nos dejabamos
            visitar Harvard, que decidimos pasar con el coche para verla aunque fuera de pasada, no creo que nos
            perderíamos demasiado.
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="text-center col-md-12 col-sm-12 animatedzoomIn">
            <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1eZ8jhWnwo3A1BwURBLtPjb7MAmqRlqp0" width="100%"
                height="300"></iframe>
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>