<div class="container animated fadeIn slower">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloViaje text-center mt-5">10 días en Rumanía</h1>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="tituloDiario text-center mb-3">Llegada a Bucureşti, por los pelos</h1>
      </div>
    </div>
    <div class="col-sm-12 text-justify">
      De haber sido de otra forma no comentaría ni siquiera esta entrada ya que no es nada lo 
      disfrutado como viaje, pero como consideramos que a veces pasas ‘cosas’ en los viajes que en 
      pocas crónicas se leen y en realidad sirven para conocer un poco las realidades de los 
      distintos países ahí va esta entrada.
      </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      El avión salía a las 16:00 pero se retrasó una hora en su despegue. Cuando aterrizamos en 
      Otopeni nos pusimos a buscar por la terminal la casa de alquiler, estaban casi todas cerradas, 
      pero al contratarlo nos dijeron que se encontraba la recepción en la misma terminal, después 
      de varias vueltas y preguntar a unos cuantos trabajadores que nos decían como que estaba en la 
      puerta tomamos la decisión de coger un taxi y que nos llevase a donde estaba la sede de 
      DirectCar, según el GPS a tan solo 2 km.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Para montar en el taxi hay que coger un ticket y las máquinas están un poco escondidas. 
      El taxista nos lleva a un polígono que está muy poco iluminado a la sede del renta-car que se 
      encuentra cerrado, muy amable se queda con nosotros y llama al número de información rumano y 
      le dicen que nos estaban esperando en el aeropuerto, sin saber que nos esperaban pues salimos 
      a la aventura, el taxista decide esperar hasta que llegue el que estaba en el aeropuerto, 
      eso sí, todo con una seriedad que da hasta impresión, veríamos esta aptitud en toda Rumanía, 
      muy del este. Nos cobra 25 lei, unos 6€, es más de lo que pone en el taxímetro pero en esas 
      circunstancias que le vamos a decir.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      En la empresa nos hacen dejar un depósito de 500€ con tarjeta de crédito, que luego nos 
      devolvieron sin problema, el sitio del renta-car en el polígono sin luces da un poco de miedo.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Una vez hechas las formalidades vamos a Bucureşti, a unos 15 km, el GPS nos van ‘engañando’ 
      continuamente y tardamos mucho en llegar, eso sumado a carreteras con muy mal asfalto y en 
      penumbras, hay giros en medio de autovías a los que no estamos acostumbrados. 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Llegamos a las 23:30 a nuestra habitación en el centro (28,86€), con continuas llamadas de 
      un niño que tiene nuestras llaves, da autentica impresión entrar, está en una calle muy oscura, 
      como todo en Rumanía, con gente durmiendo en el soportal, el portal esta súper viejo, se 
      respira el ambiente de la Rumanía de Ceaușescu , la ciudad tiene muy poca vida, así que como 
      Bucureşti estaba en nuestra ruta para el final y con el viaje tan ajetreado decidimos descansar 
      para madrugar al día siguiente, compramos un KFC y a dormir.
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde" >
</app-pagina-siguiente>
  