<footer class="page-footer font-small cyan darken-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">
          <ul class="social-network social-circle">
            <li><strong>Siguenos en : </strong></li>
            <li>
              <a href="https://www.youtube.com/channel/UC-nZ_DTkIvlBmCrSPkWoD8w?view_as=subscriber" class="icoYoutube" title="Facebook">
              <i class="fa fa-youtube"></i>
            </a>
            </li>
            <li>
              <a href="https://www.instagram.com/sumando_banderas/?hl=es" class="icoInstagram" title="instagram">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
           </ul>		
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="http://www.sumando-banderas.es"> Sumando Banderas</a>
  </div>

</footer>
