<div class="container">
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower">
      <h1 class="tituloViaje text-center mt-5">5 días en Nueva York</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-5 mb-5 justify-content-center">
      <app-modal-foto class="mb-1" [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 class="mb-1" [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 class="mb-1" [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 class="mb-1" [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 class="mb-1" [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 class="mb-1" [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
    <div class="row">
      <div class="col-sm-12 animated fadeIn slower">
        <h1 class="tituloDiario text-center mb-3">Central Park y Museo de Historia Natural</h1>
      </div>
    </div>
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Empezaba el día con los estragos del jet-lag por lo que salimos a la calle prontito, esta 
      vez decidimos comprar el desayuno en un autoservicio de “nuestro” barrio, (-How much? –ocho 
      dólares primo, pues sí que es el barrio hispano, sí). Cogimos el metro en nuestra parada hasta 
      Central Park (Columbus Circle), hoy era día de este mítico parque y el museo de Historia Natural. 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Salimos del metro en la plaza que sirve de memorial a Cristóbal Colón y el monumento a los 
      marines, nos adentramos en Central Park y todo comenzó a cambiar, los colores, luces y hormigón 
      dejaron paso a los colores marrones de los bosques invernales, además se respiraba cierta paz, 
      aunque no es un silencio total debido al ruido extremo de la ciudad, sirenas, cláxones y obras 
      en cada esquina.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Llegamos al Museo de Historia Natural donde la entrada prefijada es de 22$, pero hay un 
      truquillo para pagar menos, muchos de los museos de New York se puede acceder por donación, 
      es decir, tú decides lo que pagas, nosotros dimos 5$ cada uno. El museo merece la pena 
      totalmente por sus recreaciones a tamaño natural de animales vivos y extinguidos, para mi 
      uno de los imprescindibles en esta ciudad. Salíamos del museo a la hora de comer y justo 
      al lado hay una hamburguesería de la cadena Shake Shack que nos habían recomendado, muy baratas 
      y riquísimas (22$ dos personas). Esta hamburguesería no tiene nada que ver con Mcdonal´s, el 
      cual nos sorprendió la poca que hay en esta cadena a diferencia con España. 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      El parque está lleno de ardillas y salvo en algunos puntos turísticos (Castillo de Belvedere, 
      el Strawberry Fields o la fuente Bethesda, la mítica fuente de la intro de Friends). No nos 
      cruzamos con demasiada gente, era diciembre y hacía frío. Si sois fans de John Lennon o los 
      Beatles haceros a la idea que el mosaico conmemorativo que se encuentra donde fue asesinado es 
      un auténtico caos, la gente está encima y es casi imposible hacer ninguna foto, me pareció algo 
      llamativo. 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Volvimos a cruzar el parque para bajar por la 5Av. Ya que nos habíamos dejado sin visitar la 
      escultura a Hans Christian Andersen, The Arsenal, el monumento al séptimo regimiento y la 
      escultura de William Tecumseh Sherman. El resto de la tarde nos perderíamos por la zona de 
      la 5ª y Times Square. Fuimos a hacer unas compras al outlet de 21th Century, en el lower town. 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Para cenar habíamos seleccionado el Katz´s Delicatessen por sus famosos sándwich de pastrami 
      que han sido representados en varias pelis (“Cuando Sally encontró a Harry”) y en crónicas 
      carnívoras, está en el Lower Town. Pedimos solo un sándwich para los dos porque son enormes 
      (32$ la cena de los dos). Es un sitio imprescindible si vas a la Gran Manzana y te gusta el 
      turismo gastronómico. Cogimos el metro y para casa ya que estábamos muy cansados y nos 
      quedaba mucho por delante.
    </div>
  </div>
  <div class="col-md-12 col-sm-12 animated fadeIn slower mb-1 text-center">
    <img class="nyImagen3 skeleton slower" src="../../../assets/imagenes/galeriaNy/IMG_0627.JPG">
  </div>
  </div>


<app-pagina-siguiente 
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde" 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde">
</app-pagina-siguiente>
