<div class="container animated fadeIn slower">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h1 class="tituloViaje text-center mt-5">10 días en Rumanía</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-5 mb-5 justify-content-center">
      <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4"></app-modal-foto4>
      <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5"></app-modal-foto5>
      <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="tituloDiario text-center mb-3">Transfăgărășan, Făgăraș y Braşov</h1>
      </div>
    </div>
    <div class="row mt-1 mb-3">
      <div class="col-md-12 col-sm-12">
        <img src="../../../assets/imagenes/galeriaRumania/rum-4-2.jpg" class="panoramica skeleton slower">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
          Hoy nos tocaba la ruta por la segunda parte de la Transfagarasan y llegada a Braşov, 
          ya en Transilvania.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
          Después de ponernos como el ‘Quico’ en el bufete del hotel y hacer el check-out nos 
          poníamos en ruta, dejando atrás el precioso lago Vidriaru, nada más empezar el trayecto 
          pudimos ver a dos oseznos de refilón en el bosque. Parábamos a hacernos alguna fotillo en 
          la cascada Capra y ver las bonitas vistas panorámicas, que son de quitar el hipo. 
          Coronábamos sobre el glaciar del lago Balea que está a 2040 metros de altitud, y si la 
          parte sur quita el hipo no sé cómo describir las impresionantes vistas y el paraje desde 
          ese lado. 
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
          Tras dar un pequeño paseo por la orilla del lago, y la pequeña zona con hoteles y 
          suvenires a su alrededor, donde llega el teleférico, bajamos por las sinuosas curvas y 
          llegábamos a la cascada balea que está a unos 30 minutos andando por un camino un poco 
          difícil, cuando llevábamos la mitad nos dimos la vuelta por que se complicaba el terreno, 
          no íbamos preparados para hacer trekking y que cuando se cierra el bosque en lo único que 
          piensas es en os osos que pueblan esos bosques, vamos que da un poquito de ‘canguele’. 
          Así que salíamos de la famosa Transfagarasan, que de verdad es más preciosa de lo que nos 
          habíamos imaginado y eso es mucho decir.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
          Como apunte deciros que la carretera es bastante peligrosa y que está abierta solo en los 
          meses que hace bueno, a partir de octubre la cierran por las nieves, por lo que 
          consideramos que a Rumanía solo se puede viajar en dichos meses, porque es de visita 
          obligatoria. 
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12 mt-3 mb-1 text-center">
        <img src="../../../assets/imagenes/galeriaRumania/rum-4-4.jpg" class="rumaniaImagen1 skeleton slower">
      </div>
      <div class="col-md-3 col-sm-12 mt-3 mb-1">
        <img src="../../../assets/imagenes/galeriaRumania/rum-4-11.jpg" class="rumaniaImagen1 skeleton slower">
      </div>
      <div class="col-md-3 col-sm-12 mt-3 mb-1">
        <img src="../../../assets/imagenes/galeriaRumania/rum-4-3.jpg" class="rumaniaImagen1 skeleton slower">
      </div>
      <div class="col-md-3 col-sm-12 mt-3 mb-1 text-center">
        <img src="../../../assets/imagenes/galeriaRumania/rum-4-6.jpg" class="rumaniaImagen1 skeleton slower">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
          Como aquí se come pronto ya eran la 13:00 y nos quedan 2 horas a Braşov decidimos parar 
          a comer por el camino, en Făgăraș, que casualmente tenía un castillo realmente bonito (cerrado el lunes) 
          y una catedral con las cúpulas de “oro” aunque parecían de oro malo ;p la comida ha sido 
          típica rumana el restaurante arcaico, como se estila por aquí, pero tienen su encanto y 
          estaba muy rico, Casa Terra (15€)
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
          Después de una carretera con mil camiones que adelantan a otros camiones que se cruzan 
          con otros camiones, las carreteras son tremendamente lentas por este tráfico, llegamos a 
          Braşov. Ciudad con un bonito centro por lo poco que hemos visto, al día siguiente 
          visitaremos más en profundidad la ciudad, en la que vamos a pasar dos noches, en los 
          Apartamentos Vila por 47,18€, amplia habitación relativamente cerca del centro, 
          con baño privado y te cede el parking del apartamento por que es una ciudad con 
          regulación de estacionamiento.
      </div>
    </div>
  </div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
  