<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="tituloViaje text-center mt-5">10 días en Rumania</h1>
      </div>
    </div>
    <div class="row">
      <div class="row m-3 mt-5 mb-5 animatedzoomIn">
          <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
          <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
          <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
          <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
          <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
          <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h1 class="tituloDiario text-center mb-3">Transfăgărășan, Făgăraș y Brasov</h1>
        </div>
      </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        
      </div>
    </div>
    <div class="row justify-content-center mt-1 mb-1">
        <div class="col-sm-4">
          <img src="../../../assets/imagenes/galeriaRumania/rum-4-6.jpg" class="rumaniaImagen1">
        </div>
      </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
         
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-justify">
          
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-justify">
          
        </div>
      </div>
    </div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
  