<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
      <h1 class="tituloViaje text-center">10 días en Sicilia, Road Trip</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-4 mb-5 justify-content-center">
      <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower">
      <h1 class="tituloDiario text-center mb-3">Ruta del padrino, Taormina y Catania</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Madrugábamos y después del desayuno que teníamos en el hotel nos poníamos en ruta, hoy nos 
      tocaba ir a visitar varios de los escenarios de la trilogía del Padrino, ya habíamos visto las 
      escaleras del teatro de Palermo donde matan a la hija del padrino, ahora nos quedaba el plato 
      gordo.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      La primera parada fue en el Castello Degli Schiavi, hoy convertido en hotel, es donde Michael 
      Corleone vive en su “exilio” italiano y donde atentan contra su mujer, Apollonia, con un coche 
      bomba, que frikis somos y que ilusión nos hizo ver el palacete, seguro que están acostumbrados 
      a que los turistas vayan a hacerse fotos, pero daba un poco de vergüenza hacerse las fotos con 
      los empleados del hotel mirando jeje.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Después fuimos hasta el pueblo de Savoca, para ver el bar Vitelli, donde el capo 
      ítalo-americano pide la mano de Apollonia a su padre en aquella mítica escena, “entonces su 
      hijo perdería un padre en lugar de ganar un marido”. El bar es una auténtica atracción 
      turística, suben hasta autobuses a que los turistas se hagan la foto, nos sorprendió mucho 
      esto, pero asi es, Savoca se encuentra en unas montañas cercanas al mar por lo que hay unas 
      buenas vistas desde el bar.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      La última parada del tour “mafioso” fue en Forza d´Agró, para ver su iglesia que es la famosa 
      que sale en las películas como la iglesia del pueblo de Corleone, el pueblo es bastante bonito. 
      Aprovechamos para comer en este lugar en un restaurante lugareño, ‘O Dammuseddu, muy rico, 
      mucha cantidad y bastante barato (29€), poco turístico, en resumen recomendado.
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
      <img src="../../../assets/imagenes/galeriaSicilia/IMG-0314.jpg" class="imagenSicilia8 slower" alt="Cannoli, Taormina" title="Cannoli, Taormina">
    </div>
    <div class="col-md-6 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
      <img src="../../../assets/imagenes/galeriaSicilia/IMG_0101.JPG" class="imagenSicilia8 slower" alt="‘O Dammuseddu, Forza d'Agró " title="‘O Dammuseddu, Forza d'Agró ">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Pasamos la tarde en Taormina, pueblo encantador hasta decir basta, aunque es tremendamente 
      turístico, rozando lo agobiante en octubre. Para subir hay que subir en teleférico, 
      desconozco si se puede subir en coches, no vimos arriba, nos costó el parking de abajo, 
      el teleférico y un cannoli, 19€. Hay varios miradores panorámicos en los que ver la costa 
      que quitan el hipo y la entrada al teatro griego, 6€, también tiene unas vistas de impresión, 
      aparte de lo que es en sí el teatro, está en muy buen estado de conservación. Os dejo un mapa 
      que nos fue útil.
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
      <iframe src="https://www.google.com/maps/d/embed?mid=1BkRa9DbMZ6WheIw2e_nW1pb_W9sOYIW7" class="video"></iframe>
    </div>
    <div class="col-md-6 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
      <img src="../../../assets/imagenes/galeriaSicilia/IMG-0392.jpg" class="imagenSicilia8 slower" alt="vistas desde Taormina" title="vistas desde Taormina">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Al atardecer volvimos nuestros pasos hasta Catania para cenar y darnos un último paseo por 
      la ciudad. Quisimos ir a la pizzería La Mafaldineria, que lo habíamos dejado para este día y cuando 
      llegamos había una lista de espera de una hora y tampoco teníamos mucho hambre y botamos por 
      otros arancini y unos gelatos, una pena no probar las pizzas famosas pero ni tan mal.
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
      