.altoCards {
  height: 375px;
}

.imagenCards {
  height: 210px;
  width: auto;
  max-width: 265px;
}

@media (max-width: 768px) {
  .imagenCards {
    max-height: 170px;
    height: auto;
    width: 100%;
  }
}

.fondoImagen {
  background: #f5e2e2;
}