<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
            <h1 class="tituloViaje text-center">Road Trip por el nordeste de EEUU en 10 días</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-4 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Ávila</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Ávila es un destino que no te defraudará ya sea por una ruta en Castilla o para una visita exprés desde
            Madrid, tan solo a 115 kilómetros de distancia. La ciudad amurallada no pasa inadvertida a nadie y la
            historia se respira en las calles intramuros.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-center">
            <img class="panoramica mt-5 mb-5 slower" src="../../../assets/imagenes/galeriaAvila/avila14.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            La ciudad estuvo poblada ya en tiempos del imperio romano, pasando a manos visigodas, árabes y
            posteriormente reconquistada en el siglo XI, en su concejo es donde se fraguó la revuelta que desemboco en
            la guerra civil castellana o de los Comuneros, finalmente se produjo un gran avance durante el siglo XVI
            tras su convulso pasado. Como podréis comprobar es una ciudad consagrada a Santa Teresa de Jesús, la más
            ilustre entre los abulenses.
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Nosotros la primera parada la hicimos en los cuatro postes, lugar desde el que contemplar la ciudad y su
            imponente muralla, la estampa más famosa de la ciudad. Este mirador a dos alturas nos da la mejor de las
            panorámicas de Ávila.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 animated fadeIn slower mt-3 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaAvila/avila6.jpg" class="imgcronica slower">
        </div>
        <div class="col-md-3 animated fadeIn slower mt-3 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaAvila/avila7.jpg" class="imgcronica slower">
        </div>
        <div class="col-md-3 animated fadeIn slower mt-3 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaAvila/avila8.jpg" class="imgcronica slower">
        </div>
        <div class="col-md-3 animated fadeIn slower mt-3 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaAvila/avila10.jpg" class="imgcronica slower">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Nosotros aparcamos el coche a las afueras, justo pegado a la muralla, para evitar meter el coche dentro que
            hay menos aparcamiento y sus calles se estrechan. Entramos por la puerta de Santa Teresa y lo primero que
            encontramos es la iglesia-convento de la Santa, construido en el siglo XVII, de estilo Barroco,
            supuestamente sobre la casa natal de Teresa de Jesús. En frente podemos observar una escultura de la misma.
            En uno de los laterales podremos entrar a ver la casa museo por dos euros donde ver la habitación su
            habitación.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Siguiendo la calle encontramos la portada del antiguo hospital de Santa Escolástica y el palacio de los
            Polentinos, siglo XVI, hoy museo del ejército. Más adelante encontramos la plaza del mercado Chico que hace
            de plaza mayor de Ávila, donde podemos tomar algo en sus terrazas.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            La siguiente parada es la catedral del Salvador, hay dudas de su fecha de construcción, no se sabe si fue en
            1095 por orden de Alfonso VI o ya en el siglo XII. Es la primera catedral gótica en España y su altar mayor,
            de 1502, es obra de Berruguete. La entrada son seis euros por adulto con audioguía. Con acceso a la propia
            catedral, al claustro y al museo cardenalicio con obras que bien merece la pena contemplar.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            El paseo continúa por la plaza Adolfo Suarez, donde hay una escultura en su memoria, primer presidente de la
            democracia española, en la misma plaza está la torre del Homenaje donde podemos subir a las murallas y
            recorrerlas. Justo cruzando la puerta del Alcázar estaremos en la plaza a Santa Teresa, también conocida por
            plaza del Mercado Grande donde se encuentra uno de los puntos clave de nuestra visita, la iglesia de san
            Pedro de Ávila de estilo románico y declarada patrimonio de la Humanidad.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Para continuar podemos visitar el museo de Ávila, en un palacete del siglo XVI, que nos muestra los restos
            arqueológicos de la comarca a lo largo de la historia y es un buen punto para conocer la forma de vida a lo
            largo del tiempo de sus habitantes.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Otra de las iglesias patrimonio de la humanidad y de estilo románico es la Iglesia de San Andrés que se
            encuentra extramuros. Y con estas mismas características seguimos por la Basílica de San Vicente, cuenta la
            leyenda que los mártires Vicente, Sabina y Cristeta fueron enterrados aquí y por ello se levantó el templo.
            Destaca por su belleza tanto exterior como interior, sobre todo el Altar Mayor.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Por último, destacar que al ser una ciudad medieval destaca por una gran cantidad de palacios entre los que
            se encuentran la casa de Blasco Núñez Vela, la casa de los Almarza, la casa de Superunda (Palacio Caprotti),
            el palacio de los Mújica (Torreón de los Guzmanes), casa de los Dávila o casa del Marqués de las Navas, el
            palacio del Marqués de Velada, el antiguo palacio episcopal, el palacio de los Águila, de los Verdugo, de
            Bracamonte, el de Polentinos y el de Juan de Henao.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Nosotros comimos en El convento, pequeño restaurante de gastronomía típica de la comarca, donde salimos muy
            satisfechos por 48 euros los dos. Lo recomendamos. En otra de nuestras visitas a Ávila comimos en Siglodoce,
            este es más amplio y también se puede degustar la cocina tradicional abulense.
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 animated fadeIn slower mt-3 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaAvila/avila1.jpg" class="imgcronica slower">
        </div>
        <div class="col-md-2 animated fadeIn slower mt-3 mb-1 align-self-center text-center">
            <img src="../../../assets/imagenes/galeriaAvila/avila2.jpg" class="imgcronica slower">
        </div>
        <div class="col-md-2 animated fadeIn slower mt-3 mb-1 align-self-center text-center">
            <img src="../../../assets/imagenes/galeriaAvila/avila3.jpg" class="imgcronica slower">
        </div>
        <div class="col-md-2 animated fadeIn slower mt-3 mb-1 align-self-center text-center">
            <img src="../../../assets/imagenes/galeriaAvila/avila4.jpg" class="imgcronica slower">
        </div>
        <div class="col-md-2 animated fadeIn slower mt-3 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaAvila/avila5.jpg" class="imgcronica slower">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify conclusiones">
            Como conclusión queremos decir que Ávila es una ciudad preciosa que bien merece la pena pasar un día entre
            sus murallas, es cierto que tenemos predilección por la vieja Castilla. Que si sois de fuera de Madrid no
            dudéis en dedicarle un día a visitarla en vuestra visita, cierto que también tenéis Toledo, Segovia,
            Aranjuez y El Escorial, pero es que todas merecen su día de visita. En cuanto a la gastronomía es algo por
            lo que hay que venir sin duda alguna, los judiones, las patatas revolconas o el chuletón de Ávila no te
            dejaran indiferente.
        </div>
    </div>
</div>