<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
            <h1 class="tituloViaje text-center">Road Trip por el nordeste de EEUU en 10 días</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-4 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Philadelphia, Lancaster y Gettysburg</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 mb-2 animated fadeIn slower">
            <img src="../../../assets/imagenes/galeriaEEUU/dia4-8.jpeg" class="panoramica slower"
                alt="Vistas en la salida de Boston" title="Vistas en la salida de Boston">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 animated fadeIn slower text-justify">
            <p>
                Tras dejar el apartamento y desayunar fuimos a la zona del museo de arte para visitar las archiconocidas
                escaleras de Rocky y por supuesto recrear la escena, turistada absoluta, pero es que estamos en los
                EEUU.
                Después fuimos a la zona histórica de Filadelfia, conocida como old city, aparcamos el coche en el
                parking
                del independence visitor center por unas cuatro horas, por 15€.
            </p>
            <p>
                Nada más salir encontramos la Liberty Bell, un centro de interpretación donde explican la historia de la
                famosa campana de la libertad y donde se expone la misma, tras un exhaustivo registro a todos, incluido
                el
                carro de Olivia, pasamos y nos deleitamos ante la campana rota que nadie sabe en qué momento se agrieto.
            </p>
        </div>
        <div class="col-md-6 col-sm-12 animated fadeIn slower">
            <iframe class="video" src="https://www.youtube.com/embed/v9vT14Kknmg" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            A pocos pasos está el recinto del independence hall, al que accedimos con el registro aún más profundo, el
            complejo es muy bonito con los edificios del siglo XVII donde se reunían y firmaron la declaración de
            independencia de las trece colonias británicas para dar nacimiento a la nueva nación formada por los estados
            unidos de América. Cada hora hay una visita guiada del salón donde se dio la firma de los jefferson's,
            adam´s, franklin´s o washington's que nos encantó poder ver.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Muy cerca encontramos la casa museo de Betsy Ross, nosotros lo encontramos cerrado por ser lunes, pero es un
            museo donde se exponen las primeras banderas de los estados unidos, parece que fue esta mujer y en esta
            misma casa donde tejió la primera bandera de las barras y estrellas.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Por último fuimos para lo que consideramos el plato fuerte de Filadelfia si tenemos que elegir uno, la calle
            Elfreth's Alley, se trata de la calle más antigua de los estados unidos, data de 1702 y está compuesta por
            unas 32 viviendas, casi todas de propiedad privada, que hace las delicias del visitante. A pesar de haber
            estado en infinidad de sitios con más solera, es uno de los sitios donde más sensación de viaje en el tiempo
            hemos tenido. Imprescindible!
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-4 mb-5 justify-content-center">
            <app-modal-foto7 [imagen]="imagen7" [imagenModal]="imagenModal7" [titulo]="titulo7"></app-modal-foto7>
            <app-modal-foto8 [imagen]="imagen8" [imagenModal]="imagenModal8" [titulo]="titulo8"></app-modal-foto8>
            <app-modal-foto9 [imagen]="imagen9" [imagenModal]="imagenModal9" [titulo]="titulo9"></app-modal-foto9>
            <app-modal-foto10 [imagen]="imagen10" [imagenModal]="imagenModal10" [titulo]="titulo10"></app-modal-foto10>
            <app-modal-foto11 [imagen]="imagen11" [imagenModal]="imagenModal11" [titulo]="titulo11"></app-modal-foto11>
            <app-modal-foto12 [imagen]="imagen12" [imagenModal]="imagenModal12" [titulo]="titulo12"></app-modal-foto12>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Diciendo adiós a Filadelfia pusimos rumbo al condado de Lancaster, está como a una hora y media, para ver
            esta región poblada por granjeros, muchos de ellos amish. Esta comunidad etnoreligiosa de vestimentas y
            costumbres sencillas alejados de las grandes urbes y que quizá su rasgo más característico es el vivir al
            margen de la electricidad. Se han convertido en un atractivo turístico de todo visitante de esta parte del
            globo, evidentemente es algo conflictivo por que a nadie le debe gustar que invadan su intimidad y por lo
            tanto intentamos ir con el máximo respeto.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Para cruzarte con ellos no es muy difícil, pero se recomienda circular entre las carreteras 340 y la 30, o
            visitar alguna de sus granjas en las que viven del turismo que los rodea. Nosotros queríamos visitar alguno
            de los muchos puentes de madera cubiertos que pueblan el condado, si los típicos puentes de Madison, y
            también decidimos comer en un sitio "típico" de amish, como era lunes muchos estaban cerrados, por lo que
            elegimos Smk bbq (casi 20€/persona) y no tuvimos ningún problema en cruzarnos en bastantes ocasiones.
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia4-7.jpeg" class="imgcronica slower"
                alt="Smk bbq, restaurante Amish" title="Smk bbq, restaurante Amish">
        </div>
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia4-3.jpeg" class="imgcronica slower"
                alt="Smk bbq, restaurante Amish" title="Smk bbq, restaurante Amish">
        </div>
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia4-4.jpeg" class="imgcronica slower"
                alt="Smk bbq, restaurante Amish" title="Smk bbq, restaurante Amish">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia4-2.jpeg" class="imgcronica slower"
                alt="Smk bbq, restaurante Amish" title="Smk bbq, restaurante Amish">
        </div>
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia4-5.jpeg" class="imgcronica slower"
                alt="Smk bbq, restaurante Amish" title="Smk bbq, restaurante Amish">
        </div>
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia4-6.jpeg" class="imgcronica slower"
                alt="Smk bbq, restaurante Amish" title="Smk bbq, restaurante Amish">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Después de comer pusimos rumbo a la población de Gettysburg, está a una hora y media de Lancaster, para ver
            el campo de batalla que aconteció la batalla decisiva de la guerra de secesión de los estados unidos donde
            se abolió la esclavitud en 1863. En la batalla participaron más de 150.000 soldados y murió el 6% de la
            población total de los EEUU, una auténtica catástrofe nacional. El sur comandado por el general E. Lee salió
            derrotado y ya no levantaría cabeza hasta su rendición final.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            El centro de interpretación de la batalla es un museo en el que se muestra la armería, los uniformes y cómo
            se desarrollaron los acontecimientos para llegar a este punto y la propia batalla, destacando el cuadro de
            360 grados titulado la batalla de Gettysburg. El precio es de 15$ por persona, también incluye la proyección
            de un documental narrado por Martin Freeman de 25 minutos de duración.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            El campo de batalla es enorme y puede visitarse en coche, está plagado de pequeños memoriales y cementerios
            en honor a los caídos de ambos bandos. Finalizando en el pueblo de Gettysburg que merece mucho la pena,
            parece que no ha pasado el tiempo en sus calles.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            El viaje concluía en Washington que está como a otra hora y media donde llegábamos de noche, con un buen
            cansancio, así que decidimos recogernos y descansar para el dia siguiente.
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>