<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h1 class="tituloViaje text-center mt-5">10 días en Rumania</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-5 mb-5 animatedzoomIn justify-content-center">
      <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="tituloDiario text-center mb-3">Castillo Peleș, Castillo Pelisor, Sinaia y Sighișoara</h1>
      </div>
    </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 text-justify">
      Hoy nos tocaba dejar atras Braşov, ciudad que nos ha encantado, para visitar la conocida 
      como perla de los Cárpatos, Sinaia, donde se encuentra el Castillo de Peleș. La primera 
      parada ha sido en un pequeño pueblo a los pies de los Carpatos para observar las imponentes 
      montañas, en el Castillo de Cantacuzino, tras esta breve parada llegábamos a nuestro destino en el Castillo de Peleș que 
      nos ha dejado impresionados, es el más bonito que hayamos visto, es bastante moderno pero 
      una pasada. Hemos tenido la mala suerte de ir en miércoles que abren a las 11:00 después 
      de dos días cerrado por lo que creo que había más turistas, teniendo en cuenta que hay 
      poquísimos en todos lados, se pasa en visitas guiadas en inglés y dura como hora y pico, 
      la entrada han sido 16,01 € + 3,22 € de parking.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 text-justify">
      En el complejo también está el castillo de Pelisor, vamos primero que parece que hay menos 
      gente, están al lado uno del otro, pero después de una hora esperando a que abriesen no 
      hemos podido visitarlo porque estaban de limpieza, pero no lo ponía en ningún lado!!!, 
      todo el recinto era la residencia de verano de la monarquía rumana, que mientras el pueblo 
      rumano estaba en la más absoluta pobreza la realeza se construyese este palacio, de verdad 
      que es espectacular.
    </div>
  </div>
  <div class="row">
    <div class="text-center col-md-6 col-sm-12 mt-2 mb-2">
      <img src="../../../assets/imagenes/galeriaRumania/rum-6-6.jpg" class="rumaniaImagen6-1 skeleton animatedzoomIn">
    </div>
    <div class="text-center col-md-6 col-sm-12 mt-2 mb-2">
      <img src="../../../assets/imagenes/galeriaRumania/rum-6-7.jpg" class="rumaniaImagen6-1 skeleton animatedzoomIn">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 text-justify">
      Bajamos a Sinaia que es el pueblo más bonito de Rumania según muchos, y que su razón llevan, 
      de origen sajón y lleno de palacetes, destacando el monasterio de Sinaia, es pequeñito 
      pero que los frescos que tiene son brutales y además es gratuito.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 text-justify">
      Antes de salir hemos comido en Snow restaurant (13,62 €), el mejor hasta el momento con 
      comida tradicional riquísima y un bonito lugar.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 text-justify">
      Nos fuimos a Sighișoara que está a 2’5 horas en coche, y se hace un poco pesado el camino, 
      es aquí donde empezamos a percibir lo duro que es conducir por aquí, lentísimo, nos hemos 
      hospedado a los pies de la ciudadela, dos noches por 36 € (increíble), en Venises House, 
      pero nos falla el wifi.
    </div>
    </div>
  <div class="row">
    <div class="col-md-5 col-sm-12 text-center mt-2">
      <img src="../../../assets/imagenes/galeriaRumania/rum-6-9.jpg" class="rumaniaImagen6 skeleton animatedzoomIn">
    </div>
    <div class="col-md-7 col-sm-12 text-justify">
      <p>Dimos una vueltecita de reconocimiento por la ciudadela anocheciendo y se respira la 
        tragedia, en lo alto de una ladera empedrada entre callejuelas con una leve niebla, es 
        donde nació Drácula, está la casa aquí (hoy restaurante jeje). No hay casi turistas y tiene 
        un encanto que aterrador, muy medieval, chulisimo, pero zas! Vamos a cenar a las 20:15 y 
        nadie nos quiso dar de cenar ya, y cuando digo en ninguno me refiero a los cuatro que había 
        abiertos, al final en una pizzería se apiadaron de nosotros, una pizza riquísima por 9,43 € 
        con bebidas para llevar, pizzería San Genaro. </p>
      <p>Así que ojito con los horarios cuando vengáis que no cenas!!! Y por la comida ma-to</p>
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
  