.logoSB {
  max-height: 150px;
  position: absolute;
  margin-top: -20px;
  animation-name: logo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes logo {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@media (max-width: 768px) {
  .logoSB {
    max-height: 75px;
  }
}

.banderasMenu {
  max-height: 20px;
  max-width: 30px;
}

.navbar-nav .dropdown-menu {
  /* position: static; */
}