.logoSB {
  max-height: 150px;
  position: absolute;
  margin-top: -20px;
}

@media (max-width: 768px) {
  .logoSB {
    max-height: 75px;
  }
}

.banderasMenu {
  max-height: 20px;
  max-width: 30px;
}

.navbar-nav .dropdown-menu {
  /* position: static; */
}