<div class="container animated fadeIn slower">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="tituloViaje text-center mt-7">Road Trip por Portugal en 7 días</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="tituloDiario text-center mb-3">Datos del viaje</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Como viene siendo habitual en nuestros viajes, el destino de Portugal no entraba en nuestros esquemas, esta semana nos íbamos a pasar unos días al sur de Francia, 
        íbamos con un viaje completamente abierto, no habíamos reservado absolutamente nada. Cuando se acercaba el día veíamos que pintaba negro el clima por esa zona, 
        con lluvias todos los días de nuestra posible estancia, gracias a que no teníamos un avión o un hotel ya contratado alteramos nuestros planes, eso si, no nos 
        quedaríamos en casa por ello.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Nuestra alternativa no tenia muchas salidas, o sur de España o Portugal, elegimos el país vecino por que siempre lo habíamos mirado con una vista vaga, el 
        hecho de estar tan cerca, de no coger avión y vagos argumentos del estilo hacia que no lo hubiésemos elegido antes, creo que es algo que le pasa a mucha gente, 
        por lo menos a nuestro entorno así ha sido. Pues craso error el nuestro, por que merece la pena y mucho, es un país de contrastes, precioso, ligeramente más 
        barato que Madrid y con una gente muy agradable. Para más inrri está cerca y el idioma es muy, muy asequible para los castellano-parlantes, sobre todo por que 
        allí se esfuerzan mucho en que les entiendas.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Nuestro viaje ha sido corto, hemos dejado fuera bastantes sitios, como el Algarve (que lo tenemos apuntado para otras ocasiones, por el buen sabor que nos dejó 
        Tavira en junio de este mismo año). Es un país que creo que con diez días se puede recorrer de punta a punta, evidentemente cada uno tiene unos ritmos y la 
        estimación no valdrá a todos.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Nosotros en una semana entrando por el norte por la ciudad de Bragança fuimos bajando hacia el sur y llegar a la capital, Lisboa, pasando por las citadas 
        ciudades y por Oporto, Aveiro, Nazaré, Óbidos, Monasterio de Bathala, Sintra y Cascáis. Como veis es bastante completito el viaje pero he de comentaros que las 
        ciudades se visitan en poco tiempo, claro, los lugares más significativos, pero que sacas una noción bastante completa de estos lugares.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Otro punto que os queremos dar es que para ir a visitar Portugal os recomendamos que entrenéis para las cuestas que hay en prácticamente todas las ciudades del 
        país, es un autentico reto para los gemelos y cuadridecps, y que deciros si encima vais empujando un carrito de bebe, me están doliendo las piernas de recordarlo. 
        Fuera de bromas es un país no muy apto para ir con bebes por dichas cuestas y con calzadas difíciles para empujar un carro. Pero desde luego que el sacrificio 
        mereció la pena.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Esperamos que os puedan ayudar en la preparación de vuestro viaje nuestras crónicas y experiencias en el país luso.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify conclusiones p-5">
        Como conclusión del viaje una vez realizado hemos de decir que nos ha gustado muchisimo, es un país al que teniamos minusvalorado y nos habíamos equivocado mucho. 
        Es ligeramente más barato que la vida en Madrid, por lo que no lo consideramos barato. La gente es muy amable y dispuesta a la hora de ayudar, ya sea con el idioma 
        (teniendo en cuenta que la similitud de idiomas y que allí habla castellano mucha gente) o con indicaciones. Es un país con un patrionio cultural elevado y que las 
        distancias entre ellos es bastante corta hacen que sea tan ameno su visita. Por contra decir los desniveles que hay en todos sus rincones, pero esto ya es por sacar 
        punta a algo!!!
        Lo recomendamos y si tenéis el "tonto" prejuicio de la distancia que teníamos nosotros, no lo penséis, seguro que os sorprende.
      </div>
    </div>
  </div>
  
  <app-pagina-siguiente 
    [siguiente]="siguiente" 
    [siguienteDonde]="siguienteDonde"
    [anterior]="anterior" 
    [anteriorDonde]="anteriorDonde">
  </app-pagina-siguiente>
    