<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
            <h1 class="tituloViaje text-center">Road Trip por el nordeste de EEUU en 10 días</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-4 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Philadelphia y Outlet</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            El jetlag nos hizo levantarnos bastante pronto y nos dejaba una estampa totalmente nevada, aprovechamos para
            ir a desayunar al buffet del hotel para salir lo antes posible, era el día con más kilómetros de este road
            trip.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            La primera parada era en el WOODBURY COMMON PREMIUM OUTLETS se trata de un complejo enorme de tiendas y
            restaurantes con multitud de tiendas de marcas muy reconocidas con unos precios bastante llamativos, y si
            buscas puedes encontrar verdaderas gangas, nosotros nos llevamos Levi´s a 16€ o zapatillas columbia de
            montaña por 35€. Nosotros solo dedicamos un par de horas por que no teníamos intención de grandes compras,
            pero si vas con tiempo puedes encontrar chollazos
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Se encuentra como a una hora de Nueva York y se puede ir en autobuses desde la gran manzana en excursiones
            de un día. Si vas por tu cuenta como nosotros no olvides pasar por el centro de información y solicitar un
            mapa y descuentos especiales que te darán de forma gratuita.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Aprovechamos para comer en el Shake & shack por 50 € los cuatro, una de las mejores hamburgueserías de los
            USA, nos encanta.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Continuamos hacia Filadelfia unas horas más y llegabamos a la ciudad del amor fraternal al anochecer, un
            viaje largo, pero que fue precioso gracias a la nevada en buena parte del camino, viajando por las
            carreteras comarcales y pasando por los pueblos de los "verdaderos" estados unidos.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Llegamos al apartamento que habíamos reservado y nos llevamos el sorpresón, se trata de unos apartamentos de
            lujo que quitan el hipo, se encuentran como a 2 kilómetros del centro, pero que pasada por 96€ la noche.
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-2">
            <img src="../../../assets/imagenes/galeriaEEUU/dia3-7.jpeg" class="eeuu3 slower animatedzoomIn">
        </div>
        <div class="col-md-8 col-sm-12 animated fadeIn slower text-justify">
            <p>Como ya era de noche fuimos en coche y aparcamos en el centro, dimos una vueltecilla para ver la zona del
                city hall, la sede del templo masónico y el love park, es el primer sitio donde pusieron las letras típicas
                de LOVE que hoy podemos ver en muchas ciudades con las luces encendidas y hacía bastante frío por lo que
                decidimos ir al Reading Terminal Market, mercado con restaurantes que mola un montón, pero cuando llegamos
                estaban en un evento privado y no pudimos más que verlo y babear desde la puerta. La solución fue buscar
                otro sitio para probar el famoso cheesesteak de Filadelfia y elegimos el Steves Prince Steak,
                11,85€/persona, no fue ninguna delicia, pero así pudimos probar este famosísimo bocadillo.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Hacía muchísimo frío y fue hora de recogernos, parece que la ciudad tiene bastante ambiente nocturno, pero
            eso habrá que probarlo en otra ocasión.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            La zona del centro es en su mayoría rascacielos con algún edificio más antiguo que hacen un contraste
            curioso, a nosotros nos gustó. Pero el plato fuerte de la ciudad lo dejamos para la mañana siguiente. Se
            trata de una ciudad pequeña que en un día completo da de sobra para visitarla, no llegamos a destinar ni
            siquiera esas 24 horas y creemos que visitamos un alto porcentaje, claro eso como siempre depende de ritmo y
            como quieras conocer dicha ciudad.
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="text-center col-md-12 col-sm-12 animatedzoomIn">
            <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1lSiDQICQadQuGBR6BsTIiDmRtSKVT1Z7" width="100%"
                height="300"></iframe>
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>