<div class="container">
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower">
            <h1 class="tituloViaje text-center mt-7">Asturias</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-3 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Gijón</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Gijón, la segunda ciudad en importancia de Asturias, que me perdonen los gijonenses, es una urbe que ha
            concluido prácticamente su giro de ciudad industrial a una nueva cara más amigable al turismo, aunque sigue
            mirando al mar con sus famosos e históricos astilleros, hoy el turismo es una importante entrada de capital
            en sus costas.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Para hablar de Gijón hay que hablar del barrio de Cimadevilla, es para nosotros el gran atractivo como
            turistas de la ciudad, es su barrio más antiguo, es donde ya estuvieron los romanos en el siglo I, y más
            bonito sin dudarlo, fuera del mismo la ciudad es algo más insípida para los foráneos. Se ubica en el cerro
            de Santa Catalina resguardado por una muralla.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Lo primero que nos vamos a encontrar en el ascenso al cerro va a ser el edificio de la Antigua Pescadería.
            La iglesia de San Pedro Apóstol, construida en la década de los 40 del siglo pasado se erige en el lugar
            donde estuvo la anterior, incendiada durante la Guerra Civil. Destaca la vista que nos da la playa de San
            Lorenzo, quizá la imagen más famosa de Gijón.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Junto a la iglesia encontraremos el museo de las Termas romanas de Campo Valdés, descubierto en el siglo XX
            es uno de los pocos vestigios romanos que quedan en la ciudad y su entrada es gratuita.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Si seguimos el ascenso nos vamos a encontrar con la casa natal de Jovellanos, de 1744, hoy convertido en un
            museo, el edificio es una preciosa casa-palacio asturiano del siglo XVI. Su entrada es gratuita.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Por último, en la colina nos encontramos con la batería de Santa Catalina, un complejo militar del siglo
            XVII que servía de defensa del puerto de la ciudad contra los piratas y otras amenazas que pudiese tener.
            También se encuentra el parque del Cerro y el Elogio del Horizonte, obra de Eduardo Chillida. Es un enclave
            con unas vistas que quitan el hipo.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Ya en nuestro descenso podemos parar en el Palacio de Revillagigedo y la colegiata de San Juan Bautista del
            siglo XVIII. En la Torre del Reloj, esta torre de 1572 ha sido utilizada como cárcel, hoy se trata de un
            museo arqueológico sobre la ciudad, además sirve como mirador.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Justo en frente del estadio Molinón se encuentra el museo del Pueblo Asturiano, es una pasada, han
            trasladado varias edificaciones típicas de la geografía asturiana, nos recuerda mucho a los museos nórdicos,
            y una infinidad de objetos típicos de la vida de este pueblo a lo largo de la historia, desde cazuelas hasta
            gaitas, ¡por supuesto!
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            A las afueras podemos visitar también El Laboral de Gijón es la actual ciudad de la Cultura de Gijón, ocupa
            el espacio de una inmensa obra que mandó construir Franco en 1948. Se trata de un complejo de 200.000 metros
            cuadrados. El jardín botánico con 25 hectáreas es otro lugar para perderse.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            En cuanto al apartado gastronómico que tanto nos gusta hemos de deciros que aquí optamos por visitar Auga
            (estrella Michelin), se sale de lo que nosotros solemos frecuentar en nuestros viajes, pero aprovechamos que
            es de los más baratos con estrella y nos dimos el capricho, una delicia la verdad, la mejor fabada que he
            probado, dos comensales por 100€. Se encuentra en el puerto deportivo</div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower text-justify conclusiones">
            Gijón es una ciudad con poco que visitar, nosotros veníamos con muchas ganas de conocerlo por lo que nos
            habían hablado de la ciudad y nos ha parecido que el barrio de Cimadevilla tiene bastante atractivo, tiene
            ambiente y es bonito, y que las vistas desde lo alto son bonitas, pero que no ofrece mucho más, con menos de
            un día es más que suficiente para conocerla.
        </div>
    </div>
    <!-- <div class="row justify-content-center">
      <div class="col-sm-4 mt-2 animated fadeIn slower">
        <img src="../../../assets/imagenes/galeriaBerlin/IMG_2347.JPG" class="imgcronica slower">
      </div>
    </div> -->
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>