<div class="container animated fadeIn slower">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="tituloViaje text-center mt-5">5 días en Bulgaria</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h1 class="tituloDiario text-center mb-3">Frontera y Sofia por la noche</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        Salimos pronto, a las 9, para llegar a Sofía entorno a las 14:00, después de la hora y media 
        en llegar desde Bucarest a la frontera no nos han dejado pasar por no tener los papeles 
        originales del coche, nos habían dado tan solo una fotocopia y con eso no puedes pasar 
        una frontera, con el chasco hemos estado divagando 1 hora en la frontera que hacíamos, si 
        coger un vuelo a otro destino, si quedarnos en Rumanía o si pagar 100€ a los del rentaCar 
        para que nos dejaran los papeles originales, esto último hemos hecho con la consiguiente 
        vuelta a Bucarest de otra hora y media ida y otra hora y media vuelta, así que nos hemos 
        presentado en la frontera nuevamente sobre las 15:00, un contratiempo con mayúsculas que 
        pensábamos que la frontera entre dos países europeos iba a estar abierta. Dicho esto es 
        culpa nuestra por no hacer las cosas como hay que hacerlas, pero bueno los viajes salen 
        como salen.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        Las carreteras en Bulgaria los primeros 150 km son iguales que en Rumanía pero con 
        poquito tráfico, después hemos cogido una autovía que nos ha sido más ameno, el paisaje 
        es bastante entretenido porque toda la carretera vas entre árboles, que solo hay alrededor 
        de la carretera en forma de hilera, tras esta hilera el resto son campos de cultiv. 
        Eso hasta la autovía que es entre montañas pequeñas y arboladas que es muy muy bonito con 
        cada árbol de un tono, parecido a lo visto en la Transfagarasan y en los Maramureş. Tener en 
        cuenta que al circular por otro país con un vehículo extranjero hay que comprar una tarjeta
        o vigñeta para poder circular, si vas sin ella te multan, nos ha costado unos 7€.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        Hemos llegado justo haciéndose de noche y estamos un poco cansadetes de llevar 10 horas en 
        el coche entre pitos y flautas así que al hotel bon bon central (147€ las tres noches con 
        parking y desayuno, 3 estrellas) y a cenar a un sitio de comida típica bulgara guapísimo con 
        actuación folclorica entre las mesas, The Hadjidragana tavern, que nos ha costado (18€).
      </div>
    </div>
    <div class="row mt-2 mb-2">
      <div class="col-md-6 col-sm-12 mt-1 mb-1">
        <img src="../../../assets/imagenes/galeriaRumania/bul-1-1.jpg" class="bulgariaImagen1 skeleton slower">
      </div>
      <div class="col-md-6 col-sm-12 mt-1 mb-1">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/d0KeD9ZXXgI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        Sofía es muy diferente a Bucarest, tiene un toque más europeo pero con el contraste de sus 
        iglesias de un estilo ortodoxo muy arcado, tiene buena pinta!
      </div>
    </div>
  </div>
  
  <app-pagina-siguiente 
    [siguiente]="siguiente" 
    [siguienteDonde]="siguienteDonde"
    [anterior]="anterior" 
    [anteriorDonde]="anteriorDonde">
  </app-pagina-siguiente>
  