<div class="container">
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower">
      <h1 class="tituloViaje text-center mt-7">2 días en Washington</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-3 mb-5 justify-content-center">
      <app-modal-foto class="mb-1" [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 class="mb-1" [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 class="mb-1" [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 class="mb-1" [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 class="mb-1" [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 class="mb-1" [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
    <div class="row">
      <div class="col-sm-12 animated fadeIn slower">
        <h1 class="tituloDiario text-center mb-3">Cementerio de Arlington y National Mall</h1>
      </div>
    </div>
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Habíamos cogido por airbnb una habitación en un barrio muy cercano al capitolio (15 minutos 
      andando), es un barrio victoriano con casas de dos alturas que nos gustó bastante. La casa en 
      sí fue un acierto por su ubicación y su anfitrión, Jon, fue muy hospitalario. La estancia nos 
      costó 144$ las dos noches. Después de dejar las maletas era la hora de comer por lo que fuimos 
      a comer a un restaurante cercano que habíamos visto que tenía buenas críticas, el Ben´s 
      Chili Bowl, pedimos dos hamburguesas y unas patatas con chili por encima, buenísimas. 
      Nos costó la comida 25$. Teníamos pensado ir al cementerio de Arlington y puesto que la 
      comunicación no era muy buena decidimos coger un taxi que nos costó 22$.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      El cementerio Nacional de Arlington es el lugar donde reposan los restos de veteranos de 
      guerra de los EE.UU. durante todas sus guerras, que no son pocas. El complejo está ubicado 
      cerca del pentágono y a orillas del rio Potomac. El cementerio ocupa las tierras del general 
      E. Lee (general del bando sureño en la guerra civil americana). El cementerio es espectacular, 
      sobre todo la cantidad de tumbas que hay en el campo santo, la gran mayoría del mismo estilo, 
      solo cambia el estilo aquellas que tienen los restos de personalidades variadas. Al pasar por 
      el arco de seguridad te dan un plano del mismo para que te sea más fácil la visita ya que es 
      realmente grande el cementerio, la visita es gratuita.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Nosotros no nos encontramos con mucha gente, más bien poca lo que nos dio una visita de 
      auténtica paz durante toda la tarde. Como reseñable más allá de lo expuesto destacar la 
      casa del general E. Lee del siglo XVIII y que cuenta con una visita teatralizada que te 
      ayuda a meterte en la época en cuestión, en la planta de arriba de la casa-museo una 
      actriz vestida de época te cuenta la historia de la casa, es gratuita también. Podemos 
      destacar también las tumbas de Kennedy y Jackie, la tumba al Challenger (transbordador 
      espacial), así como de todos los famosos militares americanos (Patton, McArthur, etc…).
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
        Además, está la tumba al soldado desconocido donde hay una guardia en todo momento y todos 
        los días del año con su cambio de guardia pertinente, este es una auténtica obra de teatro 
        entre el soldado saliente el entrante y su superior, americanada total que nos hizo 
        bastante gracia.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      En el exterior del cementerio (nosotros lo buscamos incesablemente dentro) yendo por la 
      ruta 66 durante un minuto (xD) se encuentra la escultura al cuerpo de marines de los Estados 
      Unidos de América que representa la famosa imagen de los marines clavando la bandera en el 
      monte de Iwo Jima (Japón) durante la II Guerra Mundial, la escultura no nos la esperábamos 
      de esas dimensiones, alucinante.
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md12 col-sm-12 animated fadeIn slower mb-1 text-center">
      <img class="wasImagen1 slower" src="../../../assets/imagenes/galeriaNy/IMG_1144.JPG">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Estaba anocheciendo y decidimos cruzar el puente del rio Potomac, donde estaban entrenando 
      las traineras universitarias, andando y donde nos sobrevoló el helicóptero de Obama. 
      Recorrimos el Mall andando hasta nuestra casa para verlo de noche y reconocer el terreno, 
      las distancias son terribles ¡que cansancio! Nos paramos en el memorial a Abraham Lincoln 
      para observar todo el paseo donde se te vienen a la cabeza las escenas del “Planeta de los 
      simios” o “Forrest Gump”.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Llegábamos a casa casi sin poder andar de la paliza que llevábamos encima, pero con la 
      ilusión de estar en Washington D.C. y las ganas de empezar el nuevo día para dedicárselo, 
      compramos una cena y desayuno en un súper que nos costó algo caro (17$).
    </div>
  </div>
</div>
<div class="row mt-1">
  <div class="col-md12 col-sm-12 animated fadeIn slower mb-1 text-center">
    <img class="wasImagen2 slower" src="../../../assets/imagenes/galeriaNy/IMG_1063.JPG">
  </div>
</div>

<app-pagina-siguiente
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde" 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde">
</app-pagina-siguiente>
