.rounded-circle {
  width: 150px;
  height: 150px;
}

@media (max-width: 768px) {
  .rounded-circle{
    width: 125px;
    height: 125px;
  }
}

.rounded-circle:hover {
  filter: saturate(180%);
}

img {
  max-width: 100%;
}