
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-outline-dark" [routerLink]=[anteriorDonde]>
        <img src="../../../assets/imagenes/Anterior.png">
        {{ anterior }}
      </button>
    </div>
    <div class="col text-center">
      <button type="button" class="btn btn-outline-dark" [routerLink]=[siguienteDonde]>
        {{ siguiente }}
        <img src="../../../assets/imagenes/Siguiente.png">
      </button>
    </div>
  </div>
</div>