<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
      <h1 class="tituloViaje text-center">Castilla la Mancha</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-center">
      <img class="panoramica mt-5 mb-5 slower" src="../../../assets/imagenes/galeriaCastilla/cuencapano.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower">
      <h1 class="tituloDiario text-center mb-3">Cuenca</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Cuenca es otra de las ciudades castellanas que hay que visitar al menos una vez en la vida, sus casas
      colgadas y sus calles intramuros que te trasladan al Siglo de Oro por su arquitectura de edificios
      centenarios, todo esto no dejará lugar a dudas para catalogarla de ciudad preciosa y mágica. Por algo fue
      denominada como Patrimonio de la Humanidad en 1996.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Por su ubicación imposible en las montañas y el transito del río Júcar a sus pies sus pobladores se remontan
      al Paleolítico Superior, ahí es nada, pero es bajo dominio musulmán cuando se construye la primera fortaleza
      en Qünka, nombre árabe. Conquistado por Alfonso VIII en 1177 fue uno de los grandes fueros castellanos del
      medievo. Desde el siglo XVII la ciudad fue en decadencia hasta nuestros días que se trata de una de las
      ciudades con más nombre de la España vaciada, hoy intentan hacer crecer el turismo gracias a su enorme
      patrimonio cultural.
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Por empezar por algún lado podemos irnos al Convento de San Pablo, este convento construido por orden de los
      dominicos en 1523 es un lugar sin parangón, se encuentra en una colina que une con las casas colgadas por el
      puente del mismo nombre, hoy es un parador. Por ese mismo puente cruzaremos, pero antes unos datos, está a
      40 metros de altura, construido en hierro y madera, prepararos para pasar vértigo, aunque no padezcáis mucho
      del mismo, pero la experiencia mires a donde mires no tiene igual.
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 animated fadeIn slower mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaCastilla/cuenca2.jpg" class="imgcronica slower">
    </div>
    <div class="col-md-4 animated fadeIn slower mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaCastilla/cuenca3.jpg" class="imgcronica slower">
    </div>
    <div class="col-md-4 animated fadeIn slower mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaCastilla/cuenca4.jpg" class="imgcronica slower">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Al otro lado nos esperan las famosas casas colgadas, imagen de la ciudad. Desde luego lo primero que nos
      preguntamos es cómo es posible que hace más de 600 años construyesen las casas ahí. Hoy solo quedan tres, se
      pueden visitar la casa de la Sirena, hoy restaurante, y la casa del Rey, hoy convertido en museo de arte
      contemporáneo, nosotros elegimos este y nos encantó el contraste entre el arte actual y el vetusto edificio.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      La catedral se mandó construir con la toma de la ciudad por orden del monarca, aunque en España se construía
      en románico esta fue construida en estilo gótico por la influencia normanda de la corte de la reina Leonor
      de Plantagenet. Lo más destacable de su estilo es el primer gótico que no se estila en España y la hace
      única, parece francesa. El precio es de 4,5€.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      En la misma plaza Mayor se encuentran tanto la catedral, como el ayuntamiento barroco, como las casas de
      colores y el convento de las Petras. Es una zona de bares para tomar algo a cualquier hora.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      El barrio del Castillo es una pasada, no por el castillo en sí que se encuentra en ruinas y solo queda el
      arco de Bezudo sino por el paseo alrededor del casco histórico entre las hoces del Júcar y el Húecar.
      También podréis visitar la Torre de Mangana, torre que parece más florentina que castellana y el convento de
      San José, hoy convertido en hotel.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      En la parte baja podemos encontrar el barrio de San Martín y sus famosos rascacielos, curiosas edificaciones
      de hasta diez alturas al borde del Júcar, nosotros nos hospedamos en uno y las ventanas dan al río, vamos
      que puedes saltar al agua sin ningún obstáculo en verano, ¡por favor no lo hagáis!
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 animated fadeIn slower mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaCastilla/cuenca5.jpg" class="imgcronica slower">
    </div>
    <div class="col-md-6 animated fadeIn slower mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaCastilla/cuenca6.jpg" class="imgcronica slower">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower">
      <h1 class="tituloDiario text-center mt-3 mb-3">SEGÓBRIGA</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-center">
      <img class="panoramica mt-5 mb-5 slower" src="../../../assets/imagenes/galeriaCastilla/segobriga.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Si vais desde Madrid os pilla de paso el parque arqueológico de Segóbriga, antiguo poblado celtibero y
      después romano cerca de Saelices. Se han encontrado restos del segundo milenio antes de Cristo, por lo tanto
      de procedencia olcades o carpetanos. Hoy se conservan restos de este periodo, del periodo posterior, romano
      y del visigodo.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Tenemos un centro de interpretación para documentarnos antes de la visita y que nos ponga en el contexto
      histórico que visitaremos, aunque se encuentra en ruinas como es obvio podemos ver bien su distribución y
      está en unas condiciones bastante mejor que las de otros restos arqueológicos de España, a nosotros nos
      gustó mucho la parada. Como nota negativa, la cartelería del sitio se encuentra en mala conservación y es
      imposible leerla insitu.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 mt-3 animated fadeIn slower text-justify conclusiones">
      Como conclusión de nuestra visita en la que estuvimos un fin de semana, es que Cuenca se puede visitar en un
      solo día, pero que es agradable para pasar un finde allí. Como hemos dicho la ciudad no os dejará
      indiferente, tiene algo mágico. Está a tiro de Piedra desde Madrid o Valencia. En cuanto a Segóbriga si sois
      enamorados de la historia no lo podéis perder, sino lo sois está en ruinas y hay que echar imaginación para
      ver lo que supuso esta población milenaria. Que decir de la gastronomía, que ricos los zarajos y las migas o
      el ajo arriero.
    </div>
  </div>
</div>
