<div class="container animated fadeIn slower">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="tituloViaje text-center mt-7">10 días en Rumanía</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <img class="panoramica mt-5 mb-5 slower" src="../../../assets/imagenes/galeriaRumania/rum1.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1 class="tituloDiario text-center mb-3">Datos del viaje</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-justify">
            Este RoadTrip por Rumanía era nuestro viaje de boda y aunque habíamos barajado otros destinos como Cuba y
            Vietnam nuestros planes se trastocaron porque Mey estaba embarazada y no queríamos arriesgarnos en destinos
            demasiado exóticos, por lo que la decisión fue difícil (si es que se puede catalogar como difícil a elegir
            destino), queríamos exótico, pero a la vez sentirnos en un espacio de confort, Europa, y voila! Nos íbamos a
            recorrer Rumanía, un país poco asiduo en las conversaciones viajeras, aunque es cierto que se está poniendo
            de moda estos últimos años.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-justify">
            En principio el viaje iba a ser exclusivamente por suelo rumano, pero como íbamos 14 días empezamos a echar
            el ojo fuera, ¿Bulgaria?, Moldavia?, Ucrania? Pero fue un poco complejo decidirnos por alguno y elegimos
            visitar con cierta profundidad Rumanía, así que fijamos el objetivo en el mismo y si el tiempo nos era
            favorable pasaríamos al norte búlgaro, pero nos íbamos a dejar llevar y que el viento nos marcase el rumbo,
            como así sería.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-justify">
            Para el viaje tan solo reservamos el coche de alquiler (166,19€ con seguro a todo riesgo
            para 14 días, una pasada!) y la primera noche en Bucureşti, ya que llegábamos tarde el resto
            iba a ser pura improvisación sobre una ruta más o menos prevista hacia el norte por Bucovina y
            regreso por los Maramures.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-justify">
            El vuelo lo habíamos reservado con Ryanair de Madrid a Bucureşti (Otopeni) por 79€ cada uno.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-justify">
            Con estos datos íbamos a lanzarnos a la aventura, que para ser honestos habíamos puesto
            el listón alto y llevábamos unas expectativas muy grandes, algo que no siempre es bueno.
            El país de Drácula nos esperaba, con sus regiones rurales del norte como los Maramureș,
            los preciosos Cárpatos y las curvas de la Transfăgărășan.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-justify">
            Posteriormente decidiríamos no ir a Bucovina y si pasar más días en Bulgaria, no sabemos lo que nos habría
            parecido el noreste rumano, pero Bulgaria nos ha encantado, de haberlo sabido habríamos dedicado más días a
            este precioso país y menos a Rumanía, sus gentes nos han parecido más amables, los precios son prácticamente
            iguales, incluso más barato en Bulgaria, las carreteras son más cómodas también. En fin, nos quedamos con
            Bulgaria entre los dos si hemos de elegir, claro que Rumania tiene muchos atractivos como podréis imaginar.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Alquiler y conducción de coche en Rumania</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-justify">
            La experiencia de este viaje por carretera y coche de alquiler para nosotros ha sido bastante positiva, los
            precios del alquiler son una pasada, el precio de la gasolina es ligeramente más barato que el de España. La
            conducción es un poco más agresiva y las carreteras rumanas son un poco peligrosas, el tráfico es muy lento
            debido a las obras y los grandes atascos que esto provoca, además encontramos muy pocas autopistas y son
            carreteras de doble sentido que pasan por las poblaciones. En el caso de Bulgaria todo es bastante mejor
            para la circulación. El cruce de frontera es penoso para ser una frontera europea como ya os detallaremos.
            Algo peligroso para el tráfico es la cantidad de perros abandonados que hay en Rumania y que es fácil que
            provoquen accidentes. Como conclusión hay que ir con bastante atención a la carretera y con cuidado, sin ser
            un drama, nosotros no hemos tenido ningún percance.
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>