<div class="container animated fadeIn slower">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloViaje text-center mt-7">10 días en Rumanía</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <img class="panoramica mt-5 mb-5 slower" src="../../../assets/imagenes/galeriaRumania/rum1.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloDiario text-center mb-3">Datos del viaje</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Este RoadTrip por Rumanía era nuestro viaje de bodas y aunque habíamos barajado otros 
      destinos como Cuba y Vietnam nuestros planes se trastocaron por que Mey estaba embarazada 
      y no queríamos arriesgarnos a destinos demasiado exóticos, por lo que la decisión fue difícil 
      (si es que se puede catalogar como difícil a elegir destino), queríamos exótico pero a la vez 
      sentirnos en un espacio de confort, Europa, y voila! Nos íbamos a recorrer Rumanía, un país 
      poco asiduo en las conversaciones viajeras.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      En principio el viaje iba a ser exclusivamente por suelo rumano, pero como íbamos 14 días 
      empezamos a echar el ojo fuera, Bulgaria?, Moldavia?, Ucrania? Pero fue un poco complejo 
      decidirnos por alguno y queriendo visitar con cierta profundidad Rumanía, así que fijamos el 
      objetivo en el mismo y si el tiempo nos era favorable pasaríamos al norte Búlgaro, pero lo 
      dicho que el viento nos llevase.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Para el viaje tan solo reservamos el coche de alquiler (166,19€ con seguro a todo riesgo 
      para 14 días, una pasada!) y la primera noche en Bucureşti, ya que llegábamos tarde el resto 
      iba a ser pura improvisación sobre una ruta más o menos prevista hacia el norte por Bucovina y 
      regreso por los Maramures.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      El vuelo lo habíamos reservado con Ryanair de Madrid a Bucureşti (Otopeni) por 79€ cada uno.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Con estos datos íbamos a lanzarnos a la aventura, que para ser honestos habíamos puesto 
      el listón alto y llevábamos unas expectativas muy grandes, algo que no siempre es bueno. 
      El país de Drácula nos esperaba, con sus regiones rurales del norte como los Maramureș, 
      los preciosos Cárpatos y las curvas de la Transfăgărășan.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Posteriormente decidiriamos no ir a Bucovina y si pasar más días en Bulgaria, no sabemos lo que
      nos habría parecido el nor-este rumano, pero Bulgaria nos ha encantado, de haberlo sabido habriamos
      dedicado más días a este precioso país y menos a Rumanía, sus gentes nos han parecido más amables,
      los precios son practicamente iguales, incluso más barato Bulgaria, las carreteras son más cómodas.
      En fin, nos quedamos con Bulgaria entre los dos.
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
  