<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloViaje text-center mt-5">3 días en Extremadura</h1>
    </div>
  </div>
  <div class="justify-content-center row mt-2 mb-2">
    <div class="col-md-6 col-sm-12 animatedzoomIn">
      <iframe src="https://www.google.com/maps/d/embed?mid=1Q7M76-nVmc01rVR1JE8MkFS5kdk" width="100%" height="300"></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloDiario text-center mb-3">Mérida</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Hablar de Mérida podría llevarnos horas dada la gran historia que recae en sus monumentos 
      desde la época romana, pasando por la morisca y la posterior reconquista, pero sin duda que 
      es fácil impregnarse de ella paseando por sus calles. Es uno de los lugares de la geografía 
      española donde más restos de la época del imperio romano se han conservado y que atestiguan 
      lo que fue una antigua colonia de retiro para las legiones romanas, era una forma de pago y 
      reconocimiento al trabajo de los soldados por parte del emperador. Se convirtió en la capital 
      de la provincia lusitana hasta la caída del imperio romano, aunque su esplendor no termino aquí 
      puesto que se convirtió por un periodo de tiempo en capital visigoda. Cayó en manos musulmanas 
      en el 713 hasta su conquista por los cristianos en 1230.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      El día comenzaba pronto para aprovechar el buffet del desayuno y emprender el camino a Mérida, 
      casi 100 kilómetros separa estas dos ciudades. Llegábamos a la antigua ciudad romana sobre las 
      11 de la mañana y dejamos el coche en la c/Cabo Verde (donde es zona de libre estacionamiento).
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      La primera parada la hicimos, como no, en el complejo del teatro y anfiteatro romanos, pegados 
      uno al otro, donde se puede comprar la entrada conjunta de los monumentos de la ciudad por 15 €. 
      El anfiteatro construido a finales del siglo I a.C. sirvió de espectáculo a los pobladores de 
      Emérita Augusta con sus combates de gladiadores entre otros, podemos incluso bajar a la arena, 
      además tiene una recreación de los diversos combatientes que lucharon y derramaron su sangre. 
      A continuación pasamos al Teatro Romano construido en el 15 a.C. por orden del cónsul Marco 
      Vipsanio Agripa, aunque nosotros no tuvimos la suerte debe ser espectacular acudir a una 
      representación teatral en dicho recinto. Para acabar con la visita del complejo paseamos por 
      lo que fuera el foro de la colonia, entre esculturas clásicas, y sus termas. Es una visita 
      completamente imprescindible.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Seguimos nuestra visita por Mérida hacia el sur para visitar la famosa casa de Mitreo, son los 
      restos de una casa romana del siglo I a. C. de unos 400 m2 donde podemos observar a la 
      perfección lo que fue la distribución de esta “domus” señorial, con restos de varios de 
      los mosaicos que adornaban el suelo y de las pinturas de las paredes, como dato curioso 
      la construcción de varias habitaciones bajo el suelo para evitar el intenso calor del verano 
      lusitano. En el mismo recinto podemos ver la necrópolis de “los columbarios”, es un cementerio 
      con tumbas de familias romanas y de los primeros cristianos.
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaExtremadura/IMG_2984.JPG" class="extremaduraImagen2 skeleton">
    </div>
    <div class="col-md-6 col-sm-12 mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaExtremadura/IMG_2968.JPG" class="extremaduraImagen2 skeleton">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaExtremadura/IMG_2985.JPG" class="extremaduraImagen2 skeleton">
    </div>
    <div class="col-md-6 col-sm-12 mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaExtremadura/IMG_3004.JPG" class="extremaduraImagen2 skeleton">
    </div>
    </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Hacia el norte nos encontramos con la Alcazaba, fortaleza musulmana construida por Abderramán 
      II, en el 835 siendo con ello la fortaleza árabe más antigua que se conserva en la península, 
      el grueso muro de 10 metros de alto por 2,70 de ancho lo hacía casi inexpugnable, además cuenta 
      con el Aljibe en su interior (pozo que daba directamente al Guadiana), su gran tamaño le 
      permitía albergar un gran número de soldados que controlaban a la rebelde Emérita. Desde sus 
      altos muros hay una bonita vista, especialmente del Guadiana y su puente romano.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Siguiendo el paseo por la vera del Guadiana llegábamos a la zona arqueológica de la Morería, 
      restos de varios comercios y cruce de calles de la época romana que curiosamente están bajo 
      un edificio de oficinas.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Se acercaba la hora de comer y fuimos hacia la zona de bares que habíamos visto, pasando por 
      el Arco de Trajano y el museo de arte visigótico, este museo es uno de las mayores colecciones 
      arqueológicas del pueblo visigodo.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Para comer nos decidimos por la bodeguilla, es un local modernete y con buenos platos a buen 
      precio, aunque a medida que se va llenando el personal no daba abasto, además bastante borde a 
      excepción del metre, si sois impacientes no es vuestro sitio. Nos costó 29,60 los dos, dos menús.
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaExtremadura/IMG_3002.JPG" class="extremaduraImagen2 skeleton">
    </div>
    <div class="col-md-6 col-sm-12 mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaExtremadura/IMG_3003.JPG" class="extremaduraImagen2 skeleton">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Para finalizar nuestra visita por esta pequeña Roma íbamos a visitar el templo de Diana y el 
      pórtico del foro municipal, antes de coger el coche nos acercamos a ver el circo romano, que 
      impresiona mucho por su gran tamaño 400x100 metros con capacidad para 30.000 espectadores y 
      que aunque está en un estado malo se ha conservado más que el de la propia Roma. Para finalizar 
      nuestra visita cogíamos el coche para ir hasta el Acueducto de los Milagros datado en el 
      siglo I d. C. y que está muy bien conservado.
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
        Nos llevabamos un gran recuerdo de está ciudad con tanta historia y el valioso conjunto de 
        restos arqueológicos. Con el atardecer poníamos rumbo a nuestra siguiente etapa, Cáceres.
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
