<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloViaje text-center mt-7">10 días en Rumanía</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-3 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Castillo Corvinilor y Sibiu</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <img class="panoramica mt-5 mb-5" src="../../../assets/imagenes/galeriaRumania/rum-10-7.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Nos tocaba un día muy esperado, tras un viaje de una hora llegábamos a las cercanías de Huendedora, aquí es
            donde se encuentra el castillo de Corvinilor, en el camino íbamos viendo zonas industriales completamente
            abandonadas de la época soviética de Ceauşescu, que más tarde nos daríamos cuenta de que entre todos esos
            viejos hierros se encuentra gente trabajando, espectacular! Es una zona que lleva sin dar una reparación a
            sus instalaciones desde los ochenta como mínimo es alucinante la imagen postapocalíptica de la zona, parece
            un escenario de la saga Mad-Max, a Marcos le encanta.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Llegamos al castillo, la entrada es barata 6,42 €, hay que tener en cuenta que Marcos casi no paga por la
            tarjeta de estudiante, es un mamotreto medieval de los de película del rey Arturo, está en un estado de
            conservación complicado incluso con zonas de cierto peligro, cuenta con muy poca o ninguna decoración, lo
            que le da un toque también, da la imagen perfecta de castillo de vampiros, a nosotros nos ha encantado, una
            auténtica pena la luz tan complicada en esta época del año, es imposible hacer fotos.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            El castillo de Corvin fue mandado construir en el siglo XV por Juan de Hunyad con un estilo
            gótico-renacentista, dice la leyenda que su foso fue excavado por tres prisioneros turcos durante quince
            años para buscar agua a cambio de su libertad, pero el rey murió antes y la reina no hizo honor a la palabra
            dada por Juan y se dice que una leyenda reza “tienes agua, pero no alma”. Este gran foso sirve de primera
            protección, la siguiente son sus altos muros, para entrar hay que cruzar por un puente de madera no apto
            para quien tenga vértigo.
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-2 mb-2">
            <iframe width="100%" height="300" src="https://www.youtube.com/embed/R7wFak9OFxk" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-md-8 col-sm-12 animated fadeIn slower text-justify mt-3">
            <p>Después de dedicarle hora y media estamos listos para ir a Sibiu que está a 90 kilómetros pero por fin en
                una buena carretera que tardamos unos 50 minutos, hemos cogido el hotel Am Ring, en la plaza grande con
                vistas a la misma, un hotelaco de 4 estrellas, 40 € la noche, y hemos ido a comer al sitio que
                recomiendan en todos lados, Crama, 14,56 €, tiene encanto es muy folclórico y el postre estaba
                riquísimo, pero la comida tampoco es la mejor que hemos probado en Rumanía.</p>
            <p>Después hemos conocido el centro de la ciudad que está chulísimo, es encantadora, hemos ido a sus dos
                catedrales, la ortodoxa, es espectacular por dentro y todo es gratis, menos subir a la torre del
                Consejo, 0,40 €, que tiene vistas a toda la ciudad, ah bueno, también hemos pagado en la iglesia
                católica, como no, que encima nos han estafado porque está en restauración y cobran menos por ello, pero
                es que no se ve absolutamente nada, que poca honestidad! El centro se visita en unas pocas horas, así
                que con medio día tenéis de sobra para visitar la ciudad. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 animated fadeIn slower mb-2 text-center">
            <img src="../../../assets/imagenes/galeriaRumania/rum-10-8.jpg" class="rumaniaImagen10">
        </div>
        <div class="col-md-4 col-sm-12 animated fadeIn slower mb-2 text-center">
            <img src="../../../assets/imagenes/galeriaRumania/rum-10-9.jpg" class="rumaniaImagen10">
        </div>
        <div class="col-md-4 col-sm-12 animated fadeIn slower mb-2 text-center">
            <img src="../../../assets/imagenes/galeriaRumania/rum-10-10.jpg" class="rumaniaImagen10">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Para cenar elegimos cenar elegimos el Kulinarium por 16,60 € está en la plaza pequeña, en esta había un
            mercadillo de gitanos rumanos muy singular, vestidos con todo el folclore de la Rumanía nómada, curioso de
            ver desde luego. Aunque al salir hacia bastante fresquito nos dimos una vueltecilla por Sibiu para verla por
            la noche, estaba semivacía. Una pena que justo estaban instalando el festival de cine en la plaza Grande y
            nos impidió una buena vista de la misma.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Mañana es día de regreso a Bucureşti para conocerla, tenemos muchas ganas de visitar los puntos claves de la
            Rumanía soviética y de las construcciones megalómanas de Ceauşescu, también era conocida como la París del
            este (no sé cuántas veces hemos escuchado que es o la París o la Venecia de no sé qué país a otras ciudades
            jejeje).
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-3 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaRumania/rum-10-11.jpg" class="rumaniaImagen10">
        </div>
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-3 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaRumania/rum-10-12.jpg" class="rumaniaImagen10">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 conclusiones animated fadeIn slower text-justify">
            Conclusión de la jornada: merece mucho la pena el castillo de Corvinilor y su aire medieval de gran
            fortaleza en tiempos de guerras constantes, impresiona ver la sociedad postcomunista de Huendedora, es un
            contraste muy marcada. Por otro lado, la ciudad de Sibiu es muy bonita al estilo de Brasov, todo bastante
            limpio y ordenado marcando diferencias con el resto de Rumania, más en decadencia.
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>