<div class="container">
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower">
      <h1 class="tituloViaje text-center mt-7">Asturias</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-3 mb-5 justify-content-center">
      <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower">
      <h1 class="tituloDiario text-center mb-3">Avilés</h1>
    </div>
  </div>
  <div class="row mt-2 mb-2">
    <div class="text-center col-md-12 col-sm-12 animatedzoomIn">
        <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1MkZiQMhDhDMr6RHYreDx1PCzFqa0b0Bv" width="100%"
            height="300"></iframe>
    </div>
</div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      La gran ciudad industrial de Asturias, Avilés. Claro con eso en el ideario colectivo es difícil que alguien
      ajeno a Asturias se plantee la visita de esta ciudad olvidada de la región. Nosotros quisimos darle una
      oportunidad que tantos le niegan.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Por dónde empezar… pues sin duda por el casco antiguo, declarado como Conjunto Histórico-Artístico. Como
      curiosidad quiero contaros que es la segunda ciudad española con más soportales, por detrás de Santiago de
      Compostela.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Podemos encontrar por el barrio de Sabugo o de los marineros en el que destacamos la plaza Carbayo y la
      iglesia Vieja de Sabugo, del siglo XIII. Pero sobre todo la pequeña calle de Bances Candamo, donde perderás
      mucho tiempo haciendo fotos. También la iglesia de Santo Tomas de Canterbury. La estatua de la monstrua,
      sobre un personaje de la corte de Carlos II, Eugenia Martínez Vallejo, una persona con una enfermedad
      congénita que servía para el escarnio de los cortesanos. Continuamos por el Mercado de Abastos y la plaza
      del Camposagrado con el edificio que alberga la Escuela Superior de Arte.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Otro de los puntos a destacar es la iglesia de San Antonio de Padúa del siglo XII, más arte románico en
      Asturias! Como curiosidad, aquí se encuentra enterrado el fundador de la primera ciudad de EEUU, Pedro
      Menéndez.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Llegando por cualquiera de las preciosas calles a la Plaza de España o El Parche nos encontraremos en el
      centro neurálgico de la ciudad, donde se encuentra el Ayuntamiento. Solo un poco más arriba nos encontramos
      con la más bella de las plazas de Avilés, la de Domingo Álvarez Acebal con su iglesia de San Nicolás de Bari
      y el palacio de Balsera. Seguimos subiendo por su calle más bonita y característica, 250 metros de
      soportales del siglo XVII, la calle Galiana, que nos llevará hasta el Hórreo Carbayedo.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      De lo que más nos gustó fue el cementerio de la Carriona, a las afueras de la ciudad, forma parte de la red
      europea de cementerios con interés artístico. Aquí se encuentra la escultura funeraria galardonada como la
      mejor de España en 2015 (nosotros tampoco sabíamos que existiese dicho galardón).
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Por último recomendar el museo de las anclas Philippe Cousteau junto a la playa de las Salinas.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Para comer elegimos Terra Astur, una franquicia que hay en Asturias, que a nosotros no nos gustó demasiado,
      comida correcta sin más, es cierto que algunos platos que veíamos tenían muy buena pinta. Es una sidrería
      con mucho ambiente al puro estilo asturiano. Comimos los dos por 38 €.
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1 align-self-center text-center">
      <img src="../../../assets/imagenes/galeriaAsturias/avilescomida1.jpg" class="imgcronica slower"
        alt="Tierra Astur, Longaniza asturiana" title="Tierra Astur, Longaniza asturiana">
    </div>
    <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1 align-self-center text-center">
      <img src="../../../assets/imagenes/galeriaAsturias/avilescomida2.jpg" class="imgcronica slower"
        alt="Tierra Astur, pimientos de Padrón" title="Tierra Astur, pimientos de Padrón">
    </div>
    <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1 align-self-center text-center">
      <img src="../../../assets/imagenes/galeriaAsturias/avilescomida3.jpg" class="imgcronica slower"
        alt="Tierra Astur, Delicias camembert" title="Tierra Astur, Delicias camembert">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower text-justify conclusiones">
      Avilés es la gran desconocida de las tres ciudades asturianas, es verdad que hoy con internet lo es menos,
      creemos que algunas webs exageran en demasía su atractivo, que lo tiene sin duda, pero nosotros nos quedamos
      con Oviedo de las tres, quizá pongamos en segunda posición a Avilés por delante de Gijón. Es pequeñita y con
      medio día la hemos visitado.
    </div>
  </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
