<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h1 class="tituloViaje text-center mt-5">10 días en Rumania</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-5 mb-5 animatedzoomIn justify-content-center">
        <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
        <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
        <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
        <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
        <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
        <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="tituloDiario text-center mb-3">Región de los Maramureş, Cementerio Alegre y Baia Mare</h1>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
          <img class="panoramica animatedzoomIn mt-5 mb-5" src="../../../assets/imagenes/galeriaRumania/rum-8-1.jpg">
        </div>
      </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Hoy salíamos de Transilvania para ir a la región de los Maramureş, que es la parte más al norte 
        de Rumania haciendo frontera con Ucrania, como habíamos dicho no fuimos a la región de Bucovina, 
        que seguro merece la pena con algo más de tiempo, es una región con un nivel adquisitivo menor al 
        de la ‘rica’ Transilvania y de carácter destacadamente agrario, se caracteriza por sus iglesias de 
        madera, en rumano bisericas de lemn, hay muchas pero son 9 las que forman del patrimonio de la 
        Unesco.
      </div>
    </div>
    <div class="row mt-2 mb-2">
      <div class="text-center col-md-6 col-sm-12">
        <img class="imagenRumania8 animatedzoomIn" src="../../../assets/imagenes/galeriaRumania/rum-8-2.jpg">
      </div>
      <div class="text-center col-md-6 col-sm-12 animatedzoomIn">
        <iframe src="https://www.google.com/maps/d/embed?mid=1FLePpJofw9jz3qaTSEY411vlqH9iay2S" width="100%" height="300"></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Tardamos unas 4 horas en llegar desde Sighişoara por carreteras malas y con el paisaje un poco 
        ‘feo’ hasta entrar en los Maramureş que todo cambia, en esta época del año, otoño, cada árbol 
        tiene un tono diferente y es una auténtica pasada los ver la amplia gama cromática de los bosques. 
        Si ya os había mencionado que el país era un poco “ochentero” esta zona es la prehistoria europea, 
        lo digo con todo el respeto y el gusto por encontrar este tipo de lugares que aún hay en Europa, 
        todas las señoras van vestidas de época con pañuelos en la cabeza y faldas con calcetines, se ve 
        a todo el mundo trabajando en el campo y te cruzas con mil carruajes de caballos, la gasolina es 
        cara, más teniendo en cuenta que el salario es de unos 400 € y el precio del litro es similar al 
        español.
        </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Las iglesias de madera son una pasada de los siglos XVII y XVIII, todas con un cementerio 
        alrededor en el que la gente planta cosas dentro del hueco de la lápida y molan mogollón. 
        Cada 15/20 km hay una iglesia en los diferentes pueblos, así que no te aburres, y cuestan 1 € 
        entrar cada una o directamente gratis, siempre y cuando estén abiertas porque en algunos casos 
        tiene que abrirte algún vecino del pueblo que tiene las llaves.
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 mt-1">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/Vh7TzlB8Uwc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-md-8 col-sm-12 text-justify">
        <p>La paliza de la jornada viene porque teníamos muchas ganas de ver el “cementerio alegre” que 
          nos desviaba 45 km al norte (1 hora) justo pegado a la frontera con Ucrania, es un cementerio 
          con lápidas azules e inscripciones de cantares populares graciosos, si cómicos, la entrada cuesta 
          2,14 €. La vuelta hacia Baia Mare ha sido dura con el sol de frente, muchísimos camiones y un 
          puerto con curvas imposibles que no acababa nunca, pero bueno ha sido el esfuerzo para poder ir 
          a Bulgaria. Para los que vengáis a lo mejor no merece la pena hacer esta ruta en un solo día.</p>
        <p>Ya en Baia Mare que es la capital de los Maramureş, parece que capital le queda enorme ya que 
          es una ciudad muy pequeñita, casi un pueblo, hemos paseado por las 4 callecitas del centro que 
          es bastante mono, pero sirve de descanso del guerrero. Nos hospedamos en la pension Fontana, 
          noche más desayuno que es una delicia y parking por 40,25 €.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Como conclusión del día es que es un esfuerzo venir a Maramureş, pero ves otro mundo en las 
        poblaciones, avisamos que casi todas las casas son feas e inacabadas, las gentes parecen más 
        del siglo XIX en Europa que de las actuales europeas y los paisajes e iglesias son una 
        auténtica pasada.
      </div>
    </div>
  </div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
  