<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloViaje text-center mt-7">10 días en Rumanía</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-3 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Región de los Maramureş, Cementerio Alegre y Baia Mare</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower">
            <img class="panoramica mt-5 mb-5 slower" src="../../../assets/imagenes/galeriaRumania/rum-8-1.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Salíamos de Transilvania para ir a la región de los Maramureş, que es la parte más al norte de Rumanía
            haciendo frontera con Ucrania, como habíamos dicho no fuimos a la región de Bucovina, que seguro merece la
            pena con algo más de tiempo. Maramureş es una región con un nivel adquisitivo menor al de la ‘rica’
            Transilvania y de carácter marcadamente agrario con un carácter bucólico que se respira nada más entrar, se
            caracteriza por sus iglesias de madera, en rumano bisericas de lemn, hay muchas distribuidas por la región,
            pero son nueve las que forman parte del patrimonio de la humanidad de la Unesco desde 1999, os dejamos un
            mapa de estas iglesias que a nosotros nos ayudó bastante.
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="text-center col-md-6 col-sm-12 animated fadeIn slower">
            <img class="imagenRumania8 slower" src="../../../assets/imagenes/galeriaRumania/rum-8-2.jpg">
        </div>
        <div class="text-center col-md-6 col-sm-12 animated fadeIn slower animatedzoomIn">
            <iframe src="https://www.google.com/maps/d/embed?mid=1FLePpJofw9jz3qaTSEY411vlqH9iay2S" width="100%"
                height="300"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Tardamos unas cuatro horas en llegar desde Sighişoara por carreteras en mal estado y con el paisaje un poco
            “feo” hasta entrar en los Maramureş donde todo cambia respecto al paisaje, en esta época del año, otoño,
            cada árbol tiene un tono diferente y es una auténtica pasada ver la amplia gama cromática de los bosques. Si
            ya os había mencionado que el país era un poco “ochentero” esta zona es la prehistoria europea, lo digo con
            todo el respeto y el deleite que nos alcanza por encontrar este tipo de lugares que aún quedan en esta parte
            de Europa, todas las señoras van vestidas de época con pañuelos en la cabeza y faldas con calcetines, se
            puede ver a todo el mundo trabajando en el campo y te cruzas con mil carruajes de caballos, la gasolina es
            cara, más teniendo en cuenta que el salario es de unos 400 € y el precio del litro es similar al de España.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Las iglesias de madera son curiosas a la par que preciosas, en general datadas entre los siglos XVII y
            XVIII, son pequeñas de una planta con una parte estrecha de varios metros que asciende en forma de aguja,
            todas cuentan con un cementerio alrededor en el que la gente planta cosas dentro del hueco de la lápida, en
            definitiva, molan mogollón. Cada 15/20 kilómetros hay una iglesia en los diferentes pueblos, así que no te
            aburres, y cuesta un euro aproximadamente entrar a cada una o directamente gratis, siempre y cuando estén
            abiertas porque en algunos casos tiene que abrirte algún vecino del pueblo que tiene las llaves o hay algún
            teléfono para que llames, en rumano claro.
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/Vh7TzlB8Uwc" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-md-8 col-sm-12 animated fadeIn slower text-justify">
            <p>La paliza de la jornada viene porque teníamos muchas ganas de ver el “cementerio alegre” que nos desviaba
                45 kilómetros al norte (una hora más) justo pegado a la frontera con Ucrania, es un cementerio con
                lápidas azules e inscripciones de cantares populares graciosos, si me refiero a cómicos por raro que
                pueda parecer en un cementerio, la entrada cuesta 2,14 €. La vuelta hacia Baia Mare ha sido dura con el
                sol de frente, muchísimos camiones y un puerto con curvas imposibles que no acababa nunca, pero bueno ha
                sido el esfuerzo para poder ir a Bulgaria. Para los que vengáis a lo mejor no merece la pena hacer esta
                ruta en un solo día, todo dependerá de vuestra resistencia al coche y paciencia. </p>
            <p>Ya en Baia Mare que es la capital de los Maramureş, parece que capital le queda enorme ya que es una
                ciudad muy pequeñita, casi un pueblo, hemos paseado por las cuatro callecitas del centro que es bastante
                mono, pero creo que su visita sirve de descanso del guerrero más que por interés turístico. Nos
                hospedamos en la pensión Fontana, noche más desayuno que es una delicia y parking por 40,25 €. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Baia Mare es una ciudad minera en el que podréis visitar a través de sus museos la forma de vida y la
            historia de esta región. La zona centro que se reduce a unas pocas calles es de destacar el Bastión de los
            Carniceros en la Piata Izvoarele. La catedral de la Santísima Trinidad, de estilo barroco y construida en el
            siglo XVIII. Podemos subir también a la Stephen Tower desde donde podemos ver los tejados de la ciudad. En
            la propia plaza Izvoarele, que se encuentra completamente rehabilitada, podemos mezclarnos con la gente en
            un ir y venir o tomando algo en sus terrazas y encontramos los edificios más antiguos.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 conclusiones animated fadeIn slower text-justify">
            Como conclusión del día es que es un esfuerzo grande ir al cementerio alegre en un solo día desde
            Transilvania, pero ves otro mundo en las poblaciones que habitan la región, avisamos que casi todas las
            casas son un poco feas y están inacabadas una gran cantidad de ellas, las gentes parecen más la típica foto
            de campesinos del siglo XIX en Europa que de las que podemos imaginar actualmente de la Europa occidental y
            los paisajes e iglesias son una auténtica pasada. Maramureş que contrasta muchísimo con su vecina
            Transilvania, desde luego que estas dos zonas son las de mayor atractivo en Rumania.
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>