<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h1 class="tituloViaje text-center mt-5">10 días en Rumania</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-5 mb-5 animatedzoomIn justify-content-center">
      <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="tituloDiario text-center mb-3">Braşov, Castillo de Bran, Prejmer, Hărman</h1>
      </div>
    </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 text-justify">
        Tocaba hacer la visita diurna en la ciudad que nos hospedamos, Braşov, que la nocturna 
        nos había parecido que tenía mucho encanto y lo superó con creces, es una ciudad estilo 
        alemán, sin casi ningún turista en estas fechas. Tiene “poco” que visitar y por eso tendrá 
        pocos turistas, que digo yo eh.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 text-justify">
        Veníamos con el axioma de que como todas las ciudades rumanas se visitan en una mañana, 
        y desde luego en esta así era, la iglesia negra, la plaza con la casa del consejo, la 
        plaza Unirii y la iglesia de san Stefan, algo más retirado la torre negra, la torre 
        blanca y la fortaleza, que no es del señor de los anillos que está en Braşov ojo! Eso 
        si estás tres últimas no se pueden visitar y están en laderas empinadísimas, que el sol 
        pegaba y nos hicieron sufrir, Rumania es el país de las escaleras oh my god!, pero merece 
        la pena por las vistas de toda la ciudad
      </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 text-justify">
        Como habíamos salido a la calle pronto y somos unos turistas tipo chinos nos habíamos 
        visitado la city rápido y decidimos visitar el castillo de Bran que lo teníamos para el 
        día siguiente. Después de los 24 km y casi una hora de trayecto llegamos a la 13:00 a 
        Bran y nos fuimos a zampar a Bran Parc (14,90€), comida rumana en un restaurante 
        tradicional en el que las camareras van con los trajes tradicionales. Entramos al 
        castillo (14€) que cierra a las 16:00, es pequeñito pero muy bonito y curioso, lo 
        malo es que no hay perspectiva para hacer una foto en condiciones si no tienes un dron.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 text-justify">
        Bran es pequeñito y se ve rápido pero merece la pena darse una vuelta por el pueblecito, 
        está chulo.
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 text-justify">
      <p>Después nos volvimos por la carretera que nos había llevado a Bran que se encontraba en 
          obras a Braşov, en la que se tardaba muchísimo en hacer el pequeño trayecto, ya que como 
          casi todas las carreteras son de doble sentido y estaba cortado con semáforos para un único 
          sentido, un infierno. </p>
      <p>Fuimos a visitar las iglesias fortificadas que hay al ladito de Braşov que son una 
          autentica pasada el intentar imaginar como se vivía en esta parte del mundo en los siglos 
          XVI, XVII y XVIII con los otomanos hostigando permanentemente a los cristianos, que se 
          metían tras unos muros que defendían las iglesias y a resistir, la hostia!. Ambas son 
          patrimonio de la humanidad.</p>
      <p>Primero fuimos a la de Prejmer (3,5€), que es a la que entramos porque tiene más “chicha”, 
        es un recinto amurallado con pequeñas celdas donde habitaban los monjes y tenían sus 
        talleres que rodean un patio con una iglesia en el centro. Es difícil describiros con 
        palabras estar allí dentro casi sin nadie, entrando en las celdas. Después fuimos a la de 
        iglesia fortificada de Hărman</p>
    </div>
  <div class="col-md-6 col-sm-12 mt-1">
      <iframe width="100%" height="370" src="https://www.youtube.com/embed/O9kt86-ZjMk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

  <div class="row m-3 mt-5 mb-5 animatedzoomIn justify-content-center">
      <app-modal-foto7 [imagen]="imagen7" [imagenModal]="imagenModal7" [titulo]="titulo7"></app-modal-foto7>
      <app-modal-foto8 [imagen]="imagen8" [imagenModal]="imagenModal8" [titulo]="titulo8"></app-modal-foto8>
      <app-modal-foto9 [imagen]="imagen9" [imagenModal]="imagenModal9" [titulo]="titulo9"></app-modal-foto9>
      <app-modal-foto11 [imagen]="imagen11" [imagenModal]="imagenModal11" [titulo]="titulo11"></app-modal-foto11>
      <app-modal-foto10 [imagen]="imagen10" [imagenModal]="imagenModal10" [titulo]="titulo10"></app-modal-foto10>
      <app-modal-foto12 [imagen]="imagen12" [imagenModal]="imagenModal12" [titulo]="titulo12"></app-modal-foto12>
  </div>
</div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
  