<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
            <h1 class="tituloViaje text-center">5 días en Estocolmo, Birka y Drottningholm</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-4 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Estocolmo</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 mb-2 animated fadeIn slower">
            <img src="../../../assets/imagenes/galeriaEstocolmo/01dac4fdac1ebe141c93deb77d6223cd10b1acb1c2.jpg"
                class="panoramica slower" alt="Panoramica de Estocolmo, Museo Nacional"
                title="Panoramica de Estocolmo, Museo Nacional">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Nuestro vuelo salía a las diez y veinte de la mañana por lo que nos iba a dar tiempo de disfrutar del día un
            poco en Estocolmo. La experiencia del vuelo con Olivia y el carrito que nos asustaba un poco ha sido
            satisfactoria, embarcamos con prioridad y sin equipaje, Iberia nos dejó facturar sin pagar por ello por ir
            el vuelo completo, el carro nos lo bajaron en la misma puerta del avión a bodega, tras salir con un retraso
            de 25 minutos “piso el acelerador” y llegábamos sobre la hora prevista al aeropuerto de Arlanda.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Habíamos reservado ida y vuelta con el tren de alta velocidad por el carrito de Olivia, sino hubiésemos
            elegido ir en el bus, Flixbus por nueve euros el trayecto, pero escogimos el Arlanda Express que tarda solo
            20 minutos y es un poco más caro, 65,49€ y te deja en T-Centralen, evidentemente es divino ir en un tren de
            alta velocidad tan moderno, aunque lo dicho, más caro.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            En Estocolmo estaba cayendo un auténtico chaparrón y nos mojamos un poquito de camino al hostel, como
            habíamos parado en T-Centralen pasamos por el mercado de flores de Hötorget, que tiene un colorido
            embaucador para los que os guste hacer fotos artísticas, la ciudad se veía limpia y con buena pinta, pero
            llovía demasiado para poder disfrutarlo más.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Nos resguardamos en el hostel un poco hasta que escampó un poco y salimos como a las seis de la tarde a la
            calle dirección al mercado de Hötorget, retrocedimos los pasos hasta el mercado para ver un poco el
            ambiente, hay un centro comercial con restaurantes y puestos de comida donde te cocinan lo que compras en el
            momento, merece mucho la pena entrar a verlo, hay un ambientazo y es barato, podréis comer varios tipos de
            cocina de diferentes países. Y está justo detrás del Kulturhuset, centro de arte moderno que se encuentra en
            una plaza muy moderna con edificios de cristal dando un fuerte contraste con el centro histórico.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Después cruzábamos el puente de Norrbro hacia Gamla Stan donde tienes unas bonitas vistas hacia el
            Ayuntamiento y hacia Östermalm, la bienvenida te la da la puerta de Försvarsutskottet Sveriges Riksdag, al
            salir de esta te encuentras con la imagen del Palacio Real, donde no vive el rey en la actualidad, y
            comienza a ser todo realmente bonito.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Lo primero era hacer un pequeño reconocimiento de Gamla Stan y por supuesto ir a ver la plaza de Stortorget
            donde se encuentra la Academia Sueca que celebra la entrega de los premios nobel anualmente y las famosas
            casitas de colores con una construcción muy alemana. Es precioso. También ver la catedral de San Nicolás,
            que al estar entre calles tan estrechitas tiene una mala perspectiva para fotografiarla, pero es bastante
            bonita.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Advertidos por los blogs de lo pronto que cena la gente en Estocolmo y por qué no decirlo, nos moríamos de
            gula por probar comida sueca fuimos a buscar un restaurante que traíamos apuntado, el Gästabud, pero había
            una cola muy nutrida de gente esperando y al asomarnos vimos que el restaurante era tremendamente pequeño,
            tiene muy buenas críticas calidad/precio y eso se nota, así que empezó nuestro peregrinaje, no había sitio
            en ninguno de los que habíamos apuntado, todo completo, acabamos cenando en otro que nos aceptó por los
            pelos, el Kaffegillet, nos salió un pelín carete, 57,30€, Coca-Cola, agua, meatballs suecas, carne de reno
            y una porción de tarta de chocolate. Estaba bastante bueno y la atención es muy buena. Entro un grupo de
            asiáticos como de 50 personas y entendimos por qué casi no nos aceptaban.
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaEstocolmo/01680e17b25463f8b65b4d2ecaee1226109439e8c7.jpg"
                class="imgcronica slower" alt="Kaffegillet, Estocolmo" title="Kaffegillet, Estocolmo">
        </div>
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaEstocolmo/01cf4d4340b9ce9770e886caf5a61b981aa90b276e.jpg"
                class="imgcronica slower" alt="Kaffegillet, Estocolmo" title="Kaffegillet, Estocolmo">
        </div>
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaEstocolmo/0119eba186e708482204e918e6b1f816cf81553c64.jpg"
                class="imgcronica slower" alt="Kaffegillet, Estocolmo" title="Kaffegillet, Estocolmo">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Para acabar el día nos dimos una vueltecita por Gamla Stan de noche y por el borde de la isla para ver las
            vistas nocturnas, que molan mucho, aunque la iluminación es muy escasa en los monumentos, no les sacan un
            gran partido nocturno. Nos fuimos paseando por la calle Sveavägen que está llena de restaurantes donde se ve
            que salen a cenar los holmienses. Duchita y a dormir que nos esperaban los vikingos de Birka.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 text-justify conclusiones mt-5 p-5">
            Es precioso el centro histórico de Estocolmo conocido como Gamla Stan, sus calles empedradas y su
            arquitectura muy a semejanza de la alemana de los siglos XVIII y XIX son una delicia para los ojos,
            destacando Stortorget. En cuanto a los restaurantes son un poco pequeños con mesas muy próximas las unas a
            las otras, lo que supone un problema si vais con un carrito de bebé. Destacamos las albóndigas con puré de
            patata tan típicas de la gastronomía sueca.
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>