<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloViaje text-center mt-5">5 días en Nueva York</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-5 mb-5 animatedzoomIn justify-content-center">
      <app-modal-foto class="mb-1" [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 class="mb-1" [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 class="mb-1" [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 class="mb-1" [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 class="mb-1" [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 class="mb-1" [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h1 class="tituloDiario text-center mb-3">Times Square, Estación Central y MOMA</h1>
      </div>
    </div>
    <div class="col-sm-12 text-justify">
      Amanecía un nuevo día en Brooklyn y nos poníamos en movimiento bastante pronto, no sé si lo he 
      dicho pero el jet-lag nos hacía efecto cada mañana y nos despertábamos súper pronto, nos 
      dirigimos al autoservicio para comprar el desayuno y tomarlo en el metro de camino a la Grand 
      Central Terminal, es algo que hacen la mayoría de neoyorquinos, no pierden el tiempo en el 
      desayuno.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Llegábamos a la estación central donde tantas películas han sido rodadas, buscando como locos 
      las escaleras donde “Los intocables” apresan al contable de Al Capone, fuera de coña, era tal y 
      como nos lo habíamos imaginado y más, espectacular en todos los aspectos, es preciosa y pasan 
      miles de personas al segundo, digno de pararse un minuto a observarlo. Buscamos el punto donde 
      te hablas desde un lado y te escuchas en el otro pero no lo localizamos.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Hacia veradero frio cuando dejamos atrás la Grand Central Terminal y desviamos nuestra ruta 
      hacia el norte para ir a ver la sede de las Naciones Unidas, según salimos apreciamos el 
      Chrysler Building (para nosotros el más bonito de los rascacielos de New York), bordeándolo 
      llegamos al 230 de Park Av, emblemático rascacielos de la ciudad y llegamos a la St. Patrick´s 
      Cathedral la catedral de estilo neogótico construida en ladrillo blanco, en 1810, que hace un 
      curioso contraste con su entorno de hormigón y cristal.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Llegábamos al Rockefeller Center, que ya lo habíamos visto de noche, con su majestuoso árbol de 
      navidad y su pista de patinaje, ya se notaba que era viernes y toda esta zona estaba abarrotada 
      de gente, avanzábamos por el NBC Studios y el Radio City Hall bajo el sonido de los cientos de 
      voluntarios de Ejercito de la Salvación con sus equipos de música (navideña, claro está) en cada 
      esquina. Más adelante estaba la gran tienda de m&m´s, digna de ver pero carísima en comparación 
      de los precios en los supermercados. Se nos había hecho la hora de la comida y teníamos dos 
      opciones, Una hamburguesería “secreta” a la que se accede por dentro del hotel Le Parker o el 
      Elle´s Stardust (hamburguesería con actuaciones de actores de Broadway), fuimos a los dos sitios 
      y había más de una hora de espera, así que optamos por junior´s que “solo” era 20 minutos, 
      (51$ los dos), pero solo por sus pasteles ya merece la pena ir.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Habíamos dejado la visita a el MOMA para el viernes por la tarde ya que tiene entrada gratuita 
      a partir de las 16:00, nosotros llegamos media hora antes para intentar entrar de los primeros 
      y ya había algo de cola, esperamos 20 minutos y accedimos al museo. Que decir de este museo, es 
      uno de los más reconocidos mundialmente, visita imprescindible en la ciudad. Vimos grandes obras 
      de Van Gogh, Picasso, Andy Warhol, etc… El museo da para días, pero nos conformamos con esa tarde.
    </div>
  </div>
  <div class="row m-1">
    <div class="col-md-6 col-sm-12 mb-1 text-center">
      <img class="nyImagen3" src="../../../assets/imagenes/galeriaNy/IMG_0705.JPG">
    </div>
    <div class="col-md-6 col-sm-12 mb-1 text-center">
      <img class="nyImagen3" src="../../../assets/imagenes/galeriaNy/IMG_0702.JPG">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Cuando salimos ya era tarde y estábamos agotados y súper llenos de la comida de junior´s, 
      así que nos fuimos para “nuestro” barrio a descansar, lo de tomarnos algo por la noche 
      neoyorquina se nos estaba haciendo difícil, entre el frio y los casi 20 km que andábamos de 
      media al día estábamos para el arrastre.
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde" 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde">
</app-pagina-siguiente>
