<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
      <h1 class="tituloViaje text-center">10 días en Sicilia, Road Trip</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-4 mb-5 justify-content-center">
      <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower">
      <h1 class="tituloDiario text-center mb-3">Selinunte, Scala dei Turchi, Agrigento</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      El cuarto día de nuestro road trip por la isla que fue casa de tantas civilizaciones 
      amanecía soleado y tras recoger las mochilas dijimos hasta luego al norte, nos dirigíamos 
      al sur. Pasamos por delante de las salinas de Marsala aunque no paramos en ellas, tienen 
      pinta de ser curiosas, pero el tiempo es oro y no nos daba para todo con diez días.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Donde sí paramos fue en el parque arqueológico de Selinunte, otrora centro comercial de la 
      Magna Grecia en el periodo clásico, en conflicto permanente con Segesta, estos últimos 
      pidieron ayuda a los cartagineses y comandados por Aníbal fue destruida, hoy solo quedan 
      algunos restos que muestran la majestuosidad que tuvo allá por el siglo V a.C. la entrada 
      nos costó 3€, al decirles que Marcos era estudiante nos pasaron a los dos por el precio 
      reducido, son súper amables. El parque es bastante extenso y hacia calorcito, pero es una 
      delicia pasear por allí, además había poca gente.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Tras unas horas en el parque pusimos rumbo a la Scala dei Turchi o Escalera de los turcos, 
      es una roca de color blanco al pie de la playa que es muy curiosa de ver, recomendable la 
      parada si pasáis cerca, son unas bonitas vistas.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      A la hora de la comida llegábamos a la ciudad de Agrigento, es una de las más grandes de 
      Sicilia, se encuentra en una ladera y parece una pirámide escalonada, con auténticas cuestas 
      entre calle y calle, preparar los gemelos.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      La ciudad es conocida entre los turistas por el valle de los Templos, aparte de esto tiene un 
      pequeño casco histórico de tres calles, alrededor de la calle Atenea. La catedral de San 
      Gerald es desde luego lo más destacable. Desde cualquier punto de la ciudad tienes unas 
      excelentes vistas al valle de los Templos y al mar.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      No me preguntéis en qué hora decidimos que era una buena idea pedir una pizza de patatas fritas… 
      Eso sí, por 13€.
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 animated fadeIn slower text-center mt-2 mb-2">
      <img src="../../../assets/imagenes/galeriaSicilia/IMG-0158.jpg" class="imagenSicilia4 slower" alt="Agrigento" title="Agrigento">
    </div>
    <div class="col-md-6 col-sm-6 animated fadeIn slower text-center mt-2 mb-2">
      <img src="../../../assets/imagenes/galeriaSicilia/IMG_0092.JPG" class="imagenSicilia4 slower" alt="Agrigento" title="Agrigento">
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
      