<div class="container">
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower">
      <h1 class="tituloViaje text-center mt-5">4 días en Berlín</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-5 mb-5 justify-content-center">
      <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
  </div>
    <div class="row">
      <div class="col-sm-12 animated fadeIn slower">
        <h1 class="tituloDiario text-center mb-3">Treptower Park, East Side Galery, CheckPoint Charlie, Topografia del Terror</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 animated fadeIn slower text-justify">
        Llegamos al aeropuerto de Schönefeld a las 9:30 de la mañana baja una intensa lluvia. 
        Nada más salir del aeropuerto, nos dirigimos al metro berlinés. Como habíamos leído nada más 
        salir de la terminal nos encontraríamos con una pared y techo de cristal que nos llevaría al metro,
        decidimos sacar la Berlín Welcome Card para los 4 días, incluye descuentos en varias atracciones 
        y el bono del transporte público que luego comprobaríamos que es imprescindible. 
        Por los pocos días que íbamos a pasar en esa inmensa ciudad decidimos coger el metro más veces 
        de lo que lo hemos cogido en muchas de las ciudades que hemos visitado ya que ambos somos dos 
        personas que creemos que una ciudad se conoce pateándola. El tren que acerca a los viajeros a 
        la ciudad, tardó 40 minutos en llegar y otros 50 hasta Charlottenburg donde estaba nuestro hotel, 
        después de hacer el check-in nos lanzamos a realizar nuestra primera ruta.
      </div>
    </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">Fuimos en metro hasta Treptower Park para ver el monumento 
      memorial al ejército soviético que liberó Berlín de los nazis en 1945. Aunque está algo retirado 
      merece mucho la pena la visita. El paseo por el parque es larguito pero muy agradable a la vera 
      del rio, de camino puedes parar a ver el aeropuerto abandonado donde la gente va a volar sus cometas, 
      hacer ejercicio, etc. Después de esto, queríamos probar el famoso kebab de falafel de la ciudad que 
      no decepcionaría y andando llegábamos al puente de Oberbaumbrücke, antiguo puesto fronterizo de la 
      ciudad reconvertido en puente y que lleva a la East Side Gallery, la parte de muro más amplia 
      conservada y donde está el famoso beso de Honecker y Breznev, tomamos el metro hasta la siguiente 
      parada de nuestro mapa.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      En este punto decidimos alterar nuestra ruta y dejar una serie de lugares para la mañana siguiente.
      Veíamos las banderas americanas, era el Checkpoint Charlie, el más famoso de los pasos fronterizos
      del muro, el que se encontraba entre la zona americana y la soviética, con tres actores
      disfrazados de marines. Hacerte la mejor foto y en la que no se viesen el gran número de
      turistas allí congregados nos costaría 3€ por persona por lo que decidimos no hacer esa foto.
      Cerca se encuentra la exposición Topografía del Terror, justo donde se ubicaba el cuartel de 
      las SS y la Gestapo, una gran exposición del horror que desarrollaron estos mismos cuerpos,
      es gratuito. Un poco más adelante esta Potsdamer Platz, plaza que acoge la Berlinale y donde 
      se encuentra el semáforo más antiguo de Europa (1920) y el Sony Center, complejo de edificios
      comerciales.
  </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Siguiendo hacia el norte aparece silenciosamente el monumento al Holocausto compuesto por 
      2.711 bloques de hormigón de diferentes alturas. Desde este lugar se puede observar ya la puerta 
      de Brandemburgo (1788) y el Reichstag. Nosotros desde la puerta recorreríamos todo el parque de 
      Tiergarten, es enorme, hacia su monumento central. Al salir del parque decidimos poner fin a 
      nuestra visita y cogimos el metro hacia nuestro hotel, no estaba mal el día 30.524 pasos y 
      18,74 km. de distancia.
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde" >
</app-pagina-siguiente>
