<div class="container">
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower">
            <h1 class="tituloViaje text-center mt-7">Asturias</h1>
        </div>
    </div>
    <!-- <div class="row">
        <div class="row m-3 mt-3 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Llanes, playa del Cobijero, playa de Gulpiyuri, Mirador del Fitu
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Llanes lo tiene todo, playas, paisajes, acantilados, naturaleza, mar, monumentos, gastronomía y turistas,
            porque está masificado, de otras veces que hemos estado podemos afirmarlo, es cierto que este junio de 2020
            estaba muy desahogado por la psicosis al virus. Pero desde luego es una visita que no os defraudará, su
            centro está declarado Conjunto Histórico-Artístico por lo que no hace falta decir mucho más.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            En su centro histórico destaca el torreón y las murallas que datan del siglo XIII, la Basílica de Santa
            María o el Palacio de Castañaga, aunque sin duda perderse por sus antiguas calles es una delicia.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Otro de sus puntos destacados es sin duda los Cubos de la Memoria, unos bloques de hormigón que hacen de
            rompeolas en el puerto decorados por el pintor vaso Agustín Ibarrola, las vistas atraen tanto que os podéis
            pasar mirando al horizonte horas. Podéis continuar por el paseo del puerto hasta la plaza principal del
            concejo. Llanes está lleno de palacios indianos y villas de ensueño que han dado lugar al rodaje de
            numerosas series y películas, es el caso de la Villa Parres donde se rodó el Orfanato.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Por otro lado, tenemos sus playas ubicadas en pequeños acantilados completamente verdes como son el caso de
            la playa de Toró, con una concentración de piedras puntiagudas que la hacen especial, la playa de Cué que ya
            habíamos mencionado, la playa de Poo y la playa de El Sablón.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            En cuanto a sus restaurantes os podemos recomendar varios como son el caso de La casona, (comimos dos veces
            por 31,50 € y por 34€ para dos), con comida típica asturiana, otro, la sidrería D´Manolo, una pasada para
            comer pulpo, zamburiñas o un buen asado (comimos varias veces por 29€, por 54€ y por 56€, los dos). No os
            recomendamos El almacén, 23 € los dos, pero con una calidad y trato que nos dejaron que desear.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Ahora os hablaremos de dos playas muy curiosas, Como son la playa de Guiyipuri y la de Cobijero, se trata de
            playas interiores, sin salida al mar aparente (va bajo el suelo) que son preciosas, para llegar a ambas hay
            que andar como 1 kilómetro desde donde se aparca el coche en el caso de la del Cobijero accedes por un
            camino precioso sembrado de cuevas, una pasada vamos. Tener en cuenta las mareas para ir, si la marea está
            baja os las encontraréis sin agua como nos paso con la de Guayipuri.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Por último, hemos dejado el mirador del Fitu, se trata de un observatorio de la naturaleza. Se accede
            ascendiendo a 1.100 metros sobre el nivel del mar por una carretera que ha sido uno de los puertos de
            montaña de la vuelta ciclista a España (imaginaos el desnivel). Las vistas son insuperables, de verdad que
            merece subir, además si queréis hacer una ruta de senderismo os lo recomendamos, el paraje con caballos
            salvajes y el mundo a tus pies os dejara boquiabiertos.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower text-justify conclusiones">
            Pues que decir como conclusión de estos sitios, que Asturias paraíso natural, que estamos enamorados de
            Asturias, de su gente, de su gastronomía, de sus paisajes, de sus playas, de su historia. Que nos sentimos
            en casa cuando vamos, que no podéis dejar de conocer Asturias.
        </div>
    </div>
    <!-- <div class="row justify-content-center">
      <div class="col-sm-4 mt-2 animated fadeIn slower">
        <img src="../../../assets/imagenes/galeriaBerlin/IMG_2347.JPG" class="imgcronica slower">
      </div>
    </div> -->
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>