<div class="container">
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower">
            <h1 class="tituloViaje text-center mt-7">Cantabria</h1>
        </div>
    </div>
    <!-- <div class="row">
        <div class="row m-3 mt-3 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Valle del Liébana con Potes</h1>
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="text-center col-md-12 col-sm-12 animatedzoomIn">
            <iframe src="https://www.google.com/maps/d/embed?mid=1e72E9Yi-eg4ZTUVKbBfgvtMUy5Q&hl=es" width="100%"
                height="300"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Coger papel y lápiz y apuntar este recorrido que no es nuestro y fue sacado de la maravillosa red preparando
            nuestro viaje en el norte, es una pasada, que pueblos, que miradores, que iglesias, que gastronomía.
            Advertiros que en el valle del Liébana suele hacer calor por lo menos en las fechas estivales.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Nosotros hicimos la ruta en doble sentido por eso elegimos las paradas más o menos intercaladas, por si os
            resulta extraño algunos saltos. La primera fue en el mirador de Santa Catalina, se encuentra Entrerríos
            Nansa y Deva, este desvío os llevará por una carretera entre árboles y desemboca en un balcón tocado por los
            dioses hacia el Desfiladero de la Hermida a 1080 metros de altitud, a parte de las vistas que quitan el hipo
            podréis observar diferentes tipos de grandes aves.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Más adelante paramos en la iglesia de Santa María de Lebeña, para los amantes del arte este lugar es un
            deleite del prerrománico en España, se cree que fue levantada hacia el 924. Podréis visitarla en una visita
            guiada por solo 2 €, la charla la da una mujer del pueblo la mar de graciosa merece mucho la pena.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Continuamos hacia la joya de la corona, Potes, este pueblo tremendamente turístico por razones obvias es
            precioso, además tuvimos la suerte de no tener demasiada gente en nuestra visita, la hicimos justo después
            de la cuarentena del COVID-19. Os recomiendo perderos por sus calles, casi no merece la pena ni tener una
            guía a seguir en esta villa, pero os dejamos los lugares más significativos por si queréis, son algunos como
            la iglesia de San Vicente del siglo XIV, la torre del Infantado también del siglo XIV hoy es el
            Ayuntamiento, el antiguo Convento de San Raimundo se trata de un convento dominico del silo XVII. El barrio
            viejo o casco histórico de Potes os dejará boquiabiertos con sus callejuelas que dan al río y sus puentes
            medievales.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            La villa de Potes es un buen lugar para comer con una gran variedad, nosotros elegimos por sus opiniones el
            asador Llorente que nos costó 57 € para dos, os recomendamos su carne de vaca vieja, solo de escribirlo se
            nos hace la boca agua otra vez.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            La siguiente parada es la Ermita de San Miguel nos deja unas vistas panorámicas de Potes muy bonitas. Y el
            monasterio de Santo Toribio, es un monasterio franciscano, que alberga obras del Beato de Liébana y la
            reliquia del Lignum Crucis, el trozo más grande conocido de la cruz donde murió Jesucristo, lo que hace que
            sea un lugar de peregrinaje en el camino de Santiago. El origen del monasterio data del siglo VIII y la
            iglesia que hoy vemos es de 1256.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            El camino nos llevaba hasta Mogrovejo un pequeño pueblo de unos 50 habitantes en un enclave bellísimo, el
            pueblo nos dejó impresionados, creemos que, de los más bonitos de España, suponemos por el lugar, la
            tranquilidad que se respira, nos encantó.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Antes de nuestra última parada nos acercamos hasta el mirador de Cahecho, con otras vistas que os encantaran
            seguro. Por último, subimos al pueblo de Bejes, se trata de un pueblo en lo alto de la montaña sin
            cobertura, alejado de cualquier ajetreo, con una pequeña carretera que hace que sea un lugar muy curioso
            para darte un paseo.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower text-justify conclusiones">
            Como conclusión de esta ruta o día repetirnos un poco en lo que hemos ido diciendo, es imperdonable no hacer
            esta ruta una vez en la vida, fuera de bromas, creemos que es una de las mejores rutas que hemos hecho
            nosotros, la belleza de este valle, la historia en sus construcciones de valor artístico incalculable y su
            gastronomía nos harán repetir más pronto que tarde.
        </div>
    </div>
    <!-- <div class="row justify-content-center">
      <div class="col-sm-4 mt-2 animated fadeIn slower">
        <img src="../../../assets/imagenes/galeriaBerlin/IMG_2347.JPG" class="imgcronica slower">
      </div>
    </div> -->
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>