<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower">
      <h1 class="tituloViaje text-center mt-7">1 día en Aranjuez</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-3 mb-5 justify-content-center">
      <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4"></app-modal-foto4>
      <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1"></app-modal-foto>
      <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2"></app-modal-foto2>
      <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3"></app-modal-foto3>
      <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5"></app-modal-foto5>
      <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6"></app-modal-foto6>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower">
        <h1 class="text-center tituloDiario mb-3">Aranjuez</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        La visita a Aranjuez es algo imprescindible si visitas Madrid, está a 50 kilómetros 
        aproximadamente, con un día es suficiente para conocer los lugares de esta villa palaciega, 
        que recuerda a un “pequeño” Versalles, esta residencia veraniega de los Austrias denota la 
        ostentación del periodo absolutista, de enormes palacios y extensos jardines.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Nosotros decidimos empezar por el palacio para comprar las entradas (9€) que te dan acceso 
        al palacio y al museo de las falúas reales (embarcaciones de recreo que mandaron construir 
        los monarcas para navegar por los grandes estanques). La visita por una parte acotada del 
        palacio merece la pena para hacerse una idea de cómo vivian los reyes en sus retiros solariegos).
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Posteriormente dimos un largo paseo por los jardines recorriendo el jardín del príncipe, 
        donde se encuentran la casa de oficios y caballeros, el estanque de los chinescos 
        (espectacular) y el museo de falúas reales.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Atravesando el jardín de la isla llegas a la iglesia de San Antonio y la casa de los Infantes 
        donde decidimos comer para degustar la rica gastronomía del lugar. Elegimos el Patio del 
        mercado (antiguo mercado reorientado a los bares y restaurantes).
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Para bajar la comida nos perdimos por el jardín (mejor dicho bosque) del príncipe, 
        donde casi no nos cruzamos con nadie y consigues una tranquilidad alejada del ajetreo 
        madrileño e incluso del turístico Aranjuez.
      </div>
    </div>
    <div class="row mt-2 mb-2 animated fadeIn slower">
      <div class="text-center col-md-6 col-sm-12">
        <img class="slower" src="../../../assets/imagenes/galeriaAranjuez/IMG_2527.JPG" height="300">
      </div>
      <div class="text-center col-md-6 col-sm-12 animatedzoomIn">
        <iframe src="https://www.google.com/maps/d/embed?mid=1kKc5mfLHf7ffKcona7UiIfRTDu4" width="100%" height="300"></iframe>
      </div>
    </div>
  </div>

  