<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="tituloViaje text-center mt-5">Murcia</h1>
      </div>
    </div>
    <div class="row">
      <div class="row m-3 mt-5 mb-5 animatedzoomIn justify-content-center">
        <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
        <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
        <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
        <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
        <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
        <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h1 class="tituloDiario text-center mb-3">Puerto de Mazarrón</h1>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
          <img class="panoramica mt-5 mb-5 skeleton" src="../../../assets/imagenes/galeriaMazarron/IMG_3340.JPG">
        </div>
      </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        El puerto de Mazarrón es un lugar en el que hemos veraneado en varias ocasiones por lo que no 
        os describiré nuestro viaje paso a paso sino los lugares que hemos visitado en diferentes 
        ocasiones y creemos destacables, evidentemente es únicamente nuestra opinión.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        A nivel gastronómico os podemos recomendar los restaurantes El Puerto, el Espigón y el 
        restaurante marroquí del puerto deportivo o para tomar algo en el puerto El irlandés 
        Errante o con unas vistas inmejorables el faro. Hay multitud y algunos bastante buenos, 
        pero tampoco vamos a extendernos más.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        Uno de los atractivos de verano es el cine de verano “bahía”, cine al aire libre en el que 
        por 5 € ves dos películas de cartelera, tiene un encanto especial. Eso sí, ves preparado 
        para oír como la gente pela pipas, pero mejor llévalas tú.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        Algo que nos gusta de este pueblecito pesquero es la oferta cultural que tiene, estas 
        tierras han estado pobladas desde los albores de la humanidad en la península ibérica hasta 
        nuestros días.
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 mt-3 mb-1 text-center">
        <img src="../../../assets/imagenes/galeriaMazarron/IMG_2590.JPG" class="mazarronImagen skeleton">
      </div>
      <div class="col-md-6 col-sm-12 mt-3 mb-1 text-center">
        <img src="../../../assets/imagenes/galeriaMazarron/IMG_2601.JPG" class="mazarronImagen skeleton">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        El poblado neolítico de Cabezo Jurado, en la Sierra de las Moreras habitado a finales del 
        IV milenio a. C. y principios del III milenio a. C., el poblado se compone por casas 
        circulares protegidas por una muralla al estilo de los castros celtas, extramuros se 
        encuentra un tholos funerario. El poblado se encuentra en un enclave de defensa natural por 
        lo escarpado de su acceso.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        En la playa de la Isla se encontraron dos barcos fenicios hundidos hace unos 2.500 años 
        lo que demuestra el comercio de estos pueblos de Oriente Próximo con los pobladores de la 
        región de Mazarrón, en dicha playa se encuentra un centro de interpretación fenicio donde 
        se encuentra la maqueta de gran tamaño donde de manera gratuita e interactiva nos explican 
        todo lo referente al pueblo fenicio y sus relaciones con esta zona del mediterráneo.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        La época antigua no acaba aquí porque en Mazarrón se han encontrado restos del periodo 
        romano expuestos en la Factoría de Salazones, fábrica de salsas del periodo romano que hoy 
        sirve de museo y centro de interpretación (4 €). Cerca se encuentra al aire libre los 
        yacimientos de la casa de la calle Eras, vivienda del siglo IV-V a. C. Más reciente es la 
        Torre de Santa Isabel, fechada en el siglo XVI.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        Esta riqueza arqueológica se extiende en el pueblo interior de Mazarrón, pero eso lo 
        dejaremos para otra entrada…
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        El cuartel militar en desuso de Cabo Tiñoso se encuentra en un enclave estratégico 
        privilegiado con una importancia ecológica sin parangón de la región, situado a 250 metros 
        de altitud sobre grandes acantilados. Construido en 1936, a semejanza de un castillo medieval, 
        como cinturón defensivo de la ciudad de Cartagena fue provisto de piezas de artillería pesada. 
        Durante la guerra civil disparo a la flota sublevada. Este cuartel permaneció en uso hasta 
        1994 y fue abandonado hasta 2009 que dado el turismo emergente a sus instalaciones se 
        rehabilitó y se declaró de interés cultural. Se pueden recorrer sus instalaciones y puntos 
        de vigía a los que se accede por túneles con unas vistas incomparables. Muy interesante a la 
        par que sorprendente.
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <img class="panoramica mt-5 mb-5" src="../../../assets/imagenes/galeriaMazarron/IMG_2632.JPG">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h1 class="tituloDiario text-center mb-3">Cartagena</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        Cartagena es la segunda ciudad de la región de Murcia y la base naval de la zona levantina, 
        la otra zona naval del ejército está en Ferrol, por lo que está ciudad portuaria se respira 
        ese ambiente náutico/militar de las bases navales, además la ciudad ha estado volcada al mar 
        desde tiempos inmemoriales, cartagineses y romanos dejaron su huella por este territorio.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        Hace relativamente poco tiempo se descubrió el Teatro de Cartagena, uno de los hallazgos 
        más sorprendentes de la arqueología española, no ya por su importancia y magnitud sino porque 
        había permanecido oculto hasta 1991 en medio de esta importante ciudad. La excavación se 
        realizó entre 1998 y 2003 gracias a la cual podemos disfrutar hoy en día de este Teatro 
        Romano con capacidad para 7.000 espectadores fue inaugurado entre los años 5 y 1 a. C. la 
        caída del imperio Romano hizo que quedase abandonado y reutilizado por los pescadores que 
        utilizaron sus piedras y fachadas para levantar sus edificios, entre ellos la catedral Vieja. 
        La entrada al teatro y su museo son 6 €.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        A parte de las ruinas del teatro se puede visitar a nivel arqueológico el museo Arqueológico 
        Municipal, el centro de interpretación de la Muralla Púnica (datado en el 227 a. C., la Casa 
        de la Fortuna (es un tramo de la calzada romana con restos de casas del s i a. C.), el 
        Augusteum (es un conjunto arqueológico del periodo romano), la muralla Bizantina (s. VI d. C.), 
        el museo de arqueología subacuática, el castillo de la Concepción ( de la época medieval) y la 
        Torreciega.
      </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 mt-3 mb-1 text-center">
          <img src="../../../assets/imagenes/galeriaMazarron/IMG_2548.JPG" class="mazarronImagen skeleton">
        </div>
        <div class="col-md-6 col-sm-12 mt-3 mb-1 text-center">
          <img src="../../../assets/imagenes/galeriaMazarron/IMG_2576.JPG" class="mazarronImagen skeleton">
        </div>
      </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        De la época Moderna visitamos la muralla de Carlos III (robusta muralla de defensa que 
        protegía la ciudad), la escuela de Guardiamarinas, la puerta del Arsenal (es la única que 
        se conserva de la muralla del siglo XVIII), la casa Molina (bonito edificio neoclásico), el 
        palacio de la capitanía general, el palacio consistorial y la casa cervantes.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        Para finalizar por la época contemporánea estuvimos en el monumento a los héroes de 
        Santiago de Cuba y Cavite y nos dejamos para la próxima el Refugio-museo de la Guerra 
        civil (cuevas escavadas que sirvieron de refugio de bombardeos).
      </div>
    </div>
  </div>
  