<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
      <h1 class="tituloViaje text-center">Road Trip por Portugal en 7 días</h1>
    </div>
  </div>
  <!-- <div class="row">
      <div class="row m-3 mt-4 mb-5 justify-content-center">
        <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
        <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
        <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
        <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
        <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
        <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
      </div>
    </div> -->
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower">
      <h1 class="tituloDiario text-center mb-3">Óbidos, Sintra y Lisboa</h1>
    </div>
  </div>
  <!-- <div class="row">
      <div class="col-md-12 col-sm-12 mb-2 animated fadeIn slower">
        <img src="../../../assets/imagenes/galeriaPortugal/oporto-dia-1-5.jpg" class="panoramica slower"
          alt="Panoramica del Duero, Puente Luis I" title="Panoramica del Duero, Puente Luis I">
      </div>
    </div> -->
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Con el bonito amanecer desde la parte alta de Nazaré empezaba nuestro dia, un dia muy completo que nos llevaba al
      sur, nuestra primera parada iba a ser en el pueblo amurallado de Óbidos, a unos 50 kilómetros de Nazaré, el centro
      histórico que se encuentra tras las gruesas murallas esta compuesta por una maraña de pequeñas calles empedradas y
      casas blancas engalanadas con coloridas flores, es una preciosidad, eso si, es muy turístico. En la parte más alta
      del pueblo se encuentra un castillo que hizo de fortaleza en tiempos de la reconquista. Este pueblo del centro
      portugués es una visita obligada.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      100 kilómetros más al sur se encuentra Sintra, quizá la ciudad más turística de Portugal, es un verdadero reguero
      de gente, con bastante dificultad para aparcar en la localidad, por supuesto zona de pago, recomiendan ir temprano
      para poder aparcar, nosotros al ir a finales de octubre no tuvimos demasiado problema, pero estaba bastante
      completo todo. Sintra tiene una multitud de palacios de interés cultural elevado, lo que promovió que le
      declarasen patrimonio de la UNESCO en 1995.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Llegamos al mediodía y aparcamos por la zona del Palacio Nacional, no entramos, no teníamos demasiado tiempo y
      todos tienen una entrada de unos 10€ por persona, así que elegimos ir al Palacio da Pena tan solo. Dando un paseo
      por la zona frente al Palacio Nacional encontramos una zona de pequeñas calles muy bonita, llena de tiendas de
      souvenirs, llegando al Palacio da Regaladeira, es un palacio con unos bonitos jardines y unas curiosas escaleras
      de caracol. Comimos en Santo bite, por 31,70€, buen sitio.
    </div>
  </div>
  <!-- <div class="row">
          <div class="col-md-6 col-sm-12 animated fadeIn slower portugal1 mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaPortugal/braganza2.jpg" class="portugal1 slower" alt="Solar Bragançano, Bragança" title="Solar Bragançano, Bragança">
          </div>
          <div class="col-md-6 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaPortugal/braganza3.jpg" class="portugal1 slower" alt="Solar Bragançano, Bragança" title="Solar Bragançano, Bragança">
          </div>
        </div> -->
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Cogiamos el coche para ir al Palacio da Pena que está algo retirado del centro, es el plato fuerte de Sintra, se
      trata de un complejo rodeado de jardines espectacular, con diferentes construcciones que se pueden visitar también
      con la entrada conjunta de 14€ por persona. Después de subir unas largas cuestas (1,5 km.) se llega al hermoso
      palacio que consta de diferentes estilos arquitectónicos, neogótico, manuelino, romántico, es en definitiva el
      culmine del romanticismo portugués. El palacio fue una de las residencias de la casa real durante el siglo XIX. La
      verdad que nunca hemos visto nada parecido, los vivos colores rojos, azules, amarillos mezclado con los azulejos
      son una visión preciosa en el entorno arbóreo en el que se ubica, ademas tiene unas vistas excepcionales. El
      interior del palacio no es tan espectacular como el exterior pero también merece la pena. Para los que lleváis
      carrito de bebe, el carro ha de quedarse en consigna y te lo devuelven al bajar, por lo que no viene mal llevarse
      una mochila de porteo. Advertiros que la cantidad de gente que visita este palacio es enorme.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      A unos 30 kilómetros se encuentra Lisboa, al anochecer llegamos para hacer el check-in en el hotel Dos Anjos, por
      las siguientes tres noches con desayuno y parking 233€, Bajamos a la Praga do Comercio, es la plaza principal de
      la capital lusa, se trata de un enorme patio que lo rodea lo que fuese el palacio real en tres de sus lados, el
      cuarto es abierto al estuario del Tajo. Es un lugar precioso, pero por la noche tiene algo especial.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Para cenar elegimos el café do rio, una hamburguesería al lado de la plaza do comercio con unas hamburguesas de
      impresión, nos costo 31,70€. Repetiríamos dos días más tarde, lo recomendamos!
    </div>
  </div>
  <!-- <div class="row">
          <div class="col-md-6 col-sm-12 animated fadeIn slower portugal1 mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaPortugal/oporto-dia-1-6.jpg" class="portugal1 slower" alt="Largo s domingos" title="Largo s domingos">
          </div>
          <div class="col-md-6 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaPortugal/oporto-dia-1-7.jpg" class="portugal1 slower" alt="Largo s domingos" title="Largo s domingos">
          </div>
        </div> -->
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Con la tripa llena nos toco subir un cueston hasta la catedral o sé de Oporto, es lo que tiene Portugal, no te da
      ni un respiro. La entrada a la catedral es gratuita, y puedes subir a su terraza y ver su museo, además la
      explanada donde se encuentra también tiene buenas vistas y si tenéis suerte como nosotros escuchareis alguna
      interpretación de artistas callejeros representado algún fado con el que deleitarse y llorar, xD.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      El resto de la tarde la dedicamos a recorrer Gaia y sus callejuelas encantadoras, parando a tomar unos cafés con
      unas super tortitas en un sitio muy chic, 7G, nos costó 11,80€ los dos. Tras descansar las piernas volvimos a la
      orilla del rio y la volvimos a pasear, es precioso ese paseo. Y volvimos al lado de Porto a pasear nuevamente la
      ribera, como nos habíamos zampado esa bomba calórica no teníamos hambre y acabamos el día subiendo cansados las
      cuestas al hotel para tratar de descansar.
    </div>
  </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
