<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
            <h1 class="tituloViaje text-center">Road Trip por el nordeste de EEUU en 10 días</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-4 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Washington D.C</h1>
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="text-center col-md-12 col-sm-12 animatedzoomIn">
            <iframe src="https://www.google.com/maps/d/u/1/embed?mid=143N3GpW1o4471m-2aAk-Eng1Du8" width="100%"
                height="300"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Visitar Washington D.C. es sinónimo de agujetas, nuestro día de visita nos supuso 23 km realizados en el
            día, esto se debe a las grandes distancias entre puntos de interés sin que haya transporte entre los mismos.
            La zona que reúne todos estos puntos está recogida en el National Mall, es el parque entre el Capitolio y el
            Memorial a Lincoln, se encuentra rodeado de museos y de la casa blanca, a lo largo del mismo podemos ver una
            gran multitud de memoriales a personajes o a los caídos en algunas guerras de los Estados Unidos.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Nosotros nos hospedamos en la zona trasera del Capitolio, entre la 12th y la G street, creo que es la mejor
            zona para hospedarse, muy tranquila de casas de tres alturas que es precioso pasear por sus calles. La
            primera parada por tanto es el Capitolio, el cual se puede visitar con cita previa, y la biblioteca del
            congreso que es preciosa, en ella hay varias exposiciones, nosotros pudimos ver una sobre el voto femenino y
            la lucha de las mujeres por su emancipación, otra sobre la vida de Rosa Park, esta mujer negra es un símbolo
            en los eeuu actuales por su coraje para enfrentarse a la segregación en Alabama, y una sobre las culturas
            prehispánicas y los primeros mapas que se hicieron sobre América, muy interesante.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Ya en el National Mall encuentras a mano derecha el edificio del F.B.I., el J. Edgar Hoover building, y
            varios museos de los que destacaremos el de historia natural, y los archivos federales, donde podemos ver la
            declaración de independencia, pero también están los de historia de los afroamericanos e historia de los
            eeuu, donde hay peculiaridades como los guantes de Muhammad Ali. A mano izquierda destacaría los museos de
            historia de los indios americanos y el museo del aire y el espacio. La entrada de los museos de Washington
            es gratuita, en un solo día no da para visitarlos ni por asomo, ni siquiera para ver lo más destacable.
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-4 mb-5 justify-content-center">
            <app-modal-foto7 [imagen]="imagen7" [imagenModal]="imagenModal7" [titulo]="titulo7"></app-modal-foto7>
            <app-modal-foto8 [imagen]="imagen8" [imagenModal]="imagenModal8" [titulo]="titulo8"></app-modal-foto8>
            <app-modal-foto9 [imagen]="imagen9" [imagenModal]="imagenModal9" [titulo]="titulo9"></app-modal-foto9>
            <app-modal-foto10 [imagen]="imagen10" [imagenModal]="imagenModal10" [titulo]="titulo10"></app-modal-foto10>
            <app-modal-foto11 [imagen]="imagen11" [imagenModal]="imagenModal11" [titulo]="titulo11"></app-modal-foto11>
            <app-modal-foto12 [imagen]="imagen12" [imagenModal]="imagenModal12" [titulo]="titulo12"></app-modal-foto12>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Tras esta inyección cultural nos encontramos con el gran obelisco erigido en memoria del primer presidente
            de eeuu, George Washington, en este monumento puedes subir en ascensor y contemplar las vistas desde lo
            alto.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Aprovechamos para comer en Jaleo, el restaurante de José Andrés, aunque jamás nos metemos en un restaurante
            español en el extranjero este era un restaurante especial, por la labor humanitaria que hace este chef en el
            mundo para los más pobres y queríamos visitarlo. Riquísimo y nos costó 115€.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 animated fadeIn slower eeuu5 mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia6-jaleo-1.jpeg" class="eeuu5 slower"
                alt="Jaleo, Washington D.C." title="Jaleo, Washington D.C.">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia6-jaleo-2.jpeg" class="eeuu5 slower"
                alt="Jaleo, Washington D.C." title="Jaleo, Washington D.C.">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia6-jaleo-4.jpeg" class="eeuu5 slower"
                alt="Jaleo, Washington D.C." title="Jaleo, Washington D.C.">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia6-jaleo-5.jpeg" class="eeuu5 slower"
                alt="Jaleo, Washington D.C." title="Jaleo, Washington D.C.">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 animated fadeIn slower eeuu5 mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia6-jaleo-3.jpeg" class="eeuu5 slower"
                alt="Jaleo, Washington D.C." title="Jaleo, Washington D.C.">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia6-jaleo-6.jpeg" class="eeuu5 slower"
                alt="Jaleo, Washington D.C." title="Jaleo, Washington D.C.">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia6-jaleo-7.jpeg" class="eeuu5 slower"
                alt="Jaleo, Washington D.C." title="Jaleo, Washington D.C.">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia6-jaleo-8.jpeg" class="eeuu5 slower"
                alt="Jaleo, Washington D.C." title="Jaleo, Washington D.C.">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 animated fadeIn slower eeuu5 mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia6-jaleo-9.jpeg" class="eeuu5 slower"
                alt="Jaleo, Washington D.C." title="Jaleo, Washington D.C.">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia6-jaleo-10.jpeg" class="eeuu5 slower"
                alt="Jaleo, Washington D.C." title="Jaleo, Washington D.C.">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia6-jaleo-11.jpeg" class="eeuu5 slower"
                alt="Jaleo, Washington D.C." title="Jaleo, Washington D.C.">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia6-jaleo-12.jpeg" class="eeuu5 slower"
                alt="Jaleo, Washington D.C." title="Jaleo, Washington D.C.">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Justo a mano izquierda podemos ver la casa blanca, eso sí, cada vez más lejos, el bueno de Trump ha puesto
            una valla aún más lejos que los anteriores presidentes por lo que la foto es todavía peor. Una pena por que
            es uno de los atractivos del turismo en la capital.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Continuando por el National Mall encontramos el memorial a los caídos en la II Guerra Mundial, está rotonda
            da inicio a la Reflecting Pool Lincoln Memorial, la famosa piscina donde se mete "Forrest Gump" o bailan los
            hippies en "Hair" y vista en mil películas.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Tomando camino por la parte derecha nos encontramos con el Memorial a la guerra de Vietnam, dividida en
            tres, la escultura a las mujeres de la guerra, los tres soldados y el muro negro con el listado de todos los
            estadounidenses caídos en la guerra, es bastante llamativo ver a los veteranos por allí saludando e
            informando a los visitantes o simplemente visitando el memorial, sobrecoge un poco pensar lo que supuso este
            conflicto para ellos.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Al final podemos ver la escultura a Albert Einstein frente al museo de la ciencia.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Nos encontramos ya en el memorial a Abraham Lincoln, famoso edificio al estilo clásico que contiene la gran
            escultura del malogrado presidente, es otro de los símbolos de la nación por su lucha por los derechos de
            los esclavos americanos. Es una estampa tantas veces vista tanto la escultura como la vista desde la
            escalinata con vistas a todo el National Mall.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Continuamos por la otra parte de la piscina donde nos encontramos los memoriales de los caídos de la guerra
            de Corea, el memorial de Martin Luther King Jr., el de Franklin Delano Roosevelt y su mujer para finalizar
            en el de Thomas Jefferson, este estaba en obras pero se podía visitar perfectamente, algo de agradecer.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Después del palizón de kilómetros, el turismo cansa bastante más que una ruta de trekking, acabamos comiendo
            cerca de nuestro apartamento, en el Ben's Chili Bowl, es uno de los sitios más famosos de Washington, han
            ido multitud de famosos como muestran sus paredes incluido Barack Obama nada más hacer posesión del cargo,
            por 43 €.
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia6-1.jpeg" class="eeuu5 slower" alt="Ben's Chili Bowl"
                title="Ben's Chili Bowl">
        </div>
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia6-2.jpeg" class="eeuu5 slower" alt="Ben's Chili Bowl"
                title="Ben's Chili Bowl">
        </div>
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia6-3.jpeg" class="eeuu5 slower" alt="Ben's Chili Bowl"
                title="Ben's Chili Bowl">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 text-justify conclusiones p-5">
            Es una ciudad de las más cercanas a Nueva York y que creemos que merece la pena pasar un par de días mínimo,
            depende si quieres ver bien algunos museos, pero creo que la visita de un día desde NY se tiene que quedar
            muy corta. Nos gusta mucho la ciudad, pero es tremendamente cansada.
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>