<div class="container">
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower">
            <h1 class="tituloViaje text-center mt-7">Cantabria</h1>
        </div>
    </div>
    <!-- <div class="row">
        <div class="row m-3 mt-3 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Comillas, Santillana del Mar y Altamira</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="tituloDiario text-center mb-3">Comillas</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Comillas es una villa modernista y señorial, en parte debido al financiero Antonio López y López que se
            empeño en la transformación de su pueblo natal, para ello encargó a arquitectos de elevadísimo prestigio
            como Antonio Gaudí, a Domènech i Montaner y a Martorell Monells.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Empezaremos por la Universidad Pontificia de Comillas fundada en 1890 por Antonio López y López, primer
            marqués de Comillas, de estilo neogótico-mudéjar. Esta universidad en lo alto de la ladera da unas buenas
            vistas al mar.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Lo siguiente será el Palacio de Sobrellano, justo enfrente de la universidad, de estilo neogótico se
            concluyó en 1888, la visita guiada cuesta 3 €, que te permiten visitar una parte del palacio mientras te
            cuentan la historia del mismo y de su antiguo dueño. Justo al lado está la capilla-panteón de los marqueses
            de Comillas, que cuesta su visita otros 3 €.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            El Capricho de Gaudí es una obra peculiar, como todo de este arquitecto, es una explosión de colores,
            también conocido como Villa Quijano en honor al primer dueño del palacio en 1885. La entrada es algo cara, 7
            €.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            El casco antiguo de comillas es precioso también, con sus casas solariegas y una bella plaza del
            Ayuntamiento y la iglesia de San Cristóbal, también está la fuente de los Tres Caños
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="tituloDiario text-center mb-3">Santillana del Mar</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            A pocos kilómetros se encuentra uno de los pueblos más bonitos y reconocidos de España, el turístico
            Santillana del Mar, todo el mundo habla de masificado, aunque nosotros entre el día lluvioso y tan solo un
            mes después de la cuarentena lo encontramos prácticamente vacío, una delicia al alcance de pocos.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            El pueblo es espectacular en sí, todo, pero destaca la colegiata de Santa Juliana y su claustro por encima
            de todo, se trata de una de las joyas del románico español, datado en el siglo XII. Podrás visitarla por 2 €
            que te dan acceso a la iglesia, al claustro y a un belén de grandes dimensiones que encontrarás en su
            claustro con las diferentes escenas de la vida de Jesucristo.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            La plaza mayor de Santillana es de las más bonitas a nivel rural que se pueden visitar, sino la que más, con
            el Ayuntamiento, la Casa del águila y la Parra, la casa del cura con sus flores, y la Torre de Don Borja y
            la Torre de Merino.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            El casco histórico, bueno que no es histórico aquí, te trasladará a una época medieval, en las que
            encontraras infinidad de escudos blasonados en sus fachadas, calles adoquinadas y tiendas para turísticas
            con sobaos y anchoas.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Hay un montón de asadores y restaurantes en el pueblo donde comer, nosotros elegimos el La Villa por 37 €
            dos personas, un bonito restaurante con una atención excelente y comida rica-aceptable, no está mal el
            sitio.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Por último, dejamos la visita a las cuevas de Altamira, más bien replica ya que no se pueden visitar las
            cuevas originales para preservar su conservación a no ser que seas uno de los cinco afortunados a los que le
            toca la posibilidad de su visita entre todos los visitantes del museo, no fue nuestro caso. El museo fue
            gratis por el COVID-19, una autentica delicia para los amantes de nuestra prehistoria donde explican como se
            descubrieron las cuevas y como se vivía en ellas hace miles de años.
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower text-justify conclusiones">
            Un día completísimo, con dos villas preciosas y un museo que hace las delicias de cualquiera por su
            recreación virtual de habitantes prehistóricos, un día para no perderse y que seguro repetiremos en algún
            otro momento. Nos encanta Cantabria.
        </div>
    </div>
    <!-- <div class="row justify-content-center">
      <div class="col-sm-4 mt-2 animated fadeIn slower">
        <img src="../../../assets/imagenes/galeriaBerlin/IMG_2347.JPG" class="imgcronica slower">
      </div>
    </div> -->
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>