<div class="container animated fadeIn slower">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="tituloViaje text-center mt-7">3 días en Extremadura</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <img class="panoramica mt-5 mb-5 slower" src="../../../assets/imagenes/galeriaExtremadura/IMG_2945.JPG">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h1 class="tituloDiario text-center mb-3">Trujillo</h1>
      </div>
    </div>
    <div class="row mt-2 mb-2">
      <div class="text-center col-md-6 col-sm-12">
        <img class="slower" src="../../../assets/imagenes/galeriaExtremadura/IMG_2916.JPG" height="300">
      </div>
      <div class="text-center col-md-6 col-sm-12 animatedzoomIn">
        <iframe src="https://www.google.com/maps/d/embed?mid=1Wsa5C2ULBN4KLHPpCkTM-r3uFKo&hl=es" width="100%" height="300"></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        750 km es lo recorrido en este viaje de tres días por nuestro coche, 
        Madrid-Trujillo-Mérida-Cáceres-Madrid y está fue la ruta elegida. Una vez regresado a 
        casa podemos decir que ha sido todo un acierto elegir Extremadura como destino para este 
        viaje que empezaba con un regalo de noche romántica en “cualquier” lugar de España de 
        smartbox, a esa noche le sumamos otra y teníamos 3 días de viaje más que satisfactorio por 
        esta provincia que nos ha encantado y que recomendamos sin lugar a dudas.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        El viaje comenzaba el viernes por la mañana que nos llevaba en 2,5 horas a Trujillo donde 
        íbamos a pasar el día. A eso de las 12:30 comenzaba nuestra visita por la ciudad medieval, 
        después de poner en riesgo el coche por la estrechez de las calles aparcamos y elegimos 
        empezar por la zona más elevada, el Castillo, es una fortaleza construida en el siglo X por 
        los árabes, está plaza militar tuvo una gran importancia en la defensa de estos territorios 
        fronterizos hasta la última vez que fue tomado por los castellanos en 1232, desde el se 
        controla todo el valle, con unas vistas excepcionales, aunque solo quedan las murallas 
        merece la pena entrar.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        Era la hora de comer y decidimos ir a La alberca, por las buenas críticas que habíamos leído y 
        vaya si merece la pena, tiene un menú más que recomendable, como nos quedaba toda la tarde de 
        visita solo pedimos 1 para compartir y un entrante y dos postres (33,40€). El trato muy 
        agradable y la terraza una delicia.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        Después fuimos a la iglesia de Santa María la Mayor (2€/persona) que tiene un retablo 
        pintado del siglo XIV digno de ver y se puede subir a las dos torres desde donde se aprecia 
        el Castillo y la ciudad de una manera privilegiada. Después fuimos a la casa-museo de Pizarro 
        (1,5€/persona) la antigua casa familiar del conquistador trujillano se divide en dos plantas 
        en la baja se expone lo que debía ser una casa típica de hidalgo en el siglo XV y en la 
        superior lo referente a la vida e este ilustre personaje, en el jardín se exponen plantas 
        americanas. El resto de la ciudad fuimos reconociéndola con sus palacios o casas fuertes, 
        donde se aprecia la gran importancia de Trujillo durante la edad moderna y la fuerte inversión 
        económica gracias a los conquistadores que había aportado Trujillo a la corona en su empresa 
        imperialista-colonizadora, con la construcción de estos palacios a su regreso.
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 mt-3 mb-1 text-center">
        <img src="../../../assets/imagenes/galeriaExtremadura/IMG_2895.JPG" class="imgcronica slower">
      </div>
      <div class="col-md-4 col-sm-12 mt-3 mb-1 text-center">
        <img src="../../../assets/imagenes/galeriaExtremadura/IMG_2896.JPG" class="imgcronica slower">
      </div>
      <div class="col-md-4 col-sm-12 mt-3 mb-1 align-self-center text-center">
        <img src="../../../assets/imagenes/galeriaExtremadura/IMG_2897.JPG" class="imgcronica slower">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        Esta pequeña ciudad tiene un encanto especial sobre sus calles empedradas, sus palacios, 
        iglesias, el castillo o tomar algo en la plaza Mayor es obligatorio a cualquier viajero que 
        pase por Extremadura. Además hay una gran cantidad de comercios que venden productos de la 
        tierra exquisitos, nosotros compramos dos quesos (15€) que están resultando una delicia.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        Para concluir el día íbamos a degustar una cena “delicias regionales” en el Hotel Soterraña, 
        en el pueblo de al lado (Madroñera), que nos entraba en nuestro pack junto a la habitación, 
        botella de vino, botella de cava y el desayuno buffet. Decir que estuvo decente el pack, 
        sin más, que si miramos el precio sería algo caro para lo ofertado.
      </div>
    </div>
  </div>
  
  <app-pagina-siguiente 
    [siguiente]="siguiente" 
    [siguienteDonde]="siguienteDonde"
    [anterior]="anterior" 
    [anteriorDonde]="anteriorDonde">
  </app-pagina-siguiente>
  