<div class="container animated fadeIn slower">
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloViaje text-center mt-7">Norte de Alemania en 3 días</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Stade</h1>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 animated fadeIn slower mt-3 mb-1 text-center">
        <img src="../../../assets/imagenes/galeriaHamburgo/stade.jpg" class="imgcronica slower">
      </div>
      <div class="col-md-6 col-sm-12 animated fadeIn slower mt-3 mb-1 text-center">
        <img src="../../../assets/imagenes/galeriaHamburgo/stade3.jpg" class="imgcronica slower">
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            La ciudad Hanseática de Stade se encuentra a 45 kilómetros de Hamburgo y en poco más de una hora el tren nos
            acerca hasta la misma, es la capital del distrito de Stade en la Baja Sajonia, es una pequeña ciudad de
            cuento. Es una de las más vetustas de Alemania, esta ciudad rodeada de canales que baso su importancia en el
            comercio tiene un centro pequeñito del siglo XVII que es una pasada, con callecitas repletas de bares y
            restaurantes
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Desde luego la mejor forma de conocerlo es dedicarle una mañana a patear sus calles alucinando de las
            casitas de cuento, entre el puerto viejo y el nuevo, viendo la estatua en honor a las pescaderas o la grúa
            para descargar las mercancías del siglo XVII. Sus calles principales son Hökerstrasse y Bäckerstrasse. De
            verdad que merece la pena la visita y deleitarse en sus coloridas calles.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Las iglesias de San Cosme y San Damián son los edificios más destacados, si se puede destacar algo sobre lo
            demás, construidos en la Edad Media. La Casa Consistorial, el Schwedwnspeicher (actual museo) y el Zeughaus
            (Casa de armamento), provenientes de la ocupación sueca de la ciudad.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Para dejar de lado tanta ciudad podréis hacer un paseo en barco por el río Elba, a lo largo de su parque
            patrimonio natural de la Unión Europea.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Neuengamme</h1>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 animated fadeIn slower mt-3 mb-1 text-center">
        <img src="../../../assets/imagenes/galeriaHamburgo/neuengamme1.jpg" class="imgcronica slower">
      </div>
      <div class="col-md-6 col-sm-12 animated fadeIn slower mt-3 mb-1 text-center">
        <img src="../../../assets/imagenes/galeriaHamburgo/neuengamme2.jpg" class="imgcronica slower">
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Otra de las visitas obligadas en la visita a Hamburgo es la del campo de concentración de la Alemania nazi
            de Neuengamme, a solo 15 kilómetros, funciono entre los años 1938 y 1945 bajo el mando de las SS. Se estima
            que fueron asesinadas unas 56.000 personas. Hoy es uno de los museos memoriales a la memoria de los caídos
            de mayor importancia de Alemania.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            El campo se formó alrededor de una fábrica de ladrillos comprada por las SS, teniendo 106.000 reclusos de
            diferente etnia y condición, judíos, homosexuales, comunistas, prisioneros de guerra… Hasta 1943 solo había
            prisioneros varones. El trabajo principal se centró en la fabricación de ladrillos, destacando que los
            presos fueron obligados a construir canales entre los diferentes campos para transportar los ladrillos en
            unas condiciones extremas.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Si bien no es un campo donde la cifra de asesinados fuese tan alta como en otros campos de Alemania y
            Polonia, es sobrecogedor el visitar un sitio así 80 años después de aquella tragedia de la humanidad.
            Escuchar a un guía es espeluznante, pero completamente necesario que visitemos y no se olvide lo que allí
            pasó.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower text-justify conclusiones">
            Los datos que os damos son en base a nuestro recuerdo de los dos viajes que hemos realizado, ya que no tomamos
            apuntes porque aún no habíamos pensado en la posibilidad de crear nuestro propio blog.
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>