<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloViaje text-center mt-5">4 días en Berlín</h1>
    </div>
  </div>
  <div class="row">
      <div class="row m-3 mt-5 mb-5 animatedzoomIn justify-content-center">
        <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
        <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
        <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
        <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
        <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
        <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h1 class="tituloDiario text-center mb-3">Potsdam y Berlín de noche</h1>
        </div>
      </div>
    <div class="col-sm-12 text-justify">
      Nuestro último día por tierras germanas lo habíamos reservado para ir al campo de 
      concentración de Sachsenhausen que se encuentra situado en la población de Oranienburg, 
      tan solo a unos 35 minutos del centro de Berlín en metro que te lleva hasta la estación del 
      mismo nombre y ahí se pueden coger los autobuses 804 o 821 que recorren los 4,3 km hasta el 
      campo. Como consejo mirar los horarios de los metros que van a Oranienburg y de los buses 
      porque nosotros perdimos esperando más de 1 hora.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      El campo es uno de los mejores conservados de la época nazi y de los que mejor se puede 
      observar el horror que desarrollaron los alemanes del III Reich. El campo fue construido en 
      1936 y acogió a 140.000 prisioneros de los cuales más de 30.000 fueron asesinados, 
      esto sin contar todos los capturados en combate que eran fusilados en sus muros antes de 
      cruzar la puerta de acceso. Entre los reclusos ilustres se encontraba el expresidente de la 
      república española Francisco Largo Caballero. Aparte de las ejecuciones por fusilamiento o en 
      la cámara de gas en este campo se hicieron experimentos “médicos” con los presos y pruebas 
      como las del “batallón de los patinadores” que hacían andar por el perímetro del campo a los 
      prisioneros entre 35 y 50 km diarios para probar el calzado militar. Cuando los soviéticos se 
      acercaron a esta población las SS intentaron evacuar a los reclusos y aquellos que no podían 
      andar eran ejecutados. Una vez liberado el campo por los soviéticos fue utilizado por el 
      NKVD como prisión de nazis, unos 60.000 de los que morirían 12.500.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      El acceso al campo es gratuito y el audio-guía cuesta 3€, además de ver la vasta extensión 
      del campo se puede apreciar lo que debían vivir los desafortunados que cayeron en las manos 
      de estos asesino, han conservado varios barracones, la cámara de gas, la enfermería y el 
      barracón de experimentos con unas camillas de azulejo blanco con desagüe en el centro para a 
      sangre que dan escalofríos. Nosotros que fuimos en febrero pudimos vivir el frio que debían 
      pasar en esa explanada. Sales de allí con una sensación extraña, de odio y de tristeza.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      La vuelta se nos dio algo mejor y fuimos a comer a un restaurante típico alemán en la zona de 
      nuestro hotel, se llamaba Brahaus am schoos donde comimos codillo con patatas y chucrut y unas 
      hamburguesas de carne picada con patatas, coca-cola y cerveza por 33,50 €, la mejor comida del 
      viaje en un bar muy bonito, recomendable totalmente. Justo enfrente está el palacio de 
      Charlottenburg. Recogíamos las maletas y 1 hora hasta el aeropuerto que nos esperaba la triste 
      vuelta a Madrid pensando a que sitio íbamos después. Hasta pronto.
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-4 mt-2">
      <img src="../../../assets/imagenes/galeriaBerlin/IMG_2347.JPG" class="berlinImagen5">
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [siguiente]="siguiente"
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">

</app-pagina-siguiente>
