<div class="container">
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower">
      <h1 class="tituloViaje text-center mt-7">Asturias</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-3 mb-5 justify-content-center">
      <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower">
      <h1 class="tituloDiario text-center mb-3">Cangas, Covadonga, Bufones de Pría, playa de Guadamía, playa de Cué</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Os vamos a describir a ruta que nosotros hicimos este día que quizás no sea todo lo completa u ordenada
      posible, pero es la que hicimos, sin subir a los Lagos por que el día era muy lluvioso y arriba no se iba a
      ver nada y sin parar en Ribadesella, en ambos sitios ya habíamos estado en otras ocasiones, si vosotros no,
      son sitios que os recomendamos también, sobre todo Lagos.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <img class="panoramica mt-5 mb-5 slower" src="../../../assets/imagenes/galeriaAsturias/cangas7.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Aunque junio no es la mejor época para visitar los bufones de Pría elegimos este día por ser el de
      condiciones meteorológicas mas adversas. ¿Pero por qué? Pues porque se tratan de una formación kárstica en
      los acantilados que ha generado el desgaste del mar en la roca unos orificios verticales por donde en días
      de marejada salen chorros de agua pulverizada que son espectaculares y alcanzan hasta los 10 metros de
      altura, evidentemente nosotros no pudimos verlos, si oír los bufidos que provoca el mar.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Se accede por un camino de tierra de unos 2 kilómetros que si vais lloviendo como nosotros es un autentico
      barrizal, antes de llegar os encontrareis con la playa de Guadamía, es una lengua de mar que solo por esta
      playa ya merece la pena ir, preciosa. Un poco más adelante os encontrareis con los acantilados que parecen
      de película, no sabes si estas en Irlanda o la luna. La visita a este lugar es de lo más bonito que hemos
      hecho, si, a pesar del barro con el carrito de Olivia.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Después visitamos Covadonga, que entre el COVID-19 y la lluvia estaba semivacío, una delicia que se
      agradece. El lugar se divide entre la Santa Cueva, una pequeña gruta en el Monte Auseva con una parroquia
      con la imagen de la virgen que María, supuestamente un ermitaño que daba culto a la misma pidió clemencia a
      Don Pelayo para que no matase a un malhechor al que perseguía en la misma gruta. Por otra parte,
      encontraremos el Monasterio de San Pedro y la Basílica de Santa María la Real de Covadonga de 1901. Todo se
      encuentra en un paraje idílico, más si hay niebla y llueve, ¡que pasada!
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Antes de bajar a Cangas, optamos por el Repelao para comer, por 35€ ambos, un lugar correcto con un menú con
      bastante variedad. Ya en Cangas nos encontramos en la antigua capital del primer reino cristiano tras la
      invasión musulmana y desde donde se inició la reconquista tras la batalla de Guadalete en 1922. Además, aquí
      vamos a poder ver el antiguo puente romano sobre el rio Sella, la imagen más característica de Asturias sin
      duda. Otro de los puntos fuertes es la iglesia de la Asunción al frente se encuentra la estatua a Don
      Pelayo. La iglesia de Santa Eulalia de Abamia, ejemplo del románico datado en el siglo XIII. La iglesia de
      la Santa Cruz, es el primer templo cristiano del año 737, albergó la cruz que llevó Pelayo a la batalla de
      Covadonga.
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1 align-self-center text-center">
      <img src="../../../assets/imagenes/galeriaAsturias/cangascomida1.jpg" class="imgcronica slower"
        alt="El Repelao, arroz con ave" title="El Repelao, arroz con ave">
    </div>
    <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1 align-self-center text-center">
      <img src="../../../assets/imagenes/galeriaAsturias/cangascomida2.jpg" class="imgcronica slower"
        alt="El Repelao, fabes con almejas" title="El Repelao, fabes con almejas">
    </div>
    <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1 align-self-center text-center">
      <img src="../../../assets/imagenes/galeriaAsturias/cangascomida3.jpg" class="imgcronica slower"
        alt="El Repelao, escalopines a cabrales" title="El Repelao, escalopines a cabrales">
    </div>
    <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1 align-self-center text-center">
      <img src="../../../assets/imagenes/galeriaAsturias/cangascomida4.jpg" class="imgcronica slower"
        alt="El Repelao, crema de yogur" title="El Repelao, crema de yogur">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Para terminar el día mojado pero precioso nos trasladamos al lugar donde nos hospedábamos en el termino de
      Cué, a solo 2 kilómetros de Llanes donde esta una de las playas que más nos gusta, la playa de Cué.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <img class="panoramica mt-5 mb-5 slower" src="../../../assets/imagenes/galeriaAsturias/cangas8.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower text-justify conclusiones">
      El día nos dio mucho de sí y nos ha dejado unas vistas increíbles, los colores del verde de finales de
      junio, los azules del agua, mezclados con un día lluvioso y nublado creo que difícilmente son superables,
      muchas veces hemos pensado que estábamos fuera de Europa. Todos los lugares que hemos visitado creo que son
      imperdibles para quien quiera conocer Asturias, más incluso que sus ciudades si contáis con días justos en
      vuestra visita. Aunque Asturias tiene tanto que ofrecer que ya nos leeréis estas palabras más adelante,
      seguro.
    </div>
  </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
