<div class="container animated fadeIn slower">
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloViaje text-center mt-7">Norte de Alemania en 3 días</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-center">
            <img class="panoramica mt-5 mb-5 slower" src="../../../assets/imagenes/galeriaHamburgo/bremen6.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Bremen</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Bremen es un destino poco habitual en los circuitos turísticos por Alemania, pero es una gran equivocación,
            porque después de haber visitado gran parte del país creemos que es un gran destino, pequeñito que se visita
            en un día, pero que su estilo hanseático, gótico y renacentista lo hacen un lugar precioso, además de ser
            Patrimonio de la Humanidad.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Esta ciudad del norte a orillas del río Weser fue fundada por el pueblo sajón y siempre ha sido
            caracterizada por la influencia de los pueblos nórdicos, con los que siempre han comerciado desde sus
            orígenes hasta nuestros días, sobre todo con la conformación de la Liga Hanseática.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            La famosa ciudad de los “Trotamúsicos” se encuentra a poco más de una hora de Hamburgo en tren, lo que hace
            que la visita de las dos ciudades sea muy sencilla en un mismo viaje. La llegada nos deja el primer lugar en
            el que deleitarnos y es la estación central de tren de Bremen o Hauptbahnhof, muy parecida a la de Hamburgo
            en estilo de finales del siglo XIX o industrial es muy bonita. Para ir hacia el centro pasamos por un
            precioso parque donde ver el Molino de Bremen o Mühle Am Wall, una preciosa imagen la que nos deja esta
            vista.
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-3 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaHamburgo/bremen5.jpg" class="imgcronica slower">
        </div>
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-3 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaHamburgo/bremen2.jpg" class="imgcronica slower">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Ya en el núcleo del centro histórico llegamos a la calle de las cerdas, y su escultura del rebaño de
            porcinos, es en honor a cuando en el siglo XIX conducían a los cerdos por esta calle hasta la estación
            central. Las distancias en Bremen son bastante cortas y pilla todo muy cerquita. Desde aquí en dos minutos
            llegaremos a la Markplatz y es aquí donde se encuentra el símbolo de la ciudad, los músicos de Bremen.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            La plaza es un deleite constante sin poder dejar de mirar a un lado y otro. La catedral de San Pedro,
            construida por orden del papa León X en 1195 en estilo gótico es el edificio quizá el más importante. Sin
            quedar atrás podemos ver el Ayuntamiento, siendo uno de los mayores exponentes del gótico báltico y el
            renacimiento del Weser, hoy Patrimonio de la Humanidad, fue erigido en 1229. Justo en frente se levanta la
            Estatua de Roland, que según la leyenda la ciudad permanecerá libre mientras siga en pie. Como contraste
            encontramos el edificio del parlamento o Bürgerschaft de Bremen este edificio de hormigón y vidrio destaca
            con toda la plaza. Otros edificios destacables son la Casa de los Ciudadanos, la asociación del Comercio.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            La ruta sigue por la calle Böttchestrasse, después de la plaza es lo más característico de Bremen y con
            razón, esta pequeña calle de cien metros nos da la ienvenida con una placa dorada de San Jorge luchando
            contra el dragón y se extiende su calle de origen medieval, empedrada y de ladrillo rojo tan de cuento de
            los hermanos Grimm, que en otro tiempo fue habitada por el gremio de los toneleros. La calle finaliza en un
            carrillón de 30 campanas.
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-3 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaHamburgo/bremen3.jpg" class="imgcronica slower">
        </div>
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-3 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaHamburgo/bremen4.jpg" class="imgcronica slower">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Por último, podemos tomar el puerto que nos proporciona un bonito y apacible paseo, pasando por el barrio
            medieval de Scnoor, el más antiguo de Bremen, este barrio de pequeñas casas y calles estrechas es otra de
            las partes en las que disfrutar de la ciudad.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower text-justify conclusiones">
            Los datos que os damos son en base a nuestro recuerdo de los dos viajes que hemos realizado, ya que no tomamos
            apuntes porque aún no habíamos pensado en la posibilidad de crear nuestro propio blog.
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>