<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloViaje text-center mt-5">5 días en Nueva York</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-5 mb-5 animatedzoomIn justify-content-center">
      <app-modal-foto class="mb-1" [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 class="mb-1" [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 class="mb-1" [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 class="mb-1" [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 class="mb-1" [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 class="mb-1" [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h1 class="tituloDiario text-center mb-3">Harlem, Bronx y DUMBO</h1>
      </div>
    </div>
    <div class="col-sm-12 text-justify">
      Ya estábamos a domingo y era día de misa, misa góspel evidentemente, nos tocaba visitar el 
      norte de la Gran Manzana, desayunamos en nuestro súper del barrio para coger fuerzas (11 $) 
      y al metro que esta vez teníamos que hacer un viaje bastante largo íbamos ya que íbamos hasta 
      la 103th Street. 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
        Nos bajamos en la zona de la universidad de Columbia que está un poco más al sur que Harlem 
        para ver un poco sus edificios, al ser domingo había poca gente por la calle por no haber 
        clases, pero nosotros queríamos ver sobre todo la catedral de St. John the Divine y The 
        Riverside Church donde nos sorprendió una actuación navideña de preescolares que nos dejó 
        obnubilados durante un buen tiempo por sus voces angelicales en una iglesia con una 
        iluminación tenue con tonos azules, maravilloso. 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Accedíamos a Harlem por la 125th St, este mítico barrio donde se desarrolló y acogió a muchos 
      de los más destacados luchadores por los derechos civiles en las décadas de los 60-70-80´s 
      (Martin Luther King, Malcolm X, Angela Davis, y un largo etcétera). Fuimos descendiendo por 
      Martin Luther King Blvd observando a los vecinos y las viviendas donde hay un fuerte contraste 
      con Manhattan pero hasta con Brooklyn se nota este cambio, en este barrio se nota una fuerte 
      desigualdad social y aunque evidentemente se ha transformado y es poco apreciable la 
      marginalidad si que notas el barrio humilde que sigue siendo, en cuanto a los habitantes son 
      en su mayoría negros, algo que ha caracterizado al barrio fuertemente.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Tras ver el famoso y clásico Apollo Theatre donde grandes artistas afroamericanos comenzaron 
      sus carreras, Ella Fitzgerald o Michael Jackson entre otros. Giramos en la esquina con 
      Malcolm X Blvd para dirigirnos a la iglesia Ephesus Seventh-day Adventist Chuch donde 
      íbamos a presenciar la misa góspel, como habíamos leído que siempre se forman colas para 
      ver los ritos en las iglesias de Harlem habíamos llegado con más de 30 minutos de antelación, 
      pero ni en la nuestra ni por las que pasábamos había demasiada gente, suponemos que en verano 
      será diferente, poco a poco iba llegando la gente (más turistas que feligreses) y comenzó la 
      misa con una presentación y saludo a cada uno de los grupos de turistas que había en la iglesia 
      acompañado en las pantallas de plasma de la bandera del lugar de procedencia de cada uno, muy 
      yankee todo, vamos. La misa se va intercalando entre canciones y oraciones, es espectacular 
      ver el ritual de estas misas nacidas en el siglo XVIII hasta para gente que no es creyente 
      como nosotros, es curioso cómo se te eriza el bello. Nos llamó mucho la atención como vivían 
      los parroquianos el evento con continuos gritos y alabanzas a Jesús, además todos cantan y 
      siguen las canciones ayudados por las pantallas con karaoke. Es gratuito aunque pasan la 
      cesta para la donación, en esta iglesia estábamos ubicados en la parte baja y pudimos abandonar 
      en el momento que quisimos la misa. 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Algo muy típico en Harlem los domingos para los turistas y parroquianos es ir a tomar el 
      Brunch a uno de sus restaurantes (Sylvia´s o Amy Ruth´s), nosotros lo intentamos pero nos 
      daban una hora de espera y decidimos ir a una hamburguesería del barrio (Harlem Shake) que 
      fue todo un acierto (23 $), local hamburguesería americana típica lleno de fotos de 
      famosos que han ido allí a comer, recomendable 100%. 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Era el momento de pasar al Bronx, nosotros decidimos solo dar una vuelta por la zona del 
      estadio de los Yankee´s puesto que el barrio es enorme y no tiene nada turístico, las 
      zonas que nosotros habíamos señalado como de “interés” estaban muy separadas unas de 
      otras (casa Allan Poe o la comisaria de Peralm) y acompañado de la fama que tiene el barrio 
      pues nos quedamos en la parte más occidental. Es cierto que aquí se nota un clima más duro 
      que en Harlem, la gente observa al turista como algo no demasiado habitual, pero no creo que 
      haya un peligro real durante el día, como en cualquier ciudad europea. Cuando empezó a 
      atardecer nos fuimos a la zona sur de Manhattan que teníamos como una hora en metro para 
      las últimas compras y cenar. 
    </div>
  </div>
  <div class="row m-1">
    <div class="col-md12 col-sm-12 mb-1 text-center">
      <img class="nyImagen5 skeleton" src="../../../assets/imagenes/galeriaNy/IMG_1030.JPG">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Estábamos por la zona 0 cuando empezó a nevar, después de dar un paseíto cruzamos el rio a 
      la zona del DUMBO para ver el skyline nocturno, encima cuajaba la nieve! Habíamos escogido 
      para cenar una pizzería en esa parte,Julianna´s, donde te ponen unas de las mejores pizzas 
      de New York, están riquísimas y son gigantes, el local estaba lleno pero conseguimos una mesa 
      compartida con un cliente que estaba solo, nos costó 40 $ y a casa ya que al día siguiente nos 
      íbamos a la capital, estábamos deseando llegar a Washington.
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde" 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde">
</app-pagina-siguiente>
