<div class="container animated fadeIn slower">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloViaje text-center mt-5">3 días en Extremadura</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloDiario text-center mb-3">Cáceres</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaExtremadura/IMG_3008.JPG" class="extremaduraImagen3 skeleton slower">
    </div>
    <div class="col-md-6 col-sm-12 mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaExtremadura/IMG_3052.JPG" class="extremaduraImagen3 skeleton slower">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Nuestra etapa en Cáceres no la llevábamos planificada por lo que no podemos detallar con 
      exactitud una buena etapa por la ciudad, nosotros decidimos perdernos por sus calles 
      aconsejados de varios amigos y vaya si estaban en lo cierto, es sin ningún lugar a dudas 
      una de las ciudades con más encanto de la geografía española, una ciudad barata, con encanto, 
      con historia, con monumentos y buena gastronomía, desde luego IMPRESCINDIBLE.
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-12 mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaExtremadura/IMG_3055.JPG" class="extremaduraImagen3 skeleton slower">
    </div>
    <div class="col-md-4 col-sm-12 mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaExtremadura/IMG_3057.JPG" class="extremaduraImagen3 skeleton slower">
    </div>
    <div class="col-md-4 col-sm-12 mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaExtremadura/IMG_3068.JPG" class="extremaduraImagen3 skeleton slower">
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
