<div class="container anchoGastos">
  <div class="row">
    <h4 class="card-title tituloDiario text-center col-md-10 col-sm-12 m-3">Resumen gastos del viaje de dos personas</h4>
    <table class="table table-striped">
      <thead class="fondoGastos">
        <tr>
          <th scope="col"></th>
          <th scope="col">Concepto</th>
          <th scope="col">Importe</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td>Vuelos</td>
          <td>{{ vuelos }}</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>Hoteles</td>
          <td>{{ hoteles }}</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>Comidas</td>
          <td>{{ comidas }}</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>Entradas</td>
          <td>{{ entradas }}</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>Transportes, coches, combustibles</td>
          <td>{{ transportes }}</td>
        </tr>
        <tr>
          <th class="table-secondary" scope="row"></th>
          <td class="table-secondary">Suma Total</td>
          <td class="table-secondary">{{ suma }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>