<div class="container animated fadeIn slower">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloViaje text-center mt-7">1 día en León</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloDiario text-center mb-3">León</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Este viaje surgía por un evento familiar en Cué, Asturias y decidimos sumarle un día a fin de 
      semana para hacer una parada estratégica en la ciudad castellana de León de la que nos habían 
      hablado muy bien y no se quedaban cortos en absoluto, que maravilla de ciudad y de tapas.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Llegábamos el jueves por la tarde a León donde nos hospedábamos en el hostal Londres por 25€ 
      la noche con desayuno, es un hostal humilde, pero aceptable y barato. Lo gracioso fue a la 
      mañana siguiente que se les había estropeado el calentador y nos informaron que nos devolvían 
      lo pagado, demostrando profesionalidad, además está bastante céntrico.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Empezamos el reconocimiento de la ciudad y de sus bares, en los barrios húmedo, romántico y 
      judío, nos fiamos de un artículo que recomendaba sus mejores bares y le damos un 10 a dicho 
      artículo, que delicia de bares en los que con cada consumición te dan a elegir una tapa, 
      nosotros que somos de Madrid y estamos acostumbrados a las tapas gratis con la bebida nos 
      quedamos sorprendidos de lo que hacen en León, que delicia. No penséis en cenar si vais a 
      tomaros unas cuantas rondas, León sale muy barato!!!!!
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      En cuanto a la ciudad el casco histórico es pequeñito pero con un encanto especial, es una de 
      las paradas obligatorias del camino de Santiago. Visitamos La plaza Mayor, la de San Martín, 
      la de las Palomas y la del Gramo, el palacio del Conde Luna, la casa de Botines (edificio 
      hecho por Gaudí, ¡fuera de Barcelona!), el palacio de los Guzmanes y el de Jabalquinto. 
      Llegábamos a la muralla que nos llevó a la basílica de San Isidoro.
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaLeon/IMG_4176.JPG" class="imgcronica slower">
    </div>
    <div class="col-md-6 col-sm-12 mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaLeon/IMG_4178.JPG" class="imgcronica slower">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      La mañana siguiente fuimos a la catedral para ver la luz de las primeras horas de la mañana 
      entrar por sus majestuosas vidrieras, la visita a la catedral de León debería ser visita 
      obligada para todos los colegios, es una obra maestra del gótico español que comenzó en el 
      1205 sobre construcciones anteriores. Poco os puedo contar sobre la obra maestra que no esté 
      en internet salvo la sensación de “pequeñez” que sientes al entrar gracias a la iluminación 
      que proporciona el sol, sobrecogedor! La entrada son 6€ con audio-guía que dura como una hora 
      y merece la pena escuchar, la entrada al claustro son 2€ más, es un improvisado museo para 
      las esculturas del siglo XIII que adornaban la techumbre de la catedral.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Aunque lo hicimos meses más tarde en una visita con amigos, lo incluimos en este artículo, 
      visitamos la Colegiata de San Isidoro que alberga una colección de frescos del románico que 
      le dan el sobrenombre de la Capilla Sixtina española, también visitamos el MUSAC (museo de 
      arte contemporáneo).
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaLeon/IMG_4190.JPG" class="imgcronica slower">
    </div>
    <div class="col-md-6 col-sm-12 mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaLeon/IMG_4191.JPG" class="imgcronica slower">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Lo dicho, ciudad imprescindible
    </div>
  </div>
</div>
<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
  