.imagenEstocolmo {
  height: 315px;
  width: auto;
}

@media (max-width: 768px) {
  .imagenEstocolmo {
    max-width: 150px;
    height: auto;
  }

  .video {
    /* max-width: 160px; */
    max-height: 200px;
  }
}