<div class="container animated fadeIn slower">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h1 class="tituloViaje text-center mt-7">5 días en Estocolmo, Birka y Drottningholm</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 mt-2 mb-2 text-center">
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1bRxGTMY4zjjzA5CJjessRYbcqEVZQ2wH" class="video"></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h1 class="tituloDiario text-center mb-3">Datos del viaje</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 text-justify">
      El viaje a Estocolmo ha sido totalmente improvisado como viene siendo habitual últimamente. Nos hemos
      prometido enmendarlo porque al final acabas pagándolo. El viaje a la capital sueca no estaba en el guion pero a
      Mey le apetecía viajar a un país nórdico y puesto que Marcos ya había estado en Oslo el país elegido fue Suecia.
      Teniendo en cuenta que teníamos que viajar en el mes de agosto y que los billetes los compramos con menos de
      un mes de antelación los compramos lo más barato que pudimos.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 text-justify">
      La primera sorpresa fue que el vuelo para los bebés de menos de 2 años no es gratis como así venden las
      compañías, al hacer la búsqueda por 2 adultos nos salían os vuelos por 110€ por persona y al incluir a un bebé, el
      cual no tiene asiento en el avión, sino que va encima de sus padres, incrementa las tasas y de qué manera, pero
      ya habíamos entrado en el modo viajeros compulsivos y seguimos dando ‘clicksʼ al siguiente, al final los “3” salió
      por 382,01€ con Iberia en vuelo directo. Como estábamos emocionados por el primer vuelo de Olivia, sumar su
      segunda bandera después de la portuguesa y una nueva para los tres, nos dolió menos el pago.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 text-justify">
      Reservamos una habitación en un hostal, Hostel Bed & Breakfast, de cuatro noches con desayuno en habitación
      privada con baño compartido, nosotros no somos amigos de este tipo de baños, pero la diferencia en precio con
      el siguiente era de casi 200€, finalmente fueron 304,50€. No recomendamos este hostel, si puedes permitirte
      otro claro está, la habitación es súper pequeña, con camas excesivamente blandas y el desayuno muy muy flojo,
      dos tipos de embutidos, dos tipos de cornflakes y dos tipos de zumos, y no es literal, es lo que había. La
      ubicación es bastante buena, entre la biblioteca Stadsbibliotek y el mercado de Hötorget.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 text-justify">
      Por otro lado es una ciudad tremendamente cara, puedes comer a un precio moderado como os detallaremos
      más adelante, pero con mucho cuidado. Lo peor viene con las atracciones, nosotros estuvimos echando cuentas
      y decidimos reservar la stockholmpass (234,54€) y el abono transporte (52,73€), ambos por tres días, una pasta!
      La stockholmpass debéis pensar bien que es lo que queréis ver, nosotros queríamos ir a Birka y a Drottningholm,
      además de entrar en varios museos, palacio y ayuntamiento, en cuanto al abono al ir con el carrito estimamos que
      nos vendría bien, como así fue.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 text-justify">
      La ciudad es un buen ejemplo del civismo nórdico, calles limpias, gentes amables y una sensación de tranquilidad
      total en cada calle, evidentemente hablamos de la zona centro y turística de la ciudad, una ciudad muy hábil para
      viajes con bebés.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 text-justify">
      Todos los precios que os vamos a dar son en euros, lo que nos ha costado ya efectuado el cambio de moneda, ya
      que la moneda que se usa en Suecia es la corona, pero nosotros después de leer muchas opiniones en la misma
      línea decidimos no cambiar a coronas y pagar con tarjeta, y es que absolutamente en todos los sitios hemos
      podido pagar con las cards.
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6 mt-2 mb-2 text-center">
      <iframe class="video" src="https://www.youtube.com/embed/vXN-uduS0vs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-3 col-sm-6 mt-2 mb-2 text-center">
      <img src="../../../assets/imagenes/galeriaEstocolmo/asd.jpg" class="imagenEstocolmo slower">
    </div>
    <div class="col-md-3 col-sm-6 mt-2 mb-2 text-center">
      <img src="../../../assets/imagenes/galeriaEstocolmo/IMG-6845.JPG" class="imagenEstocolmo slower">
    </div>
    <div class="col-md-3 col-sm-6 mt-2 mb-2 text-center">
      <img src="../../../assets/imagenes/galeriaEstocolmo/IMG-7857.JPG" class="imagenEstocolmo slower">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 text-justify conclusiones p-5">
      Como conclusión del viaje una vez realizado hemos de decir que la ciudad nos ha encantado, pero mucho, es una
      ciudad pequeña con la zona de Gamla Stan que enamora y dan ganas de pasearla una y otra vez, como hicimos.
      Como contrapunto decir que es carísimo, las atracciones no son lugares con mucho que aportar, como el Louvre,
      el Prado o Versalles, y sin embargo, son muy caros. La comida tienes que ir fijándote bastante en los precios, el
      alcohol es intocable y en los restaurantes buenos, bonitos y baratos es muy difícil poder sentarse, en nuestro
      caso con un carrito prácticamente imposible. Os detallamos más en los post de cada día.
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
  