<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
            <h1 class="tituloViaje text-center">Road Trip por Portugal en 7 días</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-4 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Aveiro, Monasterio de Batalha y Nazaré</h1>
        </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12 col-sm-12 mb-2 animated fadeIn slower">
        <img src="../../../assets/imagenes/galeriaPortugal/oporto-dia-1-5.JPG" class="panoramica slower"
          alt="Panoramica del Duero, Puente Luis I" title="Panoramica del Duero, Puente Luis I">
      </div>
    </div> -->
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Tras madrugar bastante y desayunar en la magnifica cafetería del hotel (no así la variedad del buffet) nos
            pusimos en marcha que teníamos varios destinos en el día de hoy.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            La primera parada era Aveiro, la Venecia portuguesa, es un ciudad cercano a Oporto con canales y unas
            barcas, llamados moliceiros, similares a las góndolas venecianas que por un precio, que no conocemos, te dan
            paseos por los canales y la costa. Es una ciudad con un centro muy coqueto, que se visita en un par de
            horas, por que tiene unas pocas calles, pero bien merece la pena una parada estratégica. Visitamos el museo
            de Aveiro, en su interior se encuentra el convento de Jesus, de la orden femenina de los dominicos, es una
            autentica pasada.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            A pocos kilómetros se encuentra el faro de Aveiro, el más alto de Portugal, de 66 metros de altura,
            construido en 1893, vamos una pasada de faro, si como a nosotros os gustan los faros, no os lo perdáis,
            ademas esta muy cerca de las famosas casas de colores de la costa de Aveiro, es una zona donde las casas
            están pintadas a rayas de colores, es muy curioso, y las playas atlánticas de arena blanca son preciosas.
            Era la hora de comer y elegimos comer en la arena de la playa, en Bronze, por 34€ los dos, también
            recomendable, comida rica y trato muy amable. Esta zona para venir en verano es una zona espectacular para
            pasar el día en estas playas.
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 animated fadeIn slower portugal3 mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaPortugal/aveiro-6.JPG" class="portugal3 slower"
                alt="Chiringuito playa Aveiro, Bronze" title="Chiringuito playa Aveiro, Bronze">
        </div>
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaPortugal/aveiro-7.JPG" class="portugal3 slower"
                alt="Chiringuito playa Aveiro, Bronze" title="Chiringuito playa Aveiro, Bronze">
        </div>
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaPortugal/aveiro-8.JPG" class="portugal3 slower"
                alt="Chiringuito playa Aveiro, Bronze" title="Chiringuito playa Aveiro, Bronze">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Nuestro siguiente destino era el monasterio de Batalha, construido en 1386 en conmemoración de la victoria
            ante los castellanos por la dinastía Avis es patrimonio de la UNESCO y una de las grandes maravillas de
            Portugal, es denominado panteón real. Tiene un estilo arquitectónico gótico tardío o Manuelino. Vamos que es
            una visita obligada en el país, a nosotros nos impresiono, no pensábamos encontrarnos con este monasterio
            tan impresionante, la zona del panteón está al descubierto y nos llamo la atención mucho. La entrada de los
            dos fue de 9€.
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-4 mb-5 justify-content-center">
            <app-modal-foto7 [imagen]="imagen7" [imagenModal]="imagenModal7" [titulo]="titulo7"></app-modal-foto7>
            <app-modal-foto8 [imagen]="imagen8" [imagenModal]="imagenModal8" [titulo]="titulo8"></app-modal-foto8>
            <app-modal-foto9 [imagen]="imagen9" [imagenModal]="imagenModal9" [titulo]="titulo9"></app-modal-foto9>
            <app-modal-foto10 [imagen]="imagen10" [imagenModal]="imagenModal10" [titulo]="titulo10"></app-modal-foto10>
            <app-modal-foto11 [imagen]="imagen11" [imagenModal]="imagenModal11" [titulo]="titulo11"></app-modal-foto11>
            <app-modal-foto12 [imagen]="imagen12" [imagenModal]="imagenModal12" [titulo]="titulo12"></app-modal-foto12>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Por la tarde llegábamos a Nazaré donde íbamos a pasar la noche, a esta ciudad le dedicamos menos tiempo del
            debido pero íbamos con un tiempo limitado en esta ocasión, así que recomendamos dedicarle algo más, aunque
            no tiene una gran atracción turística, una sola tarde es escaso. Alquilamos una habitación en una casa de
            huéspedes que se encontraba hacia y por ello tuvimos todo el espacio para nosotros, como podéis ver en las
            fotos las vistas no se podían mejorar, os lo recomendamos encarecidamente, casa do passarinhos, por 29€ la
            noche. La ciudad está dividida entre la parte alta y la baja, para ir de una a otra hay un teleférico o el
            coche, por que para ir andando necesitas el carnet de alpinista.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Bajamos a la zona del faro para verlo y ver el atardecer desde el mismo, ademas en el faro hay un museo del
            surf, cuesta 1€ la entrada, y es que Nazaré es famoso por que en noviembre se da la conocida como la ola de
            Nazaré que atrae a miles de temerarios surfistas para cabalgar esta ola de mas de cinco metros, ver los
            videos de este acontecimiento acongoja el estomago, el atardecer quita el hipo en este acantilado,
            recomendable!
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Tras un paseo por la parte alta de Nazaré, nos fuimos a cenar. Para cenar elegimos dos restaurantes en la
            zona baja que estaban cerrados, era lunes, y decidimos ir a uno cerca de nuestro hospedaje, elegimos un
            sitio muy pijo que nos trataron de excepción, fue un poco caro pero nos gusto, Pangeia, 62,70€ los dos. A
            dormir!
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 animated fadeIn slower portugal3 mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaPortugal/nazare-7.JPG" class="portugal3 slower"
                alt="Pangeia, Nazaré" title="Pangeia, Nazaré">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaPortugal/nazare-8.JPG" class="portugal3 slower"
                alt="Pangeia, Nazaré" title="Pangeia, Nazaré">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaPortugal/nazare-5.JPG" class="portugal3 slower"
                alt="Pangeia, Nazaré" title="Pangeia, Nazaré">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaPortugal/nazare-6.JPG" class="portugal3 slower"
                alt="Pangeia, Nazaré" title="Pangeia, Nazaré">
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>