<div class="container animated fadeIn slower">
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloViaje text-center mt-7">Algarve</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-center">
            <img class="panoramica mt-5 mb-5 slower" src="../../../assets/imagenes/galeriaPortugal/tavira8.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Tavira</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Dada la cercanía de Tavira con nuestro lugar de vacaciones en La Antilla (Huevla) decidimos pasar el día en
            esta preciosa ciudad del Algarve portugués, nuestra intención era recorrerlo todo en nuestras vacaciones,
            pero se torcieron y tuvimos que volver de urgencia a Madrid, así que solo pudimos visitar un día el Algarve.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            La ciudad se encuentra en la parte oriental del Algarve en Portugal, se trata de una antigua población y es
            hoy considerada la más pintoresca de la región y con razón. En la ría de Formosa tiene una línea de costa
            muy extensa, unos 12 kilómetros de playas arenosas y aguas cristalinas, destacaríamos la Praia do Barril y
            su famoso museo de anclas. Es una población totalmente orientada al turismo, antes fue una zona de
            pescadores.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Esta plaza defensiva del imperio andalusí en tiempos musulmanes tuvo mucha importancia por su puerto durante
            el siglo XIV. Hoy podemos encontrar una gran variedad de construcciones desde el año 1755, puesto que fue
            totalmente derruida por un terremoto. Solo en el casco histórico hay más de 36 iglesias, ¡ojo!
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Las vistas desde la zona de la ría son una maravilla, en particular desde el puente sobre el río Gilao, las
            mansiones del siglo XVII en blanco impoluto se mezclan con fachadas impregnadas de azulejos nos dejan una
            vista digna de ver. Una vez en el interior del casco histórico podemos perdernos por sus empinadas y
            estrechas calles empedradas en busca de la parte alta hasta el Castillo de Tavira, parcialmente restaurado,
            hoy es un hermoso jardín con unas vistas inmejorables de la ciudad desde las almenaras.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-3 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaPortugal/tavira4.jpg" class="imgcronica slower">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-3 mb-1 text-center align-self-center text-center">
            <img src="../../../assets/imagenes/galeriaPortugal/tavira5.jpg" class="imgcronica slower">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-3 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaPortugal/tavira6.jpg" class="imgcronica slower">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-3 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaPortugal/tavira7.jpg" class="imgcronica slower">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            La parte curiosa de la ciudad podemos definirla en la Cámara oscura, una cámara que proyecta unas vistas
            panorámicas de toda la ciudad en un antiguo depósito de agua.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            En la bajada, sino habéis pasado en la subida, la Praça da Republica es preciosa y es el punto neurálgico
            por el que siempre pasareis. El mercado de Ribeira hoy convertido en un lugar de ocio, repleto de tiendas y
            restaurantes, es un lugar donde tomar un tentempié y descansar del intenso calor del verano del sur.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Lo más famoso de la ciudad posiblemente sea la Ilha de Tavira, isla que se encuentra a 5 minutos en ferry,
            desde donde disfrutar de la biodiversidad de la zona y todas las aves que se pueden ver, delicia para los
            amantes de la ornitología. El ferry sale cada media hora desde las 9:30 hasta las 18:30 y tan solo cuesta
            dos euros.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            En cuanto a las iglesias de Tavira quizá podamos destacar la de Santa María do Castelo, destacable por su
            belleza y por la torre del reloj, construida en el siglo XIII y remodelada en 1755, la plaza que la precede
            es super tranquila con varias terrazas para descansar. La Igreja da Misericórdia, su fachada llena de
            azulejos perfectamente conservados. La Ermida de Sao Sebastiao y sus obras de arte, ambas iglesias son
            gratuitas.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Por la parte gastronómica como sitio costero destaca su pescado a la plancha, el atún, el pulpo y los
            mariscos, pero se entremezclan con cordero y diferentes tipos de quesos de oveja o de cabra, esto es por la
            cercanía con la sierra. Y de postre podemos degustar pasteles elaborados con almendra, higo y con los
            folhados de Tavira. Nosotros comimos en Scoopit por 33,10€ los dos, lugar en el centro que nos gusto mucho y
            recomendamos.
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-3 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaPortugal/tavira1.jpg" class="imgcronica slower">
        </div>
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-3 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaPortugal/tavira2.jpg" class="imgcronica slower">
        </div>
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-3 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaPortugal/tavira3.jpg" class="imgcronica slower">
        </div>
    </div>
</div>