<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
      <h1 class="tituloViaje text-center">Road Trip por Portugal en 7 días</h1>
    </div>
  </div>
  <!-- <div class="row">
    <div class="row m-3 mt-4 mb-5 justify-content-center">
      <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower">
      <h1 class="tituloDiario text-center mb-3">Oporto</h1>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-12 col-sm-12 mb-2 animated fadeIn slower">
      <img src="../../../assets/imagenes/galeriaPortugal/oporto-dia-1-5.jpg" class="panoramica slower"
        alt="Panoramica del Duero, Puente Luis I" title="Panoramica del Duero, Puente Luis I">
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      La mañana comenzaba de la mejor manera posible, con Oporto a nuestros pies, desayunando desde la planta 13 del
      hotel Miradouro, con unas vistas que quitan el hipo, así empezar un día para visitar la ciudad es insuperable.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Ya en la calle nos pasábamos por la plaza de la liberdade y la ruta de bolhano, una de las principales calles de
      Porto, se trata de una calle comercial, pero lo más destacable está en el mercado con el mismo nombre, que es un
      mercado al uso que vende los productos locales, con un colorido y una materia prima excelente, y destaca la
      capilla de las Almas, típica iglesia con la fachada de decorada con azulejos en blanco y azul tan características
      en Portugal.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      A estas alturas ya pudimos percibir ese aire romántico y a la vez decadente que se respira en las dos grandes
      ciudades de Portugal, entre edificios en diferente estado de ruina y fachadas pintadas con grafitis es una
      sensación de ruina bastante avanzada, pero a su vez da una visión bucólica que en pocos sitios hemos visto. Con
      esta sensación no podíamos llegar a otro lugar que al café Majestic, se trata de una cafetería modernista de
      principios del siglo XX, vamos que ya estábamos a punto de ponernos a escribir una novela.
    </div>
  </div>
  <!-- <div class="row">
        <div class="col-md-6 col-sm-12 animated fadeIn slower portugal1 mt-1 mb-1">
          <img src="../../../assets/imagenes/galeriaPortugal/braganza2.jpg" class="portugal1 slower" alt="Solar Bragançano, Bragança" title="Solar Bragançano, Bragança">
        </div>
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-1 mb-1">
          <img src="../../../assets/imagenes/galeriaPortugal/braganza3.jpg" class="portugal1 slower" alt="Solar Bragançano, Bragança" title="Solar Bragançano, Bragança">
        </div>
      </div> -->
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Bajamos por la avenida dos Aliados, la principal avenida del país. A continuación llegábamos a la estación de tren
      de Sao Bento, de 1916, aunque el primer tren llegó en 1896, revestido con veinte mil azulejos, es una de las obras
      artísticas de mayor valor de la ciudad, la verdad que es impresionante.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Iriamos a la iglesia de los clérigos y a la livreria Lelio, es donde supuestamente empezó y se inspiro
      J.K.Rowlling su obra de Harry Potter, Mey es una gran aficionada y tenia muchas ganas de entrar pero cuando
      llegamos y vimos una cola de espera de cientos de personas y nos fijamos en que la entrada eran 12,50€ desistimos,
      no creemos que merezca la pena ni mucho menos entrar, se trata de una librería muy peculiar y bonita, pero es
      bastante pequeña. En fin, no para nosotros.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Bajamos hasta la ribera para ver el palacio de la bolsa , al cual no entramos, y a la iglesia de San Francisco, la
      entrada 13,50€ los dos, que te permite entrar al panteón y a la iglesia, del siglo XIV, una pasada, es el mejor
      ejemplo del gótico portugués ya que casi no ha sufrido alteraciones desde su construcción.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Era la hora de comer y nos acercamos a la zona de la estación de Sao Bento y comimos dos hamburguesas buenísimas
      en Marianus, por 20€ los dos, es un local regentado por dos argentinas muy simpáticas, altamente recomendable,
      bueno y barato.
    </div>
  </div>
  <!-- <div class="row">
        <div class="col-md-6 col-sm-12 animated fadeIn slower portugal1 mt-1 mb-1">
          <img src="../../../assets/imagenes/galeriaPortugal/oporto-dia-1-6.jpg" class="portugal1 slower" alt="Largo s domingos" title="Largo s domingos">
        </div>
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-1 mb-1">
          <img src="../../../assets/imagenes/galeriaPortugal/oporto-dia-1-7.jpg" class="portugal1 slower" alt="Largo s domingos" title="Largo s domingos">
        </div>
      </div> -->
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Con la tripa llena nos toco subir un cueston hasta la catedral o sé de Oporto, es lo que tiene Portugal, no te da
      ni un respiro. La entrada a la catedral es gratuita, y puedes subir a su terraza y ver su museo, además la
      explanada donde se encuentra también tiene buenas vistas y si tenéis suerte como nosotros escuchareis alguna
      interpretación de artistas callejeros representado algún fado con el que deleitarse y llorar, xD.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      El resto de la tarde la dedicamos a recorrer Gaia y sus callejuelas encantadoras, parando a tomar unos cafés con
      unas super tortitas en un sitio muy chic, 7G, nos costó 11,80€ los dos. Tras descansar las piernas volvimos a la
      orilla del rio y la volvimos a pasear, es precioso ese paseo. Y volvimos al lado de Porto a pasear nuevamente la
      ribera, como nos habíamos zampado esa bomba calórica no teníamos hambre y acabamos el día subiendo cansados las
      cuestas al hotel para tratar de descansar.
    </div>
  </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
