<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
      <h1 class="tituloViaje text-center">10 días en Sicilia, Road Trip</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-4 mb-5 justify-content-center">
      <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower">
      <h1 class="tituloDiario text-center mb-3">Valle de los Templos, Villa romana del Casale, Piazza Armerina y Noto</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Salimos del apartamento por la mañana un poco a escondidas, no sé dónde nos habíamos metido, 
      pero tuvimos de hilo musical una noche de desenfreno en alguna de las habitaciones colindantes, 
      que fue bastante gracioso la verdad. Y entonces el destino nos estaba llevando al MEJOR 
      CROISSANT DE NUTELLA del mundo, en una pequeña pastelería la mujer te rellenaba los mismos 
      insitu, y no se quedaba corta, que ricos!!!
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Como la mañana estaba lluvioso Mey se abrigó un poco más que días anteriores, que error, 
      cuando llegamos a la entrada del valle de los Reyes se despejo y la claridad y el calor 
      ocuparon el cielo, así entrabamos a este parque arqueológico, que debe tener muchísimo turismo 
      en otras épocas del año, la entrada nos costó 15€, tened en cuenta que Marcos paga la mitad 
      generalmente.
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
      <img src="../../../assets/imagenes/galeriaSicilia/IMG_0286.JPG" class="imagenSicilia5 slower">
    </div>
    <div class="col-md-4 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
      <img src="../../../assets/imagenes/galeriaSicilia/IMG_0112.JPG" class="imagenSicilia5 slower">
    </div>
    <div class="col-md-4 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
      <img src="../../../assets/imagenes/galeriaSicilia/IMG_0005.JPG" class="imagenSicilia5 slower">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      El valle de los Reyes parece sacado de Gracia, está lleno de templos (Juno, de la Concordia, 
      de los Dióscuros, Seus, Hera, Hércules y Vulcano), muchos ciertamente bien conservados, el 
      paseo es largo y se lleva unas horas y unas calorías quemadas, con la entrada se puede acceder 
      al museo arqueológico regional.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Tras unos 100 km llegamos a la Villa Romana del Casale, como su nombre indica es una antigua 
      residencia de época romana con la mayor extensión de mosaicos conservados del mundo, además 
      están en un estado formidable, al parecer entorno al siglo II se inundó y quedo cubierta por 
      el barro lo que hizo que fuese conservada para nuestro deleite y estudio. Esta villa se 
      encuentra muy preparado para el turismo con puestos de souvenirs en la entrada, lo que 
      supongo indica una alta masificación. La entrada nos costó 10€.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Se nos estaba haciendo un poco tarde y no queríamos comer en un sitio tan turístico y 
      decidimos ir al pueblo de al lado, Piazza Armerina, un bonito pueblo en lo alto de las 
      montañas, donde comimos muy bien por 28€, además tenías esa sensación de estar en la 
      Sicilia autentica.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <img class="panoramica mt-5 mb-5 slower" src="../../../assets/imagenes/galeriaSicilia/IMG-0308.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Otros 125 km y llegamos al destino, Noto, ya en la parte occidental de la isla, es una 
      ciudad muy pequeñita que “solo” tiene una calle, el corso Vittorio Emanuelle, donde pudimos 
      observar el esplendor de esta ciudad en el periodo barroco, la porta reale, la iglesia del 
      Santissimo Salvatore, San Francisco de Asís y sobre todo la catedral de San Nicoló y el 
      palacio Ducezio atestiguan mis palabras.
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
      <img src="../../../assets/imagenes/galeriaSicilia/IMG_0069.JPG" class="imagenSicilia5 slower">
    </div>
    <div class="col-md-6 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
      <img src="../../../assets/imagenes/galeriaSicilia/IMG_0279.JPG" class="imagenSicilia5 slower">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Tras dar unos paseos y notar demasiado el cansancio estuvimos tomando algo en la calle 
      principal y también cenaríamos en la misma, nos hospedábamos en el centro, cerca de la 
      cárcel de Noto, prisión con solera, parece una cárcel del siglo XVI.
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
      