<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
            <h1 class="tituloViaje text-center">Road Trip por el nordeste de EEUU en 10 días</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-4 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Harlem</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Era nuestro último día, el avión salía a las 20:30 hora local, así que nos daba tiempo a un poquito más y
            era domingo, no había duda, era tiempo de Harlem, el barrio negro por excelencia de Manhattan, en antaño
            ghetto y nido de rebeldes afroamericanos como Malcolm X, Assata Shakur o Ángela Davis entre otros muchos, o
            de eminencias como Muhammad Ali o Ella Fitzgerald, lugar famoso por todo esto y por sus misas Gospel. Se
            encuentra al norte de Manhattan pasando Central Park.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            En la entrada al barrio podemos visitar la universidad de Columbia, pero lo bonito es pasearte por sus
            calles que mezclan zonas de casas de tres o cuatro alturas, hoy con unos precios elevadísimos, y la zona
            donde aún siguen viviendo gente con rentas bajas en altos bloque al estilo de colmenas, es un contraste que
            se percibe desde que entras al barrio, la zona más al norte es la más humilde, según bajas va cambiando.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            El corazón de Harlem se puede ubicar en el cruce de la calle 125 st con Malcolm X blvd, es en esta zona
            donde se concentran la mayoría de iglesias donde se celebran este tipo de misas los domingos entre las 10 y
            las 14 de la mañana. La variedad es muy grande puedes elegir entre una pequeña iglesia con pocos
            parroquianos y las que parecen un musical de Broadway. Nosotros hemos probado las dos, esta vez tocó la
            segunda, que expectaculo en First Corinthians Baptist Church, se trata de una iglesia ubicada en un antiguo
            teatro y tienen una organización espectacular con un juego de luces y un sistema de sonido que ya quisieran
            muchos grupos de rock. La iglesia se lleno hasta los topes entre canciones de estas grandes voces vimos cómo
            se bautizaban unos 25 parroquianos en la piscina bautismal, alguno entrando en trance incluso, la verdad que
            no nos esperábamos este espectaculo. En la iglesia te dan un sobre para que participes voluntariamente con
            tu donación, pero la entrada es gratis. El evento religioso aunque está destinado a sus parroquianos tienen
            más que normalizado la visita de los turistas, reciben de una forma muy cordial, un gusto!
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Al salir de la iglesia fuimos a comer a Sylvia's, este restaurante en el centro del barrio es conocido por
            su cocina sureña que ofrecen desde 1962, os recomendamos que reservéis con anterioridad, el restaurante con
            actuación en vivo es ligeramente caro, 108€. Pero era algo que queríamos hacer si o si, comer su típico
            pollo frito con o sin gofres.
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1 align-self-center text-center">
            <img src="../../../assets/imagenes/galeriaEEUU/dia11-7.jpg" class="imgcronica slower" alt="Sylvia´s, Harlem"
                title="Sylvia´s, Harlem">
        </div>
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1 align-self-center text-center">
            <img src="../../../assets/imagenes/galeriaEEUU/dia11-8.jpg" class="imgcronica slower" alt="Sylvia´s, Harlem"
                title="Sylvia´s, Harlem">
        </div>
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1 align-self-center text-center">
            <img src="../../../assets/imagenes/galeriaEEUU/dia11-9.jpg" class="imgcronica slower" alt="Sylvia´s, Harlem"
                title="Sylvia´s, Harlem">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Tras otro paseo por las calle era hora de irnos hacia el aeropuerto, elegimos ir en uber, 82€, por ser
            cuatro con tantas maletas, se tarda casi una hora con el tráfico. Nos llevó un dominicano que nos dijo lo
            difícil que era vivir en la Gran Manzana y los grandes esfuerzos que necesitan hacer para sobrevivir allí.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Tras un largo proceso de embarque y un retraso del vuelo por un supuesto problema eléctrico de los aparatos
            de televisión, en realidad estaban esperando a un grupo de cheerleaders de los bronco denvers que venían en
            el vuelo, salimos cansadisimos hacia casa, pero con una sonrisa de un viaje que nos ha encantado y haciendo
            planes para el siguiente, donde será?
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>