<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
            <h1 class="tituloViaje text-center">5 días en Estocolmo, Birka y Drottningholm</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-4 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Isla de los Museos, Cambio de Guardia, Palacio Real y Catedral de
                San Nicolás</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 mb-2 animated fadeIn slower">
            <img src="../../../assets/imagenes/galeriaEstocolmo/IMG-7417.JPG" class="panoramica slower"
                alt="Panoramica de Estocolmo" title="Panoramica de Estocolmo">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            El día amanecía fresquito, pero era un espejismo porque en Estocolmo también hace calor algunos días al año
            contra todo pronóstico, vaya calor pasamos los tres últimos días. Después del pobre desayuno del hostel al
            que aportamos el salón que nos había sobrado del día anterior, que rico, tomábamos el metro hasta la
            estación de kungsträdgården, la más cercana a la isla de Djurgarden o más conocida como isla de los museos,
            una isla como su propio nombre indica donde se encuentran varios museos de la ciudad.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Lo primero que te encuentras antes de cruzar el puente hacia la isla es la iglesia de Oscarskyrkan, que se
            encontraba cerrada, pero el exterior es muy bonito, es una de las principales iglesias de la ciudad.
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <iframe class="video" src="https://www.youtube.com/embed/zd7vZZNSSIQ" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <iframe class="video" src="https://www.youtube.com/embed/XBRvMo2kYwU" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Una vez en la isla de los museos, aunque el primero que te encuentras es el museo nórdico, nosotros entramos
            primero en el Skansen, se trata de un museo al aire libre que intenta reconstruir la vida rural de hace
            siglos en Suecia, en una superficie de 300.000 m2 han sido trasladadas casas centenarias desde toda Suecia y
            distribuidas según su antigüedad, las casas a lo largo del museo están acompañadas de actores con ropas
            tradicionales, de época, que dan un aura antiguo al lugar. Todo acompañado de parques de flores y un entorno
            arbóreo que dan una paz muy bonita. En este mismo museo hay un zoológico, que, si bien no somos muy amigos
            de este tipo de lugares, te dejan ver la fauna típica de país escandinavo, lobos, osos, renos, bisontes,
            jabalíes, etc. También hay un acuario al cual no entramos. Era domingo y al ser un museo fantástico para ir
            con niños, estaba repleto, había una actuación en un escenario con miles de niños y sus respectivos
            carritos, nunca habíamos visto un parking de carritos tan grande!!! El museo está en una colina y tiene
            varios puntos desde los que ver todo Estocolmo. Por todo ello, visita imprescindible en la ciudad, entra en
            la StockholmPass.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaEstocolmo/estocolmodia3-4.JPG" class="imgcronica slower"
                alt="Skansen, Estocolmo" title="Skansen, Estocolmo">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 animated fadeIn slower mt-1 mb-1 align-self-center">
            <img src="../../../assets/imagenes/galeriaEstocolmo/estocolmodia3-2.JPG" class="imgcronica slower"
                alt="Skansen, Estocolmo" title="Skansen, Estocolmo">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 animated fadeIn slower mt-1 mb-1 align-self-center">
            <img src="../../../assets/imagenes/galeriaEstocolmo/IMG-7275.JPG" class="imgcronica slower"
                alt="Skansen, Estocolmo" title="Skansen, Estocolmo">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaEstocolmo/estocolmodia3-6.JPG" class="imgcronica slower"
                alt="Hnefatafl, juego vikingo" title="Hnefatafl, juego vikingo">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Como era la hora del cambio de guardia, domingos a la una del mediodía, el resto de días a las doce, tomamos
            el tranvía número 7 que lleva a T-Centralen, cerca del palacio Real, llegamos con 15 minutos de antelación y
            ya había muchísima gente y nos pusimos en un lateral, del que justo a un minuto de empezar nos echaron la
            policía militar a decenas de personas y tuvimos una peor perspectiva, a nosotros no nos importó demasiado,
            pero si queréis verlo en condiciones tenéis que ir con bastante tiempo de antelación. Es un cambio de
            guardia muy grande con muchos participantes en el mismo y dura unos 40 minutos, no tiene nada que envidiar
            al de Londres. Comentaros que hay otro cambio mucho menor, en cuanto a participantes se refiere, por las
            tardes a las seis, por si no queréis ese barullo tan grande.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Al estar al lado la catedral de san Nicolás, su fecha se desconoce, pero se tiene un primer documento de su
            existencia del año 1279, es de estilo gótico con una sola torre el interior y de estilo barroco el exterior
            tras una remodelación de 1740. En el interior destacan la escultura de San Jorge y el dragón, se creé que,
            del siglo XV, supuestamente contienen las reliquias de San Jorge, y el cuadro más antiguo de Estocolmo de
            1535 conocido como Vädersolstavlan.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-sm-12 mt-4 animated fadeIn slower text-justify">
            <p>Como era la hora de comer fuimos al mercado de Hötorget, pero no hagáis el primo como nosotros, los
                domingos cierra, así que tuvimos que comer en un kebab cercano, nos costó 12,78€, y volvimos a la isla
                de los museos a visitar los que nos quedaban de la lista que queríamos ver, quizá no sea la mejor
                organización para la visita, pero nos fue surgiendo sobre la marcha.</p>
            <p>Empezábamos por el museo vikingo, también entra en la StockholmPass, es un museo sobre la cultura vikinga
                como su nombre indica, hoy nos estamos quedando calvos con las definiciones, es una exposición pequeña
                pero muy bien apañá, donde cuentan la historia de las incursiones, la mitología y el comercio de este
                pueblo nórdico, además enseñan a jugar a un juego de tablero que se estilaba en estas tierras, el
                Hnefatafl, y tienes un trono para disfrazarte, que hizo las delicias de Marcos. Solo conectándose al
                wifi puedes escuchar en varios idiomas, también castellano, el audioguía del museo.</p>
        </div>
        <div class="col-lg-3 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaEstocolmo/0192a8af637e2b0f1f3dd6abbf90d2862a0124cf23.jpg"
                class="imgcronica slower" alt="Kebab en Estocolmo" title="Kebab en Estocolmo">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Después fuimos al museo Vasa, este museo recrea un galeón de 1628 que se hundió en su viaje inaugural al
            salir de puerto, 333 años después fue sacado del fondo del mar con técnicas novedosas. Se expone un 98% de
            las piezas originales de este buque de guerra, es un barco sobre cargado en detalles artísticos, es
            precioso, pero poco útil para la navegación, lo que provoco su hundimiento en el puerto de Estocolmo. El
            museo consta de 7 plantas donde detallan su historia al dedillo. Como dato curioso deciros que es el museo
            más visitado de toda Suecia. Entra también en la StockholmPass.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Seguido visitamos el Nordisk museet, es un museo sobre la historia del pueblo sueco, sus
            tradiciones, su artesanía, sus hábitats, su comida, etc. No nos gustó demasiado, aunque el
            edificio es una auténtica pasada, construido en 1907, inspirado en el renacimiento danés.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            También quisimos ir ya que estábamos allí a los museos de Pipi Langstrump y al museo de ABBA, aunque no
            entran en la StockholmPass y solo era por hacer la gracia pues decidimos no entrar, en el fondo no teníamos
            interés en ellos.
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-3 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaEstocolmo/013106a6efac6fdd29d3e3b08040c26cd4beb0ea52.jpg"
                class="imgcronica slower" alt="Restaurante Sallys, Estocolmo" title="Restaurante Sallys, Estocolmo">
        </div>
        <div class="col-lg-6 col-sm-12 animated fadeIn slower text-justify">
            <p>Volvimos a Gamla Stan a nuestro paseo del atardecer y sobre todo en busca de nuestra cena y esta vez sí
                que nos fue imposible encontrar en uno de los que habíamos buscado, entre los que estaban cerrados, los
                que estaban llenos y los que no aceptaban niños, tuvimos que sentarnos en un italiano, Sallys Bar, que
                no era lo que teníamos en mente, pero que no estuvo mal, nos costó 39,94€ los dos.</p>
            <p>Nos retirábamos a descansar y decidimos bajar a ver la estación de T-Centralen en la parte más profunda,
                aunque no era nuestra línea porque es la más bonita y diferente al metro de Madrid, con los muros en
                azulito, muy curioso, la línea que nos correspondía esta ornamentada en azulejos de los años 50, menos
                impactante visualmente pero también bonita.</p>
        </div>
        <div class="col-lg-3 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaEstocolmo/01a496abcae5fdf96f496c643951bed438310bb4dd.jpg"
                class="imgcronica slower" alt="Restaurante Sallys, Estocolmo" title="Restaurante Sallys, Estocolmo">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 text-justify conclusiones mt-5 p-5">
            De los museos destacaría por encima del resto el de Skansen, el museo vikingo (este quizá por ser un pelín
            frikis) y el Vasa, el palacio de Estocolmo casi es una visita obligatoria pero que nos ha decepcionado
            bastante, y el Nordisk no merece la pena. Estos datos os los doy por si no sacáis la StockholmPass y tenéis
            que pasar por caja, si la sacáis y tenéis tiempo pues como nosotros, entrar a todo. En cuanto al cambio de
            guardia, va muchísima gente, así que si queréis verla en condiciones y un buen ángulo os recomiendo ir con
            tiempo.
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>