<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloViaje text-center mt-5">4 días en Berlín</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-5 mb-5 animatedzoomIn justify-content-center">
      <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloDiario text-center mb-3">Campo de concentración, Sachsenhausen</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Amanecíamos pronto y después de aprovechar el bufet del hotel emprendíamos la marcha, queríamos 
      empezar por las visitas que no habíamos hecho el día anterior y el primer punto era la conocida 
      coloquialmente como la iglesia del recuerdo, es una iglesia construida en memoria del emperador 
      Wilhelm en 1895 y bombardeada durante la segunda Guerra Mundial se ha conservado como memorial a 
      la memoria de está. Cogíamos el tren para llegar a Mehringplatz y a la iglesia de San Bonifacio, 
      más al sur está el cementerio de Friedhofsverwaltung vor dem Halleschen Tor, que merece mucho la 
      pena visitar.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
        En metro llegábamos al Reichstag y a la puerta de Brandemburgo que ya habíamos visto la tarde 
        anterior y nos dirigimos a Gendarmermarkt para ver el palacio de conciertos y las dos iglesias 
        gemelas Neue Kirche (1708) y Französischer Dom(1785) en está puedes acceder a la cúpula por 3 €, 
        aunque si luego accedes a la de la catedral no merece la pena. Hacia el noreste está a catedral de 
        San Eduvigis y la Babelplatz, celebre plaza por la quema de libros contrarios a la ideología nazi, 
        el 10 de marzo de 1933. Posteriormente llegábamos al edificio neoclásico de la Nueva Guardia, 
        dentro está la famosa escultura de “madre con hijo muerto”, en la actualidad es un homenaje a las 
        víctimas de guerra y dictadura.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
        En este punto decidimos alterar nuestra ruta y dejar una serie de lugares para la mañana siguiente. 
        Veíamos las banderas americanas, era el Checkpoint Charlie, el más famoso de los pasos fronterizos 
        del muro, el que se encontraba entre la zona americana y la soviética, con tres actores disfrazados 
        de marines para hacerte la foto, por 3€. Cerca se encuentra la exposición Topografía del Terror 
        justo donde se ubicaba el cuartel de las SS y la Gestapo, es una exposición del horror que 
        desarrollaron estos mismos cuerpos, es gratuito. Un poco más adelante esta Potsdamer Platz, 
        plaza que acoge la Berlinale y donde se encuentra el semáforo más antiguo de Europa (1920) y el 
        Sony Center, complejo de edificios comerciales.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
        Cruzábamos el puente de Schlossbrücke (1824) hacia la isla de los museos con nuestras salchichas 
        de currywust y lo primero que nos encontrábamos era la catedral donde accedimos por 7€, es una 
        catedral bastante moderna, 1905, pero bonita tanto por fuera como por dentro, además puedes acceder 
        a la cúpula en una ascensión que parece que vas a un desván cualquiera y desde donde tienes vistas 
        de 360º de todo Berlín. Después entramos al museo de Pergamo, que está en restauración el altar de 
        Pergamo, y nos pareció un precio excesivo (12€) para lo expuesto, es cierto que ver la puerta de 
        Istar es algo imponente.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
        Como la mañana había sido muy productiva habíamos improvisado sobre la marcha visitar la zona 
        noreste de la ciudad que la teníamos planificada para el día siguiente y así podríamos ir a ver 
        Potsdam, por lo que cruzábamos el puente y nos encontrábamos con las estatuas de Marx y Engels, 
        donde hay una pequeña exposición fotográfica de los partidos comunistas internacionales.
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-12 text-justify">
          Muy cerca esta Rotes Rathaus o el ayuntamiento rojo, edificio construido en 1865 al estilo 
          del renacimiento italiano, es la sede del gobierno berlines. Justo enfrente podemos ver la fuente 
          de Neptuno, la iglesia de Santa María y el “piruli” o Berliner Fernsehturm, que es la torre de la 
          televisión. Fuimos ascendiendo por el barrio judio hasta la estación/mercado de Hackescher, 
          es una estación de ladrillo rojo preciosa ocupada por bares y restaurantes, justo al lado hay una 
          serie de patios curiosos de ver, uno es en plan chic y el otro es alternativo, son un contraste 
          digno de ver.
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-justify">
          Hacia el oeste nos encontrábamos con el cementerio judío con tumbas fechadas entre 1627 y 1800,
          que se llenó las 12.000 tumbas de este cementerio, en la puerta hay una escultura conmemorativa
          del holocausto, a nosotros nos decepciono un poco por que casi no se aprecia el cementerio.
          Más adelante estaba la nueva sinagoga y Tacheles, edificio ocupado por artistas y convertido en
          centro cultural, teníamos muchas ganas de visitarlo pero no pudimos entrar, no sabemos si esta en
          restauración o es que ya no se podía pero nos llevamos un pequeño chasco.
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-justify">
          Otra vez empezaba a llover y cogíamos el metro para ir al memorial del muro de Berlín, 
          es una pequeña recreación de lo que era el muro, todo Berlín está rodeado por una fila de 
          ladrillos en el suelo que indica por donde iba el muro, es curioso de observar. 
          Volvíamos al metro que nos llevaba al Wassertum, antiguo depósito de agua que los nazis 
          utilizaron como prisión y hoy son viviendas. Y llegamos a la zona de KulturBrauerei, 
          es un complejo neogótico de ladrillo rojo que antiguamente era una cervecería pero hoy 
          está destinado a zona de ocio con bares y puestos donde los berlineses pasan sus tardes, 
          a nosotros nos cogió lloviendo por lo que había muy poca gente, una pena. 
          Para cenar decidimos ir a The Bird por sus famosas hamburguesas pero no había sitio.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-sm-12">
          <img src="../../../assets/imagenes/galeriaBerlin/IMG_2142.JPG" class="berlinImagen1 skeleton">
        </div>
      </div>
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
