<div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="tituloViaje text-center mt-5">5 días en Bulgaria</h1>
      </div>
    </div>
    <div class="row">
      <div class="row m-3 mt-5 mb-5 animatedzoomIn justify-content-center">
        <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
        <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
        <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
        <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
        <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
        <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
      </div>
    </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h1 class="text-center tituloDiario mb-3">Monasterio de Rila y Sofía</h1>
        </div>
      </div>
      <div class="row mt-1 mb-3">
        <div class="col-md-12 col-sm-12">
          <img src="../../../assets/imagenes/galeriaRumania/bul-3-7.jpg" class="panoramica skeleton">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 text-justify">
          Hoy nos tocaba bajar 125 km al sur de Sofía para visitar el Monasterio de Rila, que cuenta 
          la leyenda que fue su primer poblador el monje ermitaño Rila en el siglo IX que subió a los 
          montes a retirarse del mundo y meditar durmiendo en un hueco que hizo en un árbol en forma 
          de ataúd, esto fue seguido por otros monjes que le siguieron en su forma de vida austera y 
          se erigió el monasterio, que se encuentra en unas colinas boscosas entre ríos que son de 
          impresión, los tonos de los árboles y las hojas caídas en este otoño son indescriptibles, 
          ni tan siquiera con las fotos que hemos hecho podemos enseñároslo.
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 text-justify">
          El camino que lleva es una buena autopista, las carreteras en general son mucho mejores que 
          en Rumania, hasta que llegas a los pies de las montañas y comienza una carretera preciosa 
          entre los árboles de mil colores otoñales, con hojas cayendo sobre el coche, de verdad que 
          es tremendo. El monasterio, gratuito, cuando llegas te deja boquiabierto, es una sensación 
          estar allí alucinante, la iglesia está llena de frescos en mal estado de conservación por que 
          los ortodoxos encienden millones de velas para pedir a los muertos o que se yo y eso genera 
          un hollín que deja las paredes muy negras, pero aun así es sobrecogedor, no me imagino a los 
          monjes que viven allí cuando se hayan ido los turistas y se queden en su soledad, se me pone el 
          pelo de punta. Creo que es lo más bonito que he visto nunca.
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 text-justify">
          Después de dar mil vueltas por ese lugar era hora de volver a Sofía a visitarla por la 
          noche, que merece poco la pena ya que la iluminación es nula o muy escasa, por lo que es 
          importante visitarla de día, aun así, tiene un rollazo la ciudad guapis guapis. No os 
          describo nuestros pasos porque son los mismos que la jornada anterior.
        </div>
      </div>
      <div class="row">
        <div class="text-center col-md-12 col-sm-12 mt-3 mb-3">
          <iframe class="video" src="https://www.youtube.com/embed/yv5_YM3P4xU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
  </div>
    
<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
  