<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="tituloViaje text-center mt-5">5 días en Nueva York</h1>
      </div>
    </div>
    <div class="row">
      <div class="row m-3 mt-5 mb-5 animatedzoomIn justify-content-center">
        <app-modal-foto class="mb-1" [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
        <app-modal-foto2 class="mb-1" [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
        <app-modal-foto3 class="mb-1" [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
        <app-modal-foto4 class="mb-1" [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
        <app-modal-foto5 class="mb-1" [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
        <app-modal-foto6 class="mb-1" [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h1 class="tituloDiario text-center mb-3">Ellis Island, Liberty Island & Lower Town</h1>
        </div>
      </div>
      <div class="col-sm-12 text-justify">
          Nuestro viaje a Nueva York empieza hace años, por separado, los dos soñabamos con viajar a la 
          Gran Manzana, así que en cuanto nos conocimos y expusimos nuestro sueño de conocer esta mágica 
          ciudad fijamos el objetivo para no mucho tiempo despúes.
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        Los billetes los compramos con ¡6 meses! de antelación a lo que sería el vuelo (si, estabamos 
        nerviosos ya). Nuestro destino nos esperaba el día 6 de diciembre, donde pasaríamos los 
        siguientes 9 días. Volaríamos con Tag Portugal con escala en Lisboa por 405€/persona.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        Como tuvimos mucho tiempo para preparar el viaje estuvimos valorando donde hospedarnos, si en 
        Manhattan o no, nos decidimos por escoger una habitación en Brooklyn, en la zona conocida como 
        el barrio hispano debido a la gran cantidad de hispanos que viven allí, todo el mundo habla 
        castellano en ese barrio. Contratamos por airbnb del día 6 al día 12 por 274€. La habitación se 
        encontraba cerca de una parada del metro que nos llevaba a Times Square en 20 minutos. 
        La experiencia de coger el metro todas las mañanas y noches nos gustó para ver el movimiento 
        diario de neoyorquinos. Nos sacamos el ESTA (40$) meses antes que nos concedieron inmediatamente. 
        Nuestro viaje no se nos hizo un poco duro, aunque lo peor lo reservaba la vuelta sin duda alguna, 
        la ilusión por “patearnos” la ciudad. Nuestro vuelo salía por la mañana desde Madrid, con una 
        escala de 4 horas en Lisboa (lo que no nos permitía salir del aeropuerto a dar una vuelta por la 
        ciudad lusa), pero entre lectura y pelis llegamos al JFK sobre las 20 hora americana, 
        llovia a mares y decidimos coger un taxi que nos llevase al apartamento directamente (45€), 
        llegamos al apartamento y decidimos comprar algo de cena y descansar para “hacernos” al jet-lag.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        La mañana despertó con menos lluvia que la noche anterior y nos daría tregua el resto del viaje. 
        Teníamos contratado el ferry que nos llevaría a los dos islas (17$) a las 8 de la mañana, por lo 
        que nos tiramos a la calle y al metro a comprar la MetroCard para una semana(16$). Nos bajamos en 
        South Ferry que es donde cogíamos el ferry y compramos el desayuno en un Starbucks, el crucerito 
        que hace por el Hudson es uno de los mayores atractivos de New York con unas vistas del skyline 
        impresionantes, en nuestro caso los rascacielos solo se veían hasta la mitad por las nubes bajas 
        ¡impresionante! Tras el trayecto de unos 15-20 minutos para en la isla de la estatua de la Libertad, 
        nosotros no teníamos gran interés en verla desde abajo, pero la verdad que nos resultó gratificante. 
        Volvimos a montar en el ferry que nos llevó a la isla de Ellis a ver el museo de la inmigración, 
        en ambas te dan un audio-guía, es espectacular ver en las condiciones que llegaban los inmigrantes 
        y como eran tratados (Érase una vez América o El padrino II). Después de una intensa visita cogimos 
        el barco que nos volvería a llevar a Battery Park.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        Siguiendo nuestra ruta hacia el norte de Manhattan lo primero que nos encontramos fue el museo 
        de los indios americanos y el Charging Bull, complicadísimo poder hacernos la foto de rigor con 
        él hay cola para hacértela, ¡tanto delante como detrás!. Así llegábamos al famoso Wall Steet, 
        con su famosa Bolsa, con un árbol de navidad gigante en la puerta, la Federal Hall, uno de los 
        edificios de Trump y el 55 de Wall Street, en esta zona lo curioso está en la gran seguridad 
        que tienen las calles. Aquí podéis encontrar el outlet t-max.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        El siguiente punto se encontraba en la Trinity Church, iglesia neogótica en medio de los 
        rascacielos con un cementerio llamativo en el que hay enterradas varias personalidades, es el 
        único cementerio utilizado en Manhattan, era el momento de probar un perrito callejero 
        (fijaros antes en los precios, por que varian mucho según cual pidas, ¡nos costó 7$!. 
        Llegábamos a la zona donde se encontraban las Torres Gemelas antes del 11-S donde han 
        construido un nuevo rascacielos (al que se puede subir para ver las vistas desde el sur) 
        y han dejado los huecos donde se situaban las dos torres, a pesar de la multitud de gente que 
        camina se respira una calma y silencio que encoje el alma. También encontramos el edificio, 
        un tanto peculiar, de Calatrava que conmemora a las víctimas, simula un esqueleto de una paloma 
        muerta, dentro es un centro comercial. Nuestro accenso nos llevaba a The Woolworth Building, 
        edificio de 1913, al Tweed Courthouse o antiguo palacio de justicia y a Foley Square, 
        dejábamos la parte más baja de la Gran Manzana.
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-sm-12 text-justify">
        Confucio nos recibía para dar la bienvenida a China Town, entrabamos por la puerta que se 
        encuentra en la plaza de Confucio donde está el templo budista más grande de New York, 
        este barrio es tan peculiar como lo describen, todos los carteles de comercio están en chino y 
        por cada calle te ofrecen bolsos y relojes falsos que venden en almacenes y trastiendas del 
        propio barrio, incluso en la parte trasera de furgonetas. Hay infinidad de restaurantes 
        asiáticos y puestos callejeros. Así llegábamos a uno de los puntos que más nos llamaba, 
        Little Italy, cuna de la mafia italoamericana. El barrio se lo ha comido China Town tan solo 
        quedan 3 calles, pero tiene una magia especial, con restaurantes y tiendas de regalos 
        (orientados al mundo de la mafia, of course), como era la hora de comer buscamos el Benito´s 
        One y justo una mesa para dos se levantó, dos platos de pasta carbonara y pomodoro picante con 
        albóndigas gigantes (45$).
      </div>
      <div class="col-md-2 col-sm-12 mb-1">
        <img class="NYImagen1" src="../../../assets/imagenes/galeriaNy/IMG_0542.JPG">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-12 justify-content-center">
        <img class="NYImagen2" src="../../../assets/imagenes/galeriaNy/IMG_0624.JPG">
      </div>
      <div class="col-md-10 col-sm-12 text-justify">
        Aunque la lluvia había cesado el frio no daba tregua y volvíamos a la calle después de haber 
        entrado en calor visitando varios edificios singulares, Tenement Musueum, The Puck Building y 
        la antigua catedral de San Patricio. Aun que nosotros lo visitaríamos días después cerca está 
        el cuartel de los cazafantasmas (es una opción friki, lo sé). Como aún era pronto para volver a 
        casa decidimos, en realidad no nos aguantábamos, ir a la zona de Times Square para verlo todo 
        iluminado, nos dejó sin palabras tanta lucecita, encima debido a que llevaba unos días lloviendo 
        a que era entre semana y al frio que hacía no había mucha gente, Nos tomamos un cheescake de 
        junior´s (indispensable) observando desde las gradas el tránsito de la ciudad.
        <br>
        Entre el jet-lag, el frio y los 18 km que habíamos hecho no aguantábamos más y nos fuimos para 
        el apartamento, sin cenar, debido a la cantidad de comida que nos habían puesto en Little Italy, 
        pero con una sonrisa de oreja a oreja, estaba cumpliendo nuestras altas expectativas.      
      </div>
    </div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde" 
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>

 