<div class="container animated fadeIn slower">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h1 class="tituloViaje text-center mt-7">Road Trip por el nordeste de EEUU en 10 días</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h1 class="tituloDiario text-center mb-3">Datos del viaje</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 text-justify">
            Este roadTrip surgió por los bajos precios de los vuelos entre Madrid y Nueva York, en un primer momento iba
            a ser con escala en Toronto de 13 horas en la ida para visitar las cataratas del Niágara, pero finalmente
            desistimos y compramos unos billetes de vuelos directos a Newark (New Jersey), para ir a Manhattan es muy
            sencillo y tardas unos 25 minutos, el airTrain del aeropuerto es gratuito y te lleva hasta la estación de
            tren, aquí por 25 euros tienes un billete de adulto hasta Penn Station, si eres mayor de 62 años cuesta 11
            euros.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 text-justify">
            Para entrar en EEUU es necesario un permiso que se llama ESTA y tiene un coste por persona de unos 16 euros,
            si no eres un terrorista o has viajado a países que el gobierno americano considere del eje del mal no
            tendras problemas en que te validen el visado. Además en el avión te darán un cuestionario que tendrás que
            rellenar y te solicitarán los agentes de aduanas.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Alquiler de coche en EEUU</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 text-justify">
            En nuestro caso alquilamos un coche de 7 plazas por ser cuatro adultos y Olivia, maletas y carrito de bebé.
            Esto es una de las partes caras del viaje, nos costó 772 euros, con seguro a todo riesgo y silla de
            seguridad para Olivia. El coche una delicia, americanada con puertas eléctricas y espacio de sobra para los
            kilómetros que teníamos por delante (algo más de 2.000), que teniendo en cuenta que las carreteras en EEUU
            están limitadas a una velocidad baja respecto a Europa, se hace un viaje más lento. Lo cogimos 6 días, ya
            que en Nueva York no nos haría falta.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 text-justify">
            La conducción de los estadounidenses nos pareció bastante parecida a la nuestra, bastante tranquila y
            ordenada, incluso en New York nos resultó de lo más normal, creo que la de Madrid es más invasiva. En cuanto
            a la gasolina es tremendamente barata, llenar el depósito no llega a los 40 euros. Nosotros evitamos las
            autopistas para "conocer" mejor los pueblos por los que pasamos, ya que creemos que las autopistas son
            bastante impersonales.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 text-justify">
            Por otro lado están los parking en las grandes ciudades que tendréis que pagar si no tenéis parking en
            vuestro alojamiento, a nosotros nos tocó pasar por caja en Washington, Boston y Filadelfia, se puede hacer
            un caclulo aproximado de 20 dolares al día (si estas más de dos horas cuesta casi lo mismo que 24 horas).
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Ruta que hemos seguido</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 text-justify">
            La ruta que hicimos nosotros en 10 días fue la siguiente Newark - Boston - Salem - Filadelfia - Condado de
            Lancaster (Amish) - Gettysburg - Washington y Nueva York, el viaje se ha hecho duro, muy duro, teniendo en
            cuenta que hemos hecho 140 kilómetros a pie y 2.000 en coche, hemos vuelto a Madrid con la necesidad de unas
            vacaciones de las vacaciones, pero sarna con gusto no pica que dice el sabio refranero castellano. Pero os
            lo advertimos por si podéis destinar un par de días más.
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="text-center col-md-12 col-sm-12 animatedzoomIn">
          <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1yrZ_SCD4HtJWkfmhJBan8FoMUqVyHsBi" width="100%" height="300"></iframe>
        </div>
      </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 text-justify conclusiones p-5">
            Esta vez hemos coincidido los cinco (si, si, Olivia también) que ha sido uno de nuestros mejores viajes, hemos
            vuelto con muy buen sabor de boca, aunque Marcos y Mey ya habíamos estado en New York y Washington, a sido
            genial. Un viaje que si lo buscas es barato (unos 1300 € por persona, en esta cuenta no
            entraba la peque, vamos lo mismo que nos costó Sicilia en los mismos días, por hacer una comparación).
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>