<div class="container">
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower">
      <h1 class="tituloViaje text-center mt-5">3 días en Roma</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-5 mb-5 justify-content-center">
        <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
        <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
        <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
        <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
        <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
        <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6"></app-modal-foto6>
    </div>
  </div>
    <div class="row">
      <div class="col-sm-12 animated fadeIn slower">
        <h1 class="tituloDiario text-center mb-3">Termas Diocleciano, Sta. Maria Mayor, S. Pietro in Vincoli</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 animated fadeIn slower text-justify">
        Nuestro avión salía a las 18:00 por lo que teníamos bastante tiempo para visitar varios 
        puntos que nos quedaban pendientes, empezando por las Termas de Diocleciano, estas fueron 
        el mayor complejo termal de Roma (305 d. C.) y hoy es usado como Museo Nacional Romano. 
        Al otro lado de la plaza de la República se encuentra el Palazzo Massimo con algunas obras 
        clásicas excepcionales (el discóbolo, Il Pugilato, etc.), además se encuentra Santa María 
        de los Ángeles, en todo accedimos con la tarjeta de museos.
    </div>
    </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      La siguiente parada la hacíamos en la Basílica de Santa María la Mayor, es una de las 4 
      basílicas mayores de Roma, su entrada es gratuita, su construcción por el Papa Liberio 
      en el siglo IV según cuenta la leyenda por órdenes de la Virgen. La mezcla de estilos hace 
      de esta basílica un lugar privilegiado.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Después llegábamos a San Pietro in Vincoli (San Pedro encadenado), esta iglesia que se 
      encuentra semi-escondida alberga como reliquia las cadenas con las que San Pedro fue 
      encadenado en Jerusalén, supuestamente, y alguna escultura con imágenes de la muerte y 
      calaveras, algo poco habitual en este tipo de lugares. Pero lo que realmente destaca en 
      esta iglesia es El Moisés de Miguel Ángel, esta obra fue encargada por el Papa Julio II 
      como monumento funerario, en un principio iba a ser 3 veces más grande, pero por falta de 
      fondos y de tiempo se redujo su composición, cuenta la leyenda que cuando acabo la tala 
      del Moisés el escultor le dio un golpe con el cincel para que “despertara” a la vida por 
      su perfección.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Volvíamos a recoger las maletas y a coger el bus lanzadera que lleva al aeropuerto, 
      pero había una cola exagerada y unos nervios en la gente que perdían sus vuelos considerables 
      así que como íbamos con tiempo entramos a la estación de Termini desde donde salen trenes 
      de alta velocidad que te llevan en 25 minutos, es conocido como el Leonardo (14€ por persona).
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde" >
</app-pagina-siguiente>
