<div class="container animated fadeIn slower">
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloViaje text-center mt-7">Norte de Alemania en 3 días</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-center">
            <img class="panoramica mt-5 mb-5 slower" src="../../../assets/imagenes/galeriaHamburgo/hamburgo1.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Hamburgo</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Hamburgo es una ciudad que se visita en un día o menos, los lugares señalados para visitarla son pocos, su
            interés reside más en otras cosas, como su vida nocturna, su barrio alternativo Sankt Pauli, o las cercanas
            Bremen o Stade. Todo ello hace un conjunto que bien merece la pena un viaje de unos días al norte alemán.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Sin duda la zona principal es el precioso barrio de Altstadt, y destaca el Rathaus, que significa
            ayuntamiento, terminado de construir en 1897 sigue siendo sede del gobierno hoy en día. El edificio de
            estilo neorrenacentista es el más bonito de la ciudad, se encuentra en una amplia plaza, la plaza del
            mercado, a orillas del río Binnenalster.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Pero fuera de que el Rathaus es el edificio por excelencia de la ciudad nos quedamos con el Warehouse
            District y sus canales, este barrio aún conserva los edificios que hacían de almacenes para los barcos que
            descargaban su mercancía en el puerto hamburgués, es un estilo muy alemán/industrial que nos encanta, hoy
            está convertido en una zona de elevado precio, muy hípster. Este barrio de finales del siglo XIX es
            Patrimonio de la Humanidad para que os hagáis una idea.
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-3 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaHamburgo/hamburgo3.jpg" class="imgcronica slower">
        </div>
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-3 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaHamburgo/hamburgo4.jpg" class="imgcronica slower">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Si vais a Stade o a Bremen, y sino también, podréis visitar la estación central (Hamburg Hbf) de la ciudad,
            es preciosa, además de ser la segunda más transitada de Europa. Construida en 1906 es de un estilo muy
            característico que hemos visto en otras ciudades alemanas y que nos encanta.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Ahora cruzaremos el famoso río Elba por el curioso Alter Elbtunnel podréis cruzarlo las 24 horas del día y
            solo se puede cruzar a pie o en bicicleta el medio kilómetro de extensión. La entrada se hace por Sankt
            Pauli y desde el otro lado tendréis unas fabulosas vistas de la ciudad.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Otra vez de vuelta es el momento de perderse por el barrio de Sankt Pauli, este barrio en otra época fue un
            de carácter marginal, hoy en día solo queda una pequeña parte de lo que fue entorno a la calle Reeperban,
            donde se concentran club de striptease, locales de juego y vendedores de droga (ilegal, claro) sobre todo
            por la noche. En la calle Herbertstrasse es conocido como la calle roja de Hamburgo, es una calle de
            prostitución con escaparates al estilo del barrio rojo de Ámsterdam, solo pueden entrar hombres, prohibida
            la entrada de mujeres y niños. Pero la otra parte del barrio con la gentrificación se está convirtiendo en
            el barrio bohemio, artístico y alternativo de la ciudad, bajo el paraguas del famoso equipo de futbol de las
            tibias y calavera, que coge el nombre del barrio en el que nació y donde reside, merece mucho la pena ir a
            tomar algo en un ambiente desenfadado y tolerante a mas no poder. Nos encanta.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Sin duda otra de las cosas que tenéis que hacer es comer un currywurst, típico bocata de salchichas
            especiado que a nosotros nos vuelve locos.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower text-justify conclusiones">
            Los datos que os damos son en base a nuestro recuerdo ya que no tomamos apuntes porque aún no habíamos
            pensado en la posibilidad de crear nuestro propio blog.
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>