<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower">
      <h1 class="tituloViaje text-center mt-7">10 días en Rumanía</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-3 mb-5 justify-content-center">
        <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
        <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
        <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
        <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
        <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
        <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower">
        <h1 class="tituloDiario text-center mb-3">Bucureşti</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Hoy último día en Rumanía, nos tocaba la capital, Bucureşti, teníamos cierta expectativa 
        puesta en ella, que tuviese algo más que visitar que el resto de ciudades que en un par de 
        horas las has visto y no tienen mucho que visitar más allá que calle pa’ arriba calle pa’ 
        bajo. Bueno pues Bucarest no es nada diferente al resto de las ciudades rumanas, tiene un 
        casco histórico que en dos horas has visto, tiene como unas 10 calles que lo componen y el 
        atractivo del parlamento extra, que por el volumen que tiene se lleva otras 2-3 horas mínimo.  
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        El viaje se nos ha hecho un poco largo, 4 horas, la mitad por malas carreteras con mucho 
        tráfico y la segunda mitad por una autopista muy buena, como anécdota hemos parado a echar 
        gasoil y hemos tenido una experiencia mala con la de la caja, por resumir, son un poco bordes 
        y sobrados, se salvan poquitos la verdad y es algo decepcionante en el viaje, pero bueno no 
        viajamos para hacer amigos. Evidentemente hablamos desde la experiencia propia.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Al llegar a Bucarest es un poco caos y tardas mogollón en recorrer la ciudad con un tráfico 
        malo y mal organizado, cuando hemos conseguido llegar hemos aparcado en un parking público 
        que teníamos que ir a pagar cada dos horas al lado del apartamento, luego hemos cambiado a 
        otro que nos han dejado pagar hasta mañana. El apartamento está en todo el centro pero es 
        del siglo uno, da hasta miedo entrar en el portal, en el ascensor, eso sí, es barato y 
        bastante grande (28€), da al rio y se ve el parlamento, todo a mano. 
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Lo primero hemos ido al parlamento, es una construcción que se ‘emperró’ Ceauşescu de 
        330.000 metros cuadrados, en una arquitectura exterior del estilo soviético, muy sencillo y 
        sin extravagancias,  por dentro es todo lo contrario todo mármol, maderas caras, alfombras 
        buenas y tapices, vamos una locura del ególatra que decía defender al pobre, haciendo esto 
        mientras su pueblo pasaba hambre. Como no el maldito Apolo nos cegaba, le estamos cogiendo 
        manía este viaje, y nos dificulta las fotos. 
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Las iglesias ortodoxas de la ciudad impresionan por dentro, bueno y por fueran, son tan 
        diferentes a las católicas a las que estamos acostumbrados. El centro está leno de bares 
        con terraza y es agradable, también tiene una zona de bares con sisas para fumar muy moderno, 
        estas tres calles/callejones están techados.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Hemos comido en el centro en un restaurante típico Caru cu vere por 19,51, es un 
        restaurante enorme con mil camareros, pero por nuestra experiencia no os lo recomendamos. 
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Después de darnos una ducha hemos bajado a dar una vuelta nocturna y Bucarest es otra 
        cosa totalmente diferente, el parlamento y su paseo de 3,5 km lleno de fuentes iluminadas 
        es espectacular la vista del paseo, la zona del casco histórico tiene un ambiente y un 
        rollo que molan mucho, merece mucho la pena darse una vueltecita, para culminar la noche 
        hemos ido a un libanés a cenar (ya estamos un poco cansados de la gastronomía rumana tras 
        10 días a pesar de que somos muy de donde estuvieres haz lo que vieres) y ha sido una 
        pasada, que rico! Por si venís se llama Sindbad 25€. 
      </div>
    </div>
    <div class="row mt-2 mb-2">
      <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
        <img src="../../../assets/imagenes/galeriaRumania/rum-11-7.jpg" class="rumaniaImagen11 skeleton">
      </div>
      <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
        <img src="../../../assets/imagenes/galeriaRumania/rum-11-8.jpg" class="rumaniaImagen11 skeleton">
      </div>
      <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
        <img src="../../../assets/imagenes/galeriaRumania/rum-11-9.jpg" class="rumaniaImagen11 skeleton">
      </div>
    </div>
  </div>
  
  <app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>