<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloViaje text-center mt-7">10 días en Rumanía</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-3 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Curtea de Arges, Castillo Vlad Tepes y Transfăgărășan</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Amanece en Bucureşti y vamos a desayunar a un sitio hípster cercano al apartamento, 8 € muy caro para el
            país, Origo coffe. Nos ponemos en marcha hacia el inicio de nuestra ruta, 150 kilómetros que hacemos en unas
            dos horas, más o menos por una buena carretera, algo no muy habitual en lo que nos queda por delante. Justo
            antes de llegar a nuestra primera parada, en Curtea de Arges, puerta de entrada a la región de Valaquia, nos
            damos cuenta de que hemos entrado en un agujero temporal y hemos vuelto a la época de Ceaușescu, la gente
            viste igual que la URSS de finales de los 80’s, los coches algo más modernos, pero con 20 años y hay carros
            tirados por caballos que taponan el tráfico en carreteras de un carril, un flipe.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Nos dirigimos al monasterio de Curtea de Arges, que es la puerta a La Transfagarasan, es pequeñito pero
            espectacular, nunca había visto una iglesia del este, tiene un monasterio que bien merece la parada en el
            pueblo, el monasterio construido en el siglo XIV en honor a san Nicolás tiene una arquitectura al estilo
            bizantino, su interior de mármoles y frescos son fantásticos. El siguiente atractivo del pueblo está sobre
            las ruinas de la fortaleza de Curtea Domneasca datada en 1340.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            ¡Son las 12:30 y no podemos esperar, vamos a comer! Comemos en Curtea Veche, 13 € los dos, aquí empezamos a
            notar algo que parece una constante, el hilo musical de los restaurantes es música disco bastante alto.
            Costillita de “brontosaurio” y macarrones de cuatro quesos. Muy bueno y muy barato, que delicia!
        </div>
    </div>
    <div class="row justify-content-center mt-1 mb-1">
        <div class="col-md-4 col-sm-12 animated fadeIn slower">
            <img src="../../../assets/imagenes/galeriaRumania/rum7.jpg" class="imgcronica slower">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Comenzamos la carretera más bonita del mundo con un pequeño atasco producido por un pastor guiando a unas
            ovejas peludas por medio de la carretera y vamos viendo que los pueblos están construidos a lo largo de la
            carretera, mejor dicho, a medio construir, suponemos que los inmigrantes mandan remesas de dinero y poco a
            poco construyen sus casas para algún día poder volver.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Esto es otro mundo, el paisaje es precioso, con cierto parecido al de Andorra, salvando la altitud de los
            pirineos, llegamos al castillo de Poenari, aunque mucha gente no lo sabe y los circuitos turistas lo ubican
            en otro lugar en Transilvania y parece que en ese no estuvo ni una sola vez, la verdadera residencia de Vlad
            Tepes III (Drácula).
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Si, ahí tenemos que subir, ¡¡¡1480 escalones por una escalerilla que para más autenticidad te advierten que
            no des de comer a los OSOS!!!, pero como que no dé de comer a los osos, que hay osos sueltos aquí!!!!!!!!!
            Yo no subo, venga que somos casi valientes. Lo que no estamos es en forma!
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Hemos llegado arriba y cobran 6 lei’s (1,5 €) por adulto, a Marcos 2 lei’s por ser estudiante, la fortaleza
            está en un risco de imposibles accesos con unas vistas alucinantes, el castillo del siglo XIII está en muy
            mala conservación, cuesta ver lo que un día debió ser, pero por las vistas merece la pena el gran esfuerzo
            de subir, sobre todo por ver los maniquíes empalados a la entrada, técnica que utilizaba el bueno de Vlad
            III con sus enemigos apresados para terror de otros posibles adversarios.
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-3 mb-3">
            <iframe class="video" src="https://www.youtube.com/embed/xfvQPfsmA5I" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-3 mb-3">
            <iframe class="video" src="https://www.youtube.com/embed/4iVmSD0lX5s" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Después de bajar los 1480 escalones, por si no lo había dicho, que casi cuesta
            más que subirlos, volvemos al coche que habíamos dejado abajo, en el río
            (es precioso el entorno) que hay bajo el castillo y nos vamos hacia el hotel
            haciendo una parada en la presa del lago Vidraru, punto con vistas panorámicas
            para hacer alguna fotillo, obligatorio parar aquí.
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-3 mb-5 justify-content-center">
            <app-modal-foto7 [imagen]="imagen7" [imagenModal]="imagenModal7" [titulo]="titulo7"></app-modal-foto7>
            <app-modal-foto8 [imagen]="imagen8" [imagenModal]="imagenModal8" [titulo]="titulo8"></app-modal-foto8>
            <app-modal-foto9 [imagen]="imagen9" [imagenModal]="imagenModal9" [titulo]="titulo9"></app-modal-foto9>
            <app-modal-foto10 [imagen]="imagen10" [imagenModal]="imagenModal10" [titulo]="titulo10"></app-modal-foto10>
            <app-modal-foto11 [imagen]="imagen11" [imagenModal]="imagenModal11" [titulo]="titulo11"></app-modal-foto11>
            <app-modal-foto12 [imagen]="imagen12" [imagenModal]="imagenModal12" [titulo]="titulo12"></app-modal-foto12>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            El hotel es el Valea cu pesti y hemos reservado una suite con vistas al lago, por 68 € la noche, algo caro
            para Rumanía, pero queríamos estas vistas y esta paz para una noche, el hotel tiene piscina climatizada y
            jacuzzi, pero es un 4 estrellas venido a menos, algo cutre en alguna cosilla, las vistas al lago son
            espectaculares y no hay ni un ruido. Cuando atardece nos íbamos a dar una vuelta por el lago, pero a la que
            salimos del hotel nos empieza a ladrar una manada de perros salvajes (hay muchísimos por Rumanía) y entre
            eso y los carteles de osos decidimos abortar y volver al hotel a cenar, por 17 € los dos.
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>