<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="tituloViaje text-center mt-5">10 días en Rumania</h1>
      </div>
    </div>
    <div class="row">
      <div class="row m-3 mt-5 mb-5 animatedzoomIn">
          <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
          <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
          <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
          <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
          <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
          <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h1 class="tituloDiario text-center mb-3">Curtea de Arges, Castillo Vlad Tepes y Transfăgărășan</h1>
        </div>
      </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        Amanece en Bucarest y vamos a desayunar a un sitio hipster cercano al apartamento (8€), 
        Origo coffe y nos ponemos en marcha hacia el inicio de nuestra ruta, 150 km que hacemos 
        en unas dos horas, más o menos por una buena carretera. Justo antes de llegar a nuestra 
        primera parada, en Curtea de Arges, nos damos cuenta que hemos entrado en un agujero temporal 
        y hemos vuelto a la época de  Ceaușescu, la gente viste igual que la URSS de finales de los 
        80’s, los coches algo más modernos pero con 20 años y hay carros tirados por caballos que 
        taponan el tráfico en carreteras de un carril, un flipe.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
          Nos dirigimos al monasterio de Curtea de Arges, que es la puerta a La Transfagarasan, 
          es pequeñito pero espectacular, nunca había visto una iglesia del este, tiene un 
          monasterio que bien merece la parada en el pueblo.
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
          Son las 12:30 y no podemos esperar, vamos a comer! Comemos en Curtea Veche (13€), 
          aquí empezamos a notar algo que parece una normal, el hilo musical es música disco bastante 
          alto en todos los sitios. Costillita de ‘brontosaurio’ y macarrones de 4 quesos.
      </div>
    </div>
    <div class="row justify-content-center mt-1 mb-1">
        <div class="col-sm-4">
          <img src="../../../assets/imagenes/galeriaRumania/rum7.jpg" class="rumaniaImagen1">
        </div>
      </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
          Comenzamos la carretera más bonita del mundo con un pequeño atasco producido por un pastor 
          guiando a unas ovejas peludas por medio de la carretera y vamos viendo que los pueblos 
          están construidos a lo largo de la carretera, mejor dicho a medio construir, supongo que 
          los inmigrantes mandan remesas de dinero y poco a poco construyen sus casas.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
          Esto es otro mundo, el paisaje es precioso, con cierto parecido al de Andorra, 
          salvando distancias de altitud, llegamos al castillo de Poenari, el verdadero de 
          Vlad Tepes (Drácula), es poco conocido, ya que debido al turismo ‘venden’ que el 
          castillo es el de Transilvania y en ese parece que ni tan siquiera estuvo ni una sola vez.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
          Si, ahí tenemos que subir, 1480 escalones por una escalerilla que para más autenticidad 
          te advierten que no des de comer a los OSOS!!! 
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
          Hemos llegado arriba y cobran 6 leí (1,5€) minutos por adulto, a mi 2 lei por 
          estudiante, la fortaleza está en un risco de imposibles accesos con unas vistas 
          alucinantes, el castillo del siglo XIII está en muy mala conservación, pero por las 
          vistas merece la pena el gran esfuerzo de subir, sobre todo por ver los maniquíes 
          empalados a la entrada, técnica que utilizaba el bueno de Vlad III con sus enemigos 
          apresados.
        </div>
      </div>
      <div class="row">
        <div class="col-6 mt-3 mb-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xfvQPfsmA5I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-6 mt-3 mb-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4iVmSD0lX5s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-justify">
            Después de bajar los 1480 escalones, por si no lo había dicho,  que casi cuesta 
            más que subirlos, volvemos al coche que habíamos dejado abajo, en el río 
            (es precioso el entorno) que hay bajo el castillo y nos vamos hacia el hotel 
            haciendo una parada en la presa del lago Vidraru, punto con vistas panorámicas 
            para hacer alguna fotillo, obligatorio parar aquí. 
        </div>
      </div>
      <div class="row m-3 mt-5 mb-5 animatedzoomIn">
          <app-modal-foto7 [imagen]="imagen7" [imagenModal]="imagenModal7" [titulo]="titulo7"></app-modal-foto7>
          <app-modal-foto8 [imagen]="imagen8" [imagenModal]="imagenModal8" [titulo]="titulo8"></app-modal-foto8>
          <app-modal-foto9 [imagen]="imagen9" [imagenModal]="imagenModal9" [titulo]="titulo9"></app-modal-foto9>
          <app-modal-foto10 [imagen]="imagen10" [imagenModal]="imagenModal10" [titulo]="titulo10"></app-modal-foto10>
          <app-modal-foto11 [imagen]="imagen11" [imagenModal]="imagenModal11" [titulo]="titulo11"></app-modal-foto11>
          <app-modal-foto12 [imagen]="imagen12" [imagenModal]="imagenModal12" [titulo]="titulo12"></app-modal-foto12>
      </div>
      <div class="row">
        <div class="col-sm-12 text-justify">
            El hotel es el valea cu pesti y hemos cogido una suite con vistas al lago, por 68€, 
            algo caro para Rumania, pero queríamos estas vistas y esta paz para una noche, el 
            hotel tiene piscina climatizada y jacuzzi, pero es un 4 estrellas venido a menos, 
            algo cutre en alguna cosilla, las vistas al lago son espectaculares y no hay ni un 
            ruido. Cuando atardece nos íbamos a dar una vuelta por el lago pero a la que salimos 
            del hotel nos empieza a ladrar una manada de perros salvajes (hay muchísimos por 
            Rumania) y entre eso y los carteles de osos decidimos abortar y volver al hotel a 
            cenar, por 17€.
        </div>
      </div>
    </div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
  