<div class="container">
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower">
            <h1 class="tituloViaje text-center mt-7">Castilla</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-3 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Románico palentino y Aguilar de Campoo</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            La zona de Palencia es una zona muchas veces olvidada y que bien merece la pena hacer una escapada para
            disfrutar de su tranquilidad, su arte y su gastronomía. Nosotros decidimos visitarla en nuestro paso hacia
            el norte y no nos defraudo. Su vieja historia nos adentra en una tradición románica que han dejado una serie
            de obras arquitectónicas que para cualquier amante del arte o de la historia os hará chiribitas. Hay
            bastantes ejemplos, pero os describiremos las que nosotros creímos más importantes y decidimos visitar.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="tituloDiario text-center mb-3">Basílica de Venta de Baños</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            La primera parada es en este monumento visigodo situado en la localidad de Baños de Cerrato, muy cerca de
            Palencia (a tan solo 7 km), es la iglesia mejor conservada de este periodo. Fue mandada construir por el rey
            Recesvinto en el año 661, cuenta la leyenda que enfermó gravemente y al beber el agua de una fuente romana
            sanó y en agradecimiento a Dios mandó levantar la iglesia. La fuente sigue en pie a pocos metros del templo,
            así que también la podréis visitar. La iglesia hace visitas guiadas donde nos explican la historia y
            características artísticas del lugar.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="tituloDiario text-center mb-3">Iglesia de San Martín de Tours</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            En el siglo XI se erige este templo católico en la localidad de Frómista, de estilo románico es un de los
            mejores exponentes europeos como prototipo de esta arquitectura. En su momento fue parte del monasterio de
            San Martín, que hoy tan solo queda la iglesia, mandado construir por doña Mayor de Castilla sobre el 1066 en
            la ruta del camino de Santiago
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="tituloDiario text-center mb-3">Aguilar de Campoo</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            La ciudad de las galletas, por su concentración de empresas galleteras, es una localidad entre montañas que
            puede hacer de lugar de descanso para esta visita del patrimonio románico palentino, pero ojo, no penséis
            que esto desmerece a la pequeña ciudad, tiene su atractivo propio más que destacable. Recomendable al cien
            por cien.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            El nido de águilas, topónimo del que procede el nombre de esta ciudad, tiene desde la época medieval su
            castillo lo que protegía las merindades castellanas en tiempos revueltos con los musulmanes. Un poco más
            abajo encontramos el monasterio de Santa María la Real, del siglo XI. Otro de los edificios destacados de la
            ruta románica palentina pasa por la ermita de Santa Cecilia, con una escalinata que da acceso al castillo,
            todo ello con unas vistas espectaculares.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 animated fadeIn slower text-justify">
            Ya en el centro urbano podemos ver el palacio de los Velarde y por la calle Tobalina nos llevará hasta la
            puerta del mismo nombre. Cruzando el puente podremos observar el museo Ursi. Volviendo nuestros pasos
            llegamos a la colegiata de San Miguel, que la encontramos en la plaza España, compuesta por una hilera
            acristalada y amplios soportales que hace una vista preciosa con un sabor medieval deslumbrante, se trataba
            del antiguo palacio de los marqueses de Aguiar.
        </div>
    </div>

    <!-- <div class="row">
      <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1 align-self-center text-center">
        <img src="../../../assets/imagenes/galeriaCantabria/santillana16.jpg" class="imgcronica slower" alt="" title="">
      </div>
      <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1 align-self-center text-center">
        <img src="../../../assets/imagenes/galeriaCantabria/santillana17.jpg" class="imgcronica slower" alt="" title="">
      </div>
      <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1 align-self-center text-center">
        <img src="../../../assets/imagenes/galeriaCantabria/santillana14.jpg" class="imgcronica slower" alt="" title="">
      </div>
      <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1 align-self-center text-center">
        <img src="../../../assets/imagenes/galeriaCantabria/santillana15.jpg" class="imgcronica slower" alt="" title="">
      </div>
    </div> -->

    <div class="row">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower text-justify conclusiones">
            La verdad que esta ruta nos surgió como parada entre Madrid y Asturias, nunca habíamos prestado la atención
            a Palencia, pero nos ha sorprendido gratamente y nos arrepentimos de no haber dedicado algún día más, ya
            llegará. Las obras de arte que nos deja el románico palentino y la ciudad de Aguilar de Campoo nos han
            encantado, las recomendamos sin duda.
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>