<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
      <h1 class="tituloViaje text-center">5 días en Estocolmo, Birka y Drottningholm</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-4 mb-5 justify-content-center">
      <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower">
        <h1 class="tituloDiario text-center mb-3">Birka</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 mb-2 animated fadeIn slower">
        <img src="../../../assets/imagenes/galeriaEstocolmo/IMG-7063.JPG" class="panoramica slower" alt="Panoramica de Birka" title="Panoramica de Birka">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Poníamos rumbo a T-Centralen y al embarcadero de Klara Mälarstrand desde donde salen 
        varios barcos a diferentes lugares de la compañía Stömma, allí mismo tienen un puesto 
        de venta de billetes, a nosotros presentando la StockholmPass nos incluia la entrada y 
        viaje a Birka, sino, cuesta 39€, salen barcos a las 10:00 de la mañana y a las 15:00 del 
        mediodía. Solo se realizan viajes a esta isla los meses del verano por las condiciones 
        climatológicas del país el resto del año. Es un viaje de unas dos horas por un paraje precioso 
        por el lago Mälaren, hace una serie de paradas para recoger pasajeros que ralentizan un poco 
        la marcha. Podréis hacer una visita guiada en inglés que nosotros preferimos ir por libre y 
        no seguir el grupo, por lo que no podemos deciros si es interesante o no.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Cuando llegamos a nuestro destino en la isla de Björkö encontramos el yacimiento arqueológico 
        de Brika, es conocida como la ciudad más antigua de Suecia y se cree que fue un centro 
        comercial vikingo de bastante importancia. Desde 1880 se había encontrado una tumba de un 
        guerrero vikingo y se tenía por esta tumba el ideal del guerrero vikingo, estudios recientes 
        han demostrado por su ADN que en realidad se trataba de una guerrera vikinga, lo que demuestra 
        que no eran solo fieros guerreros, sino también fieras guerreras.
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
          <iframe class="video" src="https://www.youtube.com/embed/PCX2pWVzL1k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-md-6 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
          <iframe class="video" src="https://www.youtube.com/embed/PNJos3nKD3I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Tienes dos horas para visitar a isla, el barco de vuelta sale a las 15:00, pero tranquilos 
        da tiempo a verlo todo, ya que es poco lo que te vas a encontrar, de hecho es un poco 
        “decepcionante”. 
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Íbamos con muchas ganas por ver los vestigios del pueblo vikingo y allí se expone una 
        pequeña recreación de poblado con su embarcadero y los drakkars anclados en su puerto, 
        solo son 5-6 casas con sus huertos y hay unos cuantos actores disfrazados como vikingos 
        que están allí sentados hablando entre ellos, sin interactuar con el público, vamos que no 
        hacen nada atractivo para el visitante. Si dejas volar la imaginación si puedes verte dentro 
        del poblado de Ragnar Löbrock
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        También puedes visitar un pequeño museo con restos arqueológicos encontrados en la isla, 
        solo se ha excavado un 6% de la misma, que si bien es muy pequeñito es bastante interesante, 
        disponen de una tienda de suvenires por supuesto.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Por último esta en lo alto de la colina la cruz de Ansgars y el asentamiento arqueológico 
        (aunque no se ve nada en el). Lo mejor de la isla son las vistas de las islas vecinas desde 
        lo más alto que es una vista verdaderamente bonita, solo por esto ya merece la pena la visita.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Para comer solo existe un restaurante que habíamos leído que era el típico de un parque 
        temático, caro y de dudosa calidad, por lo que optamos por pasar antes de salir por un 
        Lidl y comprarnos unos bocadillos de salmón (barato y buenísimo en comparación con el de 
        España). Nos supo a gloria, aunque creo que las opiniones del restaurante no debían estar 
        muy bien fundamentadas porque tenía buena pinta, parece una taberna vikinga y ya que estas 
        haciendo el turista pues no está de más hacer la turistada.
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1">
        <img src="../../../assets/imagenes/galeriaEstocolmo/018f5b66c0edda98b59caf917a5d45ed267e8ef8eb.jpg" class="estocolmo2 slower" alt="Academia Sueca, Martin Luther King Jr." title="Academia Sueca, Martin Luther King Jr.">
      </div>
      <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1 align-self-center">
        <img src="../../../assets/imagenes/galeriaEstocolmo/01c82205dfeb930f5e72a663974206841fb61fe090.jpg" class="estocolmo2 martin slower" alt="Academia Sueca, Martin Luther King Jr." title="Academia Sueca, Martin Luther King Jr.">
      </div>
      <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1 align-self-center">
        <img src="../../../assets/imagenes/galeriaEstocolmo/019cb36be6b034a1147b666bdc9be06b8742a2cc10.jpg" class="estocolmo2 martin slower" alt="Academia Sueca, Martin Luther King Jr." title="Academia Sueca, Martin Luther King Jr.">
      </div>
      <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1">
        <img src="../../../assets/imagenes/galeriaEstocolmo/014122d974ded030049de4d2c0b30c8fda2675262b.jpg" class="estocolmo2 martin slower" alt="Academia Sueca, Martin Luther King Jr." title="Academia Sueca, Martin Luther King Jr.">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Tras la vuelta de otras dos horas llegamos a Estocolmo sobre las 17:00 y como estábamos 
        cerca del Ayuntamiento estuvimos visitando y fotografiando este edificio que nos ha gustado 
        mucho, y fuimos a cenar al centro que tanto nos ha gustado, Gamla Stan. Nos dio tiempo a 
        entrar a la Academia sueca, donde tienen un pequeño museo de los premios nobel, con grandes 
        inventos de la humanidad y una presentación de los diversos premiados con una breve 
        descripción, además en la exposición temporal había una presentación de la vida de Martin 
        Luther King Jr. Y su lucha por los derechos sociales muy interesante, una suerte!
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Tuvimos la suerte de encontrar mesa en Brinken, la mejor comida que hemos probado en 
        nuestra estancia sueca, altamente recomendable, 34,30€. El postre lo tomamos en Stora 
        Nygatan, un gofre tremendamente rico y un helado por 10,20€.
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
        <img src="../../../assets/imagenes/galeriaEstocolmo/01cf72204700f91fef87e1ebab724cee5c1036d71b.jpg" class="estocolmo2 slower" alt="Restaurante Brinken, Estocolmo" title="Restaurante Brinken, Estocolmo">
      </div>
      <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
        <img src="../../../assets/imagenes/galeriaEstocolmo/0169ad9e89416c82607f0c6b0c30da575fdc9aef89.jpg" class="estocolmo2 slower" alt="Restaurante Brinken, Estocolmo" title="Restaurante Brinken, Estocolmo">
      </div>
      <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
        <img src="../../../assets/imagenes/galeriaEstocolmo/015fbae533fde22eeb9e771a0a9c04ef03b9a8ef29.jpg" class="estocolmo2 slower" alt="Gofre en Estocolmo" title="Gofre en Estocolmo">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Tras un paseo nocturno para rebajar un poco los postres nos retiramos bastante cansados, 
        llevábamos 30 kilómetros en 2 días y se notaba.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify conclusiones mt-5 p-5">
        Birka es una excursión que no sabemos si debemos recomendar o no, el viaje es precioso y las 
        vistas desde lo alto de la colina más aún, pero es algo decepcionante lo que te encuentras 
        allí, más si llevas unas altas expectativas como era nuestro caso, nosotros compramos la 
        StockholmPass pensando en que esta excursión son 39€ y queríamos hacerla, de no 
        haberla hecho creemos que no habríamos sacado la tarjeta. Evidentemente cada uno debe sacar 
        sus conclusiones.
      </div>
    </div>
  </div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
  