<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
            <h1 class="tituloViaje text-center">Road Trip por el nordeste de EEUU en 10 días</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-4 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Wall Street, Museo Hª Natural y Central Park</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Aunque durante toda nuestra estancia en los estados unidos nos había hecho mucho frío, las condiciones
            climatológicas nos había respetado totalmente, incluso la nevada de Boston fue por la noche, pero este
            penúltimo día iba a hacernos una malísima jornada, se pasó lloviendo desde primera hora hasta última de la
            tarde, por lo que pudimos exprimir el día muy poquito.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Bajamos en metro hasta Fulton St, lo del metro de New York es de película, si es que alguna cosa de esta
            ciudad no lo es, en cada estación hay un músico o un grupo actuando en directo con verdadera calidad, merece
            la pena quedarse a observar a alguno de estos artistas, vimos desde un joven tocando el arpa eléctrica de
            forma magistral a un grupo "tipo" Beach Boys, pasando por una blusista negro que ni Louis Armstrong. Está
            parada es la salida a Trinity Church, Charging Bull ( que como llovía no había nadie para poder hacerte una
            foto, siempre hay bastante gente esperando ).
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Muy cerca encontramos Wall Street, la archiconocida bolsa de Nueva York donde se mueve el dinero a nivel
            mundial, poco os voy a hablar que no sepáis de la bolsa americana, tan solo que han instalado al frente una
            escultura de "La niña sin miedo" que antes estaba frente al toro, ahora la han trasladado aquí,
            representando mejor aún para lo que fue creada, la lucha por la emancipación de la mujer, frente a los
            grandes magnates de la economía mundial y no solo contra el machismo, que es lo que vino a representar el
            "toro".
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Para resguardarnos un poco de la lluvia nos metimos en el t.k.max que hay en esta zona, uno de los outlets
            en el interior de la ciudad, una alternativa si no vais a los grandes outlets de las afueras por ahorraros
            ese tiempo.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            A escasos metros está la zona 0, esta zona donde se encontraban las dos torres gemelas, derribadas ese
            fatídico 11 de septiembre de 2001 por los islamistas de Al-Qaeda, es hoy un memorial a toda la gente que
            falleció ese día, unas 3016 personas. El lugar que ha dejado unos huecos convertidos en "fuente" con todos
            los nombres inscritos a su alrededor es sobrecogedor. En la zona encontramos el centro comercial del
            arquitecto Calatrava inspirado en el esqueleto de una paloma y el One World Observatory, todo comprendido en
            la zona del World Trade Center.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Después de comer subimos en metro a la 81st, para ver el museo de historia natural (El famoso museo de la
            peli "Noche en el museo"), como el día estaba así creo que toda la ciudad estaba de visita museística, que
            barbaridad, pero era la mejor solución. Este museo cuesta 25$ en su entrada general, pero hay un pequeño
            truco, puedes pagar la voluntad o incluso entrar gratis, solo tienes que ir a taquillas y decir que tu
            quieres pagar X.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Al salir del museo llovía menos y aprovechamos para ver Central Park muy por encima, una pena, la anterior
            visita le destinamos casi un día entero, esta vez solo pudimos visitar el memorial de John Lennon y El bow
            Bright del lago, no hacía dia para mas. Si queréis ver más detalle os invitamos a leer nuestra crónica del
            2016.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Nos recogimos pronto, empapados y decidimos pedir las mejores hamburguesas de Nueva York por Uber Eats a
            Jackson Hole, 77,55€, tenéis que probarlas, a parte del tamaño que tienen estan buenisimas.
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia10-8.jpeg" class="eeuu9 slower" alt="Jackson Hole Burguers"
                title="Jackson Hole Burguers">
        </div>
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia10-9.jpeg" class="eeuu9 slower" alt="Jackson Hole Burguers"
                title="Jackson Hole Burguers">
        </div>
        <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia10-10.jpeg" class="eeuu9 slower" alt="Jackson Hole Burguers"
                title="Jackson Hole Burguers">
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>