<div>
  <img src="../assets/imagenes/niños.jpg" class="container-fluid imagenPortada mb-2">
</div>
<div class="carrusel">
    <div class="container  animated fadeIn slower">
      <div class="row justify-content-center">
        <div class="col-md-6">
        <div class="bd-example">
          <div class="fondoCarrusel">
            <div id="carouselExampleCaptions" class="justify-content-center carousel slide" data-ride="carousel" data-interval="2000">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="7"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="text-center">
                      <img class="skeleton delay-2s" src="../assets/imagenes/galeriaAntilla&Tavira/portada1.jpg" alt="Tavira, Portugal">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Tavira</h5>
                      <p>Portugal, Junio 2019</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <a href="/#/bulgaria-dia-1">
                      <div class="text-center">                    
                        <img class="skeleton delay-2s" src="../assets/imagenes/galeriaRumania/portadadia1.jpg" class="d-block w-100" alt="Sofía, Bulgaria">
                      </div>
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Sofia</h5>
                      <p>Bulgaria, octubre 2018</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <a href="/#/rumania-y-bulgaria">
                      <div class="text-center">                    
                        <img class="skeleton delay-2s" src="../assets/imagenes/galeriaRumania/rum-4-4.jpg" class="d-block w-100" alt="Transfăgărășan, Rumanía">
                      </div>
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Transfăgărășan</h5>
                      <p>Rumanía, octubre 2018</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <a href="/#/sicilia">
                      <div class="text-center">                    
                        <img class="skeleton delay-2s" src="../assets/imagenes/galeriaSicilia/IMG-0028.jpg" class="d-block w-100" alt="Sofía, Bulgaria">
                      </div>
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Selinute</h5>
                      <p>Sicilia, octubre 2017</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <a href="/#/berlin">
                      <div class="text-center">                    
                        <img class="skeleton delay-2s" src="../assets/imagenes/galeriaBerlin/IMG_2324.JPG" class="d-block w-100" alt="Transfăgărășan, Rumanía">
                      </div>
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Reichstag</h5>
                      <p>Berlin, febrero 2017</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                      <a href="/#/berlin">
                        <div class="text-center">                    
                          <img class="skeleton delay-2s" src="../assets/imagenes/galeriaBerlin/IMG_2261.JPG" class="d-block w-100" alt="Puente de los espías, Postdam">
                        </div>
                      </a>
                        <div class="carousel-caption d-none d-md-block">
                      <h5>Puente de los espías</h5>
                      <p>Postdam, febrero 2017</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <a href="/#/nueva-york">
                      <div class="text-center">                    
                        <img class="skeleton delay-2s" src="../assets/imagenes/galeriaNy/foto1.png" class="d-block w-100" alt="New York, EE.UU.">
                      </div>
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>New York</h5>
                      <p>EE.UU., diciembre 2016</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <a href="/#/was1">
                      <div class="text-center">                    
                        <img class="skeleton delay-2s" src="../assets/imagenes/galeriaNy/portada5.JPG" class="d-block w-100" alt="Washington, EE.UU.">
                      </div>
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Washington</h5>
                      <p>EE.UU., diciembre 2016</p>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2 justify-content-center">
  <app-cards class="col-lg-3 col-md-4 col-sm-4"
    [tituloCard]="tituloDia3"
    [imagenCard]="imagenDia3"
    [enlaceCard]="enlaceDia3">
  </app-cards>
  <app-cards class="col-lg-3 col-md-4 col-sm-4"
    [tituloCard]="tituloDia4"
    [imagenCard]="imagenDia4"
    [enlaceCard]="enlaceDia4">
  </app-cards>
  <app-cards class="col-lg-3 col-md-4 col-sm-4"
    [tituloCard]="tituloDia7"
    [imagenCard]="imagenDia7"
    [enlaceCard]="enlaceDia7">
  </app-cards>
  <app-cards class="col-lg-3 col-md-4 col-sm-4"
    [tituloCard]="tituloDia1"
    [imagenCard]="imagenDia1"
    [enlaceCard]="enlaceDia1">
  </app-cards>
  <app-cards class="col-lg-3 col-md-4 col-sm-4"
    [tituloCard]="tituloDia2"
    [imagenCard]="imagenDia2"
    [enlaceCard]="enlaceDia2">
  </app-cards>
  <app-cards class="col-lg-3 col-md-4 col-sm-4"
    [tituloCard]="tituloDia5"
    [imagenCard]="imagenDia5"
    [enlaceCard]="enlaceDia5">
  </app-cards>
  <app-cards class="col-lg-3 col-md-4 col-sm-4"
    [tituloCard]="tituloDia6"
    [imagenCard]="imagenDia6"
    [enlaceCard]="enlaceDia6">
  </app-cards>
</div>
