<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
            <h1 class="tituloViaje text-center">Road Trip por Portugal en 7 días</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-4 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Cascaes y Lisboa</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Después de degustar el buffet del hotel en el que hay gran variedad de alimentos nos ponemos rumbo a la
            localidad de Cascáis a 35 kilómetros de Lisboa, este pequeño pueblo pesquero es una maravilla con varios
            atractivos por los que merece la pena su visita. Nosotros no fuimos, pero justo al lado se encuentra Estoril
            con su casino y grandes mansiones por si queréis visitarlo.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Uno de los grandes atractivos de Cascáis son sus playas de sedosas arenas doradas, aguas muy limpias y
            multitud de bares donde tomar algo o comer. En esta parte el agua es muy tranquila, pero a escasos
            kilómetros podéis surfear en grandes olas. Siguiendo un bonito paseo de dos kilómetros llegaréis a la Boca
            do Inferno, característico lugar donde la erosión del mar a hundido una antigua cueva dejando al descubierto
            el mar proporcionándonos unas vistas de las olas rompiendo contra el acantilado de incalculable valor. En
            este paseo encontramos el faro de Cascáis blanco y azul impoluto en una lengua de mar cristalino y color
            turquesa que hacen el deleite del visitante.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Otro de los grandes atractivos es la fortaleza da Ciudadela teniendo en su interior el centro cultural
            siendo un bonito paseo. El paseo marítimo entre Cascáis y Estoril también tiene una gran belleza.
            Aprovechamos para comer en una marisquería, Baia do peixe por 46 € los dos, nada del otro mundo.
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaPortugal/cascais-7.jpg" class="portugal6 slower"
                alt="Baia do peixe, Cascáis" title="Baia do peixe, Cascáis">
        </div>
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaPortugal/cascais-8.jpg" class="portugal6 slower"
                alt="Baia do peixe, Cascáis" title="Baia do peixe, Cascáis">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Por último, el centro del pueblo tiene un par de calles comerciales típicas playeras que también son
            bastante bonitos. Partimos hacia Lisboa otra vez para aprovechar la tarde allí.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Una vez en la ciudad fuimos a visitar el Chiado, barrio con algunos cafés, tiendas y librerías históricas
            además varias fachadas de azulejos engalanan la zona, y el convento do Carmo que se trata de la que fue la
            mayor iglesia gótica de la ciudad, derruida tras un terremoto en 1755, hoy se visita sus ruinas siendo una
            curiosa vista ver los pilares y columnas que han quedado en pie.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            A continuación, fuimos a subir al elevador de santa Justa, pero había una cola terrible y decidimos ir a
            Alfama otra vez, esta vez decidimos subir por las escaleras mecánicas para evitar las grandes cuestas hasta
            subir a la iglesia de Sta. Lucia y al Miradouro Santa Lucia desde el que ver el atardecer, ¡precioso! Y
            recomendable. Como dato comentaros que hay infinidad de miradores en la Ciudad desde contemplar vistas de
            todo Lisboa y sus atardeceres.
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaPortugal/cascais-9.jpg" class="portugal6 slower"
                alt="Café do Rio, Lisboa" title="Café do Rio, Lisboa">
        </div>
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaPortugal/cascais-10.jpg" class="portugal6 slower"
                alt="Café do Rio, Lisboa" title="Café do Rio, Lisboa">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Para finalizar el día bajamos a ver por la noche la zona de la Praça do Comércio y cenar nuevamente en la
            hamburguesería café do rio por 27,50 euros los dos.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 conclusiones animated fadeIn slower text-justify">
            Como conclusión: Cascáis es un lugar encantador que nos ha gustado mucho su paseo costero y su tranquilidad
            sentados tranquilamente frente al mar y escuchando un artista callejero interpretar un fado para deleite de
            todos. En cuanto a Lisboa nos vamos encantados con la ciudad, preciosa, destacando Alfama, volveremos
            seguro.
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>