<div class="container">
  <div class="row mt-5">
      <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
          <h1 class="tituloViaje text-center">Road Trip por Portugal en 7 días</h1>
      </div>
  </div>
  <div class="row">
      <div class="row m-3 mt-4 mb-5 justify-content-center">
          <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
          <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
          <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
          <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
          <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
          <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower">
          <h1 class="tituloDiario text-center mb-3">Cascaes y Lisboa</h1>
      </div>
  </div>

</div>

<h1 class="tituloViaje text-center">En desarrollo</h1>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>