<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloViaje text-center mt-5">Cantabria</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloDiario text-center mb-3">San Vicente de la Barquera</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Aparcábamos el coche en un parking a las afueras del pueblo y cerca del puente de la Maza en 
      la ría de la población y era el antiguo acceso al mismo de época de Carlos III. La localidad 
      se encuentra rodeada por el agua casi en su totalidad y por poco no es una isla. Ascendimos 
      por las calles preciosas hasta el castillo del Rey (2 €) que tiene unas vistas excepcionales 
      y un pequeño museo, es una construcción del siglo XIII aunque data su primera construcción 
      desde tiempos de Alfonso I de Asturias. Está en la loma y controla toda la zona, tanto 
      terrestre como el mar.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Un poco más arriba está la iglesia de Santa María de los Ángeles, está iglesia gótica 
      comienza su construcción en 1210 pero es concluida en 1530. El pueblo es una parada obligatoria 
      en la visita al norte de la península.
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaLeon/IMG_2510.JPG" class="cantabriaImagen">
    </div>
    <div class="col-md-6 col-sm-12 mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaLeon/IMG_2505.JPG" class="cantabriaImagen">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Después de comer partiríamos para empezar a pensar en nuestro siguiente destino, no había 
      tiempo que perder.
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaLeon/IMG_2507.JPG" class="cantabriaImagen">
    </div>
    <div class="col-md-6 col-sm-12 mt-3 mb-1 text-center">
      <img src="../../../assets/imagenes/galeriaLeon/IMG_2509.JPG" class="cantabriaImagen">
    </div>
  </div>
</div>
    