<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
      <h1 class="tituloViaje text-center">10 días en Sicilia, Road Trip</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-4 mb-5 justify-content-center">
      <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower">
        <h1 class="tituloDiario text-center mb-3">Palermo</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 mb-2 animated fadeIn slower">
        <img src="../../../assets/imagenes/galeriaSicilia/IMG-0299.jpg" class="panoramica slower">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Llegábamos a Palermo cuando empezaba a anochecer y fuimos al mostrador de GoldCar, que 
        habíamos contratado el coche para 10 días con seguro a todo riesgo por 308€, un poco más 
        caro que en el resto de Europa. Os recomiendo siempre contratar el seguro con la propia 
        compañía, en caso de necesitarlo te cubren directamente y no tienes que andar reclamando 
        la factura con los problemas que ello conlleva.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Lo malo de recoger un coche de noche es que la adaptación es peor y si el sitio es un 
        poquito complicado peor, así nos pasó en Palermo, de un trayecto de 20 minutos tardamos 
        unos 40 por la dificultad de algunas intersecciones, pero bueno llegábamos a la habitación 
        algo tarde y la recepcionista nos estaba esperando para irse, era una habitación en su 
        propia casa, se da mucho en Sicilia, ponen una pequeña recepción y alquilan a modo de 
        hotel algunas de sus habitaciones. Deciros como apunte que el centro es zona regulada y 
        se paga.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Como estábamos impacientes salimos a hacer un pequeño reconocimiento y cenar, estábamos 
        cerca del teatro de Palermo, si, donde en el Padrino III matan a la hija de Michael 
        Corleone, en una de las callejuelas había una fiesta de la parroquia de Maria SS della Mercede 
        que nos encantó como bienvenida, Sicilia en estado puro.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Acababa de llover y había poquita gente por las calles empedradas de la capital sureña, 
        tras una pequeña vuelta fuimos a cenar a una pizzería, 33€, y nos volvimos al hotel, 
        mañana empezaba lo bueno.
      </div>
    </div>
    <div class="row mt-2 mb-2">
      <div class="col-md-6 col-sm-12 animated fadeIn slower">
          <iframe class="video" src="https://www.youtube.com/embed/-7001WlxHzo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-md-6 col-sm-12 animated fadeIn slower text-center">
        <img src="../../../assets/imagenes/galeriaSicilia/Palermo_0_4.JPG" class="imagenPalermo slower">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Nuestro segundo día empezaba fresco, durante toda la noche había llovido, pero nos 
        respetó durante el día y pudimos disfrutar de Palermo que nos gustó mucho, no os puedo 
        decir el orden exacto que visitamos porque esta crónica la escribimos casi dos años 
        después pero os detallare los puntos que más nos llamaron la atención y algunos datos 
        interesantes.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Palermo es una ciudad pequeña que se llega a todos los sitios andando, algunos están 
        más retirados, pero se llega bien caminando, es cierto que en verano debe ser duro por 
        el calor.
      </div>
    </div>
    <div class="row mt-2 mb-2">
      <div class="col-md-12 col-sm-12 animated fadeIn slower">
        <iframe class="video" src="https://www.google.com/maps/d/u/0/embed?mid=12V4C0venWS_02PbVkSJ68PwIc6o"></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Una de nuestras primeras paradas fue la catedral, 10€, que bien merecen la pena por las 
        vistas de la ciudad, es uno de los edificios más altos sino el que más, eso sí, cuidado 
        con la bajada, son unas escaleras inclinadísimas en forma de caracol en las que casi solo 
        cabe una persona. Bien merece la pena dedicarlo unos minutos a observar la ciudad desde 
        lo más alto.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Muy cerca está el palacio de los normandos, del año 1130, la residencia real más antigua 
        de Europa, la entrada es algo cara, 12€, dentro está la capilla Palatina, lleno de 
        mosaicos dorados.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        De la misma época es la Zisa, 1165, la entrada son 6€, y tiene un aire árabe que contrasta 
        en una ciudad tan cristiana, a mí me gustó mucho.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Otra de las iglesias importantes de la ciudad es la concatedral de la Maratona, 
        dispensan misas ortodoxas, en lo arquitectónico mezcla una serie de estilos que la 
        hacen muy curiosa de ver, bizantinos, normandos y barrocos.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        La iglesia de Jesús, 2€, está llena de frescos que te dejaran boquiabierto.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Llegábamos a uno de los puntos clave de Palermo, por lo representativo y por el cruce 
        urbano que representan, el cruce de Quattro Canti, es un cruce entre la calle Cassaro y 
        la calle Maqueda, dos de las arterias principales del casco antiguo, en las esquinas de 
        los edificios hay unas fuentes que representan a las cuatro estaciones, a cuatro reyes 
        (Carlos V, Felipe II, Felipe IIV y Felipe IV) y a cuatro santas (Cristina, Ninfa, 
        Oliva e Agata), punto turístico donde los allá, claro está.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Os recomendamos por otra parte también el perderos por las calles de la ciudad que tienen 
        un toque muy siciliano, de una antigua grandeza venida a menos, un halo decadente que 
        enamora, las calles principales están llenas de palacios antiguos y detalles 
        arquitectónicos preciosos. También destacar los mercados de la ciudad, la venta en la 
        calle muy típica en Sicilia es bastante llamativa.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Después de comer fuimos a visitar las Catacumbas de los Capuchino, la entrada fueron 3€, 
        y es curiosísimo ver las “tumbas” de miles de frailes capuchinos y pongo entrecomillado 
        porque están los huesos, las calaveras, etc… expuestos, algunos vestidos con sus trajes 
        de vivos, es espeluznante y a la vez digno de ver. Están algo retiradas del centro, a 
        unos 15-20 minutos andando.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        El resto de la tarde/noche nos perdimos por sus calles y bajamos al puerto de Palermo, 
        era domingo y los palermitanos bajan a hacer picnic y jugar al futbol, en el parque 
        cercano a la Porta Nuova. Así concluiría nuestra visita en Palermo, ciudad que nos ha 
        gustado mucho.
      </div>
    </div>
  </div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
  