<div class="container animated fadeIn slower">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="tituloViaje text-center mt-7">10 días de Road Trip en Sicilia</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 mt-2 mb-2 text-center">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=16eCFd5p_TzP-JgzgMekh3akzvv8" class="video"></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="tituloDiario text-center mb-3">Datos del viaje</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        El viaje a Sicilia, Italia no lo teníamos planeado ni tan siquiera anhelado como uno de 
        nuestros top destinos, pero a veces el destino te lleva a lugares inesperados y muchas de 
        estas veces te dejan sorprendido, como nos gustó la isla mediterránea!
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Decimos lo del destino porque nosotros os íbamos a Tailandia en un viaje de 26 días por el 
        país asiático, pero justo unos días antes de salir, el día que nos iban a vacunar Marcos 
        sufrió un accidente con la moto y se rompió una muñeca por lo que tuvimos que anular el 
        viaje que teníamos en Junio, claro cuando se recuperó teníamos pendiente algún destino, 
        ya por logística no podíamos ir a Tailandia ya que, no disponíamos de días suficientes y 
        empezó la lotería de los destinos y se encendió esa lucecita para hacer un RoadTrip por la 
        isla italiana.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Volaríamos a Palermo ida y vuelta, barajamos volver desde Catania pero el vuelo y la 
        entrega en otra oficina del coche suponía un gran incremento del alquiler y vuelo, así que 
        decidimos hacer la vuelta al ruedo completa, eso nos supondría eliminar algunos destinos 
        por falta de días como el trekking al Etna o la visita al volcán Stomboli y su isla, tampoco 
        llegamos hasta la ciudad de Mesina que está en la zona más oriental, también pudimos visitar 
        el centro de la isla, en la ciudad de Enna, y el pueblo precioso en la costa norte, Cefalú.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        El viaje es posiblemente el que más nos ha gustado hasta el momento, octubre de 2017, hemos 
        de reconocer que tenemos un punto débil con Italia, con su cultura y su gastronomía, pero es 
        que de verdad que merece mucho la pena está visita.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Como ya nos pasó en Nueva York la película del padrino marco buena parte de nuestra estancia 
        en la zona, si, somos un poco frikis, pero nos llamó mucho la atención ir a la patria de los 
        Corleone, como podréis leer más adelante, seguimos varios de sus pasos, el bar Vitelli, la 
        casa de Corleone y Apolonia, la iglesia, el teatro de Palermo.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Sicilia es una ciudad con unos precios ligeramente más baratos que Madrid, os hemos dejado 
        los gastos en la portada del viaje para que os hagáis una idea. Contratamos solo la 
        habitación de las dos primeras noches de Palermo, el resto fuimos sobre la marcha para 
        tener el viaje abierto, como eran fechas fuera de temporada no tuvimos ningún problema y 
        además por lo general había “pocos” turistas, salvo en puntos clave, Taormina es un infierno.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 mt-2 mb-2 text-center">
        <iframe class="video" src="https://www.youtube.com/embed/EXaI4cYm1qg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  
  <app-pagina-siguiente 
    [siguiente]="siguiente" 
    [siguienteDonde]="siguienteDonde"
    [anterior]="anterior" 
    [anteriorDonde]="anteriorDonde">
  </app-pagina-siguiente>
    