<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
      <h1 class="tituloViaje text-center">10 días en Sicilia, Road Trip</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-4 mb-5 justify-content-center">
      <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
      <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower">
      <h1 class="tituloDiario text-center mb-3">Corleone, Templo de Segesta, Erice y Trapani</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      La mañana comenzaba con el desayuno en el ‘hotel’, en la cocina de la dueña de la casa, 
      aunque estábamos solos y fue como desayunar en casa. Nos poníamos en ruta pronto para que 
      el día nos cundiese. La salida de Palermo es un poco caos y está bastante sucia, dicen que 
      la mafia se encarga del sistema de basuras del sur y deja mucho que desear.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Nuestro primer tramo de viaje transcurrió por hacía el interior de la isla, por unas 
      carreteras de doble sentido con curvas sinuosas y carreteras estrechas, tras un trayecto 
      de una hora y media y tras sufrir en uno de los pueblos el embrague de nuestro cochecito, 
      llegábamos a Corleone, es un pueblo para frikear un poco, ‘solo’ tiene el museo de la mafia, 
      que habla de la sangrienta historia de la sociedad siciliana y la cossa nostra, y para 
      hacerte una foto en el cartel del pueblo, casi más turístico que el museo en sí.
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
        <img src="../../../assets/imagenes/galeriaSicilia/IMG-0212.jpg" class="imagenPalermo slower" alt="Erice, Trapani" title="Erice, Trapani">
    </div>
    <div class="col-md-6 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
      <img src="../../../assets/imagenes/galeriaSicilia/IMG-0105.jpg" class="imagenPalermo slower" alt="Segesta" title="Templo de Segesta">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      La siguiente parada fue en el parque arqueológico de Segesta, 16€, en lo que pudimos ver 
      los restos de la antigua ciudad griega. Se compone de un templo de los mejores conservados 
      del mundo, de unas dimensiones enormes que nos dejaron sin habla, puede rivalizar con los 
      de la propia Grecia sin complejos. También hay un teatro griego algo retirado para ir 
      andando con el calor y las cuestas que había, pero hay un bus que te acerca cada 30 minutos. 
      Había poquita gente y nos perdimos un poco por las ruinas dejando volar la imaginación y 
      disfrutando como enanos. Era medio día pero no quisimos comer en el complejo turístico.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Posteriormente pusimos rumbo al pueblo de Erice, llegando pasado el mediodía porque la 
      subida en coche es un auténtico infierno por unas laderas empinadísimas y peligrosas, hay 
      una opción de subir en teleférico, arriba hay zona de control de aparcamiento tras pasar por 
      caja fuimos directamente a comer a Tabacchi Michele Anglieri y voila, el mejor plato de pasta 
      de nuestra vida, y somos unos amantes de la pasta, que rico!!!! Por solo 26€.
    </div>
  </div>
  <div class="row mt-2 mb-2">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-center">
      <img src="../../../assets/imagenes/galeriaSicilia/IMG_0395.JPG" class="imagenPalermo2 slower" alt="Erice, Trapani" title="Erice, Trapani">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      El pueblo de Erice está a unos 20 km de Trapani en lo alto de una montaña, es encantador, 
      una villa empedrada con casas de piedra y una fortaleza que se conservan todo en muy buenas 
      condiciones, es un lugar muy turístico aunque por las fechas y la hora había poquita gente. 
      Las vistas son espectaculares, con una visibilidad kilométrica. El castello di Venere, la 
      porta a Trapani y la Chiesa Madre son algunos de los puntos de interés. Cada paso que dábamos 
      nos estaba enamorando más Sicilia.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      La bajada fue harto complicada, con una peligrosa carretera, poniendo a prueba los frenos y 
      el embrague del pequeño Peugeot 108. Nos íbamos a hospedar en Trapani por la logística, es 
      una ciudad con muy poco interés por lo que pudimos comprobar, aunque tiene un bonito 
      atardecer desde el paseo marítimo y casi no hay turistas. 
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 mt-2 mb-2 animated fadeIn slower">
      <img src="../../../assets/imagenes/galeriaSicilia/IMG-0020.jpg" class="imagenPalermo slower" alt="Erice, Trapani" title="Erice, Trapani">
    </div>
    <div class="col-md-6 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
      <img src="../../../assets/imagenes/galeriaSicilia/IMG-0052.jpg" class="imagenPalermo slower" alt="Erice, Trapani" title="Erice, Trapani">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Visitamos la catedral de San Lorenzo, vimos el atardecer en la zona del Mercato del 
      Pesce y cenamos en la vía principal, Corso Vittorio Emanuele, unos arancinis y un gelato, 
      es una zona peatonal llena de bares y tiendas. Así nos recogíamos para volver a la ruta 
      prontito, que ganas teníamos de seguir descubriendo la isla.
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
    