<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
      <h1 class="tituloViaje text-center">10 días en Sicilia, Road Trip</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
      <img src="../../../assets/imagenes/galeriaSicilia/IMG_0551.JPG" class="imagenSicilia9 slower" alt="Enna" title="Enna">
    </div>
    <div class="col-md-6 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
      <img src="../../../assets/imagenes/galeriaSicilia/IMG_0544.JPG" class="imagenSicilia9 slower" alt="Enna" title="Enna">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower">
      <h1 class="tituloDiario text-center mb-3">Enna</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      El penúltimo día fue el más flojo de todo el viaje, pero había que volver a Palermo y 
      quisimos hacerlo de manera escalonada, aunque nos levantamos un poco más tarde de lo 
      habitual fuimos con calma para abandonar Catania, nos dimos un paseo mañanero por el 
      centro de Catania para despedirnos.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Como a 100 kilómetros hacia el interior, en todo el centro de la isla, por ello es 
      conocida por los literatos sicilianos como el  Umbilicus Sicilae, es una ciudad que se 
      encuentra a 1000 metros sobre el nivel del mar por lo que tiene unas vistas en días 
      despejado de la isla, desde Erice al Etna, es la Sicilia profunda, con tradiciones muy 
      marcadas religiosamente.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Poco os podemos ofrecer por que poco tiene a nivel turístico, destacando el castillo 
      suevo-aragones di Lombardia, la Rocca di Cerere, cuna del culto a la Diosa Ceres 
      (siglo VII a.c.), y la catedral de Enna. Os recomendamos Meimuna para comer (36€).
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Advertiros si vais a parar que las cuestas son terribles.
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
        