<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
            <h1 class="tituloViaje text-center">Road Trip por el nordeste de EEUU en 10 días</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-4 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Times Square, Empire State, Gran Central Terminal</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Aunque la visita que hicimos en 2016 destinamos más días a la Gran Manzana esta vez le sacamos bastante
            partido, si bien es cierto que necesita algún día más para poder ver con tranquilidad la ciudad, esta vez
            solo teníamos tres días y medio para ello, dejando sin visitar algunas partes como el Bronx, el interior de
            Brooklyn, el High Line, pero estamos más que satisfechos.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            La primera parada la hicimos en la sede de las Naciones Unidas, emblemático punto donde se reúnen las
            naciones del mundo para intentar la diplomacia entre ellas. Está muy cerca de la archiconocida Grand Central
            Terminal que sale en infinidad de películas y series televisivas es un hervidero de gente, pasan más de
            500.000 personas diariamente. En el nivel inferior se encuentra la parte más curiosa, en los túneles de
            bóveda si te pones en esquinas opuestas puedes oír lo que se dice desde la otra esquina, la mitología se
            dice que era un punto de reunión de espías, desde luego es sorprendente.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Muy cerca está el Chrysler Building, para nosotros el rascacielos más bonito de New York, es precioso de día
            y de noche, desde abajo y desde las alturas. A continuación seguimos por la 50th para llegar al Rockefeller
            Center, pasando por el MetLife Building, este centro de negocios se encuentra entre la quinta y la sexta
            avenidas y alberga la famosa pista de patinaje, el gran árbol de navidad (esto solo en fechas navideñas) y
            el Top of the Rock, este es el mejor mirador de la ciudad, nosotros no subiremos en esta ocasión, ya
            habíamos subido anteriormente y está tocaba el Empire State, pero os recomendamos subir a este si solo
            optais por uno. En la misma manzana se encuentran los famosos NBC Studios y el Radio City Hall.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaEEUU/dia8-2.jpg" class="imgcronica slower"
                alt="Bubba Gump, Nueva York" title="Bubba Gump, Nueva York">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaEEUU/dia8-3.jpg" class="imgcronica slower"
                alt="Bubba Gump, Nueva York" title="Bubba Gump, Nueva York">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaEEUU/dia8-4.jpg" class="imgcronica slower"
                alt="Bubba Gump, Nueva York" title="Bubba Gump, Nueva York">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaEEUU/dia8-5.jpg" class="imgcronica slower"
                alt="Bubba Gump, Nueva York" title="Bubba Gump, Nueva York">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Casi era la hora de comer y llegamos a Times Square para poder verla esta vez de día, pierde un poco, pero
            también es impactante. La plaza coge su nombre del New York Times y se encuentra entre la séptima avenida y
            Broadway. Nuestra primera opción era comer en el Ellen's Stardust, restaurante donde trabajan artistas de
            Broadway que aún no han conseguido fama y dan espectaculo durante la comida/cena, pero no nos dejaban pasar
            el carrito de Olivia, fallo para ellos. Nuestra siguiente opción fue el Bubba Gump y que acierto fue, nos
            encantó, algo caro para lo que veníamos pagando pero recomendable, 84€/4.
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-4 mb-5 justify-content-center">
            <app-modal-foto7 [imagen]="imagen7" [imagenModal]="imagenModal7" [titulo]="titulo7"></app-modal-foto7>
            <app-modal-foto8 [imagen]="imagen8" [imagenModal]="imagenModal8" [titulo]="titulo8"></app-modal-foto8>
            <app-modal-foto9 [imagen]="imagen9" [imagenModal]="imagenModal9" [titulo]="titulo9"></app-modal-foto9>
            <app-modal-foto10 [imagen]="imagen10" [imagenModal]="imagenModal10" [titulo]="titulo10"></app-modal-foto10>
            <app-modal-foto11 [imagen]="imagen11" [imagenModal]="imagenModal11" [titulo]="titulo11"></app-modal-foto11>
            <app-modal-foto12 [imagen]="imagen12" [imagenModal]="imagenModal12" [titulo]="titulo12"></app-modal-foto12>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Después de comer bajamos a la Madisson Square, creo que la plaza más bonita de Nueva York, donde está el
            Flatiron, este edificio de tamaño en uno de sus lados de unos pocos metros es muy característico, pero
            tuvimos la mala suerte que estaban restaurando y perdía el encanto que tiene, para nosotros le damos el
            segundo lugar despues del Chrysler, esta plaza está muy cerca del Empire State.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Llegaba el momento estrella en todo viaje a Nueva York, subir a uno de sus rascacielos a ver la ciudad desde
            las alturas, nosotros elegimos las 15:30 de la tarde para subir al Empire State Building, para ver con luz
            del día y la puesta de sol, 36,55€ por persona en la zona más barata, tiene tres miradores, más caros según
            se sube, no creemos merezca la pena. El Empire fue el edificio más alto del mundo desde 1931 hasta cuarenta
            años después, es el emblema de Nueva York junto a la Estatua de la Libertad sin duda alguna. Es considerado
            como una de las siete maravillas del mundo moderno.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            La subida en varios ascensores hacen la delicia del visitante, es un museo en sí, por supuesto con King Kong
            para hacerte fotos con el. La verdad que es una preciosidad de edificio, parece que estás en los años
            veinte. Las vistas pues son de quitar el hipo, además todo el mirador tiene calentadores y no hace frío
            arriba a diferencia de la rasca que hay en el TOP. Puedes verlo desde el interior a través de las ventanas o
            desde el mirador que os decimos. Una buena experiencia sin duda.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            El cansancio del viaje ya estaba haciendo efecto y tras comprar algo de picar nos recogimos pronto, que
            mañana había más.
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>