<div class="container">
  <div class="row">
    <div class="col-sm-12 text-justify">
      El viaje a Berlín lo preparamos con solo 5 días de antelación.
       La escapada la hicimos por una razón: el cumpleaños de Mey. El tan poco tiempo que tuvimos 
       para prepararlo hizo que los mapas los alterásemos ligeramente y no podemos afirmar que no nos 
       dejásemos algo por ver. A pesar de todo, salimos muy satisfechos de la preparación del viaje 
       pero no tanto de la ciudad y de sus habitantes.
      </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Aunque Marcos ya conocía la ciudad de otro viaje anterior, 
      no tenía la impresión de que fuese una ciudad sucia, impresión que nos llevamos los dos 
      en este viaje. Y no, no estamos hablando del arte callejero que domina la ciudad, 
      nos referimos en general a la cantidad de papeles, latas y basura que hay por el suelo. 
      También nos impresionó el número de obras que hay por toda la ciudad, y siendo madrileños 
      es decir mucho.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Aunque sabemos que no hemos conocido a todos los berlineses 
      de Alemania, las personas con las que nos topamos a la hora de pedir indicaciones, 
      pedir una bebida, etc. fueron francamente bordes. Esperamos que en futuras viajes a Alemania 
      sigamos creyendo que a pesar del idioma tan brusco como es el alemán podamos seguir diciendo 
      que son personas agradables y acogedoras como las que nos hemos encontrado en otras ciudades 
      de Alemania.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      A pesar de esto, es una ciudad que merece la pena visitar. Se respira por las calles la historia 
      reciente de Alemania con el mayor testimonio de la II Guerra Mundial y la Guerra Fría. 
      Gracias a su red de transporte (con precios muy asequibles) pudimos visitar y conocer sitios 
      clave de la historia mundial.
    </div>
  </div>
</div>
<a href="#/berlin-dia-2">berlin2</a>