<div class="container">
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower">
      <h1 class="tituloViaje text-center mt-7">Asturias</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-3 mb-5 justify-content-center">
      <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower">
      <h1 class="tituloDiario text-center mb-3">Oviedo</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      La capital de Asturias es algo diferente al resto de pueblos y ciudades de esta región tan bella y agradable
      para el turista, no tiene ese ambiente obrero-industrial de Avilés, Asturias o la cuenca minera, ni rural de
      los preciosos pueblos que pueblan su paisaje. No se si definirla como señorial es lo más adecuado, pero
      desde luego esto la hace singular. Su larga historia con los vestigios prerrománicos la dan esa etiqueta de
      imprescindible en tú visita asturiana.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Empezaré por lo que no pudimos ver (estaba cerrado por el COVID-19) la catedral de San Salvador, es un lugar
      de peregrinaje para los cristianos por ser el lugar más importante en lo que a colección de reliquias se
      refiere, entre ellas la famosa cruz de Don Pelayo. Su estilo gótico no te dejará indiferente.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      La catedral se encuentra en el centro histórico de la ciudad, se trata de un barrio de calles estrechas
      precioso, que giran entre la plaza de la constitución donde está el ayuntamiento y la plaza del Fontán y el
      mercado del mismo nombre. Esta plaza compuesta por soportales y balcones te trasladaran a otra época de
      capas y espadas. Los martes y jueves hay mercado al aire libre. Muy cerca encontramos la famosa plaza
      Trascorrales. Es una buena zona para aprovechar a comer o cenar, os recomendamos encarecidamente El gato
      negro, bueno, bonito y barato, eso si, acordaros de reservar porque su fama le precede y es normal. Nos
      recomendaron y fueron muy atentos, desde luego que un acierto.
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1 align-self-center text-center">
      <img src="../../../assets/imagenes/galeriaAsturias/oviedocomida1.jpg" class="imgcronica slower"
        alt="Gato Negro, Cachopo de picadillo y cabrales" title="Gato Negro, Cachopo de picadillo y cabrales">
    </div>
    <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1 align-self-center text-center">
      <img src="../../../assets/imagenes/galeriaAsturias/oviedocomida2.jpg" class="imgcronica slower"
        alt="Gato Negro, delicias de queso de cabra" title="Gato Negro, delicias de queso de cabra">
    </div>
    <div class="col-md-4 col-sm-12 animated fadeIn slower mt-1 mb-1 align-self-center text-center">
      <img src="../../../assets/imagenes/galeriaAsturias/oviedocomida3.jpg" class="imgcronica slower"
        alt="Gato Negro, tarta de queso y arandanos" title="Gato Negro, tarta de queso y arandanos">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Esparcidas por toda la ciudad hay unas 120 estatuas que abarcan desde personalidades famosas como Woody
      Allen, Tony Casal, Mafalda, la Regenta a las que evocan profesiones o aptitudes como la lechera, los
      vendedores de pescado o el viajero. Es bastante curioso y podéis haceros una yincana para descubrirlas.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Otro de los puntos interesantes por su notoriedad es el teatro Campoamor donde se celebran anualmente los
      premios príncipe de Asturias (o princesa). Podréis visitarlo en una guía teatralizada o acudir a una ópera.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Otros lugares destacables son los museos de bellas artes y el arqueológico, el campo de San Francisco
      (pulmón de la ciudad) y el palacio de exposiciones y congresos de Calatrava (el toque contemporáneo de la
      ciudad).
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Pero si algo destacaría por encima de todo sin lugar a dudas son sus joyas de la corona, en el monte
      Naranco, a las afueras de la ciudad podemos visitar las iglesias prerrománicas de Santa María del Naranco y
      San Miguel de Lillo. La primera se trata de un antiguo palacio, más bien lo que queda de él, en este caso
      era el Aula Regía, que mandó construir Ramiro I hacia el año 842. La segunda, si fue una iglesia desde su
      construcción, dedicada a San Miguel Arcángel, también erigida a petición del monarca. Ambas son declaradas
      Patrimonio de la Humanidad. Ambos edificios se encuentran a escasos 200 metros y tienen una visita guiada
      conjunta por 6 €.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower text-justify conclusiones">
      Oviedo nos ha gustado mucho, es una ciudad que en todas las crónicas que habíamos leído nos daba la
      impresión que no le daban un buen valor, creemos que es una ciudad con un gran atractivo, barata, fácil,
      tranquila, y con algunas joyas que hay que visitar al menos una vez.
    </div>
  </div>
  <!-- <div class="row justify-content-center">
      <div class="col-sm-4 mt-2 animated fadeIn slower">
        <img src="../../../assets/imagenes/galeriaBerlin/IMG_2347.JPG" class="imgcronica slower">
      </div>
    </div> -->
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
