<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower">
      <h1 class="tituloViaje text-center mt-5">10 días en Rumanía</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-5 mb-5 justify-content-center">
        <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
        <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
        <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
        <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
        <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
        <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower">
        <h1 class="tituloDiario text-center mb-3">Cluj-Napoca, Aiud y Alba Iulia </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Dejamos los Maramureş en el norte para volver a entrar en Transilvania hacia nuestra 
        primera parada que es la ciudad de Cluj-Napoca, Segunda ciudad más grande de Rumanía, 
        que está a 2:30 horas de donde partimos, Baia Mare y como siempre con malas carreteras, 
        nos hemos fijado que el sol aquí es más claro que en España, la luz  molesta muchísimo, 
        es de una claridad que hace difícil la conducción y las fotos salen muy mal. El paisaje 
        cuando sales de los Maramureş se torna en algo parecido a Castilla, muy llano con grandes 
        maizales y poco árbol.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Nuestra llegada a Cluj-Napoca es una pena, es una ciudad industrial con muy poco que 
        visitar y encima está todo cerrado o en restauración, casi no se puede hacer ni fotos, 
        nuestro gozo en un pozo, así que después de una pequeña vuelta por el centro es hora de 
        comer, elegimos hacerlo en Zama restaurant por 11,55€ y estaba buenísimo, nos llevamos un ‘mal’ sabor de 
        boca de la ciudad, nos ponemos en carretera otra vez, decidimos no parar en la salina de 
        Turna como era nuestra intención y si hacerlo en Aiud. 
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-12 animated fadeIn slower text-justify">
        <p>Aiud es un pueblo con un recinto fortificado muy bonito, muy medieval, rollo película de 
          centro Europa en el medievo, pero nuestro gozo en un pozo nuevamente, está en restauración y 
          no podemos entrar, la Unión Europea está dando presupuestos para restauración y está buena 
          parte del país en dicha restauración.</p>
        <p>Tras dos días un poco regulines, que hemos visto cosas bonitas pero las carreteras son 
          tremendamente lentas y la claridad dificulta la visibilidad,  estamos un poco expectantes 
          con Rumanía, aunque llegamos a nuestra parada final Alba Iulia. Habíamos reservado un 
          apartamento que la dueña nos había preguntado a qué hora llegaríamos y le habíamos dicho 
          que a las 17:00, hora que llegamos y al llamarla no nos cogía el teléfono, así que después 
          de una hora reservamos en otro en el Hotel Ave Aba, algo caro, 45€, el dueño habla 
          castellano y es súper amable, algo que no se estila mucho en Rumanía donde la mayoría 
          son bastante secos o fríos y una buena parte no muy amigables por no decir mal educados.</p>
      </div>
      <div class="col-md-4 col-sm-12 animated fadeIn slower">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/4b-ollX1q3A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Alba Iulia es el antiguo asentamiento de Apullum, capital de la Dacia superior del 
        imperio romano y tiene un centro histórico súper bien conservado con 0 turismo en esta 
        época del año, tiene un paseo por el foso de las murallas (donde antes habría agua) que 
        es una delicia con ningún ruido, mola mucho esta pequeña ciudad, bueno su parte histórica 
        ya que el resto es soviético total. Hemos cenado en pub 13 que es un restaurante medieval 
        que se encuentra en la misma muralla Romana, que tienes que acceder por un puente de madera, 
        bastante rico y algo caro para Rumanía, 24€.
      </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-3 mb-1 text-center">
          <img src="../../../assets/imagenes/galeriaRumania/rum-9-8.jpg" class="rumaniaImagen9 skeleton slower">
        </div>
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-3 mb-1">
          <img src="../../../assets/imagenes/galeriaRumania/rum-9-7.jpg" class="rumaniaImagen9 skeleton slower">
        </div>
      </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Conclusión de la jornada es imprescindible venía a Alba Iulia que recibe el nombre de la 
        madre de Marco Aurelio, está a 90 km de Sibiu y merece mucho más la pena que Cluj-Napoca, 
        que su centro no está mal, pero solo si tienes mil días en tus vacaciones. El norte de 
        Rumanía es un concepto de viaje excesivamente contemplativo, poco que visitar y carreteras 
        muy muy lentas, la noche nosotros la estamos evitando porque las ciudades están un poco 
        mal iluminadas y da cangele con tan poca gente, en una zona que esta fuera del espacio de 
        confort de unos occidentales de Madrid.
      </div>
    </div>
  </div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>