<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
            <h1 class="tituloViaje text-center">Road Trip por el nordeste de EEUU en 10 días</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-4 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Arlington y New York</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Este día después de hacer las maletas e ir a por el coche que estaba en el parking de la Union Station, 24
            nos costó 19€, pusimos rumbo a Arlington, simplemente hay que cruzar el río Potomac para estar en Virginia,
            donde podréis visitar el cementerio nacional y el Pentágono, este último a nosotros no nos despierta ninguna
            curiosidad y no lo visitamos.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Antes del cementerio paramos en la gran escultura al cuerpo de los marines de los estados unidos, recrea la
            famosa foto de Joe Rosenthal. También conocido como Memorial de Iwo Jima, este memorial tiene grabado
            alrededor del pedestal todos los lugares donde ha participado este cuerpo militar, da miedo leerlo, cada dos
            o tres años han estado guerreando en algún lugar durante el último siglo. Justo por la parte de abajo pasa
            la ruta 66 por si queréis ir a haceros una foto en la mítica carretera que recorre el país.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            A continuación fuimos al cementerio, podéis ir perfectamente andando si no llevais coche, la entrada es
            gratuita y el parking es muy barato, nosotros por 3 horas fueron 4 euros.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Se trata de un cementerio militar que alberga a veteranos de las guerras desde la independencia hasta Irak y
            sus parejas, los terrenos pertenecían al famoso general confederado Robert E. Lee, de hecho puedes visitar
            su casa en una visita teatralizada. Entre las cientos de tumbas destacan algunas como la tumba al soldado
            desconocido donde se realiza el cambio de guardia o la de John F. Kennedy, pasando por Patton, Eisenhower y
            una infinidad de ilustres militares norteamericanos. O algunos memoriales como al 11-S o a la tripulación
            del Challenger.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            A media mañana ponemos rumbo hacia la Gran Manzana, con parada técnica en el outlet de para hacer alguna
            compra y comer en
            Clarksburg Premium Outlets
            , la parada fue casualidad por que no estaba preparada.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Llegamos a Nueva York a dejar las maletas y a parte de la expedición y otra vez a jersey a devolver el coche
            en el aeropuerto de Newark lo que nos hizo perder bastante tiempo. Para volver a Manhattan tuvimos que ir en
            tren (15€ el billete, 11€ si eres mayor de 62 años), por lo que la llegada nos dio para ir a ver Times
            Square con todas sus luces y todas sus personas, alucinar, volver a alucinar y cenar en Junior's, 68€/4,
            este típico restaurante americano es una delicia sobre todo en sus hamburguesas y porciones de tarta, muy
            recomendable.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Nos hospedamos en un apartamento Midtown apartment para 5 personas en la 131th con la 5av en pleno Manhattan
            por 608€/4 noches. Un sitio para pasar la noche, humilde, pero para nosotros suficiente y con una ubicación
            excelente.
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 animated fadeIn slower text-center mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia7-8.jpg" class="imgcronica slower"
                alt="Junior's Nueva York" title="Junior's Nueva York">
        </div>
        <div class="col-md-6 col-sm-12 animated fadeIn slower text-center mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEEUU/dia7-9.jpg" class="imgcronica slower"
                alt="Junior's Nueva York" title="Junior's Nueva York">
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>