<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloViaje text-center mt-5">3 días en Roma</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <img class="principalRoma mt-5 mb-5" src="../../../assets/imagenes/galeriaRoma/IMG_2199.JPG">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloDiario text-center mb-3">Preparativos y llegada</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
        Hola, ¿Cómo te llamas? ¿Nos vamos a Roma?. Así comenzaba nuestra aventura (en todos los 
        sentidos, como compañeros de viajes y de vida), esto puede ser la carta de presentación de 
        qué tipo de "locos" somos y nuestro afán desmedido por los viajes. Como elegir una 
        “primera” ciudad que no sea la Ciudad Eterna, recorrer sus calles repletas de siglos 
        de historia, de la historia más importante y bella de la humanidad, la Roma clásica, 
        la Roma del Renacimiento, del arte, de la gastronomía, también de la unificación… bueno y 
        del fascismo.
      </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
        Hacía solo un mes que nos conocíamos y estábamos cenando en el Trastevere, aunque el viaje 
        había comenzado un poco antes, con la compra de los billetes que nos salió un poco más 
        caro de lo que se puede encontrar para el mes de abril, nos costó 80€ por persona. 
        Volábamos a Fiumicino con Vueling y llegábamos a Roma a las 23:25, un horario de pena, 
        pero esta vez tocaba así. Para llegar a Roma cogimos un autobús lanzadera que paraba en la 
        estación de Termini, sacamos los billetes solo para la ida (4 € por persona).
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      El hospedaje nos decidimos por reservar un hostal con desayuno incluido bastante económico 
      por Booking en la zona de Termini, llamado Soggiorno Blu, como ya habíamos estado en esta 
      milenaria ciudad nos parecía una buena zona para dormir, con buena comunicación con toda la 
      ciudad. La sorpresa nos llegó al llegar al hostal, se encontraba en un edificio "cochambroso" 
      y con mucho ruido por la discoteca que había cerca (primer desconcierto). Cuando estamos 
      haciendo el check-in nos dice el recepcionista que en nuestra habitación está el baño 
      estropeado que paguemos y le acompañemos a otro edificio donde nos alojaran (segundo 
      desconcierto, este aún mayor), evidentemente le decimos que primero queremos verlo. 
      En el trayecto le preguntamos que donde se desayuna y nos señala el bar de enfrente 
      (tercera cosa que tenía tufo). La nueva habitación se encontraba en un edificio de viviendas 
      sin recepcionista y en un estado penoso, cuando nos enseñó la habitación y su “baño” le dijimos 
      que ahí no nos quedábamos, el recepcionista educadamente nos dice que vale y nos devuelve la 
      hoja del check-in, todos “contentos”. Era la 1 de la madrugada y teníamos que buscar otra 
      alternativa…
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Encontramos cerca el Hotel Galatea por Booking que nos iba a salir más caro las 3 noches con 
      desayuno (265 €, pero dadas las circunstancias no era momento de pensarlo. El hotel estupendo, 
      desayuno variado y bueno y la habitación agradable.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
        Nuestro calvario con el primer hotel no había terminado, a la mañana siguiente llamamos a 
        Booking para contarles lo que había pasado y que no creíamos que pasase pero que no nos 
        cobrasen la estancia, nos dijeron que hablarían con el hotel y que ellos se encargaban de 
        pagar la diferencia entre hoteles, maravilloso! Pero a los días nos pasaron el cargo del 
        hotel y Booking decía que en el check-in no aparecía el membrete de hotel (vamos unos 
        estafadores en toda regla). Tras varias llamadas Booking se hizo cargo de la factura que 
        nos habían cobrado y de la diferencia con el nuevo hotel, por lo que no tenemos ninguna 
        queja con ellos y lo recomendamos encarecidamente.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Eran más de las 2 a.m. y no estábamos para hacer un reconocimiento de la zona, a la mañana 
      siguiente queríamos aprovecharlo y cambiar la manera en la que habíamos comenzado.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
        * En este viaje entrabamos en cada iglesia que nos encontrabamos, cada una tiene algo, 
        merece la pena. Este articulo es de antes que se nos ocurriese hacer la página y por lo 
        tanto los datos son de memoria y alguno puede bailar más o menos.
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
