<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloViaje text-center mt-5">2 días en Washington</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-5 mb-5 animatedzoomIn justify-content-center">
      <app-modal-foto class="mb-1" [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 class="mb-1" [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 class="mb-1" [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 class="mb-1" [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 class="mb-1" [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 class="mb-1" [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h1 class="tituloDiario text-center mb-3">National Mall y Museos</h1>
      </div>
    </div>
    <div class="col-sm-12 text-justify">
      El día comenzaba con un cielo despejado y un sol de invierno precioso, perfecto para el paseo 
      que nos quedaba por delante, después de desayunar nos echamos a la calle camino al oeste hacia 
      el Capitolio, íbamos a visitar el National Mall en profundidad después del primer reconocimiento 
      nocturno de la etapa anterior y visitar algunos de sus museos, en Washington todos son de 
      entrada gratuita.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Los primeros edificios que encontrábamos eran la Librería del Congreso y la Corte Suprema, 
      avanzábamos hacia Archivos nacionales donde entramos a ver la declaración de Independencia y 
      todos los documentos importantes de la nación estadounidense. Continuamos por el famoso teatro 
      Ford´s, el edificio del Old Post Office y el edificio del F.B.I.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Habíamos llegado a la Casa Blanca o mejor “dicho casita”, es sorprendente lo pequeña que 
      parece la casa en directo, supongo que es debido en parte a la monumentalidad de todos los 
      edificios de la ciudad y de la imagen de poder retratada en todas las películas, pero parece 
      un chalecito. Al llegar vimos la gran seguridad en el control de acceso a la misma, pero 
      nosotros no teníamos que pasarlo ya que se ve desde la vaya trasera. Era la hora de comer y 
      nos acercamos al Shake & Shack que había cerca (24 $).
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Volvíamos al Mall, es el gran bulevar entre el capitolio y el monumento a Lincoln donde 
      están una gran cantidad monumentos memoriales y muchos museos, empezamos por el memorial a 
      Albert Einstein y su escultura gigante, que nos sorprendió gratamente, y nos acercamos al 
      memorial a los veteranos de Vietnam, compuesto por dos esculturas una de ellas sobrecogedora 
      y un muro de mármol negro con los nombres de todos los americanos que perdieron su vida en esa 
      guerra. Justo enfrente está el memorial a los veteranos de la guerra de Corea, el de 
      John Ericsson y el de Martin Luther King, más abajo está el de Franklin Delano Roosevelt y 
      el de Thomas Jefferson.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      En el centro está el famoso obelisco que en 1884 se erigió en conmemoración del primer 
      presidente de los Estados Unidos, George Washington, y mide 170 metros.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Habíamos dejado la entrada a los museos para lo último por aprovechar la luz y elegimos 
      entrar a los museos del Aire y el Espacio, que tiene una gran colección aeronáutica pero 
      destacando la parte dedicada a la carrera espacial, el otro museo que habíamos seleccionado 
      era de los indios americanos, que nos dejó bastante que desear, como teníamos tiempo decidimos 
      entrar a ver el Smithsonian of Natural History, nos gustó bastante y es ciertamente parecido 
      al de New York.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Auténticamente rendidos nos fuimos de camino hacia nuestra casa, parando para cenar en el 
      Ben´s Chili Bowl (23 $). El día acaba y nos esperaba el día siguiente la vuelta a New York 
      primero y luego a Lisboa y luego a Madrid, oh dios mío!
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-1">
      <div class="col-md-6 col-sm-12 mb-1">
        <img class="wasImagen3" src="../../../assets/imagenes/galeriaNy/IMG_1158.JPG">
      </div>
      <div class="col-md-6 col-sm-12 mb-1 text-center">
        <img class="wasImagen3" src="../../../assets/imagenes/galeriaNy/IMG_1164.JPG">
      </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <app-pagina-siguiente [anterior]="anterior" [anteriorDonde]="anteriorDonde"></app-pagina-siguiente>
  </div>
</div>