<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
      <h1 class="tituloViaje text-center">5 días en Estocolmo, Birka y Drottningholm</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower">
      <h1 class="tituloDiario text-center mb-3">Stadsbibliotek y Skeppsholmsbron </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      El día iba a dar para poco porque salíamos al mediodía por lo que seleccionamos para visita las dos cosas
      que creíamos nos habían faltado por descubrir, la Stadsbibliotek y las vistas de Glam Stan con la luz del
      sol a nuestra espalda y no de frente desde Skeppsholmsbron.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Como nuestro hostel estaba muy cerca de la Stadsbibliotek fuimos, tras desayunar, cinco minutos caminando.
      La biblioteca pública de Estocolmo construida en 1928 fue la primera en ofrecer estanterías abiertas a los
      lectores, se encuentra en un edificio circular lo que le da un estilo completamente diferente a otras
      bibliotecas, como dato curioso de este edificio es que todos los muebles tuvieron que ser diseñados
      expresamente para la biblioteca, esta está situada frente a un parque muy tranquilo en el que descansar un
      rato. Una visita curiosa.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 mb-2 animated fadeIn slower">
      <img src="../../../assets/imagenes/galeriaEstocolmo/biblioteca.jpg" class="panoramica slower"
        alt="Panoramica de Drottningholm" title="Panoramica de Drottningholm">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Tomamos el metro en la estación Rådmansgatan para ir hasta Skeppsholmsbron que es la más cercana a nuestro
      siguiente punto, Skeppsholmsbron, este puente más conocido para los hispanoparlantes como el puente de las
      coronas fue el primer puente de hierro forjado de Suecia en 1861 con una longitud de 165 metros. Desde el
      puente hay una de las mejores vistas del centro de Estocolmo.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Tras volver andando por las calles que había hasta el hostel a hacer el check-out el Arlanda Express nos
      llevaría en veinte minutos al aeropuerto y vuelta a Madrid.
    </div>
  </div>
  <div class="row">
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 text-justify conclusiones mt-5 p-5">
      Las dos visitas os las recomendamos por que tanto las vistas, por la mañana, desde ese punto son muy bonitas
      como la experiencia de ver una biblioteca tan curiosa, es verdad que las bibliotecas nos suelen gustar,
      merece mucho la pena. En conclusión y a pesar de repetirnos, Estocolmo nos ha sorprendido y encantado, es
      una ciudad cara, pero que hay que visitar una vez en la vida... o varias.
    </div>
  </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
