<div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="tituloViaje text-center mt-5">10 días en Rumania</h1>
      </div>
    </div>
    <div class="row">
      <div class="row m-3 mt-5 mb-5 animatedzoomIn">
          <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
          <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
          <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
          <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
          <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
          <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h1 class="tituloDiario text-center mb-3">Iglesia Fortificada de Valea Viilor, Mediaş, Iglesia Fortificada de Biertan y Sighişoara</h1>
        </div>
      </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Hoy nos hemos puesto en movimiento un pelin más tarde y nos hemos ido a 40 km para visitar 
        la iglesia fortificada de Valea Viilor (3,46 €) construida por los sajones en el siglo XV 
        para protegerse de los hunos y los turcos, el hecho de que hubiese tantos sajones en 
        Transilvania viene de cuando estaban los reyes magiares dominando Hungría (Rumania estaba 
        integrado en el imperio hungaro) decidieron poblar de habitantes más adinerados la zona, 
        por eso trajeron a los sajones y así también mataban la resistencia.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Después de visitar esta curiosa iglesia que puedes subir a la torre con unas súper vistas 
        volvíamos nuestros pasos hacia Sighişoara y parábamos en la segunda ciudad más grande de la 
        provincia de Sibiu, Mediaş, que tiene encanto pero no os perdéis nada si os a saltáis, después 
        hacíamos una nueva parada en el pueblo de Biertan para visitar la iglesia fortificada que es 
        una puta pasada pero ojo que cierra a la 13:00 del mediodía (4,26 €). 
        </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        En las fotos no hemos conseguido captar lo bonitas y curiosas que son o bien por la poca 
        perspectiva para hacerlas o por la claridad que hay en esta época del año en Rumania, pero 
        bueno ya las visitaréis, merecen la pena ambas iglesias.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Volvimos a comer a Sighişoara en el restaurante Altepost (14,78 €) que está muy bien y el 
        camarero habla castellano, el sitio está muy bien con un aire medieval, como en varios de 
        los que hemos estado por esta zona.
      </div>
    </div>
    <div class="row">
        <div class="text-center col-md-12 col-sm-12 mt-2 mb-2">
          <img src="../../../assets/imagenes/galeriaRumania/rum-7-7.jpg" class="rumaniaImagen7 animatedzoomIn">
        </div>
      </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 text-justify">
          Hemos pasado la tarde por Sighişoara que es encantador pero la parte que se visita, el 
          casco histórico, es muy reducida y ya lo hicimos ayer por la noche, así que volvemos a 
          pasear nuestros pasos, la subida a la torre del reloj (4,07 €) que también es el museo de 
          historia y  tiene unas vistas de la ciudad en 360º muy bonitas. Como apunte aquí las 
          escaleras están mal conservadas y da ‘yuyu’ subir pero sobre todo bajar, cuidadito. 
        </div>
      </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
      La ciudad de Sighişoara le hemos destinado dos noches por organizar el viaje y por hacer el 
      viaje un poco más relajados, aunque desde aquí os recomendamos que tan solo destinéis una noche 
      porque aunque la ciudad es de obligada parada es muy pequeñita.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Esta zona está muy poco europeizada y parece relativamente poco turística, casi ni hay 
        tiendas de marcas europeas, son la tienda de toda la vida que ya no existen en España, es 
        muy curioso, la gente no viste de marca, me reafirmo en que parece la URSS de los 80’s. 
        Un placer visitar lugares de este tipo, con su personalidad y lejos de la globalización 
        occidental.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
      La ciudad de Sighişoara le hemos destinado dos noches por organizar el viaje y por hacer 
      el viaje un poco más relajados, aunque desde aquí os recomendamos que tan solo destinéis una 
      noche porque aunque la ciudad es de obligada parada es muy pequeñita.En este puto hemos 
      replanteado nuestro viaje y no vamos a ir a la región de Bucovina, nos vamos a perder los 
      monasterios pintados con frescos en el exterior, pero por los kilómetros que hay y las malas 
      carreteras hemos decidido poner rumbo a Bulgaria y dedicarle más días.
      </div>
    </div>
  </div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
  