<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="tituloViaje text-center mt-5">3 días en Roma</h1>
      </div>
    </div>
    <div class="row">
      <div class="row m-3 mt-5 mb-5 animatedzoomIn">
          <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
          <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
          <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
          <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
          <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
          <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h1 class="tituloDiario text-center mb-3">Plaza Spagna, plaza del Popolo, Ciudad del Vaticano, Trastevere</h1>
        </div>
      </div>
      <div class="col-sm-12 text-justify">
        El domingo empezaba en nuestro buffet de desayuno para coger fuerzas para la etapa diaria 
        (17,06 km). La primera parada era Santa María della Concezione dei Cappuccini y su museo, 
        compuesto de restos óseos (curioso). Bajando hacia el palazzetto Zuccari, la Scalinata di 
        Trinità dei Monti bajamos hasta la Piazza di Spagna, nos perdimos un poco por las calles de 
        las altas firmas de moda hasta la Piazza del Popolo, con sus iglesias gemelas y la fuente de 
        Neptuno.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
          Pasamos para ver el mausoleo de Augusto y el museo del Ara Pacis, cruzamos el puente de 
          Umberto I para encontrarnos la corte Suprema. Llegábamos al Castel de SantAngelo y el 
          puente (estaba en obras, ups), después nos perdimos entre las pocas calles que hay hasta 
          el Vaticano, bajo estas calles hay pasadizos secretos que comunican ambas, servían de escape 
          a la curia vaticana en caso de amenaza huían del palacio papal y se escondían en el Castillo.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
          Era el momento para entrar a la Basílica de San Pedro, se accede por uno de los laterales de 
          la columnata exterior obra de Bernini (como curiosidad, si te pones en un punto central, 
          marcado en el suelo, solo se observa una de las filas de columnas), el acceso hay que pasar 
          un control de seguridad bastante riguroso (no había demasiada gente, pero suele haberla). 
          La basílica se supone que se encuentra erigida sobre la tumba del apóstol San Pedro, desde 
          luego que es espectacular ver esa obra de arquitectura renacentista (varios arquitectos 
          trabajaron en ella: Bramante, Miguel Ángel, Bernini), pero lo que se encuentra en el interior 
          no tiene rival, absolutamente todo es digno de perder tiempo en admirarlo, puertas, esculturas, 
          pinturas, mármoles, arquitectura, tumbas de este primer nivel, pero destaca el Altar de Bernini 
          o Baldaquino y La Piedad de Miguel Ángel. Se puede descender por las Grutas Vaticanas, las que 
          tienen abiertas, donde se encuentran el resto de tumbas de pontífices de esta religión.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
          Después de comer en esta zona habíamos quedado con Valerio que nos iba a hacer una guía por 
          el Vaticano y sus museos, aquí no nos libramos de pagar ni con los pases de Valerio, con la 
          iglesia habíamos topado. (16-18 € cada uno, para evitar colas). Fue una auténtica delicia que 
          nos explicase todos los detalles de los museos, sin duda disfrutamos de sus conocimientos al 
          100% y nosotros que siempre vamos por libre fue una grata experiencia, mil gracias amigo.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
          De los museos tampoco voy a extenderme demasiado ya que es bastante mejor lo que podáis 
          encontrar en internet, merece la pena dedicarle tiempo a estudiárselo un poco antes de ir. 
          Es una entrada muy cara pero imprescindible, hay que tener en cuenta el poder de la iglesia 
          católica gracias a la cual se ha hecho con uno de los mejores museos del mundo, con piezas de 
          incalculable valor cultural, desde el Laocoonte y sus hijos griego que revoluciono la escultura 
          en periodo renacentista a piezas egipcias, pasando por pinturas de los grandes artistas de la 
          humanidad (incluidas contemporáneas), que destacan los frescos de La escuela de Atenas de Rafael 
          o La capilla Sixtina de Miguel Ángel, sin olvidar los tapices o los mapas. También tienen un museo 
          de los carruajes papales (coches incluidos, vamos el papa-móvil) y algún detalle más referente al 
          papa actual, futbolístico.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
          Por la tarde nos fuimos con Valerio y una amiga a tomar algo al Trastevere y desenvolvernos un 
          poco como romanos, este barrio tiene un encanto por sus calles empedradas y estrechas calles 
          plagadas de bares, pub´s y restaurantes para todo tipo de bolsillo, os recomendamos 
          encarecidamente acabar los días aquí, escapa un poco del rollo alternativo (esto esta más en 
          el barrio de San Lorenzo) pero tiene un punto similar. Nosotros escogimos para cenar los dos 
          días el mismo restaurante debido a su precio y lo que nos gustó el día anterior y si vamos 
          repetiremos (21 € los dos), es Carlo Menta. El restaurante es de comida típica italiana y las 
          mesas se separan en 5 cm unas de otras, por lo que comes “en compañía”. Después de cenar volvimos 
          andando para así poder ver la fontana di Trevi iluminada y casi sin gente, preciosa!. Nos quedaba 
          la mañana del día siguiente para completar nuestra escapada.
      </div>
    </div>
  </div>
  
  <app-pagina-siguiente 
    [siguiente]="siguiente" 
    [siguienteDonde]="siguienteDonde"
    [anterior]="anterior" 
    [anteriorDonde]="anteriorDonde" >
  </app-pagina-siguiente>
  