<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
      <h1 class="tituloViaje text-center">10 días en Sicilia, Road Trip</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-4 mb-5 justify-content-center">
      <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower">
      <h1 class="tituloDiario text-center mb-3">Siracusa y Catania</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Dejábamos el apartamento de Ortigia y íbamos a visitar la otra joya que hay en Siracusa, el 
      parque arqueológico de Neápolis, está a las afueras de la ciudad y cuesta 10€.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      El parque es una de las zonas clásicas mejor conservadas de Sicilia y porque no aventurarme a 
      decir de Europa, visitamos la Oreja de Dionisio, es una antigua cantera con forma de oreja, 
      de ahí el nombre, con una acústica que ya le gustaría a muchos teatros y que se puede acceder 
      a su interior, eso sí había mucha gente. El teatro griego en lo alto del parque con unas vistas 
      preciosas, el teatro es l anfiteatro y el altar de Hierón II dedicado a Zeus donde se sacrificaban 
      todo tiempo de animales. Merece muchísimo la pena la visita.
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
      <img src="../../../assets/imagenes/galeriaSicilia/IMG-0343.jpg" class="imagenSicilia7 slower" alt="Catania" title="Catania">
    </div>
    <div class="col-md-6 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
      <img src="../../../assets/imagenes/galeriaSicilia/IMG-0220.jpg" class="imagenSicilia7 slower" alt="Catania" title="Catania">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      A 70 kilómetros está Catania donde nos íbamos a quedar dos noches para hacer unas visitas 
      por los alrededores y de la propia ciudad en sí, que merece la pena y mucho, a nosotros nos 
      sorprendió bastante porque habíamos leído en muchas crónicas que es una ciudad prescindible 
      en las visitas a Sicilia, y no estamos de acuerdo.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Esta ciudad nos dedicamos a patearla un poco sin rumbos fijos, pero os destacamos que lo 
      principal está en la calle Garibaldi y la plaza del Duomo, haciendo énfasis en la Catedral 
      de Santa Ágata, la fuente del Elefante (con sus palazzo degli Elefanti y palazzo dei Chierici), 
      la fontana dell´Amenano. También son curiosos los mercados callejeros.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Comimos en un sitio moderno que recomendaban en tripadvisor y no nos hizo nos gustó demasiado, 
      aunque los camareros eran muy simpáticos.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Por la tarde estuvimos tomando algo en la zona de bares, con cierto ambiente underground, 
      relajándonos un poco por que había empezado a llover, cuando decidimos salir nos pilló el 
      diluvio universal y tuvimos que resguardarnos 5 minutos en un techado, concluimos el día 
      cenando unos arancini en Pasticceria Savia  que tienen fama de ser los mejores de toda Italia, 
      es un bar con infinidad de tipos de arancini y la verdad que estaban buenísimos.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Nos recogimos pronto que al día siguiente teníamos una ruta esperada y bastante cansada.
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
      