<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
      <h1 class="tituloViaje text-center">10 días en Sicilia, Road Trip</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-4 mb-5 justify-content-center">
      <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower">
      <h1 class="tituloDiario text-center mb-3">Necropoli di Pantalica y Siracusa</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <img class="panoramica mt-5 mb-5 slower" src="../../../assets/imagenes/galeriaSicilia/IMG-0183.jpg" alt="Necropoli di Pantalica" title="Necropoli di Pantalica">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
    A poco más de 50 kilómetros hacia el norte se encuentra la necrópolis de Pantálica con más 
    de 5.000 tumbas, datadas entre los siglos XIII y VII a.C., están escavadas en la montaña, el 
    camino a las mismas es muy bonito y merece mucho la pena, lo malo que a nosotros nos llovió y 
    la carretera se complicaba un poco, aunque le deba un toque con la niebla precioso y nos 
    cruzamos solo con dos personas en la ruta.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
    El coche tienes que dejarlo en la entrada que da acceso a los senderos que llevan a los 
    acantilados donde se encuentran los restos, es una ruta sencilla, a menos la que nosotros 
    hicimos, que no fue otra que seguir el sendero principal. En la entrada había un señor, doy 
    por hecho que es un trabajador, que nos dio la bienvenida y se puso a contar toda la historia 
    del lugar a Marcos, en italiano por supuesto, el buen hombre olía un poquito a vino, 
    pero es que no tenía fin la explicación y repito, en italiano. Surrealista la escena en 
    medio de la lluvia Marcos intentando entender al “experto”.
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
      <img src="../../../assets/imagenes/galeriaSicilia/IMG-0280.jpg" class="imagenSicilia6 slower" alt="Necropoli di Pantalica" title="Necropoli di Pantalica">
    </div>
    <div class="col-md-6 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
      <img src="../../../assets/imagenes/galeriaSicilia/IMG-0351.jpg" class="imagenSicilia6 slower" alt="Ortigia, Siracusa" title="Ortigia, Siracusa">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
    El lugar es muy muy sorprendente, con unas vistas y una paz que recomendamos absolutamente 
    si vais a Siracusa o Noto. En las fotos no conseguimos que se apreciasen bien los huecos de 
    las tumbas, pero en cada ladera hay cientos.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
    Siracusa está a otros 50 kilómetros, habíamos cogido un apartamento en el centro, denominado 
    como Ortigia, es una islita donde se concentra la parte antigua, patrimonio de la Humanidad. 
    Pero es casi imposible aparcar dentro, dejamos el coche fuera y nos centramos en visitar esta 
    zona, dejando las atracciones exteriores para el día siguiente.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
    Son callejuelas estrechitas en una piedra blanquecina que junto a los viejos edificios hacen 
    
    de la isla un lugar bellísimo, visitaríamos el Duomo, el teatro, la fuente de Aretusa, el 
    templo de Apolo y el Castillo de Maniace, también entramos en el Hipogeo, cuesta 10€, pero no 
    lo recomendamos, a nosotros no nos gustó. La parte que bordea está islita tiene unas vistas al 
    mar estupendas, que nos hacían imaginar cómo sería aquí la vida en el periodo griego.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <img class="panoramica mt-5 mb-5 slower" src="../../../assets/imagenes/galeriaSicilia/IMG-0173.jpg" alt="Ortigia, Siracusa" title="Ortigia, Siracusa">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
    Es una zona bastante masificada, por lo que ir en temporada intuimos que tiene que ser agobiante, 
    porque a principios de octubre había bastante gente, que se vacía bastante cuando anochece y 
    la iluminación de la ciudad en esa piedra parecida al mármol bien merece la pena ser disfrutado.
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
      