<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
            <h1 class="tituloViaje text-center">5 días en Estocolmo, Birka y Drottningholm</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-4 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Palacio de Drottningholm, Palacio Real y Gamla Stan</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 mb-2 animated fadeIn slower">
            <img src="../../../assets/imagenes/galeriaEstocolmo/estdia4-15.JPG" class="panoramica slower"
                alt="Panoramica de Drottningholm" title="Panoramica de Drottningholm">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            La visita al palacio de Drottningholm se realiza en barco, también entra en la StockholmPass, y se sale
            desde mismo lugar que a Birka, en el muelle de Stömma, en este caso hay que reservar las plazas del barco
            antes, ya sea el día anterior o ese mismo, salen a las diez de la mañana. El viaje tiene una duración de 40
            minutos aproximadamente, y solo hace una parada para llevar el periódico a una persona que vive en una isla.
        </div>
    </div>
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-2 mt-2 animated fadeIn slower text-center">
            <img src="../../../assets/imagenes/galeriaEstocolmo/IMG-7633.JPG" class="imgcronica slower"
                alt="Jardines de Drottningholm" title="Jardines de Drottningholm">
        </div>
        <div class="col-xl-10 col-lg-10 col-md-9 col-sm-12 animated fadeIn slower text-justify">
            <p>El día era tremendamente caluroso y totalmente despejado, algo que al parecer no es demasiado habitual en
                Suecia. El camino es casi el mismo que el de Birka, muy bonito. Al llegar al muelle lo primero que vemos
                es el palacio en sí. Se trata de un palacio del siglo XVI, reconstruido tras un incendio en 1661, el
                estilo en que se fijó su arquitecto, Nicodemus Tessin “el Viejo”, fue en el neoclasicismo francés y de
                los Países Bajos. La visita del edificio es de unas pocas habitaciones con escasa decoración, no es
                similar a otros palacios europeos, pero merece la pena.</p>
            <p>En el islote de la reina, Drottningholm en sueco, también se puede visitar el teatro, es una de las joyas
                teatrales a nivel mundial, con un aforo de 400 espectadores y construido entre 1664 y 1703 y un pabellón
                chino de estilo rococó francés. Por otra parte, los jardines barrocos del siglo XVI son una autentica
                belleza para perderte por allí.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            A la vuelta, aunque llegamos sobre las cuatro de la tarde fuimos a comer a un food-truck de los muchos que
            hay en Estocolmo de diferentes tipos de cocina, en la app Streetkak os dice donde se encuentran en cada
            momento. Nosotros elegimos uno que tenía muy buenas opiniones que suele estar enfrente del Nordisk Museet,
            el Vego Schmegan, que es de comida israelí-vegana, nos costó más de lo que hubiésemos esperado para un
            foodtrack, 31,95€ pero estaba bastante rico.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            El tranvía atropelló a una persona y estuvimos un rato sin poder montarnos para regresar al centro, la línea
            7 del tranvía te lleva desde la isla de los museos hasta T-Centralen. Aprovechamos para ir al puente de las
            coronas desde donde hay una panorámica del palacio y el skyline de Gamla Stan precioso, aunque os
            recomendamos ir por la mañana para que no tengáis el sol de frente.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEstocolmo/estdia4-13.jpg" class="imgcronica slower"
                alt="T-Centralen, T-Banna" title="T-Centralen, T-Banna">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEstocolmo/estdia4-11.jpg" class="imgcronica slower"
                alt="Solna Centrum, T-Banna" title="Solna Centrum, T-Banna">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEstocolmo/estdia4-12.jpg" class="imgcronica slower" alt="T-Banna"
                title="T-Banna">
        </div>
        <div class="col-md-3 col-sm-12 animated fadeIn slower mt-1 mb-1">
            <img src="../../../assets/imagenes/galeriaEstocolmo/estdia4-14.jpg" class="imgcronica slower"
                alt="Stadion, T-Banna" title="Stadion, T-Banna">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Era el momento de ver algunas de las estaciones del metro o T-banna, como se llama en
            Estocolmo, son auténticas obras de arte y están a lo largo de toda la red, nosotros
            seleccionamos algunas de las que queríamos ver y nos conformamos con cuatro de ellas,
            T-Centralen, Solna Centrum, Stadion y Kungsträdgården.
        </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 animated fadeIn slower text-justify">
            <p>Después de ver este curioso metro fuimos al centro a cenar y elegimos Borgmastar´n por 36,36€,
                sitio turístico sin demasiada calidad, aceptable por ubicación y precio. Y un gofre después
                en una pastelería belga 12,01€, muy rico.</p>
            <p>Última visita por Gamla Stan nocturno, que, pese a la escasa iluminación es encantador, nos fuimos
                enamorados de esta parte de Estocolmo y prometiendo volver en un futuro.</p>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaEstocolmo/estdia4-9.jpg" class="imgcronica slower"
                alt="Vego Schmegan" title="Vego Schmegan">
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaEstocolmo/estdia4-10.jpg" class="imgcronica slower"
                alt="Meat Balls en Borgmastar´n" title="Meat Balls en Borgmastar´n">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 text-justify conclusiones mt-5 p-5">
            La visita al palacio de Drottningholm merece la pena, es muy bonito, así que, si tenéis días os lo
            recomendamos, y si podéis ir a pasar el día a sus jardines, nosotros nos arrepentimos de no llevarnos algo
            de picar para haber comido allí y dedicarle alguna hora más. El metro merece centrar una visita como una
            parte fundamental en la ruta turística de la ciudad, es una pasada algunas de sus estaciones. En cuanto a
            los camiones de comida, ojo con lo que pedís que te sale como un restaurante y no deja de ser comida para
            llevar.
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>