<div class="container">
    <div class="row mt-5">
      <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
        <h1 class="tituloViaje text-center">10 días en Sicilia, Road Trip</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
        <img src="../../../assets/imagenes/galeriaSicilia/1556607564913.jpg" class="imagenSicilia10 slower" alt="Monasterrio de Monreale" title="Monasterrio de Monreale">
      </div>
      <div class="col-md-6 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
        <img src="../../../assets/imagenes/galeriaSicilia/IMG_0564.JPG" class="imagenSicilia10 slower" alt="Cefalú" title="Cefalú">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower">
        <h1 class="tituloDiario text-center mb-3">Cefalú y Palermo</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        El día era soleado tanto que nos hizo falta el bañador para darnos un baño en la 
        preciosísima playa de Cefalú, esta visita la decidimos hacer de ida y vuelta, no nos 
        suele gustar retroceder nuestros pasos pero esta vez tocaba así, está a unos 70 kilómetros 
        de Palermo.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        El antiguo pueblo pesquero, ahora su economía principal es el turismo masivo que tiene, 
        es imprescindible en las visitas a Sicilia, a pesar de que no somos unos viajeros muy 
        dados a las playas, nos cautivó su belleza.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Sus atracciones principales son la catedral de Cefalú, patrimonio de la Humanidad desde 
        2015, la plaza del duomo, el palacio María y Osterio Magno en corso Ruggero. Y la zona 
        del puerto y sus playas claro está.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Volvimos a Palermo a perdernos por sus calles sin rumbo fijo y disfrutar unas ultimas 
        horas de sus secretos, en la tarde probamos un último gelato en Gelateria Brioscià (5€), 
        son espectaculares, de verdad ir y volvimos a cenar a Frida, también muy bueno, 18€.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
        <img src="../../../assets/imagenes/galeriaSicilia/IMG_0566.JPG" class="imagenSicilia10 gelato slower" alt="Gelato de Palermo" title="Gelato de Palermo">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        
      </div>
    </div>
  </div>
  
  <app-pagina-siguiente 
    [siguiente]="siguiente" 
    [siguienteDonde]="siguienteDonde"
    [anterior]="anterior" 
    [anteriorDonde]="anteriorDonde">
  </app-pagina-siguiente>
        