<div class="container">
    <div class="row mt-5">
      <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
        <h1 class="tituloViaje text-center">10 días en Sicilia, Road Trip</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower">
        <h1 class="tituloDiario text-center mb-3">Cefalú y Monasterio de Monreale</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        En desarrollo.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
        <img src="../../../assets/imagenes/galeriaSicilia/IMG_0569.JPG" class="imagenSicilia10 slower" alt="Monasterrio de Monreale" title="Monasterrio de Monreale">
      </div>
      <div class="col-md-6 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
        <img src="../../../assets/imagenes/galeriaSicilia/IMG_0564.JPG" class="imagenSicilia10 slower" alt="Cefalú" title="Cefalú">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-md-6 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
        <iframe src="https://www.google.com/maps/d/embed?mid=1BkRa9DbMZ6WheIw2e_nW1pb_W9sOYIW7" class="video"></iframe>
      </div> -->
      <div class="col-md-6 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
        <img src="../../../assets/imagenes/galeriaSicilia/IMG_0566.JPG" class="imagenSicilia10 slower" alt="Gelato de Palermo" title="Gelato de Palermo">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        
      </div>
    </div>
  </div>
  
  <app-pagina-siguiente 
    [siguiente]="siguiente" 
    [siguienteDonde]="siguienteDonde"
    [anterior]="anterior" 
    [anteriorDonde]="anteriorDonde">
  </app-pagina-siguiente>
        