.mt-6 {
  margin-top: 3.5rem;
}
.mt-7 {
  margin-top: 5rem;
}

.carousel-item  {
  height: 400px !important;
} 

.carousel-item img {
  object-fit: scale-down;
  max-height: 400px !important;
}

@media (max-width: 768px) {
  .carousel-item  {
    max-height: 250px !important;
  } 
  .carousel-item img {
    max-height: 250px !important;
  }
}

.fondoCarrusel {
  background: #780101 !important;
}

.pointer {
  cursor: pointer;
}

.tituloDiario {
  color: #780101;
}

.video {
  width: 100%;
  height: 315px;
}
@media (max-width: 768px) {
  .video {
    width: 100%;
    height: 250px;
  }
}

.panoramica {
  max-width: 100%;
}

.imagenPortada {
  max-height: 450px;
  animation: imgPortada 10s ease-out;
}

@keyframes imgPortada {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.imagen6 {
  width: 100%;
  max-height: 315px;
}

.carruselPortada {
  width: 50%;
}

@media (max-width: 768px) {
  .navbar-nav {
    padding-top: 2rem;
  }
}

.btn-outline-dark {
  color: #780101;
  border-color: #780101;
}

.btn-outline-dark:hover {
  background-color: #780101;
  transform: scale(1.1);
}

.btn-outline-dark:hover .fa-chevron-right {
  animation-name: botonPagDcha;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.btn-outline-dark:hover .fa-chevron-left {
  animation-name: botonPagIzq;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes botonPagDcha {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes botonPagIzq {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}


.btn-sumando {
  background: #780101;
}
.btn-sumando:hover {
  background: #fff;
  color: #780101;
  border: 2px solid #fff;
  transform: scale(1.1);
}
.conclusiones {
  border-color: #780101;
  border-width: 5px;
  border-style: solid;
  background-color: #f3dfdf;
}

.row {
    justify-content: center;
}

.imgcronica {
    max-height: 315px;
    max-width: 100%;
}

.rounded-circle {
    width: 150px;
    height: 150px;
}

@media (max-width: 768px) {
    .rounded-circle{
        width: 125px;
        height: 125px;
    }
}

.rounded-circle:hover {
    filter: saturate(180%);
}

.imgmodal {
    max-width: 100%;
}
