<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloViaje text-center mt-5">4 días en Berlín</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-5 mb-5 animatedzoomIn justify-content-center">
      <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloDiario text-center mb-3">Centro de Berlín, Isla de los Museos, Barrio Judío</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      El día improvisado, como se nos había dado bien nuestra visita de Berlín decidimos no dejar 
      escapar la oportunidad de visitar Potsdam que está situada a 25 km, en metro tardamos 25 minutos 
      en llegar a Potsdam Hbf, la verdad que fue todo un acierto.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Desde la estación central fuimos al norte para visitar el Alter Markt y Nikolaikirche, 
      siguiendo a Bassinplatz con una bonita iglesia y un cementerio de soldados soviético, 
      es curioso como este país rinde tributo a los liberadores del nazismo que no dejan de ser 
      un ejército extranjero que invadió su país. Llegamos al barrio holandés con casas de dos 
      alturas al estilo de construcción holandesa y que dan un aire diferente y cautivador a este 
      barrio. Muy cerca está la puerta Neuer y la calle peatonal que lleva a la puerta de 
      Brandemburgo, si aquí también hay y de hecho es más antigua que la de Berlín, aunque un poco 
      más fea.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      La puerta de Brandemburgo abre el parque Sanssouci declarado patrimonio de la humanidad por 
      la UNESCO, es un parque enorme lleno de esculturas, estaban todas metidas en unas casetas de 
      obra que no dejan verlas para protegerlas de que se congelen en invierno y que hacen que 
      pierda todo el atractivo el paseo por estos jardines, una verdadera pena. En nuestra ruta por 
      el parque llegamos al palacio de Sanssouci (1747) que se accede por una majestuosa escalera, 
      era la residencia de verano de Federico II el grande rey de Prusia, es la joya del estilo 
      rococó. Un poco más adelante está el palacio de Orangerieschloss con un fastuoso molino y la 
      Chinesisches Haus, es un pabellón rococó con estilo chino, curioso. En el lado más occidental 
      está el Neues Palais o palacio nuevo (1769) con más de 200 habitaciones este palacio de dos 
      plantas es impresionante.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Se acercaba la hora de comer y deshacíamos los pasos y volvíamos al barrio holandés para 
      comer en Zum Fliegenden, local de comida típica alemana y con ambiente agradable, 
      la comida estuvo bastante bien, un plato de gnokis y otro de solomillo de cerdo con patatas, 
      coca-cola y cerveza por 38,40€. El postre decidimos hacerlo enfrente justamente, 
      la Mansión del chocolate, dos porciones y un café 10,20€.
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-12 m-2">
      <img src="../../../assets/imagenes/galeriaBerlin/IMG_2255.JPG" class="berlinImagen4">
    </div>
    <div class="col-md-4 col-sm-12 m-2">
      <img src="../../../assets/imagenes/galeriaBerlin/IMG_2276.JPG" class="berlinImagen4">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Estaba lloviendo bastante pero no podíamos irnos sin ver el famoso puente de los espías o 
      Glienicker Brücke (1905) que cruza el rio Havel donde americanos y soviéticos hacían 
      intercambio de espías durante la guerra fría y que ha sido inmortalizado recientemente en el 
      cine. La lluvia no daba tregua y cogimos el tranvía para ir al metro que nos llevaba al hotel 
      a resguardarnos un poco. Finalmente salíamos a hacer las típicas fotos nocturnas de algunos 
      monumentos iluminados y acabamos el día cenando un kebab con patatas por 16,60€.
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [siguiente]="siguiente"
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
