<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloViaje text-center mt-7 animated fadeIn slower">5 días en Bulgaria</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-3 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-12 col-sm-12 animated fadeIn slower text-center">
                <h1 class="text-center tituloDiario mb-3">Sofía</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
                ¡Hoy nos tocaba visitar bien Sofia y dejar el cochecito en el garaje, que ganas teníamos! La ciudad está
                muy muy chula, tiene turismo para todos los públicos, cultura, bares, ambiente, es barata, diferente a
                la Europa occidental y a la vez bastante cosmopolita, una delicia vamos. Es pequeñita ya que se visita
                en un día todo lo que consideramos de interés, dos a lo sumo, pero bien merece la pena una escapada a
                conocerla o una visita al país, por lo que nos inclinamos más.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
                Como somos dos abuelos hemos empezado muy temprano, después de un súper desayuno en nuestro hotel nos
                hemos lanzado a la calle, camino de sus iglesias/mezquita/sinagoga, porque lo tiene to´, pensad que ha
                sido la antigua Tracia de época romana, ha sido conquistada por el imperio otomano, después regida por
                los zares búlgaros, para pasar levemente por una dictadura fascista y el comunismo, ahora son
                ultranacionalistas en términos generales.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
                Por encima de todo destacar la catedral de Alexander Nevski, este templo neobizantino es bastante
                moderno, pero no por ello pierde su majestuosidad, sinceramente es impresionante ver la iglesia ortodoxa
                más grande de Bulgaria, si queréis hacer fotografías tendréis que pagar 5 lei. El siguiente punto de
                interés es la iglesia de Santa Sofia, templo que mandó erigir Justiniano I en el siglo VI sobre una
                antigua necrópolis paleocristiana, que hoy podemos visitar sus antiguos restos y mosaicos para nuestro
                deleite. Por poner el tercer puesto al pódium de la capital podemos hablar de la iglesia de Boyaca y sus
                frescos, los más antiguos prerrenacentistas y se encuentran en Bulgaria y no Italia. Para llegar desde
                el centro hay que coger el metro hasta la estación de Vitosha y, desde ahí, el autobús 64 hasta la
                parada Boyansko Hanche (17 paradas). En total, se tardan unos 50 minutos saliendo del metro Serdika.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
                Evidentemente no son los únicos atractivos de la ciudad y queremos destacaros otros como las ruinas de
                la antigua Serdica y a su lado la iglesia de san Petka, con frescos del siglo XIV al XIX. Como os hemos
                dichos no solo hay iglesias ortodoxas y así llegamos a la sinagoga, la mezquita de Banya Bashi y la
                “iglesia rusa”, oficialmente iglesia de San Nicolás el milagroso te traslada a Rusia en un momento.
                Otros edificios a destacar son el teatro nacional ubicado en un bonito parque y el palacio de justicia.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
                Hemos entrado al museo de historia deja algo que desear respecto a los que estamos acostumbrados, solo
                hay objetos de la historia de Bulgaria, es decir, desde 1875. El que más nos ha gustado es el de
                arqueología que también hemos entrado y tiene restos desde los orígenes de los primeros pobladores. Para
                terminar los museos hemos ido al museo del ejército, este es gratis, donde hay expuestos carros de
                combate, aviones y cañones de diferentes épocas. No nos ha dado tiempo a visitar el museo de estatuas
                comunista, que teníamos apuntado por lo curioso que debe ser.
            </div>
        </div>
        <div class="row mt-1 mb-1 text-center">
            <div class="col-md-6 col-sm-12">
                <img src="../../../assets/imagenes/galeriaRumania/bul-2-14.jpg" class="imgcronica slower">
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="../../../assets/imagenes/galeriaRumania/bul-2-15.jpg" class="imgcronica slower">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
                Hemos comido en Izbata tavern por 17€ cocina tradicional búlgara en un sitio chulo con mesas
                distribuidas en pequeños espacios, por lo que comes prácticamente solo, con música típica, altamente
                recomendable.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
                Todo está bastante cerca en Sofia y no hace falta coger metros o transporte público, así que a huevo,
                eso sí, nos duelen los pies mucho porque hay muchas zonas adoquinadas, recomendamos un buen calzado.
            </div>
        </div>
        <div class="row m-3 mt-3 mb-5 justify-content-center">
            <app-modal-foto7 [imagen]="imagen7" [imagenModal]="imagenModal7" [titulo]="titulo7"></app-modal-foto7>
            <app-modal-foto8 [imagen]="imagen8" [imagenModal]="imagenModal8" [titulo]="titulo8"></app-modal-foto8>
            <app-modal-foto9 [imagen]="imagen9" [imagenModal]="imagenModal9" [titulo]="titulo9"></app-modal-foto9>
            <app-modal-foto10 [imagen]="imagen10" [imagenModal]="imagenModal10" [titulo]="titulo10"></app-modal-foto10>
            <app-modal-foto11 [imagen]="imagen11" [imagenModal]="imagenModal11" [titulo]="titulo11"></app-modal-foto11>
            <app-modal-foto12 [imagen]="imagen12" [imagenModal]="imagenModal12" [titulo]="titulo12"></app-modal-foto12>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
                Conclusión de la jornada: por minutos voy pensando que lo suyo hubiese sido dedicar cuanto
                menos los mismos días a Bulgaria que a Rumanía, la gente es bastante amable y educada,
                los precios son similares y parece que esto es mucho más bonito, Sofía lugar a visitar
                sin duda.
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6 col-sm-12 mt-3 mb-3">
                <iframe class="video" src="https://www.youtube.com/embed/2DVvFtER5Vo" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="col-md-6 col-sm-12 mt-3 mb-3">
                <iframe class="video" src="https://www.youtube.com/embed/t-fzXbJ87VU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>