<div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="tituloViaje text-center mt-5">5 días en Bulgaria</h1>
      </div>
    </div>
    <div class="row">
      <div class="row m-3 mt-5 mb-5 animatedzoomIn justify-content-center">
        <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
        <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
        <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
        <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
        <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
        <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h1 class="tituloDiario text-center mb-3">Sofía</h1>
        </div>
      </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Hoy nos tocaba visitar bien Sofia y dejar el cochecito en el garaje, que ganas teníamos! 
        La ciudad está muy muy chula, tiene turismo para todos los públicos, cultura, bares, 
        ambiente, es barata, diferente a Europa y a la vez bastante cosmopolita, una delicia vamos. 
        Es pequeñita ya que se visita en un día todo lo de interés, dos a lo sumo, pero bien merece 
        una escapada.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Como somos dos abuelos hemos empezado muy temprano, después de un súper desayuno en 
        nuestro hotel nos hemos lanzado a la calle, camino de sus iglesias/mezquita/sinagoga, 
        porque lo tiene to´, pensad que ha sido la antigua Tracia de época romana, ha sido 
        conquistada por el imperio otomano, después regida por los zares búlgaros, para pasar 
        levemente por una dictadura fascista y el comunismo, ahora son ultra nacionalistas en 
        términos generales.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Las iglesias son una pasada porque son diferente a las “nuestras”, principalmente por 
        ser ortodoxas, pero hay de varios estilos, una parece que estés en San Petersburgo y 
        otras se asemejan más a mezquitas del mundo árabe. Casi todo es gratis excepto la sinagoga, 
        como no.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
        Hemos entrado al museo de historia que deja que desear respecto a los que estamos 
        acostumbrados, porque solo hay objetos de la historia de Bulgaria, es decir, desde 1875. 
        El que mola es el de arqueología que también he entrado y tiene restos desde los orígenes. 
        Para terminar los museos hemos ido al museo del ejército que este es gratis donde hay 
        expuestos carros de combate, aviones y cañones de diferentes épocas. 
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-justify">
          Hemos comido en Izbata  tavern por 17 € cocina tradicional búlgara en un sitio chulo con 
          música típica,  altamente recomendable.
        </div>
      </div>
      <div class="row mt-1 mb-1">
        <div class="col-md-6 col-sm-12">
          <img src="../../../assets/imagenes/galeriaRumania/bul-2-14.jpg" class="bulgariaImagen2 skeleton">
        </div>
        <div class="col-md-6 col-sm-12">
          <img src="../../../assets/imagenes/galeriaRumania/bul-2-15.jpg" class="bulgariaImagen2 skeleton">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 text-justify">
          Todo está bastante cerca y no hace falta coger metros y demás, así que a huevo, eso sí, 
          nos duelen los pies mucho porque hay muchas zonas adoquinadas.
        </div>
      </div>
      <div class="row m-3 mt-5 mb-5 animatedzoomIn justify-content-center">
        <app-modal-foto7 [imagen]="imagen7" [imagenModal]="imagenModal7" [titulo]="titulo7"></app-modal-foto7>
        <app-modal-foto8 [imagen]="imagen8" [imagenModal]="imagenModal8" [titulo]="titulo8"></app-modal-foto8>
        <app-modal-foto9 [imagen]="imagen9" [imagenModal]="imagenModal9" [titulo]="titulo9"></app-modal-foto9>
        <app-modal-foto10 [imagen]="imagen10" [imagenModal]="imagenModal10" [titulo]="titulo10"></app-modal-foto10>
        <app-modal-foto11 [imagen]="imagen11" [imagenModal]="imagenModal11" [titulo]="titulo11"></app-modal-foto11>
        <app-modal-foto12 [imagen]="imagen12" [imagenModal]="imagenModal12" [titulo]="titulo12"></app-modal-foto12>
      </div>
      </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 text-justify">
          Conclusión de la jornada: por minutos voy pensando que lo suyo hubiese sido dedicar cuanto 
          menos los mismos días a Bulgaria que a Rumania, la gente es bastante amable y educada, 
          los precios son similares y parece que esto es mucho más bonito, Sofía lugar a visitar 
          sin duda.
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12 mt-3 mb-3">
            <iframe class="video" src="https://www.youtube.com/embed/2DVvFtER5Vo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-6 col-sm-12 mt-3 mb-3">
            <iframe class="video" src="https://www.youtube.com/embed/t-fzXbJ87VU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    
<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
  