<div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 animated fadeIn slower">
        <h1 class="tituloViaje text-center mt-7">5 días en Bulgaria</h1>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
          <h1 class="text-center tituloDiario mb-3">Monasterio de la Transfiguración, Nicopolis ad Istrum y Bucureşti</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
          El último día amanecíamos en el hotel Priyateli, 22€, la habitación era un tercero 
          sin ascensor y una cama un poco incomoda pero lo recomendamos encarecidamente por el 
          desayuno, es cocina casera búlgara y he de decir que es el mejor desayuno que he probado en 
          mi vida, casi no me voy de allí, los dueños además son súper amables. No se puede pagar con 
          tarjeta.
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
          Con la tripa llenísima nos pusimos en marcha para parar a 7 km en el monasterio de la 
          Transfiguración, que tuvimos que esperar un poquito por el retraso de su apertura, pero es 
          que no había nadie. Es una pequeña iglesia en mala conservación pero que merece la pena 
          subir, son 2€.
        </div>
      </div>
      <div class="row mt-2 mb-2 animated fadeIn slower">
        <div class="col-md-4 col-sm-12 mt-1 mb-1">
          <img src="../../../assets/imagenes/galeriaRumania/bul-5-5.jpg" class="bulgariaImagen5 slower">
        </div>
        <div class="col-md-4 col-sm-12 mt-1 mb-1">
          <img src="../../../assets/imagenes/galeriaRumania/bul-5-6.jpg" class="bulgariaImagen5 slower">
        </div>
        <div class="col-md-4 col-sm-12 mt-1 mb-1">
          <img src="../../../assets/imagenes/galeriaRumania/bul-5-7.jpg" class="bulgariaImagen5 slower">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
          De camino a la frontera paramos en el parque arqueológico de Nicopolis ad Istrum, que 
          nos costó 2€ también, son unas ruinas tracias que visitamos totalmente solos, en todo el 
          tiempo que estuvimos allí no hubo nadie, el guarda al vernos se sorprendió incluso, una pasada.
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
          Tardamos más de dos horas en cruzar la frontera por la mala organización que tienen en el 
          lado rumano, la gente no espera las filas, se cuelan por donde pueden y es lentísimo.
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
          Ya en Bucarest nos dimos un último paseo por la ciudad y repetimos en el libio que 
          habíamos cenado días atrás, el Sindbad, 30,40€
        </div>
      </div>
      <div class="row mt-2 mb-2 animated fadeIn slower">
        <div class="col-md-3 col-sm-12 mt-1 mb-1">
          <img src="../../../assets/imagenes/galeriaRumania/bul-5-1.jpg" class="bulgariaImagen5 slower">
        </div>
        <div class="col-md-3 col-sm-12 mt-1 mb-1">
          <img src="../../../assets/imagenes/galeriaRumania/bul-5-2.jpg" class="bulgariaImagen5 slower">
        </div>
        <div class="col-md-3 col-sm-12 mt-1 mb-1">
          <img src="../../../assets/imagenes/galeriaRumania/bul-5-3.jpg" class="bulgariaImagen5 slower">
        </div>
        <div class="col-md-3 col-sm-12 mt-1 mb-1">
          <img src="../../../assets/imagenes/galeriaRumania/bul-5-4.jpg" class="bulgariaImagen5 slower">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
          No conseguimos encontrar ningún lavadero de coches para entregarlo limpio y llegábamos 
          un poco asustados por cuanto nos querrían cobrar, el de DirectCar me dijo que 10€ y le 
          dije que si le importaba que le pagase con moneda rumana (LEI) y moneda búlgara (LEV) que 
          nos habían sobrado y nos dijo que no había problema, además solo sumaban 7€ y lo acepto, 
          nos llevó al aeropuerto y rumbo a casa.
        </div>
      </div>
  </div>
    
<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
  