<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="tituloViaje text-center mt-5">3 días en Roma</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-5 mb-5 animatedzoomIn justify-content-center">
      <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h1 class="tituloDiario text-center mb-3">Panteón, Coliseo, Foro, Palatino, Fontana di Trevi y Altare della Patria</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        Nuestro día comenzaba recogiendo unos pases gratis para muchos de los lugares y museos que 
        nos proporcionaba nuestro amigo Valerio que es un guía turístico romano, al que no dudéis 
        en llamar para que os enseñe la ciudad, ama su ciudad. Grazie Valerio!
      </div>
    </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Qué decir del antiguo anfiteatro Flavio construido en el siglo I, es uno de los monumentos 
      que más “boquiabierto” me ha dejado de los que haya visto, a pesar de haberlo visto en 
      películas, revistas o 4 veces en vivo lo volví a admirar nuevamente. En este estadio con 
      capacidad de 50.000 espectadores lucharos gladiadores y fue lugar de ocio en la antigua 
      Roma durante 5 siglos. El estado de conservación deja entre ver lo que debió ser, recubierto 
      de mármol y esculturas en cada arco (expoliado para construir el Vaticano), con una estatua 
      de Nerón de su misma altura de bronce. Para acceder había una fila considerable, pero si 
      lleváis la entrada sacada es más rápido. La parte interior más de lo mismo, colosal, aunque 
      un poco más ruinoso.
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-12 mt-3">
      <img class="imagenRoma1" src="../../../assets/imagenes/galeriaRoma/IMG_2131.JPG">
    </div>
    <div class="col-md-10 col-sm-12 text-justify">
      <p>En la misma plaza se encuentra el Arco de Constantino (315 d. C.) y subiendo por la misma 
        calle encuentras el Arco de Tito (81 d. C.) conmemorativos respectivamente de los 
        emperadores que le dan nombre. El acceso a Foro Romano se puede hacer por aquí (nosotros 
        lo usamos de salida) o por el lateral que da primero acceso al Palatino.</p>
      <p>El monte Palatino es una de las 7 colinas en las que se asienta la ciudad y queda entre el 
        Foro y el Circo Máximo, en esta colina se ubicó la residencia del emperador, de ahí viene la 
        palabra Palacio. Se pueden ver las ruinas del palacio de Augusto, de Tiberio y Domiciano.</p>
      <p>Tiene acceso directo al Foro Romano, que era la zona central de la ciudad en época romana 
        donde estaban las principales construcciones gubernamentales y religiosas, los restos que 
        han quedado son abrumadores, aunque en su mayoría muy castigados por el tiempo, mejor llevar 
        un mapa para ubicarlos porque realmente hay muchos. El paseo por sus calzadas vuelve a 
        trasladarte al siglo I, si es que has salido en este paseo.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Al salir del Foro tomamos la Via dei Fori Imperiali, avenida construida por orden de 
      Mussolini para unir todos los foros de Roma, es una avenida que a ambos lados tiene restos 
      del periodo clásico, en la parte derecha destaca el Mercado de Roma y el Foro Trajano con 
      su columna tallada en homenaje a sus campañas en Tracia (los restos del emperador están 
      enterrados en la torre). Llegábamos así al Monumento funerario a Víctor Manuel II (1911), 
      que también es conocido como Altare della Patria, en este monumento homenaje al primer Rey 
      tras la unificación italiana se encuentra la tumba al soldado desconocido. El monumento en 
      mármol blanco impresiona
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Nos fuimos a la Piazza del Quirinale y de ahí a la Fontana di Trevi, esto son palabras 
      mayores y esta fuente del barroco italiano (1629) fue realizada por Nicola Salvi. Según 
      te vas acercando por las callejuelas a la fuente empiezas a escuchar el agua caer y el 
      corazón palpita, pero cuando giras la esquina y la ves es cuando la magia entra en ti. 
      Como anecdótico comentar algo que no viene en las guías, fijaros en una de las ventanas de 
      la derecha del edificio porque está tapiada y esto se debe a que el arquitecto tuvo un 
      sueño en el que su hija caiga desde esta y moría por lo que decidió anularla.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Se nos estaba haciendo tarde y como buenos “primos” compramos unas porciones de pizza al 
      taglio (pizza al corte, tú eliges el tamaño) justo enfrente de la Fontana di Trevi, 
      malísima y cara, en fin. Fuimos al Panteón de Agripa, es un panteón de dioses construido 
      en el año 125 d. C. de planta completamente circular (todo un éxito en la época) sobre los 
      restos del panteón de Agripa (27 a. C.). El templo tiene una cúpula con un círculo abierto 
      de 9 metros de diámetro, en la entrada se encuentra una columnata de acceso. Hoy se 
      encuentran enterrados los artistas Rafael y Vignola. Es gratuito.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Después llegábamos a la plaza Navona, una de las plazas imprescindibles, en este caso 
      y más destacable se encuentra el Palazzo Pamphili de Borromini uno de los principales 
      artistas del Renacimiento y justo enfrente la Fuente de los Quattro Fiumi de Bernini, 
      su archienemigo, esta fuente que representa los 4 grandes ríos conocidos hasta el momento 
      (Nilo, Ganges, de la Plata y el Danubio) es una obra maestra de la escultura renacentistas, 
      como curiosidad fijaos en cómo se tapan las figuras que dan al palacio, simulando el 
      espanto por la obra de su enemigo, un cachondo este Bernini), además hay otras dos fuentes. 
      Al sur de esta plaza se pone un mercado en la plaza Campo de´Fiori, podemos ver una 
      escultura del dominico Giordano Bruno (ejecutado por la inquisición por defender que el sol 
      solo era una estrella y que el universo debía tener vida extraterrestre).
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Estaba acabando el día y fuimos de camino a la Colina Capitolina, pasábamos nuevamente por 
      el Altare della Patria (si, la llama seguía encendida), subiendo las escaleras nos 
      encontramos la réplica de la estatua ecuestre de Marco Aurelio en la plaza del Campidoglio, 
      los palacios a ambos lados de la plaza sirven de sede a los museos capitolinos (a los que 
      no accedimos), en uno de los laterales se puede ver la réplica de la famosa loba amamantando 
      a los gemelos fundadores de Roma, Rómulo y Remo., por la parte trasera puedes asomarte al 
      balcón por el que se ve todo el foro romano.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Para finalizar bajábamos a ver la Bocca della Verità, mascara de mármol de 1,75 de 
      diámetro que según la leyenda quien metía la mano en su boca y mentía le cortaba la misma. 
      Pero justo cuando llegamos estaban cerrando, no pudimos comprobar la leyenda.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-justify">
      Cruzábamos por la isla tiberina al barrio del Trastevere para cenar en uno de sus 
      restaurantes por 16,60 € los dos! Este es el barrio donde tomar algo y cenar, tiene un 
      ambiente buenísimo y un “color especial”. Nos gustó tanto que al día siguiente volveríamos. 
      Este no daba para más estábamos realmente rendidos.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <img class="imagenRoma2 mt-1 mb-3" src="../../../assets/imagenes/galeriaRoma/c.JPG">
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde" >
</app-pagina-siguiente>
