<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
            <h1 class="tituloViaje text-center">Road Trip por Portugal en 7 días</h1>
        </div>
    </div>
    <div class="row">
        <div class="row m-3 mt-4 mb-5 justify-content-center">
            <app-modal-foto [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
            <app-modal-foto2 [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
            <app-modal-foto3 [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
            <app-modal-foto4 [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
            <app-modal-foto5 [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
            <app-modal-foto6 [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower">
            <h1 class="tituloDiario text-center mb-3">Bragança y Oporto</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 mb-2 animated fadeIn slower">
            <img src="../../../assets/imagenes/galeriaPortugal/oporto-dia-1-5.jpg" class="panoramica slower"
                alt="Panoramica del Duero, Puente Luis I" title="Panoramica del Duero, Puente Luis I">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            El viaje empezó prontito para poder llegar a Oporto a una hora decente y que pudiésemos dar una primera
            pateada por la ciudad, saliendo desde Madrid hay varias formas de llegar a Oporto nosotros elegimos entrar
            por el norte para ir bajando hacia el sur siempre. Con un deposito de gasolina tienes más que de sobra para
            llegar a Bragança y Oporto, nosotros paramos en la capital del antiguo reino de Portugal, Bragança, que
            comparte nombre con la casa real que rigió el país hasta la revolución republicana de 1910 en la que fueron
            depuestos. Hoy en día Portugal es una republica democrática.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Como era sábado al medio día no había que pagar la hora en el centro de la ciudad, ya que esta limitado el
            aparcamiento durante la semana y toca pasar por caja si quieres aparcar tú vehículo. Elegimos para aquí para
            comer y hacer un alto en el viaje, no íbamos a quedarnos demasiado en está ciudad, que con algún día mas
            habríamos visitado con más detalle, tiene buena pinta su castillo. El centro de la ciudad es un laberinto de
            calles muy estrechas en las que circular con un coche grande se hace harto complicado, cuidado si no queréis
            estresaros al volante en esta parte del viaje. Comimos en Solar Brangançano, un restaurante que recomendamos
            encarecidamente, es un restaurante con doscientos años de antigüedad con una cocina tradicional portuguesa y
            especialmente barato, 27€ los dos, el lugar es muy antiguo.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Bragança no estaba en nuestro guión y lo dejamos atrás bastante rápido para hacer la última hora y media
            hasta Oporto, donde reservamos dos noches en el hotel Miradouro, se trata de un hotel de 4 estrellas, pero
            en un estado un poco abandonado, todo es de los años 50/60, pero las vistas desde nuestra habitación del
            piso 12 eran inmejorables, se encuentra en la parte alta de la ciudad y desde sus ventanas se ve todo Porto.
            Nos costaron las dos noches 116€ con desayuno incluido (un poco pobre) y plaza de parking que cuando hacemos
            road trip solomos buscar cuando reservamos para no tener problemas con el coche durante nuestra visita a la
            ciudad y evitar “sustos”.
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaPortugal/braganza2.jpg" class="imgcronica slower"
                alt="Solar Bragançano, Bragança" title="Solar Bragançano, Bragança">
        </div>
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaPortugal/braganza3.jpg" class="imgcronica slower"
                alt="Solar Bragançano, Bragança" title="Solar Bragançano, Bragança">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Dejados los bártulos nos fuimos a reconocer un poco la ciudad y respirar el aire del Duero. Lo primero fue
            dirigirnos al puente de Luis I, una obra del arquitecto Théophile Seyrig, inaugurado en 1886, hay quien lo
            confunde con otro de los puentes de Oporto, el de Maria Pita, y se lo atribuye a Gustave Eiffel, pero no es
            así. Cruzamos por el piso superior, que está a 390 metros sobre el rio, y vimos las vistas desde lo alto de
            las dos orillas del rio, precioso. Al otro lado desde la Serra do Pilar contemplamos el atardecer, donde se
            congregan lugareños y turistas a verlo, sin duda es un momento mágico que es visita obligada a la hora de la
            puesta de sol, no os va a defraudar.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Posteriormente bajamos a la ribera de la zona de Gaia, la parte frente a Porto, el “otro lado del rio”, por
            unas cuestas inclinadisimas, como ya os avisábamos en la portada del viaje, preparar vuestros músculos de
            las piernas. Gaia es la zona donde se ubican las destilarías del Oporto, el vino de fama internacional que
            se cultiva en las laderas del Duero y se destila en estas destilerías, a ellas se pueden acceder con tours,
            en este caso no hicimos ninguno, por que Marcos ya la había hecho años atrás y Mey había visitado tours en
            destilerías similares como la de Guinnes. Pero si no habéis hecho nunca es curioso de ver como es el proceso
            de elaboración del vino.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            El paseo por la orilla en esta parte del rio es muy bonito, con puestos de artesanía y souvenirs y varias
            terrazas en las que tomar algo o cenar mientras vemos la parte del otro lado con las luces encendidas, una
            vista fantástica. Volvimos a cruzar el puente, esta vez por el paso del piso inferior y paseamos por el
            barrio de la ribera, quizá el que mayor encanto tiene de Oporto, y eso que tiene mucho la ciudad entera.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
            Para cenar después de dos intentonas fallidas elegimos el lago´s domingos, que nos resultó algo caro, 36€
            los dos, para el servicio y la calidad de la comida, no lo recomendamos. Después de cenar fuimos paseando
            tranquilamente por las empianadas calles hasta el hotel, nos esperaba la ciudad para visitarla en
            profundidad el día siguiente.
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 animated fadeIn slower imgcronica mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaPortugal/oporto-dia-1-6.jpg" class="imgcronica slower"
                alt="Largo s domingos" title="Largo s domingos">
        </div>
        <div class="col-md-6 col-sm-12 animated fadeIn slower mt-1 mb-1 text-center">
            <img src="../../../assets/imagenes/galeriaPortugal/oporto-dia-1-7.jpg" class="imgcronica slower"
                alt="Largo s domingos" title="Largo s domingos">
        </div>
    </div>
</div>

<app-pagina-siguiente [siguiente]="siguiente" [siguienteDonde]="siguienteDonde" [anterior]="anterior"
    [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>