<div class="container">
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower">
      <h1 class="tituloViaje text-center mt-7">5 días en Nueva York</h1>
    </div>
  </div>
  <div class="row">
    <div class="row m-3 mt-3 mb-5 justify-content-center">
      <app-modal-foto class="mb-1" [imagen]="imagen1" [imagenModal]="imagenModal1" [titulo]="titulo1"></app-modal-foto>
      <app-modal-foto2 class="mb-1" [imagen]="imagen2" [imagenModal]="imagenModal2" [titulo]="titulo2"></app-modal-foto2>
      <app-modal-foto3 class="mb-1" [imagen]="imagen3" [imagenModal]="imagenModal3" [titulo]="titulo3"></app-modal-foto3>
      <app-modal-foto4 class="mb-1" [imagen]="imagen4" [imagenModal]="imagenModal4" [titulo]="titulo4"></app-modal-foto4>
      <app-modal-foto5 class="mb-1" [imagen]="imagen5" [imagenModal]="imagenModal5" [titulo]="titulo5"></app-modal-foto5>
      <app-modal-foto6 class="mb-1" [imagen]="imagen6" [imagenModal]="imagenModal6" [titulo]="titulo6"></app-modal-foto6>
    </div>
    <div class="row">
      <div class="col-sm-12 animated fadeIn slower">
        <h1 class="tituloDiario text-center mb-3">Puente de Brooklyn, Flatirion Building, Empire State, Top of the Rock</h1>
      </div>
    </div>
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Ya estábamos en el cuarto día de nuestro viaje y no sabemos qué nos pesó más si el jet-lag o 
      los kilómetros que llevábamos andados y con ello acostarnos pronto pero como días anteriores 
      nos echamos a la calle y después de comprar nuestro desayuno nos adentramos en el metro hacia 
      el puente de Brooklyn.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Fuimos directamente hacia el puente desde la estación más cercana para cruzarlo, las vistas 
      desde el principio del puente nos quitaban el hipo, cuantas ganas de cruzar ese famoso puente, 
      con el frío que hacía nos cruzamos con poca gente y fue una gozada pasar de punta a otra, una 
      de las experiencias inolvidables del viaje desde luego. Cuando llegamos a la Gran Manzana 
      cogimos el metro hacia la Grand Central Terminal.
    </div>
  </div>
  <div class="row m-3">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/E40VxOUbJkY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Nos bajamos en la plaza donde se encuentra el Washington Square Arc donde estaban los 
      vecinos jugando  al ajedrez en mesas de la plaza (mil veces lo habíamos visto en las pelis), 
      Marcos hizo amago de jugar pero decidió que su ego estaba bien como estaba y quiso pensar que 
      podría haber ganado, así que seguimos subiendo hacía las iglesias enfrentadas de Grace Church y 
      Brittany Hall, justo al lado se encuentra la First Presbyterian Church, nos seguía 
      sorprendiendo el contraste de las iglesias con los rascacielos. 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Llegábamos al Flatiron Building, el edificio construido en 1902 y que da nombre al barrio, 
      es otro de los edificios emblemáticos de Nueva York por su forma triangular solo mide 2 metros 
      en su lado más estrecho, después de hacer el ganso un poco con las fotos continuamos nuestro 
      ascenso por la isla hacia el otro lado de la plaza donde se encuentra el Met Life y el 69th 
      Regiment Armory, más arriba nos encontrábamos con The Church of the Transfiguration.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Por fin nos encontrábamos con uno de los grandes emblemas de la city, el Empire State Building, 
      construido en 1931 fue el rascacielos más alto del mundo hasta la construcción de las torres 
      gemelas, recibe el nombre del apelativo de la ciudad. Que contar de este mítico rascacielos 
      filmado en millones de películas (sobre todo King Kong). Nosotros decidimos que no íbamos a 
      subir a ver las vistas desde el mismo porque queríamos poder verle a él desde lo alto, de 
      hecho nos pasó una cosa curiosa porque los primeros días no le reconocíamos desde el suelo, 
      todo cambiaria cuando lo vimos desde el TOP. Estar debajo de este edificio impone tanto por 
      la altura que tiene, que parece se va a lanzar un bróker del crack del 29, como por ver esa 
      entrada de la que parece va a salir Al-Capone.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Continuábamos la marcha mirando hacia atrás pero ahora nos encontrábamos con St.Francis 
      Friary & Church NYC, el Madison Square Garden, el Gotham Hall, Holy Innocents Church y 
      llegábamos a Times Square donde habíamos preparado comer en el Bubba Gump, pero era sábado 
      y nos dijeron que como una hora, intentamos en varios más (Ellen´s Stardust, Junior´s y la 
      hamburguesería secreta) pero estaban súper llenos, nosotros teníamos el billete sacado para 
      subir al TOP a las 15:30, así que fuimos a comernos un perrito por la zona y que suerte dimos 
      con un puesto lleno de recortes de prensa sobre el mismo y pensamos que seguro estaría bueno 
      y vaya si lo estaba (11$ los dos con bebida), tan bueno estaba que repetiríamos. 
    </div>
  </div>
  <div class="row m-1">
    <div class="col-md-12 col-sm-12 animated fadeIn slower mb-1 text-center">
      <img class="imgcronica slower" src="../../../assets/imagenes/galeriaNy/IMG_0981.JPG">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Por fin estábamos en la cola del Top of de Rock en el complejo del Rockefeller Center que 
      abarca desde la 5ª a la 6ª avenida y fue construido por la familia Rockefeller, tiene una 
      altura de 259 metros y 68 pisos.  Decidimos subir al TOP y no a otro, porque se ve por un 
      lado Central Park y por el otro todo Manhattan y el Empire State centrado, la única pega es 
      que no se ve el Chrysler Building. Subimos a las 15:30 para poder ver tanto las vistas de 
      día y de noche (16:45), además del atardecer, teniendo en cuenta el precio que tiene los 
      rascacielos (34$ por persona). Tras el previo cacheo y control de seguridad accedes a los 
      ascensores pasando por una zona para hacerte una foto como si estuvieses en el momento de 
      su construcción sentado en una viga colgando a cientos de metros, previo pago por supuesto. 
      En este proceso se tarda bastante (unos 30 minutos) el ascensor sin embargo no tarda nada en 
      subir. Es muy difícil expresar lo que sentimos al asomarnos a la primera de las alturas (hay 
      tres pisos de observatorio), es una experiencia que nunca olvidaremos como se extiende la Gran 
      Manzana y que pequeño se ven los coches abajo. Fuimos alternando entre la parte sur y la norte 
      mientras nos hacíamos fotos y veíamos como atardecía, eso sí si vais en invierno ¡subir 
      abrigados! Es una entrada muy cara pero es imprescindible. 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 animated fadeIn slower text-justify">
      Cuando bajamos estábamos aun alucinados de las vistas, nos había encantado, después de dar 
      una vuelta por la 5ª y ver el revuelo que había en la Trump Tower (es donde vive Donald 
      Trump y acababa de ser elegido presidente de los EEUU, en fin). Estaba toda la zona vallada 
      y nos agobiamos un poco de la cantidad de gente que había por la calle. Volvimos a Brooklyn 
      a cenar en un sitio de pollo frito típico (11$)y a la cama ya que nos esperaba Harlem y el 
      Bronx al día siguiente.
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde"
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde">
</app-pagina-siguiente>
