<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 col-sm-12 mt-5 animated fadeIn slower">
      <h1 class="tituloViaje text-center">10 días en Sicilia, Road Trip</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower">
      <h1 class="tituloDiario text-center mb-3">Monasterio de Monreale</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      El último día lo reservamos para ir al monasterio de Monreale, que es una auténtica pasada, 
      como nos ha pasado con Cefalú, perdimos todas las fotos de estos dos días para nuestro 
      desconsuelo.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Está a unos 10 kilómetros de Palermo y fue una antigua villa que vio sus días de esplendor en 
      los tiempos de los normandos allá por el siglo XI, es excesivamente turístico, aunque es 
      lógico, todos queremos ver los lugares más bellos.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      La catedral fue mandada construir por el rey Guillermo II en 1174, la leyenda cuenta que 
      soñó el lugar donde encontraría un tesoro con el que construir este templo, esa es una, 
      otra es que fue un antiguo presidio militar…
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
      <img src="../../../assets/imagenes/galeriaSicilia/IMG_0569.JPG" class="imagenSicilia11 slower" alt="Monasterrio de Monreale" title="Monasterrio de Monreale">
    </div>
    <div class="col-md-4 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
      <img src="../../../assets/imagenes/galeriaSicilia/fachada-Catedral-de-Santa-Maria-la-Nueva.jpg" class="imagenSicilia11 slower" alt="Catedral Santa Maria la Nueva" title="Catedral Santa Maria la Nueva">
    </div>
    <div class="col-md-4 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
      <img src="../../../assets/imagenes/galeriaSicilia/detalle-de-interior.jpg" class="imagenSicilia11 slower" alt="Interior de la catedral de Monreale" title="Interior de la catedral de Monreale">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      La catedral y el claustro es lo único que queda en pie del antiguo monasterio, la primera 
      cuesta dinero la entrada, nosotros no pagamos por que entramos andando buscando la taquilla 
      y vimos que entraba todo el mundo sin ticket y para dentro que fuimos, luego os dimos cuenta 
      que eran un grupo… 
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 mt-2 mb-2 animated fadeIn slower text-center">
      <iframe src="https://www.youtube.com/embed/me9As18QuPU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="video"></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
        Los frescos de la catedral en pandeoro los hemos visto en muy pocos lados, nos 
        impresionaron bastante, en cuanto al claustro es también una joya arquitectónica, 
        un patio cuadrado de 47 metros de lado rodeado por arcos.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 animated fadeIn slower text-justify">
      Era día 4 de octubre de 2017 y tristemente poníamos rumbo al aeropuerto con esa sensación 
      agridulce que el viaje y Sicilia nos había enamorado y que teníamos que decirla adiós. 
      Entregamos el coche sin ningún problema, más tarde nos llegaría un cargo a la tarjeta de 
      una multa de aparcamiento en Siracusa de 45€, obviamente culpa nuestra. Hasta la próxima.
    </div>
  </div>
</div>

<app-pagina-siguiente 
  [siguiente]="siguiente" 
  [siguienteDonde]="siguienteDonde"
  [anterior]="anterior" 
  [anteriorDonde]="anteriorDonde">
</app-pagina-siguiente>
        